@charset "utf-8";

/*@media (max-width: 3000px) and (min-width: 1800px){
  .container {width: 1700px;}
}
@media (max-width: 1800px) and (min-width: 1600px){
  .container {width: 1400px;}
}
@media (max-width: 1600px) and (min-width: 1400px){
  .container {width: 1300px;}
}*/
@media (max-width: 3000px) and (min-width: 1700px){
  .container {width: 1600px;}
}
@media (max-width: 1700px){
	.cases_details .cases_content .cases_details_article_content {padding: 0 100px;}
	.applets .applets_content_text .swiper-slide span {font-size: 20px;}
	.applets .applets_content_text .swiper-slide small {font-size: 50px;}
	.applets .applets_content_text .swiper-slide p {font-size: 13px;}
	.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li {padding-left: 10px;}
	.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li{width: 280px;margin-right: 29px;}
	
}
@media (max-width: 1699px){
	.index_latest_news .index_latest_news_padding {padding: 50px 0 0 30px;}
	.index_latest_news .index_latest_news_right {margin-top: 0px;}

}
@media (max-width: 1600px){
	.figure_banner .figure_banner_title h2{margin-top: 100px;}
}
@media (max-width: 1300px){
	.figure_banner .figure_banner_title h2{margin-top: 80px;}
	.figure_banner .figure_banner_title .p2{font-size:30px;}
}
@media (max-width: 1199px){	
	.index .article_banner_text{right: 0;left: 60px;}
	.index .article_banner_text .p1{
		font-size: 50px;
		line-height: 55px;
		height: 260px;
	}
	.index .article_banner_text .p2{font-size: 30px;margin: 10px 0 50px 0;}
	.index .article_banner_text .small_1,
	.index .article_banner_text .small_2{font-size: 30px;}
	.index_latest_news .index_latest_news_right {margin-top: 60px;height: 600px;}
	.figure_banner .figure_banner_title h2{
		margin-top: 110px;
		font-size:50px;
	}
	.figure_banner .figure_banner_title .p1{
		font-size:30px;
		margin-top: 10px;
	}
	.figure_banner .figure_banner_title .p2{font-size:20px; margin-top: 10px;}
	.cases .cases_content .news_content_box .cases_content_img .icon_text .fa_icon{left: 45%;}
	.cases_details .cases_content .cases_details_article_content {padding: 0 80px;}
	.applets .applets_content_text .swiper-slide span {font-size: 18px;}
	.applets .applets_content_text .swiper-slide small {font-size: 25px;}
	.applets .applets_content_text .swiper-slide p {font-size: 13px;padding: 20px 30px;}
	.brand .brand_relevant .brand_relevant_text h3 a {font-size: 15px;}
	.brand .brand_relevant .brand_relevant_text p {margin: 10px 0 0 0;}
	.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li {padding-left: 0px;}
	.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li{width: 220px;margin-right: 34px;}
	.index_latest_news .index_latest_news_img_text .text_article h3 a {font-size: 15px;}
	.index_latest_news .index_latest_news_padding {padding: 0;}
}

@media (max-width: 991px){
	.content, .section {width: 100%;}
	.index .article_banner_text .p1 {
	    font-size: 40px;
	    line-height: 40px;
	    height: auto;
	}
	.index .article_banner_text .p2{font-size: 30px;margin: 40px 0 40px 0;}
	.index .article_banner_text .small_1,
	.index .article_banner_text .small_2{font-size: 30px;}
	.index_latest_news .index_latest_news_img_text .text_article{top: 0px;}
	.index_latest_news .index_latest_news_img_text .text_article h3 a {font-size: 15px;}
	.index_latest_news_img_text{margin: 15px 0 5px;width: 50%;float: left;}
	.figure_logo {
	    top: 0px;
	    right: 0px;
	}
	.figure_banner .figure_banner_title h2{
		margin-top: 70px;
		font-size: 40px;
	}
	.figure_banner .figure_banner_title .p1{
		font-size:30px;
	}
	.public_top_nav{margin: 20px auto;}
	.about .article_content, .contact .article_content, .news_details .article_content,
	.cases .cases_content, .cases_details .cases_content, .brand_design .brand_design_content{
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.contact .contact_form .form-control{padding: 20px;}
	.cases_details .cases_content .cases_details_article_content {padding: 20px;}
	.applets .applets_content_text .swiper-slide .slide_div {padding: 10px;}
	.applets .applets_content_text .swiper-slide span {font-size: 13px;}
	.applets .applets_content_text .swiper-slide small {font-size: 20px;}
	.applets .applets_content_text .swiper-slide p {font-size: 12px;padding: 10px;}
	.brand .brand_content .brand_content_img_text .brand_content_text p{
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		text-overflow:ellipsis; 
		word-break:break-all;
	}
	.brand .brand_content_img_text {margin-bottom: 30px;}
	.index_body {overflow-y: auto;overflow-x: hidden;}
	.index{padding: 0; margin: -60px auto;}
	.index_who_are_we .index_who_are_we_text h2{font-size: 40px;}
	.index_who_are_we{padding: 30px 15px;margin-top: 60px;}
	.index .figure_banner_img img {height: auto;}
	.mouse_icon_bg{display: none;}
	.index_latest_news .index_latest_news_right {margin-top: 0;height: auto;}
	.wrapper-scroll {bottom: auto;}
	.index_latest_news .index_latest_news_text h2{font-size: 40px;}
	.index_latest_news .index_latest_news_text small {font-size: 25px;}
	.index_ours_customers .index_ours_customers_text h2{font-size: 40px;}
	.index_ours_customers .index_ours_customers_text small{font-size: 25px;}
	.index_ours_customers .index_ours_customers_padding {padding: 20px;}
	.index_ours_customers_p_bg {width: 100%;float: left;}
	.index_ours_customers_p_bg .index_ours_customers_p {
	    padding: 15px;
	    width: 100%;
	    margin: 0 auto;
	    height: auto;
	    text-align: center;
	}
	.index_ours_customers .index_ours_customers_ul {width: 100%;}
	.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li {
	    /*margin-right: 125px;*/
	    margin-right: 0px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	   /* width: 220px;*/
	   width: 33%;
	}
	.index_our_work .index_our_work_padding {padding: 0 15px;margin-bottom: 30px;}
	.index_ours_customers{margin-bottom: 30px;}
	.index_our_work .index_our_work_ul_1 .index_our_work_li, 
	.index_our_work .index_our_work_ul_2 .index_our_work_li, 
	.index_our_work .index_our_work_ul_3 .index_our_work_li {
	    width: 32% !important;
	    height: auto !important;
	}
	.index_our_work .index_our_work_li .text_article {
	    width: 31.5% !important;
	}
	.index_our_work .index_our_work_ul_li {margin-right: 0;}
	.index_our_work .index_our_work_ul_1, 
	.index_our_work .index_our_work_ul_2, 
	.index_our_work .index_our_work_ul_3{padding: 10px;}
	.index_our_work .index_our_work_p_bg {
	    background: #333;
	    width: 100%;
	}
	.index_our_work .index_our_work_p_bg .index_our_work_p {
	    padding: 15px;
	    width: 100%;
	    margin: 0 auto;
	    height: auto;
	    text-align: center;
	}
	.index_our_work .index_our_work_text { margin-top: 30px;}
	.index_our_work .index_our_work_text h2 {font-size: 40px;margin: 0 auto;}
	.index_our_work .index_our_work_text small {font-size: 25px;}
	.index_figure_logo {
	    float: right;
	    margin: 0;
	    z-index: 5;
	    position: fixed;
	    right: 0;
	    top: 0;
	}
	.index_ours_customers_ul_li img{width: 100%;}
}
@media (max-width: 885px){
	.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li{width: 24%;}
}
@media (max-width: 800px){
	.index_our_work .index_our_work_ul_1 .index_our_work_li, 
	.index_our_work .index_our_work_ul_2 .index_our_work_li, 
	.index_our_work .index_our_work_ul_3 .index_our_work_li {
	    width: 48% !important;
	    height: auto !important;
	}
	.index_our_work .index_our_work_li .text_article {
	    width: 47.2% !important;
	}
}
@media (max-width: 767px){
	.index .article_banner_text {left: 20px;}
	.index .article_banner_text .p1 {
	    font-size: 30px;
	    line-height: 30px;
	    height: auto;
	}
	.index .article_banner_text .p2{font-size: 20px;margin: 10px 0 15px 0;}
	.index .article_banner_text .small_1,
	.index .article_banner_text .small_2{font-size: 20px;}
	/*.figure_logo{ top: 10px;right: 0;}*/
	.figure_logo img{width: 150px;}
	.figure_banner .figure_banner_title h2{
		margin-top: 70px;
		margin-bottom: 5px;
		font-size: 25px;
	}
	.figure_banner .figure_banner_title .p1{font-size: 20px;margin: 0px auto;}
	.figure_banner .figure_banner_title .p2{font-size: 15px;margin: 0px auto;}
	.news_details .article_content_text h3{font-size: 20px;}
	.news_details .article_content_text ul li {
	    font-size: 13px;
	    padding-right: 15px;
	    padding-left: 0;
	}
	.cases .cases_content .news_content_box .article_f4f4f4 {padding: 10px 10px;}
	.cases .cases_content .news_content_box .article_f4f4f4 p{margin: 10px 0 0 0;}
	.applets .applets_content_text .swiper-slide p{
		padding: 0 10px;
		margin-top: 10px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		text-overflow:ellipsis; 
		word-break:break-all;
	}
	.brand .brand_content .brand_content_img_text .brand_content_text p{
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 5;
		text-overflow:ellipsis; 
		word-break:break-all;
	}
	.brand .brand_content_img_text:nth-child(odd) .brand_content_img{float: left;}
	.brand .brand_content_img_text:nth-child(odd) .brand_content_text{float: left;}
	.brand .brand_content_img_text:nth-child(even) .brand_content_img{float: left;}
	.brand .brand_content_img_text:nth-child(even) .brand_content_text{float: left;}
	.brand_design .brand_design_content .brand_design_content_process ul::before{bottom: -45px;width: 100%;}
	.brand_design .brand_design_content .brand_design_content_process ul::after{height: 100%;top: 42px;}
	.brand_design .brand_design_content .brand_design_content_process ul li span {width: 91%;display: block;}
	.brand_design_content_panel{margin-top: 80px;}
	.brand_design .panel-title a{padding: 20px 0;font-size: 15px;}
	.brand_design .panel-heading a:before, .brand_design #bs-collapse .panel-heading a:after{top: 20px;}
	.index_who_are_we .index_who_are_we_icon img {width: 40%;}
	.index_who_are_we .index_who_are_we_icon .caption p{font-size: 12px;line-height: 20px;margin: 15px auto;}
	.index_who_are_we .index_who_are_we_icon .caption h3 {font-size: 13px;margin: 10px auto;}
	.index_who_are_we .index_who_are_we_icon{
		padding: 0px;
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}
	.index_who_are_we .index_who_are_we_text span{font-size: 20px;}
	.index_who_are_we .index_who_are_we_text h2{font-size: 15px;margin: 0 auto;}
	.index_who_are_we .index_who_are_we_icon_top {margin-top: 15px;}
	.index .article_banner_text{
		left: 0;
	    top: 170px;
	    margin-left: 20px;
	}
	.index_latest_news .index_latest_news_text h2{font-size: 20px;}
	.index_latest_news .index_latest_news_text small {font-size: 15px;}
	.index_our_work .index_our_work_text h2 {font-size: 20px;margin: 0 auto;}
	.index_our_work .index_our_work_text small {font-size: 15px;}
	.index_our_work .index_our_work_text {margin-bottom: 0;}
	.index_ours_customers .index_ours_customers_text h2 {font-size: 20px;}
	.index_ours_customers .index_ours_customers_text small {font-size: 15px;}
	.index_our_work .index_our_work_ul_1 .index_our_work_li {width: 50%;}
}
@media (max-width: 600px){
	.figure_logo img {width: 100px;}
	.figure_banner img {height: 200px;}
	.figure_banner .figure_banner_title h2 {margin-top: 50px;font-size: 20px;}
	.figure_banner .figure_banner_title .p1{font-size: 15px;}
	.figure_banner .figure_banner_title .p2{font-size: 13px;width: 60%;line-height: 20px;}
}
@media (max-width: 540px){
	.index_our_work .index_our_work_ul_1 .index_our_work_li, 
	.index_our_work .index_our_work_ul_2 .index_our_work_li, 
	.index_our_work .index_our_work_ul_3 .index_our_work_li {
	    width: 100% !important;
	    height: auto !important;
	}
	.index_our_work .index_our_work_li .text_article {
	    width: 95.5% !important;
	}
}
@media (max-width: 500px){
	.footer_bg {background-size: cover;}
	.footer_bg .footer_bg_text{float: none !important;margin-bottom: 20px;}
	.footer_bg .footer_bg_img{float: left !important;margin-bottom: 20px;}
	
}
@media (max-width: 400px){
	.cases .cases_content .news_content_box .cases_content_img .icon_text .fa_icon{left: 40%; top: 35%;}
	.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li{width: 32%;}
}
@media (max-width: 375px){
	.figure_banner{margin-top: -108px;}
	.figure_logo {top: 0;right: 0;}
	.figure_banner .figure_banner_title h2{margin-top: 65px;}
}
@media (max-width: 320px){
	.index .figure_banner_img img {
	    height: 550px;
	}
}
