@charset "utf-8";

/*重置样式*/
@import url("reset.css");
/*重置样式*/

/*nav*/
@import url("nav.css");
/*nav*/

/*nav*/
@import url("jsmodern.min.css");
/*nav*/

/*public*/
/*html,body {width:100%;height:100%;}*//*非常重要的样式让背景图片100%适应整个屏幕*/
.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}
.mt20{margin-top: 20px;}
.mb20{margin-bottom: 20px;}
.mt30{margin-top: 30px;}
.mb30{margin-bottom: 30px;}
.mt50 {margin-top: 50px;}
.mb50 {margin-bottom: 50px;}
.mt70{margin-top: 70px;}
.mb70{margin-bottom: 70px;}
.mt80{margin-top: 80px;}
.mb80 {margin-bottom: 80px;}
.mt100{margin-top: 100px;}
.mb100 {margin-bottom: 100px;}
.pt80{padding-top: 80px;}
.pb80 {padding-bottom: 80px;}

.clearfix{clear: both;}
/*#wrapper {
  position: absolute;
  z-index: 1;
  top: 45px;
  bottom: 48px;
  left: 0;
  width: 100%;
  background: #f0f0f0;
}

#scroller {
  position: absolute;
  z-index: 1;
  width: 5000px;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}*/
/*.main #scroller .index_who_are_we .index_our_work ,
.index_ours_customers .index_latest_news{float: left;}*/
/*.main #scroller section{float: left;}*/


/*主体*/
.wrapper-scroll {

  -webkit-overflow-scrolling: touch;

  overflow-scrolling: touch;

  overflow: auto;

  position: absolute;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

}
.content {

  width: 3862px;

  width: -moz-max-content;

  width: -webkit-max-content;

  width: -o-max-content;

  width: -ms-max-content;

  width: max-content;

}
.section {
  float: left;
  padding: 0 0 0 0;
  overflow: hidden;
}

/*主体*/

.figure_banner{
  margin-top: 0px;
  margin-bottom:0;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.figure_banner img{width: 100%;}
.figure_banner .figure_banner_title{
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  /*opacity: 0.9;*/
  transition: 0.5s;
  width: 100%;
}
.figure_banner .figure_banner_title h2{
  font-size:80px;
  color:#fff;
  text-transform: uppercase;
  margin-top: 190px;
}
.figure_banner .figure_banner_title .p1{
  font-size:48px;
  color:#fff;
  text-transform: uppercase;
  margin-top:50px;
}
.figure_banner .figure_banner_title .p2{
  font-size:36px;
  color:#fff;
  text-transform: uppercase;
  margin-top:50px;
}

.public_top_nav {
  background: #fff;
  margin-top: -50px;
  position: relative;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.public_top_nav .top_nav_ul{text-align: center; margin: 40px 0 10px 0;padding: 0;}
.public_top_nav .top_nav_ul li{display: inline-block;margin-right: 20px;margin-bottom: 30px;}
.public_top_nav .top_nav_ul li a{
  font-size: 16px;
  color:#999;
  padding: 10px 20px;
  border: 1px solid #eee;
  
}
.public_top_nav .top_nav_ul li a:focus{text-decoration: none;}
.public_top_nav .top_nav_ul .top_nav_ul_a a {
  border: 1px solid #999;color:#333;
}

.nav_pagination {margin: 0 auto;text-align: center;}
.nav_pagination .pagination li a{
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius:0;
  background:#fff;
  color: #999;
}
.nav_pagination .pagination .active a{
  background:#36acde;
  border: 1px solid #36acde;
  color: #fff;
}
.nav_pagination .pagination li a:hover{background:#36acde;color: #fff;border: 1px solid #36acde;}

.details_f7f7f7 img{width: auto !important;}
.details_f7f7f7{background: #f7f7f7;border: 1px solid #ddd;padding: 5px; margin: 30px auto;}
.details_ul {padding: 0; margin: 30px auto;}
.details_ul li{font-size: 14px;color: #333;margin-bottom: 10px;}
.details_ul li a{font-size: 14px;color: #333;}
.details_ul li a:hover{color: #36acde;}

.index_body {overflow-y: hidden;overflow-x: hidden;}
.body {overflow-y: auto;overflow-x: hidden;}
/*public*/

/*map*/
#map { width: 100%; height: 500px; }
#map .list { width: 20%; height: 100%; background: #eee; }
#map .list li { height: 34px; line-height: 34px; padding-left: 20px; }
#map .list li.active a { color: red; }
#map .title { font-size: 14px; font-weight: bold; color: #cc5522; }
#map .content { font-size: 12px; color: #333; margin-top: -1px; }
#map .fl { float: left; }
#map .BMap_pop{top: 90px !important;}

.map{height:400px;}
/*map*/

/*header*/
.header{
  position: absolute;
  z-index: 2;
}
.index_figure_logo{float: right;}
.figure_logo{
  float: right;
  position: fixed;
  z-index: 500;
  top: 25px;
  right: 20px;
}
/*header*/

/*index*/
.index .figure_banner_img{float: left;margin: 0 auto;}
.index .figure_banner_img img{width: 100%;height: 952px;}
.index .article_banner_text{
  /*background: rgba(0, 0, 0, 0.54);*/
  position: absolute;
  top: 110px;
  overflow: hidden;
  color: #333;
  margin-left: 100px;
}
.index .article_banner_text .p1{
  font-size: 75px;
  color: #222;
  text-transform: uppercase;
  width: 100%;
  height: 350px;
  font-weight: 600;
  line-height: 80px;
  margin: 0 auto;
}
.index .article_banner_text .p2{
  font-size: 38px; 
  color:#000;
  font-weight: 600;
  margin: 10px 0 80px 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.index .article_banner_text .small_1{font-size: 38px; color:#ff004e;}
.index .article_banner_text .small_2{font-size: 38px; color:#35aade;}
.index .article_banner_text .more_a{
  font-size: 16px; 
  color:#fff;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  background: #222;
  border-radius: 50px;
  -webkit-border-radius: 50px;
}
.index .article_banner_text .more_a:hover span{color:#000;}
/*index*/

/*index_who_are_we*/
.index_who_are_we{background:url(../images/index_bg.png);padding-top:100px;padding-bottom: 198px;}
.index_who_are_we .index_who_are_we_text span{font-size: 36px;color:#eee;}
.index_who_are_we .index_who_are_we_text h2{
  margin-top: 0;
  font-size: 65px;
  color:#fff;
  text-transform: uppercase;
}
.index_who_are_we .index_who_are_we_icon_top{margin-top: 50px;}
.index_who_are_we .index_who_are_we_icon{
  padding: 20px 30px;
  margin: 0 auto;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}
.index_who_are_we .index_who_are_we_icon:last-child{border-right:none;}
.index_who_are_we .index_who_are_we_icon_border .index_who_are_we_icon:nth-child(1){border-bottom:none;}
.index_who_are_we .index_who_are_we_icon_border .index_who_are_we_icon:nth-child(2){border-bottom:none;}
.index_who_are_we .index_who_are_we_icon .caption h3{font-size: 22px;color:#eee;}
.index_who_are_we .index_who_are_we_icon .caption p{font-size: 14px;color:#888;}
/*index_who_are_we*/

/*index_our_work*/
.index_our_work .index_our_work_text{margin-bottom: 30px;}
.index_our_work .index_our_work_text h2{font-size: 55px;color:#222;font-weight:600;text-transform: uppercase;}
.index_our_work .index_our_work_text small{font-size: 28px;color:#222;margin-left: 20px;}
.index_our_work .index_our_work_padding{padding: 50px 90px;}
.index_our_work .index_our_work_p_bg{background:#333;width: 80px;}
.index_our_work .index_our_work_p_bg .index_our_work_p{
  padding-top: 260px;
  width: 20px;
  margin: 0 auto;
  height: 680px;
}
.index_our_work .index_our_work_p_bg a{color:#fff;font-size: 16px;}
.index_our_work .index_our_work_ul_li{margin-right: 40px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li img,
.index_our_work .index_our_work_ul_2 .index_our_work_li img,
.index_our_work .index_our_work_ul_3 .index_our_work_li img{width: 100%;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li,
.index_our_work .index_our_work_ul_2 .index_our_work_li,
.index_our_work .index_our_work_ul_3 .index_our_work_li{float: left;margin-right: 10px;margin-bottom: 10px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:last-child,
.index_our_work .index_our_work_ul_2 .index_our_work_li:last-child,
.index_our_work .index_our_work_ul_3 .index_our_work_li:last-child{margin-right: 0px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(1){width: 370px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(2){width: 240px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(3){width: 323px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(4){width: 239px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(5){width: 356px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(6){width: 305px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(1){width: 227px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(2){width: 289px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(3){width: 396px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(4){width: 301px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(5){width: 285px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(6){width: 335px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(1){width: 371px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(2){width: 371px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(3){width: 371px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(4){width: 231px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(5){width: 500px;height: 220px;}

.index_our_work .index_our_work_li .text_article{
  background-color: rgba(0, 0, 0, 0.88);
  position: absolute;
  opacity: 0; 
  transition: 0.5s; 
  text-align: center;
  /*width: 371px;
  height: 220px;*/
  margin-top: -220px;
}
.index_our_work .index_our_work_li .text_article:hover{opacity: 0.9; }
.index_our_work .index_our_work_li .bg_img{margin: 0 auto;overflow: hidden;}
.index_our_work .index_our_work_li .bg_img img {transition: 0.5s;width: 100%;vertical-align: middle;}
.index_our_work .index_our_work_li:hover .bg_img img{transform: scale(1.2);}
.index_our_work .index_our_work_li .text_article h3{
  margin-top: 100px;
  padding: 0 10px 0 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow:ellipsis; 
  word-break:break-all;
}
.index_our_work .index_our_work_li .text_article h3 a{color: #fff;font-size: 24px;}

.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(1) .text_article{width: 370px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(2) .text_article{width: 240px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(3) .text_article{width: 323px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(4) .text_article{width: 239px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(5) .text_article{width: 356px;height: 220px;}
.index_our_work .index_our_work_ul_1 .index_our_work_li:nth-child(6) .text_article{width: 305px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(1) .text_article{width: 227px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(2) .text_article{width: 289px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(3) .text_article{width: 396px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(4) .text_article{width: 301px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(5) .text_article{width: 285px;height: 220px;}
.index_our_work .index_our_work_ul_2 .index_our_work_li:nth-child(6) .text_article{width: 335px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(1) .text_article{width: 371px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(2) .text_article{width: 371px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(3) .text_article{width: 371px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(4) .text_article{width: 231px;height: 220px;}
.index_our_work .index_our_work_ul_3 .index_our_work_li:nth-child(5) .text_article{width: 500px;height: 220px;}

/*index_our_work*/

/*index_ours_customers*/
.index_ours_customers{background:url(../images/index_bg.png);}
.index_ours_customers .index_ours_customers_text{margin-bottom: 30px;}
.index_ours_customers .index_ours_customers_text h2{font-size: 55px;color:#fff;font-weight:600;text-transform: uppercase;}
.index_ours_customers .index_ours_customers_text small{font-size: 28px;color:#fff;margin-left: 20px;}
.index_ours_customers .index_ours_customers_padding{padding: 70px 90px 177px 90px;}
.index_ours_customers_p_bg{background:#333;width: 80px;float: right;}
.index_ours_customers_p_bg .index_ours_customers_p{padding-top: 200px;width: 20px;margin: 0 auto;height: 580px;}
.index_ours_customers_p_bg a{color:#fff;font-size: 16px;}
.index_ours_customers .index_ours_customers_ul{float: left;width: 90%;}
.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li{padding-left: 65px;}
.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li{
  display: inline-block;
  margin-right: 165px;
  margin-top: 35px;
  margin-bottom: 30px;
  width: 300px;
}
.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li:nth-child(3),
.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li:nth-child(6),
.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li:nth-child(9),
.index_ours_customers .index_ours_customers_ul .index_ours_customers_ul_li li:nth-child(12)
{margin-right: 0px;}
/*index_ours_customers*/

/*index_latest_news*/
.index_latest_news .am-slider-c3 .am-slider-desc {
  background-color: #eee;
  position: relative;
  bottom:0;
  height: auto; 
  padding: 30px;
  white-space: inherit;
  /*overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow:ellipsis; 
  word-break:break-all;*/
}
/*.index_latest_news .am-slider-c3 .am-slides li{width: auto !important;}*/
.index_latest_news .am-slider-c3 .am-slides .am-slider-desc h2{font-size: 22px;color:#222;margin: 0 0 5px 0;}
.index_latest_news .am-slider-c3 .am-slides .am-slider-desc span{font-size: 14px;color:#666;}
.index_latest_news .am-slider-c3 .am-slides .am-slider-desc p{font-size: 16px;color:#666;margin: 5px 0 0 0;}
.index_latest_news .index_latest_news_text h2{font-size: 55px;color:#222;font-weight:600;text-transform: uppercase;}
.index_latest_news .index_latest_news_text small{font-size: 28px;color:#222;margin-left: 20px;}
.index_latest_news .index_latest_news_padding{padding: 50px 60px 0 60px;}
.index_latest_news .index_latest_news_right{margin-top: 0px;margin-right: 0px;padding: 0;}
.index_latest_news_img_text{margin-top: 15px;}
.index_latest_news .index_latest_news_img_text .bg_img{margin: 0 auto;overflow: hidden;}
.index_latest_news .index_latest_news_img_text .bg_img img {transition: 0.5s;max-width: 100%;width: 100%;vertical-align: middle;}
.index_latest_news .index_latest_news_img_text:hover .bg_img img{transform: scale(1.2);}
.index_latest_news .index_latest_news_img_text .text_article{
  /*background-color: rgba(0, 0, 0, 0.3);*/
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  opacity: 0.9; 
  transition: 0.5s; 
  width: 100%;
  text-align: center;
}
.index_latest_news .index_latest_news_img_text .text_article h3{
  margin-top: 100px;
  padding: 0 10px 0 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow:ellipsis; 
  word-break:break-all;
}
.index_latest_news .index_latest_news_img_text .text_article h3 a{color: #fff;font-size: 24px;}
.index_latest_news .am-slider-c3 .am-direction-nav a{width: 50px;height: 50px;top: 35%;}
.index_latest_news .am-slider-c3 .am-direction-nav a:before{font-size: 30px;line-height: 50px;}

/*index_latest_news*/

/*footer*/
.footer_bg {
  color: #fff;
  background:url("../images/footer_bg.jpg") center no-repeat;
}
.footer_bg h2{font-size: 20px;}
.footer_bg ul{margin: 0 auto;padding: 0;}
.footer_bg ul li{font-size: 14px;}
.footer_bg .wx_p{font-size: 14px;color: #999;margin: 3px;}
/*footer*/

/*about*/
.about img{width: 100%;}
.about .article_content{padding: 0;margin-top: 190px;margin-bottom: 100px;}
.about .about_article_lfet h2{font-size: 26px;color:#333;margin-top: 30px;}
.about .about_article_lfet p{font-size: 14px;color:#666;text-indent: 30px;}
/*about*/

/*contact*/
.contact img{width: 100%;}
.contact .p15{padding: 15px;}
.contact .article_content_hr{margin-top: 40px;border-top: 1px solid #ddd;}
.contact .article_content{padding: 0;margin-top: 190px;margin-bottom: 100px;}
.contact .article_content .contact_article_lfet .h2{font-size: 22px;color: #333;}
.contact .article_content .contact_article_lfet .contact_article_lfet_ul{margin: 0 auto;padding: 0;}
.contact .article_content .contact_article_lfet .contact_article_lfet_ul li{font-size: 18px;color: #333;line-height: 35px;}
.contact .article_content .contact_article_lfet .contact_article_lfet_p {margin-top: 30px;font-size: 18px;color: #666;}
.contact .article_content .contact_article_lfet .contact_article_lfet_p .contact_article_lfet_bottom_p{margin-top:50px;font-size: 12px;color: #ff0000;}
.contact .article_content .contact_form_title{margin-bottom: 20px;}
.contact .contact_form h2{font-size: 22px;color: #333;}
.contact .contact_form p{font-size: 16px;color: #333;line-height: 30px;}
.contact .contact_form .form-control{
  margin-bottom: 20px;
  padding: 30px 15px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}
.contact .contact_form .form-control:focus {
  border-color: #ddd;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px #ddd, 0 0 8px #ddd;
          box-shadow: inset 0 1px 1px #ddd, 0 0 8px #ddd;
}
.contact .contact_form .form_textarea{height: 200px;}
.contact .contact_form .btn{
  text-align: center;
  padding: 15px 55px;
  background: #36acde;
  border: 1px solid #36acde;
  position: relative; 
  overflow: hidden;
}
.contact .contact_form .btn span { 
  font-size: 16px;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
}
.contact .contact_form .btn:hover span{color: #333;}
.contact .contact_form .btn:before{ 
  content: ""; 
  background: #fff; 
  position: absolute; 
  left: -100%; top: 0; z-index: 0; width: 100%; height: 100%;
  transition: all 0.6s ease 0s; 
  -webkit-transition: all 0.6s ease 0s; 
  -moz-transition: all 0.6s ease 0s; 
  -o-transition: all 0.6s ease 0s;
}
.contact .contact_form .btn:hover:before{ left: 0;}

/*contact*/

/*news*/
.news img{width: 100%;}
.news .news_content{padding: 0;margin-top: 100px;margin-bottom: 100px;}
.news .news_content .news_content_box{background: #f4f4f4;padding: 30px;margin-bottom: 30px;}
.news .news_content .news_content_box:hover{background: #fff;}
.news .news_content .news_content_box h3 {margin: 5px auto;}
.news .news_content .news_content_box h3 a{color: #333;font-size: 18px;}
.news .news_content .news_content_box:hover h3 a{color: #36acde;}
.news .news_content .news_content_box span{color: #999;font-size: 12px;}
.news .news_content .news_content_box p{
  color: #666;
  font-size: 12px;
  margin: 20px 0 0 0;
  isplay: -webkit-box; /*必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。*/
  -webkit-box-orient; /*必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。*/
  text-overflow: ellipsis; /*可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 。*/
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*news*/

/*news_details*/
.news_details img{width: 100%;}
.news_details .article_content{padding: 0;margin-top: 100px;margin-bottom: 100px;}
.news_details .article_content .news_details_article_content{
  font-size: 14px;
  color: #666;
  text-indent: 30px;
}
.news_details .article_content_text{margin-bottom: 30px;}
.news_details .article_content_text h3{color: #333;font-size: 26px;}
.news_details .article_content_text ul li{
  color: #999;
  font-size: 14px;
  padding-right: 40px;
  padding-left: 40px;
  display: inline-block;
}

/*news_details*/

/*cases*/
.cases img{width: 100%;}
.cases .cases_content{padding: 0;margin-top: 130px;margin-bottom: 100px;}
.cases .cases_content .news_content_box {margin-bottom: 40px;}
.cases .cases_content .news_content_box .article_f4f4f4{
  padding: 30px 20px;
  background: #f4f4f4;
  -webkit-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  transition:all 300ms ease;  
}
.cases .cases_content .news_content_box:hover .article_f4f4f4{background: #fff;}
.cases .cases_content .news_content_box .cases_content_img{margin: 0 auto;position: relative;overflow: hidden;}
.cases .cases_content .news_content_box .cases_content_img .icon_text{
  position:absolute;
  top:-100%;
  width:100%;
  height:100%;
  text-align:center;
  background: rgba(0, 0, 0, 0.51);
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  transition:all 500ms ease;  
}
.cases .cases_content .news_content_box .cases_content_img:hover .icon_text{top:0px;}
.cases .cases_content .news_content_box .cases_content_img .icon_text a .fa_icon{
  position:absolute;
  left:50%;
  top:50%;
  color:#ffffff;
  font-size:25px; 
}
.cases .cases_content .news_content_box .article_f4f4f4 h3 {margin: 0 auto;}
.cases .cases_content .news_content_box .article_f4f4f4 h3 a{font-size: 16px;color: #333;}
.cases .cases_content .news_content_box .article_f4f4f4:hover h3 a{color: #36acde;}
.cases .cases_content .news_content_box .article_f4f4f4 p{
  width: 90%;
  font-size: 14px;
  color: #999;
  margin: 20px 0 0 0;
  isplay: -webkit-box; /*必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。*/
  -webkit-box-orient; /*必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。*/
  text-overflow: ellipsis; /*可以用来多行文本的情况下，用省略号“…”隐藏超出范围的文本 。*/
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cases .cases_content .news_content_box .article_f4f4f4 .i_ico{float: right;margin: -35px 0 0 0;}
/*cases*/

/*cases_details*/
.cases_details img{width: 100%;}
.cases_details .cases_content{padding: 0;margin-top: 130px;margin-bottom: 100px;}
.cases_details .cases_content .cases_details_article_content{padding: 0 170px;}

.cases_details .cases_content .cases_details_article_content .cases_content_title h3{font-size: 16px;color: #36acde;}
.cases_details .cases_content .cases_details_article_content .cases_content_title small{
  font-size: 12px;
  color: #999;
  margin-left:10px;
  text-transform: uppercase;
}
.cases_details .cases_content .cases_details_article_content .case_cool_details_title_img{width: auto;float: left;}
.cases_details .cases_content .cases_details_article_content .cases_content_title h5{
  font-size: 24px;
  color: #333;
  position: relative;
  left: -50px;
}
.cases_details .cases_content .cases_details_article_content .cases_content_title ul{margin-left: 95px;}
.cases_details .cases_content .cases_details_article_content .cases_content_title ul li{font-size: 14px;color: #333;}

.cases_details .cases_content .cases_details_article_content .cases_content_text{border-bottom: 1px solid #ddd;margin-bottom: 20px;}
.cases_details .cases_content .cases_details_article_content .cases_content_text h3{font-size: 16px;color: #666;}
.cases_details .cases_content .cases_details_article_content .cases_content_text p{font-size: 14px;color: #999;line-height: 25px;text-indent: 30px;}
.cases_details .cases_content .cases_details_article_content .cases_content_text_a{
  text-align:center;
  display: block;
  font-size: 16px;
  color: #fff;
  background: #666;
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
/*cases_details*/

/*applets*/
.applets img{width: 100%;}
.applets .applets_content_img{padding: 0;margin:0px;}
.applets .applets_content{padding: 60px 0 100px 0;background: #fafafa;}
.applets .applets_content .applets_content_title span{color: #999;font-size: 20px;text-transform: uppercase;}
.applets .applets_content .applets_content_title h2{color: #333;font-size: 36px;margin: 10px 0 50px 0;}

.applets .swiper-container {
  width: 100%;
  height: auto;
  padding: 25px 20px 80px 20px;
  margin-left: auto;
  margin-right: auto;
}
.applets .swiper-slide {
  height: 265px;
  background: #f4f4f4;
  
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;*/
}
.applets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #98d3ec;
  opacity: 0.8;
}
.applets .swiper-pagination-bullet-active {
  opacity: 1;
  background: #36acde;
}

.applets .applets_content_text .swiper-slide .slide_div{text-align: center;padding: 30px 30px;}
.applets .applets_content_text .swiper-slide:nth-child(1) .slide_div{background: #36acde;}
.applets .applets_content_text .swiper-slide:nth-child(2) .slide_div{background: #ff8e82;}
.applets .applets_content_text .swiper-slide:nth-child(3) .slide_div{background: #f2b126;}
.applets .applets_content_text .swiper-slide:nth-child(4) .slide_div{background: #1e8e66;}

.applets .applets_content_text .swiper-slide:nth-child(5) .slide_div{background: #36acde;}
.applets .applets_content_text .swiper-slide:nth-child(6) .slide_div{background: #ff8e82;}
.applets .applets_content_text .swiper-slide:nth-child(7) .slide_div{background: #f2b126;}
.applets .applets_content_text .swiper-slide:nth-child(8) .slide_div{background: #1e8e66;}

.applets .applets_content_text .swiper-slide:nth-child(9) .slide_div{background: #36acde;}
.applets .applets_content_text .swiper-slide:nth-child(10) .slide_div{background: #ff8e82;}
.applets .applets_content_text .swiper-slide:nth-child(11) .slide_div{background: #f2b126;}
.applets .applets_content_text .swiper-slide:nth-child(12) .slide_div{background: #1e8e66;}

.applets .applets_content_text .swiper-slide span {font-size: 24px;color: #fff;}
.applets .applets_content_text .swiper-slide small {float: left;font-size: 60px;color: #fff;}
.applets .applets_content_text .swiper-slide p {
  text-align: center;
  font-size: 14px;
  color: #666;
  padding: 30px 70px;
}
/*applets*/

/*brand*/
.brand img{width: 100%;}
.brand .brand_content{padding: 60px 0 100px 0;background: #fafafa;}
.brand .brand_content_img_text{margin-bottom: 80px;}
.brand .brand_content_img_text:nth-child(odd) .brand_content_img{float: right;}
.brand .brand_content_img_text:nth-child(odd) .brand_content_text{float: left;}
.brand .brand_content_img_text:nth-child(even) .brand_content_img{float: left;}
.brand .brand_content_img_text:nth-child(even) .brand_content_text{float: right;}

.brand .brand_content_img_text .brand_content_text h3 a{font-size: 26px;color: #333;}
.brand .brand_content_img_text .brand_content_text h3 a:hover{color: #36acde;}
.brand .brand_content_img_text .brand_content_text p{text-indent: 30px;font-size: 14px;color: #666;margin: 0 0 15px 0;}

.brand .brand_relevant .brand_relevant_h2{padding-left: 15px;font-size: 26px;color: #333;}
.brand .brand_relevant .brand_relevant_img{position: relative;overflow: hidden;}
.brand .brand_relevant .brand_relevant_text{
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  left: 0;
  bottom: 0;
  top: auto;
  transition: 0.5s;
  width: 100%;
  padding: 10px 20px;
}
.brand .brand_relevant .brand_relevant_text:hover{background-color: rgba(0, 0, 0, 0.1);}
.brand .brand_relevant .brand_relevant_img img {transition: 0.5s;max-width: 100%;vertical-align: middle;}
.brand .brand_relevant .brand_relevant_img:hover img{transform: scale(1.2);}
.brand .brand_relevant .brand_relevant_text h3{margin: 0 auto;}
.brand .brand_relevant .brand_relevant_text h3 a {font-size: 18px;color: #fff;}
.brand .brand_relevant .brand_relevant_text p{
  margin: 15px 0 0 0;
  font-size: 14px;
  color: #fff;
  -webkit-box-orient; 
  text-overflow: ellipsis; 
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.brand .brand_relevant .brand_relevant_text:hover h3 a {color: #666;}
.brand .brand_relevant .brand_relevant_text:hover p{color: #666;}
.brand .brand_relevant .brand_relevant_a {
  display: block;
  float: right;
  margin-right: 15px;
  padding: 15px 50px;
  background: #ccc;
  color:#fff;
  font-size: 16px;
  transition: 0.5s;
}
.brand .brand_relevant .brand_relevant_a:hover{background: rgba(0, 0, 0, 0.55);}
/*brand*/

/*brand_design*/
.brand_design img{width: 100%;}
.brand_design .brand_design_content{padding: 0;margin-top: 100px;margin-bottom: 100px;}

.brand_design .brand_design_content_img{margin-bottom: 80px;}

.brand_design .brand_design_content .brand_design_content_process h3{color:#333;font-size: 22px;}
.brand_design .brand_design_content .brand_design_content_process ul li small{
  color: #333;
  /*width: 30px;
  height:30px;
  display: block;*/
  position: relative;
  z-index: 5;
  padding: 5px 10px 5px 10px;
  margin-left: -15px;
  margin-right: 20px;
  border-radius: 50px;
  background: #ccc;
}
.brand_design .brand_design_content .brand_design_content_process ul li h5{margin: 15px 0 10px 0;color:#333;font-size: 18px;}
.brand_design .brand_design_content .brand_design_content_process ul li span{margin-left: 33px;color:#999;font-size: 14px;}
.brand_design .brand_design_content .brand_design_content_process ul li{margin-bottom: 35px;}
.brand_design .brand_design_content .brand_design_content_process ul{margin-left: 18px;padding: 0;/*border-bottom: 1px solid #ccc;*/}
.brand_design .brand_design_content .brand_design_content_process ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 90%;
  background: #ccc;
  position: absolute;
  top: 42px;
  left: 33px;
}
.brand_design .brand_design_content .brand_design_content_process ul::before {
  content: "";
  display: block;
  width: 70%;
  height: 1px;
  background: #ccc;
  position: absolute;
  bottom: 16px;
}

.brand_design .panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #a0a0a0;
  background: none;
  box-shadow: none;
}

/*.brand_design .panel:last-child {
  border-bottom: none;
}*/

.brand_design .panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.brand_design .panel-group .panel {
  border-radius: 0;
}

.brand_design .panel-group .panel + .panel {
  margin-top: 0;
}

.brand_design .panel-heading {
  /*background-color: #009688;*/
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
}
.brand_design .active .panel-title a{
  color: #333;
}
.brand_design .panel-title a {
  display: block;
  color: #666;
  padding: 30px 0;
  position: relative;
  font-size: 20px;
  font-weight: 400;
}
.brand_design .panel-title a:focus{text-decoration:none;}
.brand_design .panel-body {
  background: #fff;
  padding: 0;
  border-top: 1px solid transparent !important;
}

.brand_design .panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}
.brand_design .panel-body p{
  color: #999;
  font-size: 14px;
  text-indent: 30px;
  margin: 0 0 10px 0;
  line-height: 25px;
}
.brand_design .panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  -webkit-transition: border-radius 0.3s linear 0.2s;
  transition: border-radius 0.3s linear 0.2s;
}

.brand_design .panel:last-child .panel-heading.active {
  border-radius: 0;
  -webkit-transition: border-radius linear 0s;
  transition: border-radius linear 0s;
}

.brand_design .panel-heading a:before {
  color: #999;
  position: absolute;
  content: "\f067";
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  font-size: 15px;
  /*border-radius: 50%;
  border-bottom: 1px solid #ddd;*/
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.brand_design .panel-heading.active a:before {
  color: #999;
  content: "\f068";
  font-family: 'FontAwesome';
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.brand_design #bs-collapse .panel-heading a:after {
  color: #999;
  font-size: 15px;
  position: absolute;
  content: "\f067";
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.brand_design #bs-collapse .panel-heading.active a:after {
  color: #999;
  content: "\f068";
  font-family: 'FontAwesome';
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.brand_design #accordion .panel-heading a:before {
  color: #999;
  font-size: 15px;
  position: absolute;
  content: "\f067";
  font-family: 'FontAwesome';
  right: 5px;
  top: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.brand_design #accordion .panel-heading.active a:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*brand_design*/





