@charset "utf-8";

.cases img{width: 100%;}
.cases .list_box_shadow{border-radius: 40px;}
.cases .list_box_shadow:hover{box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);}
.cases_div{margin-right: 55px;margin-bottom: 90px;float: right;}
.cases_div figure, .cases_div article{padding: 0;}
.cases_div .article_div{margin: 3em 5em 0 3em;}
.cases_div h2 a{color: #ec3c59; font-size: 22px;margin: 0 0 10px 0;}
.cases_div span{color: #666; font-size: 16px;}
.cases_div p{color: #666; font-size: 14px;margin-top:30px;}
.cases .pagination li a{
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #666;
  background-color: #EAEAEA;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #EAEAEA;
}
.cases .cases_a{
  font-size: 16px;
  color: #EC3C59;
  text-align: center;
  width: 150px;
  padding: 10px 0 10px 0;
  margin-top: 30px;
  display: inline-block;
  border-radius: 50px;
  border: 1px solid #EC3C59;
}
.cases .cases_a:hover{background: #EC3C59;color: #fff;}

.cases .pagination li .li_a{color: #fff;background-color: #EC3C59;border: 1px solid #EC3C59;}
.cases .pagination li:last-child a{border-top-right-radius: 0;border-bottom-right-radius: 0;}
.cases .pagination li a:hover{color: #fff;background-color: #EC3C59;border: 1px solid #EC3C59;}

.cases .list{margin: 0 0 0 20px;}
.cases .list a{
  display: block;
  padding: 3px 0 3px 0;
  font-size: 14px;
  color: #666;
}
.cases_div figure{border-radius: 40px;}

#accordion .panel-title a {
  display:block;
  padding:0;
  margin:0;
  font-size:18px;
  font-weight:700;
  letter-spacing:1px;
  color:#666;
  border-radius:0;
  position:relative;
}
#accordion .panel-title a:before,#accordion .panel-title a.collapsed:before {
  content:"\f106";
  font-family:fontawesome;
  width:55px;
  height:100%;
  text-align:center;
  line-height:50px;
  position:absolute;
  top:-13px;
  right:0;
}
#accordion .panel-title a.collapsed:before {
  content:"\f107";
}
@media(max-width:300px) {
  .ul_margin {margin-top:20px;margin-bottom:85px;}
}





/*.cases_menu*/

.cases_menu {
  display: block;
  box-sizing: border-box;
  background: white;
  height: 87.75px;
  width: 87.75px;
  padding: 36px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 30px auto;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.cases_menu.expanded {
  width: 100%;
}  
/*nth-of-type为每一个菜单项设置不同的动画延迟时间。*/
.cases_menu span.hidden {
  width: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(90deg);
}
.cases_menu span.hidden:nth-of-type(1) {
  transition-delay: .3s;
}
.cases_menu span.hidden:nth-of-type(2) {
  transition-delay: .2s;
}
.cases_menu span.hidden:nth-of-type(3) {
  transition-delay: .1s;
}
.cases_menu span.hidden:nth-of-type(4) {
  transition-delay: 0s;
}    

.cases_menu span.item {
  padding: 9px;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transition: .3s;
  transform: rotateY(0deg);
}
.cases_menu span.item:nth-of-type(1) {
  transition-delay: .4s;
}
.cases_menu span.item:nth-of-type(2) {
  transition-delay: .5s;
}
.cases_menu span.item:nth-of-type(3) {
  transition-delay: .6s;
}
.cases_menu span.item:nth-of-type(4) {
  transition-delay: .7s;
} 

.cases_menu .menu_btn {
  position: absolute;
  top: 22.5px;
  right: calc(100% - 73.125px);
  height: 42.75px;
  width: 58.5px;
  transition: 1s;
}
.cases_menu .menu_btn.close {
  right: 0;
}
 
.cases_menu .toggle {
  position: relative;
  height: 42.75px;
  width: 58.5px;
  cursor: pointer;
  opacity: 1;
}
.cases_menu .toggle:after, .cases_menu .toggle:before {
  content: '';
  background: #1D90F5;
  width: 36px;
  height: 4.5px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}
.cases_menu .toggle:before {
  top: -30%;
}
.cases_menu .toggle:after {
  top: 30%;
}   

.cases_menu .toggle.close:before {
  transform: rotate(-225deg);
  top: 0;
}
.cases_menu .toggle.close:after {
  transform: rotate(225deg);
  top: 0;
}


/*cases_menu*/







