@charset "utf-8";

.howstart_content img{width: 100%;}
.howstart_content h3{margin: 0 0 10px 0; font-size: 36px;color: #333;}
.howstart_content h5{ font-size: 36px;color: #ec3c59;float: left;font-style:italic}
.howstart_content{margin: 0 0 0 3em;}














