@charset "utf-8";

/*banner
.swiper-container{margin-top: 100px;}*/
/*banner*/
/*头部标题*/
.article{margin-top: 50px;margin-bottom: 50px;}
.article h1{font-size: 48px; color: #EC3C59;text-align: center;}
.article .p{font-size: 21px;color: #999999;text-align: right;margin: 20px 60px 40px 0;}
.article .article_div{font-size: 20px;color: #818181; padding: 0 50px 0 50px;}
/*头部标题*/

/*icon*/
.article_icon{margin-top: 50px;}
.md_2{margin-top: 50px;}
.article_icon a:hover p {color: #EC3C59;}
.article_icon figcaption{font-size: 30px;color: #333;line-height: 70px;}
.article_icon figcaption:hover {color: #EC3C59;}
/*icon*/
/*figure_list_img*/
/*.figure_list_img{margin-top: 10em;margin-bottom: 50px;}
.figure_right_img {z-index: 5;}
.figure_right_img img{width: 100%;border-top-right-radius: 10%;border-bottom-right-radius: 10%;}
.article_right{
	background: #FAFAFA;
	border-top-left-radius: 150px;
	border-bottom-left-radius: 150px;
	padding-top: 10px;
    margin: -31em 0 5em 10em;	
}
.article_right_padding{height: 500px;padding: 0 70px 0 0;}
.article_right h1, .article_left h1{font-weight: 800;font-size: 48px;color: #333;}
.article_right .p_radius, .article_left .p_radius{
	font-size: 18px;
	color: #fff;
	background: #EC3C59;
	text-align: center;
	width: 190px;
	padding: 5px 0 5px 0;
    border-radius: 10px;
}
.article_right .text_p, .article_left .text_p{
	font-size: 18px;
	color: #6F6F6F;
	line-height: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.article_right a, .article_left a{
	font-size: 18px;
	color: #EC3C59;
	text-align: center;
	width: 190px;
	padding: 10px 0 10px 0;
	display: inline-block;
	border-radius: 50px;
	border: 1px solid #EC3C59;
}
.article_right a:hover, .article_left a:hover{background: #EC3C59;color: #fff;}
.article_left{
	background: #FAFAFA;
	border-top-right-radius: 150px;
	border-bottom-right-radius: 150px;
	padding-top: 10px;
	margin: 7em 0 5em 0;	
}
.article_left_padding{height: 500px;padding: 0 50% 0 0;}
.figure_left_img {z-index: 5;margin: -45em 0 0 62em;}
.figure_left_img img{width: 100%;border-top-left-radius: 10%;border-bottom-left-radius: 10%;}*/
/*figure_list_img*/

/*他们的故事*/
.figure_img_bottom{margin-top: 10px;margin-bottom: 50px;}
.figure_img_bottom img{width: 100%;}
/*图片上显示文字*/
.text{
	background: rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
}
.text h3{
	color: #fff;
	font-size: 48px;
	font-weight: 800;
}
.text p{
	color: #fff;
	font-size: 18px;
	line-height: 30px;
    margin: 2em 0 5em 0;	
}
.text a {
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 190px;
    padding: 10px 0 10px 0;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #fff;
}
.text a:hover{color: #EC3C59;border: 1px solid #EC3C59;}
.margin_top{margin: 10em 0 0 10em;width: 500px;text-align: left;}
/*图片上显示文字*/
/*他们的故事*/

/*新闻*/
.article_news{margin: 5em 0 5em 0;}
.article_news h3 a{font-size: 24px;color: #333;margin: 30px 0 10px 0;display: inline-block;}
.article_news p{font-size: 16px;color: #808080;margin: 20px 0 20px 0;}
.article_news .text_a{
	font-size: 16px;
	color: #808080;
	text-align: center;
    width: 190px;
    padding: 15px 0 15px 0;
    display: inline-block;
    border-radius: 50px;
    background: #f2f2f2;
}
.article_news .text_a:hover{background: #EC3C59;color: #fff;}
.article_figure_top{margin: 0 0 3em 0;padding: 0 80px 0 80px;}
/*新闻*/

/*figure_article*/
.figure_article_left_1{z-index: 5;}
.figure_article_left_1 img{
	width: 100%;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}
.figure_article_right_1{
	background: #eee;
    float: right;
    height: 550px;
    margin-top: -32em;
    margin-bottom: 3em;
    border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}
.div_article_right_1{margin: 3em 5em 0 55em;}
.figure_article_left_2{z-index: 5;float: right;}
.figure_article_left_2 img{
	width: 100%;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
}
.figure_article_right_2{
	background: #eee;
    float: left;
    height: 550px;
    margin-top: -32em;
    margin-bottom: 3em;
    border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
}
.div_article_right_2{margin: 3em 50em 0 5em;}
.div_article_right_1 h1 a, .div_article_right_2 h1 a{font-weight: 800;font-size: 48px;color: #333;}
.div_article_right_1 h1 a:hover, .div_article_right_2 h1 a:hover{color: #EC3C59;}
.div_article_right_1 .p_text_radius, .div_article_right_2 .p_text_radius{
	font-size: 18px;
	color: #fff;
	background: #EC3C59;
	text-align: center;
	width: 190px;
	padding: 5px 0 5px 0;
    border-radius: 10px;
}
.div_article_right_1 .text_p, .div_article_right_2 .text_p {
    font-size: 18px;
    color: #6F6F6F;
    line-height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.div_article_right_1 .btn_a, .div_article_right_2 .btn_a {
    font-size: 18px;
    color: #EC3C59;
    text-align: center;
    width: 190px;
    padding: 10px 0 10px 0;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #EC3C59;
}
.div_article_right_1 .btn_a:hover, .div_article_right_2 .btn_a:hover{background: #EC3C59;color: #fff;}
/*figure_article*/
