@charset "utf-8";

.products_detail img{width: 100%;}
.products_detail .pagination li a{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #666;
    background-color: #EAEAEA;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #EAEAEA;
}

.products_detail .list{margin: 0 0 0 20px;}
.products_detail .list a{display: block;padding: 3px 0 3px 0;font-size: 14px;color: #666;}
.products_detail .list .list_a_hover{color: #ec3c59;}

.products_detail_contact {padding: 0;margin: 0 0 0 4em;}
.products_detail_contact p{color: #666;font-size: 16px;}
.products_detail_contact .nav_right, .products_detail_contact .nav_left{padding: 0;}
.products_detail_contact .nav_right .nav_right_ul{margin: 38px 0 20px 0 ; float: right;}
.products_detail_contact .nav_right .nav_right_ul li a{font-size: 14px;color: #666;border-radius: 20px;background: #dcdcdc;padding: 5px 20px 5px 20px;}
.products_detail_contact .nav_right .nav_right_ul li a:hover{color: #fff;background: #EC3C59;}
.products_detail_contact .nav_left .nav_left_ul {margin: 20px 0 0 0 ; text-align: left;}
.products_detail_contact .nav_left .nav_left_ul a{color: #666;font-size: 14px;}
.products_detail_contact .nav_left .nav_left_ul a:hover span{color: #ec3c59;}
.products_detail_contact .nav_left .nav_left_ul .nav_left_ul_a span{color: #ec3c59;}
.products_detail_contact .contact_div_F6F6F6{background: #F6F6F6;margin: 20px 0 0 0 ;}

.products_detail_right{padding: 30px 0 0 0;}
.products_detail_right span{color: #999;font-size: 22px;}
.products_detail_right h2{color: #ec3c59;font-size: 26px;margin: 15px 0 0 0;}
.products_detail_right p{color: #666;font-size: 18px;margin: 50px 0 60px 0;}
.products_detail_right a{
    color: #ec3c59;
    font-size: 18px;
    width: 190px;
    text-align: center;
    padding: 15px 0 15px 0;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #EC3C59;
}
.products_detail_right a:hover{background: #ec3c59;color:#fff;}

.tab .active .tab_a_2{color:#ec3c59;font-size: 22px;}
.tab .tab_a_2{color:#999;font-size: 22px;padding: 10px 0;margin-right: 3px;text-transform : uppercase}
.products_detail_contact .nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border:none;color: #ec3c59;font-size: 22px;
}
.tab .nav-tabs{margin-bottom: 15px;}




.zoomLens{
    z-index:10;
    position:absolute;
    top:0px;
    left:0px;
    width:50px;
    height:50px;
    border:1px solid #aaa;
    background:#fff 50% top no-repeat;
    opacity:0.5;
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    filter:alpha(Opacity=50);
    cursor:move;
    display:none;
    margin:0;
}
.zoomBox{
    z-index:99999;
    position:absolute;
    top:0;
    left:0;
    width:50px;
    height:50px;
    display:none;
    overflow:hidden;
    background-color:#fff;
    border:1px solid #999;
    margin:0;
}
.zoomBody{
    position:relative;
    text-align:center;
}
.pic_zoom {
    position: relative;
    height: 415px;
    margin-bottom: 10px;
    z-index: 99;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.pic_zoom img {
    position: absolute;
    left: 1px;
    bottom: 0px;
    /*width: 566px;*/
    height: 411px;
    top: 1px;
}
.tempWrap{width: 520px !important;}
.pic_list .pic_list_content {
    width: 515px;
    height: 85px;
    float: left;
    overflow:hidden;
}
.pic_list ul li {
    width: 86px !important;
    height: 85px;
    float: left;
    overflow:hidden;
}
.pic_list ul li a{
    display:block;
    border: solid 2px #dcdcdc;
    background: #fff;
    width: 75px;
    height: 75px;
    padding: 1px;
    margin:0px;
    opacity:0.8;
    -moz-opacity:0.8;
    -khtml-opacity:0.8;
    filter:alpha(Opacity=80);
}
.pic_list ul li a:hover{
    border: solid 1px #009BDB;
    opacity:10.0;
    -moz-opacity:10.0;
    -khtml-opacity:10.0;
    filter:alpha(Opacity=100);
}
.pic_list ul li img{
    width: 69px;
    height: 69px;
}
.pic_list a {
    display: block;
    width: 20px;
    height: 50px;
    margin-top:15px;
}
.pic_list .prev {
    float:left;
    margin-right:10px;
    background: url(../img/Gui.gif) no-repeat 0px -120px;/*左箭头背景*/
    background-size: cover;
}
.pic_list .next {
    float:right;
    background: url(../img/Gui.gif) no-repeat 0px -170px;/*左箭头背景*/
    background-size: cover;
}



.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
    
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
    
}   
.owl-carousel .owl-item{
    float: left;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
