@charset "utf-8";

@media (min-width: 1925px) and (max-width: 4000px){
	.max_width{width: 2000px;margin:auto;}
}
@media (min-width: 992px) and (max-width: 4000px){
	.md_2 {width: 19.666667%;}
	/*about*/
  	.about {width:100%;max-width: 1600px;margin-top: 50px;margin-bottom: 50px;}
	/*about*/
}

/*figure_article*/
@media screen and (max-width: 1900px){
	.figure_article_right_1, .figure_article_right_2{height: 490px;margin-top: -28em;}
}
@media screen and (max-width: 1800px){
	.figure_article_right_1, .figure_article_right_2{height: 470px;margin-top: -27em;}
}
@media screen and (max-width: 1700px){
	.div_article_right_1{margin: 3em 5em 0 49em;}
	.div_article_right_2{margin: 3em 48em 0 5em;}
}
@media screen and (max-width: 1600px){
	.div_article_right_1{margin: 3em 5em 0 46em;}
	.div_article_right_2{margin: 3em 45em 0 5em;}
	.figure_article_right_1, .figure_article_right_2{height: 440px; margin-top: -25em;}
	.div_article_right_1 h1 a, .div_article_right_2 h1 a{font-size: 40px;}
	.div_article_right_1 .p_text_radius, .div_article_right_2 .p_text_radius{width: 160px;}
	.div_article_right_1 .text_p, .div_article_right_2 .text_p{font-size: 16px; line-height: 25px;}
	.div_article_right_1 .btn_a, .div_article_right_2 .btn_a{width: 130px;padding: 5px 0 5px 0}
}
@media screen and (max-width: 1500px){
	.figure_article_right_1, .figure_article_right_2{height: 400px; margin-top: -23em;}
	.div_article_right_1 {margin: 3em 2em 0 43em;}
	.div_article_right_2 {margin: 3em 39em 0 3em;}
}
@media screen and (max-width: 1400px){
	.figure_article_right_1, .figure_article_right_2{height: 380px; margin-top: -22em;}
	.div_article_right_1 {margin: 2em 2em 0 37em;}
	.div_article_right_2 {margin: 2em 36em 0 3em;}
	.figure_article_left_1 img{border-top-right-radius: 60px;border-bottom-right-radius: 60px;}
	.figure_article_left_2 img{border-top-left-radius: 60px;border-bottom-left-radius: 60px;}
}
@media screen and (max-width: 1300px){
	.figure_article_right_1, .figure_article_right_2{height: 350px; margin-top: -20em;}
	.div_article_right_1 {margin: 2em 2em 0 35em;}
	.div_article_right_2 {margin: 2em 34em 0 2em;}
}
@media screen and (max-width: 1200px){
	.figure_article_right_1, .figure_article_right_2{height: 320px; margin-top: -18em;}
	.div_article_right_1 {margin: 0 1em 0 32em;}
	.div_article_right_2 {margin: 0 31em 0 2em;}
	.div_article_right_1 h1 a, .div_article_right_2 h1 a{font-size: 30px;}
	.div_article_right_1 .p_text_radius, .div_article_right_2 .p_text_radius{width: 120px;}
}
@media screen and (max-width: 1080px){
	.figure_article_right_1, .figure_article_right_2{height: 300px; margin-top: -17em;}
	.div_article_right_1 {margin: 0 1em 0 28em;}
	.div_article_right_2 {margin: 2em 27em 0 2em;}
	.div_article_right_1 h1 a, .div_article_right_2 h1 a{font-size: 25px;}
	.div_article_right_1 .p_text_radius, .div_article_right_2 .p_text_radius{width: 100px;font-size: 13px;padding: 2px 0 2px 0;}
	.div_article_right_1 .text_p, .div_article_right_2 .text_p{font-size: 13px;line-height: 20px;margin-top: 10px;margin-bottom: 10px;}
	.div_article_right_1 .btn_a, .div_article_right_2 .btn_a{width: 100px;padding: 2px 0 2px 0;font-size: 13px;}
}
@media screen and (max-width: 1024px){
	.figure_article_right_1, .figure_article_right_2 {height: 270px;margin-top: -15em;}
}
@media screen and (max-width: 991px){
	.figure_article_right_1, .figure_article_right_2 {height: 340px;margin-top: -10em;}
	.div_article_right_1 {margin: 11em 20px 0 0;}
	.div_article_right_2 {margin: 11em 0 0 5em;}
	.div_article_right_1 .p_text_radius, .div_article_right_2 .p_text_radius{
		width: 100px;
		z-index: 5;
    	font-size: 13px;
	    position: absolute;
	    padding: 1px 0 1px 0;
	    margin: -35px 0 0 110px;
	}
	.div_article_right_1 .text_p, .div_article_right_2 .text_p{
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
	.figure_article_left_1 img {border-top-right-radius: 40px;border-bottom-right-radius: 40px;}
	.figure_article_left_2 img {border-top-left-radius: 40px;border-bottom-left-radius: 40px;}
	.figure_article_right_1{border-top-left-radius: 40px;border-bottom-left-radius: 40px;}
	.figure_article_right_2{border-top-right-radius: 40px;border-bottom-right-radius: 40px;}
}
@media screen and (max-width: 700px){
	.div_article_right_2 {margin: 11em 0 0 4em;}
}
@media screen and (max-width: 500px){
	.div_article_right_2 {margin: 11em 0 0 3em;}
}
/*figure_article*/

@media screen and (max-width: 1600px){
	/*products*/
	.products_figure .text_div {margin: 0 0 0 35em;padding: 4em 2em 5em 1em;background: rgba(0, 0, 0, 0.07);}
	.products_figure .products_text p{margin: 1em 0 1em 0;}
	/*products*/
}
@media screen and (max-width: 1635px){
	/*products_detail*/
	.pic_list .pic_list_content {width: 500px;}
	.pic_list ul li {width: 85px !important;}
	/*products_detail*/
}
@media screen and (max-width: 1620px){
	/*contact*/
	.contact_right ul li {padding: 60px 0 0 20px;}
	.contact_right p{font-size: 20px;}
	.contact_right .glyphicon{font-size: 40px;}
	/*contact*/
}
@media screen and (max-width: 1580px){
	/*products_detail*/
	.pic_list .pic_list_content {width: 470px;}
	.pic_list ul li {width: 95px !important;}
	.pic_list .prev { margin-right: 20px;}
	/*products_detail*/
}
@media screen and (max-width: 1525px){
	/*products_detail*/
	.pic_list .prev { margin-right: 10px;}
	/*products_detail*/
}
@media screen and (max-width: 1550px){
	/*他们的故事*/
	.margin_top {width: 300px;margin: 5em 0 0 5em;}
	.text p {margin: 1em 0 2em 0;}
	/*他们的故事*/
}
@media screen and (max-width: 1500px){
	/*products*/
	.products_figure .text_div {margin: 0 0 0 35em;padding: 2em 2em 4em 1em;}
	.products_figure .products_text p{margin: 1em 0 1em 0;}
	/*products*/
	/*products_detail*/
	.pic_list .pic_list_content {width: 380px;}
	.pic_list ul li {width: 100px !important;}
	.pic_list .prev { margin-right: 20px;}
	/*products_detail*/
}
@media screen and (max-width: 1360px){
	/*products*/
	.products_figure .text_div {margin: 0 0 0 30em;padding: 1em 1em 4em 1em;}
	/*products*/
	/*news*/
	.news .news_text title{font-size: 100px;margin: -30px 0 0 -3px;}
	.news .margin_text{margin: -65px 15px 0 5px;}
	/*news*/
}
@media screen and (max-width: 1300px){
	/*team*/
	.team_FAFAFA .article_div { margin: 10px 20px 0 20px;}
	.team_FAFAFA p{margin-top: 10px;}
	/*team*/
	/*cases*/
	.cases_div{margin-right: 55px;margin-bottom: 90px;}
	.cases_div .article_div{margin: 3em 2em 0 2em;}
	.cases_div p{margin-top: 15px;}
	/*cases*/
	/*products_detail*/
	.pic_zoom{height: 300px;}
	.pic_zoom img{height: 300px;}
	.products_detail_right p {margin: 20px 0 10px 0;}
	.products_detail_right a {width: 150px;padding: 10px 0 10px 0;}
	.pic_list .prev { margin-right: 10px;}
	/*products_detail*/
}
@media screen and (max-width: 1260px){
	/*products_detail*/
	.pic_list .pic_list_content {width: 330px;}
	.pic_list ul li {width: 75px !important;margin: 0 0 0 19px;}
	.pic_list .prev { margin-right: 10px;}
	/*products_detail*/
}
@media screen and (max-width: 1235px){
	/*products_detail*/
	.pic_list .pic_list_content {width: 273px;}
	/*products_detail*/
}
@media screen and (max-width: 1200px){
	/*about*/
	.about_left .panel-heading h2{font-size: 20px;}
	.about_left .panel-heading small{font-size: 13px;}
	.about_left .list_a{font-size: 15px;padding: 10px 0 10px 0;}
	.about_left .div_f6f6f6 .about_a::after{font-size: 15px;top: 0.9em;left: -3.9em;}
	/*about*/
	/*cases*/
	.cases_div .article_div {margin: 2em 2em 0 2em;}
	/*cases*/
	/*contact*/
	.contact_right ul li{padding: 60px 0 0 0;}
	.contact_right p {font-size: 16px;}
	.form_div { padding: 1em 1em 5em 1em;}
	.contact_right .glyphicon {font-size: 40px;}
	/*contact*/
	/*team*/
	.team .team_a::after {font-size: 25px;margin: -10px 0 0 0;}
	.about_left .list_a{font-size: 13px;}
	/*team*/
	/*products*/
	.products_figure .text_div {margin: 0 0 0 25em;padding: 1em 1em 2em 1em;}
	.products_figure .products_text h3{font-size: 20px;}
	.products_figure .products_text a{padding: 5px 0 5px 0;width: 100px;font-size: 13px;}
	/*products*/
}
@media screen and (max-width: 1199px){
	/*header*/
	.nav_ul_1 {margin: 20px 0 0 80px;}
	.nav_ul_2 {margin: 20px 80px 0 0;}
	/*header*/
	/*article*/
	.article h1{font-size: 40px;}
	.article .p{margin:15px 45px 15px 0;}
	.article .article_div{font-size: 16px;padding: 0 40px 0 40px;}
	/*article*/
	/*他们的故事*/
	.margin_top {width: 300px;margin: 2em 0 0 5em;}
	.text h3 {font-size: 40px;}
	/*他们的故事*/
}
@media screen and (max-width: 1130px){
	/*cases*/
	.cases_div .article_div {margin: 1em 2em 0 2em;}
	/*cases*/
}
@media screen and (max-width: 1050px){
	/*cases*/
	.cases .cases_a{margin-top: 20px;}
	/*cases*/
	/*products*/
	.products_figure .text_div {margin: 0 0 0 20em;padding: 0.8em 0.5em 1em 0.5em;}
	.products_figure .products_text p{font-size: 13px;line-height: 20px;}
	.products_figure .products_text h3{font-size: 20px;}
	.products_figure .products_text a{padding: 5px 0 5px 0;width: 100px;font-size: 13px;}
	/*products*/
}
@media screen and (max-width: 991px){
	/*header*/
	.nav_ul_1 {
	    margin: 20px 0 0 0px;
	}
	.nav_ul_2 {
	    margin: 20px 0px 0 0;
	}
	/*header*/
	/*article*/
	.article h1{font-size: 30px;}
	.article .p{font-size: 20px;margin:15px 43px 15px 0;}
	.article .article_div{font-size: 15px;padding: 0 30px 0 30px;}
	.md_2 {width: 33%;}
	/*article*/
	/*新闻*/
	.article_figure_top { padding: 0 0 0 0;}
	.article_news {margin: 1em 0 1em 0;}
	/*新闻*/
	/*footer_banner*/
	.figcaption_text h3{
		font-size: 30px;
	}
	.figcaption_text p{
		font-size: 15px;
	}
	/*footer_banner*/
	/*他们的故事*/
	.margin_top {
	    width: auto;
	    margin: 5em 0 0 5em;
	    padding: 0 5em 0 0;
	}
	/*他们的故事*/
	/*about*/
	.about_left {top: -2.4em;}
	.form_div{padding: 0em 1em 1em 1em;}
	.contact_right .glyphicon{ font-size: 35px;}
	.contact_right small{margin: -50px 0 10px 80px;}
	.contact_right ul li {padding: 35px 0 0 0;}
	.about_right {margin: 0 0 0 0;}
	/*about*/
	/*contact*/
	.div_right {margin: 0 0 0 0;}
	/*contact*/
	/*howstart*/
	.howstart_content {margin: 0 0 0 0;}
	/*howstart*/
	/*team*/
	.team_FAFAFA {margin: 0 0 30px 0;}
	.team_FAFAFA .article_div {margin: 30px 10px 0 10px;}
	/*.team_FAFAFA:last-child{margin: 0 0 0 0;}*/
	/*team*/
	/*cases*/
	.cases .list_box_shadow {border-radius: 20px;}
	.cases_div figure {border-radius: 20px;}
	.cases_div{margin-right: 0;margin-bottom: 50px;}
	.cases .cases_a {margin-bottom: 20px;}
	.cases_div p{margin-top: 15px;line-height: 20px;}
	.cases .cases_a{font-size: 15px;width: 110px;padding: 5px 0 5px 0;}
	/*cases*/
	/*products*/
	.products_figure .products_text{position: inherit;border-radius: 15px;}
	.products_figure .text_div{background: #fff;margin: 0 0 0 0;padding: 10px 10px 10px 10px;}
	.products_figure .products_text h3{color: #333;}
	.products_figure .products_text p{font-size: 13px;color: #666;}
	.products_figure .products_text a{border: 1px solid #ec3c59;}
	.products_figure .products_text a:hover{border: 1px solid #ec3c59;color: #666;}
	.products_figure img {border-radius: 15px;}
	.products_figure {margin: 0 0 3em 0;}
	/*.products_figure .text_div {margin: 0 0 0 0;padding: 1em 2em 8em 2em;background: rgba(0, 0, 0, 0.22);}*/
	/*products*/
	/*products_list*/
	.products_div {margin: 0 0 0 0;}
	/*products_list*/
	/*products_detail*/
	.products_detail_contact {margin: 0 0 0 0;}
	.products_detail_right a{padding: 5px 0 5px 0;width: 120px;}
	/*products_detail*/
	/*news*/
	.news .news_text title {font-size: 85px;}
	.news .news_div_right{margin: 0 0 30px 0;}
	.news .news_text a {margin-bottom: 15px;display: block;}
	.news .margin_text {margin: -65px 10px 0 10px;}
	.news .news_text title {margin: -28px 0 0 -3px;}
	/*news*/
}
@media screen and (max-width: 767px){
	/*header*/
	.header{display: none;}
    .header_small{ display: block;background: rgb(255, 255, 255);}
    .header_small_logo{margin: 0 0 0 0;height: 25px;}
    .header_small_logo img{width: 30%; margin: 10px 0 0 0}
    .figure_img {margin-top: 69px;}
    /*header*/
    /*banner*/
	.swiper-container{margin-top: 68px;}
	/*banner*/
    /*article*/
	.article h1{font-size: 34px;font-weight: 800;}
	.article .p{font-size: 18px;margin:15px 0 15px 0;}
	.article .article_div{font-size: 15px;padding: 0 0 0 0;}
	.md_2 {width: 33%;}
	.article_icon figcaption{font-size: 25px;}
	.article_icon img{width: 100px;}
	/*article*/
	/*cases*/
	.cases .list_box_shadow {border-radius: 10px;}
	.cases_div figure {border-radius: 10px;}
	.cases .cases_a{padding: 5px 0 5px 0;width: 100px;font-size: 15px;margin:5px 0 0 0;}
	.cases_div .article_div { margin: 0 0 0 10px;}
	.cases_div h2 a{font-size: 20px;}
	.cases_div p {margin:10px 0 0 0;}
	/*cases*/
	/*news*/
	.news .margin_text {margin: -20px 10px 0 10px;}
	/*news*/
	/*footer_banner*/
	.figcaption_text{margin: -111px 0 0 0;}
	.figcaption_text h3 {padding: 15px 0 0 0;}
	.figcaption_text h3 a{font-size: 25px;}
	.figcaption_text p{ margin-top: 20px; margin-bottom: 20px;}
	/*footer_banner*/
}
@media screen and (max-width: 720px){
	/*team*/
	.team_FAFAFA .article_div {margin: 10px 10px 0 10px;}
	/*team*/
}
@media screen and (max-width: 600px){
	/*header*/
	.header_small_logo img{width: 43%; margin: 0 0 0 0}
	/*header*/
	/*article*/
	.article h1{font-size: 25px;}
	.article .article_div{font-size: 13px;}
	/*article*/
	/*products*/
	/*.products_figure .products_text a {padding: 2px 0 2px 0;width: 80px;font-size: 12px;}
	.products_figure {margin: 0 0 2em 0;}
	.products_figure .products_text h3 {font-size: 18px;}
	.products_figure .products_text p {font-size: 12px;line-height: 16px;margin: 5px 0 5px 0;}
	.products_figure .text_div {padding: 20px 10px 38px 10px;}
	.products_figure .products_text{border-radius: 15px;}
	.products_figure img {border-radius: 15px;}*/
	/*products*/
	/*cases*/
	.cases_div p {display: none;}
	.cases_div h2 a{font-size: 20px;margin: 15px 0 0 0;}
	.cases .cases_a{margin: 20px 0 0 0 ;}
	/*cases*/
	/*team*/
	.team_FAFAFA .article_div { margin: 0 10px 0 10px;}
	.team_FAFAFA p{
		margin-top: 3px;
    	line-height: 15px;
		display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 2;
	    overflow: hidden;
	}
	/*team*/
}
@media screen and (max-width: 570px){
	/*footer_banner*/
	.figcaption_text { margin: -113px 0 0 0;}
	/*footer_banner*/
}
@media screen and (max-width: 541px){
	/*footer_banner*/
	.figcaption_text { margin: -135px 0 0 0;}
	.figcaption_text p {padding: 0 50px 0 20px;}
	/*footer_banner*/
}
@media screen and (max-width: 500px){
	/*header*/
	.header_small_logo{margin: 0 0 0 10px;}
	.header_small_logo img {width: 40%;margin: 10px 0 0 0;}
	/*header*/
	/*article*/
	.article_icon figcaption{font-size: 20px;}
	.article_icon img{width: 80px;}
	/*article*/
	/*products_list*/
	.products_div .thumbnail .caption a {font-size: 15px;}
	/*products_list*/
	/*contact*/
	.contact_right .glyphicon {font-size: 25px;}
	.contact_right small {margin: -50px 0 10px 50px;}
	.contact_right p {font-size: 15px;margin: 0 0 0 50px;}
	/*contact*/
}
@media screen and (max-width: 530px){
	/*他们的故事*/
	.margin_top {margin: 15px 0 0 0; padding: 0 30px 0 30px;}
	.text h3 {font-size: 30px;}
	.text p {font-size: 16px; margin: 5px 0 5px 0;}
	.text a {font-size: 15px;width: 120px;padding: 5px 20px 5px 20px;}
	/*他们的故事*/
}
@media screen and (max-width: 480px){
	/*products*/
	/*.products_figure .products_text h3 {font-size: 20px;}
	.products_figure .products_text p {display: none;}
	.products_figure .text_div {text-align: center;padding: 15px 10px 43px 10px;}
	.products_figure .products_text a{margin: 10px 0 0 0;}*/
	/*products*/
	/*cases*/
	.cases .cases_a{font-size: 12px;}
	.cases_div h2 a{font-size: 13px;margin: 0 0 0 0;}
	/*cases*/
	/*news*/
	/*.news .news_text title {font-size: 70px;margin: -20px 0 0 -3px;}
	.news .margin_text{margin: -30px 15px 0 5px;}
	.news .news_text p{line-height: 18px;
	.news .news_div_right{margin: 0 -15px 30px -15px;}*/
	/*news*/
}
@media screen and (max-width: 400px){
	/*header*/
	.header_small_logo img {
		width: 48%;
	    margin: 10px 0 0 0;
	}
	/*header*/
	/*他们的故事*/
	.margin_top {
	    margin: 1em 0 0 25px;
	    padding: 0 3em 0 0;
	}
	.text h3 {
	    font-size: 20px;
	}
	.text p {font-size: 15px;}
	/*他们的故事*/
}
@media screen and (max-width: 380px){
	/*article*/
	.article h1 {font-size: 20px;}
	.article .p{ font-size: 15px;}
	.article_icon figcaption{font-size: 15px;line-height: 40px;}
	.article_icon img{width: 50px;}
	/*article*/
}
@media screen and (max-width: 360px){
	/*header*/
	.header_small_logo img {width: 50%;margin: 15px 0 0 0;}
	/*header*/
	/*team*/
	.team_FAFAFA h2 a{margin: 10px 0 10px 0;display: block;}
	.team_FAFAFA span{font-size: 13px;}
	.team_FAFAFA p{display: none;}
	/*team*/
}
@media screen and (max-width: 340px){

}
@media screen and (max-width: 320px){
	
}





