<!doctype html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>微信菜单管理</title>
	<link href="/sncss/css/style.css" rel="stylesheet" type="text/css" />
	
</head>
<body>
   <div class="container-fluid">
            <div id="pad-wrapper" class="new-user">
                <div class="row-fluid header">
                    <h4>微信管理&nbsp;>&nbsp菜单管理</h4>
                </div>
                <table class="tablelist">
                 <thead >
                    <tr>
						<th style="display: none"style="border:2px solid #ddd">PID</th>
                        <th>ID</th>
                        <th >名称</th>
                        <th >类型</th>
                        <th >链接</th>
                        <th >点击事件key</th>
						<th  >
							 <span class="line"></span>操作
						 </th>
                    </tr>
                    </thead>
			
                    <tbody >
                    <volist name="menu" id="menu">
                        <tr>
							<td style="display: none">{$menu.pid}</td>
                            <td parent="{$menu.pid}">{$menu.menu_id}</td>
                            <td  class="">{$menu.menu_name}</td>
                            <td>{$menu.menu_type}</td>
                            <td >{$menu.view_url}</td>
                            <td>{$menu.event_key}</td>
                            <td >
                            <a href="{:U('Index/medit',array('id'=>$menu['menu_id']))}"class="btn btn-success btn-xs">修改</a>&nbsp 
                            <a class="btn btn-danger btn-xs" href="{:U('Index/delmenu',array('id'=>$menu['menu_id']))}" onclick="return confirm('你确定要删除吗？')">删除</a>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
                <div class="table table-hover" style="margin:0 15px;">
                    <span style="font-size: 16px;color: red;">一级菜单最多为三个，二级菜单最多为五个</span>
                </div>
                <div class="table table-hover" style="margin:0 15px;">
                    <span style="font-size: 16px;color: red;">如新增修改自定义菜单后,请点击下面的生成按钮重新生成，生成24小时后生效</span>
                   <div style="margin:15px 0;">  <a href="{:U('Index/creatmenu')}" class="btn btn-danger btn-sm">重新生成菜单</a>
                    <a href="{:U('Index/medit')}" class="btn btn-success btn-sm" >添加菜单</a>
					</div>
                </div>
            </div>
        </div>
	<!-- scripts -->
    <script src="__PUBLIC__/sncsc/js/jquery-latest.js"></script>
    <script src="__PUBLIC__/sncsc/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/sncsc/js/theme.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			var eqli = $("#dashboard-menu").children().eq(9);
			eqli.attr('class','active');
			$("#dashboard-menu .active .submenu").css("display","block");
		});
	 </script>	
	<script type="text/javascript">
        $(function () {
            var $buttons = $(".toggle-inputs button");
            var $form = $("form.new_user_form");
            $buttons.click(function () {
                var mode = $(this).data("input");
                $buttons.removeClass("active");
                $(this).addClass("active");

                if (mode === "inline") {
                    $form.addClass("inline-input");
                } else {
                    $form.removeClass("inline-input");
                }
            });
        });
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>
</body>
</html>