/********* 所有页面都要共用的样式 **********/
@import url("font-awesome.4.7.0.css");
/*自定义基础通用样式*/
@charset 'UTF-8';
body {
    background:#fff;
    font-family: "Microsoft YaHei","Segoe UI","Lucida Grande",Helvetica,Arial,FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3","FontAwesome",sans-serif;
}
body {
    height:auto;
    min-height:100%;
    /*overflow-x:hidden;*/
    word-wrap:break-word;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight:300;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small {
    font-weight:300;
}
ol,ul {
    outline:none;
    list-style:none;
}
a:visited {
    text-decoration:none;
}
a:focus {
    outline:none;
    text-decoration:none;
}
a:hover {
    text-decoration:none;
}
.word-omit {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.word-omits {
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
}
.ulstyle {
    padding:0px;
    list-style: none;
}
/*所有按钮加渐变动画*/
.btn,.swiper-button-prev,.swiper-button-next {
    -webkit-transition:all 0.225s ease-in-out;
    -moz-transition:all 0.225s ease-in-out;
    -o-transition:all 0.225s ease-in-out;
    transition: all 0.225s ease-in-out;
}
/*所有按钮加渐变动画*/
/*幽灵按钮*/
.btn-outline-inverse {
    color:#fff;
    background:transparent;
    border-color:#fff;
}
.btn-outline-inverse:hover {
    color:#0ba1e4;
    text-shadow:none;
    background-color:#fff;
}
.btn-outline-blue {
    color:#0ba1e4;
    background:transparent;
    border-color:#0ba1e4;
}
.btn-outline-blue:hover {
    color:#fff;
    text-shadow:none;
    background-color: #0ba1e4;
}
/*幽灵按钮*/
/*标题下方的短下划线*/
.line {
    border-top:1px solid #0ba1e4;
    width:30px;
}
.line-big {
    margin:30px auto 26px;
    border-width:2px;
    width: 80px;
}
/*标题下方的短下划线*/
/*复写引用样式*/
blockquote {
    padding-right:0;
    padding-bottom:0;
    background:#f9f9f9;
    color:#919191;
    font-size:14px;
    background-image:url(../images/quote-left.png);
    background-position:top left;
    background-repeat:no-repeat;
    text-indent:2em;
}
blockquote .quote-content {
    padding-right:20px;
    padding-bottom:10px;
    background-image:url(../images/quote-right.png);
    background-position:bottom right;
    background-repeat: no-repeat;
}
/*复写引用样式*/
/*自定义基础通用样式 */
/*所有页面共享的样式如导航,页脚等 */
/*全部-导航条样式复写*/
.top_nav {
    background:#fff;
    z-index:999999;
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-name:fadeInDown;
    animation-name:fadeInDown;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0);
    }
    100% {
        opacity:1;
        -webkit-transform:none;
        transform:none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0);
    }
    100% {
        opacity:1;
        -webkit-transform:none;
        transform:none;
    }
}
#header {
    background:#fff;
    margin-bottom:0;
    padding:0 15px;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:1030;
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
}
#header::before {
    content:"";
    width:100%;
    height:1px;
    background:#ccc;
    margin:0px auto;
    position:absolute;
    left:0;
    right:0;
    top:100px;
    z-index:999;
}
.navbar-collapse {
    margin: 0px auto 0;
}
#header .navbar-default {
    border:0;
    margin-bottom:0;
    z-index:99;
    background-color:#fff;
}
#header .navbar-default .navbar-nav>li>a {
    font-size:18px;
    height:100%;
    text-transform:Uppercase;
    font-weight:bold;
    
}
#header .navbar-default .navbar-nav>li {
   /* margin-right:100px*/
    margin: 0 60px;
    float: none;
    height: auto;
    display: inline-block;
    padding: 0px;
}
#header .navbar-default .navbar-nav>li.join-ico {
    margin:0;
}
#header .navbar-default .navbar-nav>li.join-ico a span {
    font-size:18px;
    font-weight:bold
}
#header .navbar-default .navbar-nav>li>a span,#header .navbar-default .navbar-nav>li.join-ico a span span {
    font-size:12px;
    font-weight:normal;
}
#header .navbar-default .navbar-nav>li>a:hover,#header .navbar-default .navbar-nav>li.current>a {
    /*color:#fff;*/
}
#header .container-fluid {
    padding:0;
}
#header .navbar-header-box {
    padding:7px 0;
    /*border-bottom:1px solid #ccc*/
}
#header .navber-header-right {
    float:right;
    margin-top:20px
}
#header .navber-header-right .form-box {
    border:2px solid #01aaaf;
    width:213px;
    height:45px;
    padding:1px;
    float:left;
}
#header .navber-header-right .form-box img {
    vertical-align:text-bottom;
}
#header .navber-header-right input {
    border:0;
    width:80%;
    height:100%;
    padding-left:20px;
    outline:medium;
}
#header .navber-header-right .contact-phone {
    float:left;
    margin-left:10px;
    line-height:45px;
}
#header .navber-header-right .contact-phone span {
    vertical-align:top;
    color:#888;
    font-size:14px;
}
#header .navber-header-right .contact-phone b {
    font-family:Impact;
    font-size:33px;
    color:#01aaaf;
}
#header .navbar-default .navbar-nav>.active>a,#header .navbar-default .navbar-nav>li:hover a,#header .navbar-default .navbar-nav>.active>a:focus {
    color:#01aaaf;
    background-color:rgba(255,255,255,0);
}
#header .navbar-default .navbar-toggle .icon-bar {
    background-color:none;
}
#header .navbar-default .navbar-nav>li .line-top {
    border-top:1px solid #0ba1e4;
    width:18px;
    margin:auto;
}
#header .collapse.navbar-collapse .navbar-nav {
    position:relative;
    float:none;
    margin: 10px auto 0;
    padding-top: 15px;
}
#header .navbar-default .navbar-nav>li.join-ico {
    float:right;
}
.navbar-nav>li.join-ico a img {
    vertical-align:text-bottom;
}
#header .header-left {
    position:absolute;
    top:-60px;
    left:0;
    z-index:1010;
}
.carousel.slider_brand {
    margin:170px auto 0;
}
.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction {
    left:0;
    width: 100%;
}
/*重写导航下拉*/
#user_defined4,#user_defined4 .banner,#user_defined4 .banner .slides,#user_defined4 .banner .slides .slide,#user_defined4 .banner .slides .slide a {
    display:block;
    width:100%;
    height:723px;
    margin:0 auto;
    position:relative;
}
.rel {
    position:relative;
}
.user_defined .bodyContContent {
    overflow:visible;
    padding:0;
    width:100%;
}
.bodyCont {
    background:none repeat scroll 0 0 transparent;
    border-color:#AECDEC;
    border-style:solid;
}
.user_defined {
    border:none;
    margin-bottom:0;
    width:100%;
}
.bodyContTitle {
    display:none;
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    background:none;
    text-align:center;
}
.bodyContTitle .b {
    display:block;
    width:100%;
    height:32px;
    line-height:32px;
    color:#444;
    font-size:26px;
    font-weight:normal;
    float:none;
}
#slide-nav {
    display:none;
    position:absolute;
    z-index:998;
    width:100%;
    padding:0px 0 25px 0;
    background:#fff;
    top: -10px;
    /*text-align: center;*/
}
#slide-nav .cont-in {
    width:100%;
    margin:0 auto;
    border:1px solid #e5e5e5;
    border-right:0 none;
    font-size:0;
}
#slide-nav .cont-txt {
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    width:14.25% !important;
    height:274px;
    overflow:hidden;
    padding:10px 22px;
    border-right:1px solid #e5e5e5;
    background:url(../picture/e89b777b-5c8e-4376-a42d-b07a18ce160d.png) right bottom no-repeat;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#slide-nav .cont-txt ul {
    padding:0;
}
#slide-nav .cont-txt li {
    height:24px;
    line-height:24px;
    overflow:hidden;
    margin-left: 30px;
}
#slide-nav .cont-txt li a {
    color:#676767;
    font-size:12px;
    line-height:24px;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
    transition:0.5s;
}
#slide-nav .cont-txt li a:hover {
    color:#33ae82;
}
#slide-nav .cont-txt1 {
    width:130px;
    padding:15px 10px;
    background:none;
}
#slide-nav .cont-txt1 img {
    float:left;
    width:100%;
    margin-bottom:12px;
}
#slide-nav .cont-txt6 {
    width:162px;
}
#slide-nav .cont-txt7 {
    width:185px;
    padding:15px 5px;
    background:none;
}
#slide-nav .cont-txt7 img {
    width:100%;
}
.b-mask #content {
    display:block;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    z-index:999;
    transition:all 0.5s;
}
#nav-slide {
    width:75%;
    height:100%;
    position:fixed;
    top:0;
    left:-100%;
    background:#fff;
    opacity:1;
    z-index:1000;
    box-shadow:1px 0 1px 0 rgba(0,0,0,0.2) inset;
    transition:all 0.5s;
}
#nav-slide.show {
    left:0;
    opacity:1;
}
/*#nav-slide .cont-in {
    height:100%;
    font-size:0;
}*/
#nav-slide .close {
    display:inline-block;
    vertical-align:top;
    width:4rem;
    height:100%;
    background:#eee;
    float:left;
    opacity:1;
}
#nav-slide .close span {
    display:block;
    width:4rem;
    height:4rem;
    background:#184e40;
    opacity:1;
}
#nav-slide .close span img {
    display:block;
    width:100%;
    padding:17%;
}
#nav-slide .cont {
    display:inline-block;
    vertical-align:top;
    width:19.2rem;
    height:100%;
    background:#fcfcfc;
    overflow:auto;
    box-sizing:border-box;
}
#nav-slide .cont .top-ul {
    width:100%;
    line-height:2rem;
    border-bottom:2px solid #ddd;
    box-sizing:border-box;
    padding-left:1.2rem;
}
#nav-slide .cont .top-ul p {
    font-size:0;
    margin-top:10px;
}
#nav-slide .cont .top-ul p a {
    display:inline-block;
    vertical-align:top;
    width:14rem;
    color:#000;
    font-size:1.4rem;
}
#nav-slide .cont .top-ul p em {
    display:inline-block;
    vertical-align:top;
    width:2rem;
    height:2rem;
    text-align:center;
    transition:all 0.5s;
}
#nav-slide .cont .top-ul0 p em,#nav-slide .cont .top-ul6 p em {
    display:none;
}
#nav-slide .cont .top-ul p em.change {
    transform:rotate(90deg);
}
#nav-slide .cont .top-ul p em img {
    width:50%;
    vertical-align:middle;
}
#nav-slide .cont .sub-ul {
    display:none;
    background:#fff;
}
#nav-slide .cont .sub-ul li {
    border-top:1px solid #ddd;
    padding-left:1rem;
    text-indent:1em;
}
#nav-slide .cont .sub-ul li a {
    display:block;
    height:auto;
    padding:0.8rem;
    font-size:1.2rem;
}
#nav-slide .cont .sub-ul {
    display:none;
    background:#fff;
    padding-left:0
}
.headerMenuLi {
    cursor:pointer;
    height:20px;
    padding-top:8px;
    cursor:auto;
    white-space:nowrap;
}
.mainTextColor,.topicLink {
    color: #000;
}
/*全屏搜索*/
#search {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    opacity:0;
    transition:all 0.5s;
    display:none;
}
#search.show {
    z-index:1000;
    opacity:1;
    display:block;
}
#search .search-area {
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.8);
}
#search .search-cont {
    width:25.6rem;
    height:3.6rem;
    line-height:3.6rem;
    background:#fff;
    border-radius:5px;
    font-size:0;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-1.8rem;
    margin-left:-12.8rem;
    z-index:7;
}
#search .search-cont .search-btn2 {
    display:inline-block;
    vertical-align:middle;
    width:3.6rem;
    height:3.6rem;
}
#search .search-cont .search-btn2 img {
    display:block;
    width:100%;
    padding:25%;
}
#search .search-cont .search-txt {
    display:inline-block;
    vertical-align:middle;
    width:22rem;
    height:3.6rem;
    border:0 none;
    outline:none;
    background:none;
    font-size:1rem;
    color:#333;
}
#search .search-cont .close2 {
    background:#4e4e4e;
    display:block;
    width:2rem;
    height:2rem;
    position:absolute;
    top:-1rem;
    right:-1rem;
    border-radius:50%;
}
#search .search-cont .close2 img {
    display:block;
    width:100%;
    padding: 25%;
}
/*全部-导航条样式复写*/
#copyright {
    background-color:#282828;
}
#copyright p {
    text-align:center;
    margin:10px;
    line-height:40px;
    color:#909090;
}
#copyright p a {
    color:#909090;
}
#copyright p a:hover {
    text-decoration: none;
}
/*全部-页脚footer*/
#footer {
    padding-bottom:2%
}
#footer .footer-border {
    width:100%;
    height:10px;
    background:url(../picture/body-bg2.png) top center #01abb0
}
#footer .footer-top {
    margin-top:2%;
}
#footer .footer-top .footer-phone {
    margin-top:1%
}
#footer .footer-top .copyright {
    margin-top:8%;
    color:#888;
    font-size:12px;
}
#footer .footer-top .footer-phone span,#footer .footer-top .footer-phone2 span {
    color:#333;
    font-size:14px;
}
#footer .footer-top .footer-phone b {
    font-size:24px;
    color:#01aaaf
}
#footer .footer-form h4 {
    color:#01abb0;
    font-size:22px;
}
#footer .footer-form .form-name,#footer .footer-form .form-tel {
    width:49.33%;
    height:46px;
}
#footer .footer-form .form-group input {
    width:100%;
    border-radius:0;
    height:100%;
}
#footer .footer-form .form-content {
    margin:2% 0
}
#footer .footer-form .form-content textarea {
    width:100%
}
#footer .footer-form .submit-btn {
    width:100%;
    background:#01abb0;
    color:#fff;
    border-radius:0;
    height: 46px;
}
/*全部-移动端页脚*/
#mob-bottom {
    width:100%;
    /*max-height:64px;*/
    text-align:center;
    z-index:1000;
    background-color:rgba(255,255,255,0.9);
    position:fixed;
    bottom:0;
    border-top:2px solid #0ba1e4;
    box-shadow:0 2px 4px rgba(0,0,0,0.1);
}
#mob-bottom .mob-bottom-item a {
    display:block;
    padding-top:5px;
    padding-bottom:2px;
    color:#616161;
    text-align:center;
    line-height:1.5em;
    font-size:12px;
}
#mob-bottom .mob-bottom-item a:hover {
    text-decoration:none;
}
#mob-bottom .mob-bottom-item a img {
    max-width: 28px;
}
/*全部-移动端页脚*/
/*全部-回到顶部*/
#clan-slider {
    position:fixed;
    _position:absolute;
    bottom:30%;
    right:.1%;
    z-index:1000;
}
#clan-slider ul {
    margin:0;
    padding:0;
    margin-top:-2px;
    list-style:none;
}
#clan-slider ul li {
    display:block;
    margin:0;
    padding:0;
    margin-top:2px;
    position:relative;
}
#clan-slider ul li a {
    display:block;
    overflow:hidden;
    width:48px;
    height:48px;
    border:1px solid #0ba1e4;
    background-color:#f5f5f5;
    background-image:url(../images/clan-slider.png);
    background-repeat:no-repeat;
}
#slider-chat {
    background-position:0 -92px;
}
#slider-chat:hover {
    background-position:-46px -92px;
    background-color:#0ba1e4;
}
#slider-qq {
    background-position:0 -138px;
}
#slider-qq:hover {
    background-position:-46px -138px;
    background-color:#0ba1e4;
}
#slider-phone {
    background-position:0 -184px;
}
#slider-phone:hover {
    background-position:-46px -184px;
    background-color:#0ba1e4;
}
#slider-wechat {
    background-position:0 -230px;
}
#slider-wechat:hover {
    background-position:-46px -230px;
    background-color:#0ba1e4;
}
#slider-goTop {
    background-position:0 0;
}
#slider-goTop:hover {
    background-position:-46px 0;
    background-color:#0ba1e4;
}
#clan-slider #slider-menu {
    background-position:0 -46px;
    background-color:rgba(255,255,255,0.7);
    border-color:rgba(255,255,255,0.7);
}
#clan-slider #slider-menu:hover {
    background-position:-46px -46px;
}
#clan-slider .clan-slider-tips {
    position:absolute;
    top:0px;
    right:48px;
    display:none;
    height:48px;
    padding-left:10px;
    padding-right:2px;
    white-space:nowrap;
    border:1px solid #0ba1e4;
    background-color:#0ba1e4;
    text-align:center;
    line-height:48px;
    font-size:18px;
    color:#fff;
}
#clan-slider .clan-slider-tips-wechat {
    display:none;
    position:absolute;
    background-color:#0ba1e4;
    padding:1px;
    bottom:0;
    right:50px;
}
#clan-slider .clan-slider-tips-wechat img {
    width:106px;
    height: 106px;
}
/*全部-回到顶部*/
/********** 所有页面都要共用的样式 **********/
/*重写的样式*/
.header {
    overflow:hidden;
}
.navbar-brand {
    height:85px;
}
.navbar-default .navbar-nav>li>a {
    color:#303030;
}
.swiper-banner-container .swiper-pagination-bullet {
    width:15px;
    height:15px;
    border:1px solid #01aaaf;
    background:#fff;
    opacity:1
}
.swiper-banner-container .swiper-pagination-bullet-active {
    background:#01aaaf
}
.swiper-banner-container .item a div {
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding-top: 36.45%;
}
/********** 首页单独的样式 **********/
.swiper-banner-container {
    position:relative;
    width:100%;
    overflow:hidden;
}
.swiper-banner-container .swiper-wrapper>.item>a>img,.swiper-banner-container .swiper-wrapper>.item>img,.img-responsive,.thumbnail a>img,.thumbnail>img {
    display:block;
    max-width:100%;
    height:auto;
    margin: 0 auto;
}
/*通用标题字体*/
.p-font {
    font-size:48px;
    color:#000;
}
.inline-block {
    display:inline-block;
}
.block {
    display: block;
}
/*s 首页样式开始*/
.announcement {
    height:55px;
    background:#eeeeee;
    line-height:55px;
}
.announcement .ann-box {
    height:55px;
    overflow:hidden;
}
.announcement .ann-box span {
    margin-left:15px;
}
.announcement .ann-box strong {
    color:#666;
    font-weight:normal
}
.announcement .ann-box .marquee_text strong a{float: left;}
.announcement .ann-box a {
    float:right;
    color:#01aaaf;
}
.marquee_text {
    margin:auto;
    width:80%;
    height:35px;
}
.announcement_title {
    margin:0 auto;
    overflow:hidden;
}
.announcement_text {
    padding-left:20px;
    font-size:12px;
    color:#000;
    display:inline-block;
    white-space:nowrap;
    animation:10s wordsLoop linear infinite normal;
}
@keyframes wordsLoop {
    0% {
        transform:translateX(200px);
        -webkit-transform:translateX(200px);
    }
    100% {
        transform:translateX(-100%);
        -webkit-transform:translateX(-100%);
    }
}
@-webkit-keyframes wordsLoop {
    0% {
        transform:translateX(200px);
        -webkit-transform:translateX(200px);
    }
    100% {
        transform:translateX(-100%);
        -webkit-transform:translateX(-100%);
    }
}
.announcement_up {
    position:relative;
    margin:0px auto;
    overflow:hidden;
}
.announcement_up_text {
    position:absolute;
    left:0;
    top:0;
    margin:0px auto;
    padding:0;
    -webkit-animation:8s up_txt infinite linear;
}
@-webkit-keyframes up_txt {
    0% {
        left:0;
    }
    100% {
        left:-500px;
    }
}
.announcement_up_text:hover {
    -webkit-animation-play-state:paused;
}
.model-title {
    border-bottom:1px solid #ccc;
    position:relative;
    margin-top:76px;
    padding-bottom:10px;
    font-size:28px;
}
.model-title b {
    color:#01aaaf
}
.model-title h3 {
    font-weight: bold;
}
.index-line {
    width:114px;
    height:5px;
    background:#01aaaf;
    /*position:absolute;left:45%;bottom:-2px;*/
    margin:0 auto -13px;
}
.model-title-en {
    margin-bottom:58px;
    margin-top:18px;
    font-size:18px;
    color:#666;
    text-transform:Uppercase;
}
.index-product {
    padding-bottom:50px;
    background:url(../picture/body-bg.jpg) top center;
}
.index-product .index-product-show li {
    width:20%;
    float:left;
    text-align:center;
    padding:33px 0;
}
.index-product .index-product-show li.bgcc {
    background:#a3a3a5;
}
.index-product .index-product-show li.bgcc2 {
    background:url(../picture/body-bg2.png) top center #4cc3c7;
}
.index-product .index-product-show li span {
    color:#fff;
    font-size:16px;
    margin-top:13px;
    display:inline-block;
}
.index-brand {
    padding-bottom:58px;
    background:url(../picture/index-brand-bg.jpg) no-repeat top center;
}
.index-brand ul li {
    position:relative;
    height:220px;
    padding:0;
}
.index-brand .index-brand-item {
    height:100%;
    padding:5%;
    background:#f5f5f5;
    transition:0.6s;
}
.index-brand ul li h4 {
    font-weight:bold;
    color:#01aaaf;
    font-size:18px;
    margin:0;
}
.index-brand ul li i {
    display:inline-block;
    width:50px;
    height:3px;
    background:#01aaaf;
}
.index-brand ul li p {
    font-size:14px;
    color:#666;
    margin-top:5px;
    line-height:25px
}
.index-brand ul li .index-brand-item:after {
    content:'';
    height:0;
    width:0;
    overflow:hidden;
    font-size:0;
    line-height:0;
    border-color:transparent transparent transparent #f5f5f5;
    border-style:dashed dashed dashed solid;
    border-width:15px;
    position:absolute;
    top:45%;
    right:-10%;
    z-index:10
}
.index-brand ul li .index-brand-item2:after {
    left:-10%;
    border-color:transparent #f5f5f5 transparent transparent;
}
.index-brand ul li .index-brand-item:hover {
    cursor:pointer;
    background:#01aaaf;
}
.index-brand ul li .index-brand-item:hover h4,.index-brand ul li .index-brand-item:hover i,.index-brand ul li .index-brand-item:hover p {
    color:#fff;
}
.index-brand ul li .index-brand-item:hover:after {
    border-color:transparent transparent transparent #01aaaf;
}
.index-brand ul li .index-brand-item2:hover:after {
    border-color:transparent #01aaaf transparent transparent;
}
.index-brand ul li img {
    display:block;
    max-width:100%;
    height:100%;
    width:100%;
}
.no-padd {
    padding:0 !important;
    height:100%;
}
.z10 {
    z-index:10
}
.index-product ul li:hover img {
    animation:anima 1.5s infinite linear;
}
@keyframes anima {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}
@-moz-keyframes anima {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}
@-webkit-keyframes anima {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}
@-o-keyframes anima {
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}
.index-shop {
    padding-bottom:115px;
    background:url(../picture/body-bg.jpg) top center;
}
.index-shop .swiper-shop-container .swiper-slide {
    padding: 0;
}
.index-shop .swiper-shop-container .swiper-slide .item-bg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    opacity:0;
    border-radius:5px;
    cursor:pointer;
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    /* Firefox 4 */
    -webkit-transition:all 0.3s;
    /* Safari and Chrome */
    -o-transition:all 0.3s;
    /* Opera */
}
.index-shop .swiper-shop-container .swiper-slide .item-bg img {
    position:absolute;
    top:45%;
    left:45%;
}
.index-shop .swiper-shop-container .swiper-slide .item-img {
    width:100%;
    height:100%;
    border-radius:5px;
}
.index-shop .swiper-shop-container .swiper-slide:hover .item-bg {
    opacity:1;
}
.index-shop .swiper-button-prev {
    background:#aeaeae;
    width:60px;
    height:60px;
    background-size:auto;
    left:0;
    border-radius:50%;
    text-align:center;
    line-height:60px;
    font-size:25px;
    color:#fff;
}
.index-shop .swiper-button-next {
    background:#aeaeae;
    width:60px;
    height:60px;
    background-size:auto;
    right:0;
    border-radius:50%;
    text-align:center;
    line-height:60px;
    font-size:25px;
    color:#fff;
}
.index-shop .swiper-button-next:hover,.index-shop .swiper-button-prev:hover {
    background:#01aaaf;
}
.container-s {
    width:100%;
    margin:0 auto;
    overflow:hidden;
}
.swiper-nav {
    position:relative;
    top: 90px;
}
/*e 首页样式开始 */
/*s 品牌*/
.cate {
    background:url(../picture/body-bg.jpg) top center;
    min-height:1000px;
    height:100%;
}
.company-banner .item a div {
    width:100%;
    height:100%;
    background-size:cover;
    padding-top:21.92%;
    background-position:50% 50%;
}
.cate-top {
    border-bottom:1px solid #ddd;
    text-align:center;
    padding:3% 0 1% 0;
}
.cate-top>h2 {
    font-size:42px;
    color:#01aaaf;
    font-weight:800
}
.cate-top>span {
    font-size:18px;
    color:#666;
    text-transform:uppercase;
    position:relative
}
.cate-top span:after {
    /*content:'';width:114px;height:5px;background:#01aaaf;position:absolute;left:-10%;bottom:-82%;z-index:10*/
}
#border-center {
    width:114px;
    height:5px;
    background:#01aaaf;
    margin:-3px auto;
    position:relative;
    z-index:12;
}
.cate-left {
    padding-top:20px
}
.cate-left>h3 {
    font-size:28px;
    color:#01aaaf;
    font-weight:bold;
    margin-bottom:5px;
}
.cate-left>span {
    font-size:14px;
    color:#666;
    text-transform:uppercase;
}
.cate-left .row>ul {
    padding-left:0;
    margin:10px 0;
}
.cate-left .row>ul>li {
    margin:16px 0;
    padding-left:10px;
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
    text-align:left;
}
a {
    transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
.cate-left .row>ul>li.current,.cate-left .row>ul>li:hover {
    border-left:2px solid #01aaaf;
}
.cate-left .row>ul>li>a {
    font-size:14px;
    color:#666;
    font-weight:bold;
    display:block
}
.cate-left .row>ul>li.current a,.cate-left .row>ul>li:hover a {
    color:#01aaaf;
}
.cate-left>div {
    margin-left:0;
}
.cate-right {
    border-left:1px solid #ddd;
    padding:15px 0px 10% 30px;
    min-height:1000px;
    height:100%
}
.cate-right .join_img{}
.cate-right .cate-right-top {
    margin-bottom:1rem;
}
.cate-right .cate-right-top>h3 {
    font-size:28px;
    color:#01aaaf;
    font-weight:bold;
    margin-bottom:0.6rem;
}
.cate-right .cate-right-top>span {
    font-size:18px;
    color:#666;
    text-transform:uppercase;
}
.cate-right .cate-right-dec p strong {
    color:#01aaaf;
    font-size:18px;
    margin:5px 0;
}
.cate-right .cate-right-dec .cate-dec-item {
    margin-top:30px;
    line-height:2em;
    color:#666;
    font-size:14px;
    letter-spacing:1px;
}
.cate-right .cate-right-dec .cate-dec-item span {
    color:#01aaaf;
}
.cate-right .cate-right-dec .cate-dec-img {
    text-align:right;
    margin-top:2.81rem;
}
.cate-right-row img,.cate-right-fc .text-center img,.img-max100 img {
    max-width:100%;
}
.img-max100 {
    overflow:hidden;
}
.cate-right .cate-right-row .cate-dec-img {
    text-align:left
}
.cate-right-row b {
    color:#01aaaf;
    display:block;
    margin:0.4rem 0;
}
.cate-right .cate-right-fc {
    margin-top:1rem;
}
.cate-right .cate-right-fc .cate-right-fc-title {
    padding-left:0;
    color:#01aaaf;
    font-size:14px;
    font-weight:bold;
    margin:0.5rem 0;
}
.color01 {
    color:#01aaaf !important;
}
.cate-right .cate-right-fc p {
    margin:0.5rem 0;
}
.cate-right .cate-right-fc ul li {
    margin-bottom:2rem;
}
.cate-right .cate-right-row2 b {
    color:#01aaaf;
    display:inline-block;
    margin-right:1rem
}
.cate-right .cate-right-row2 span {
    font-size:14px;
    color:#666;
}
.cate-right .cate-right-row2 div.line60 {
    line-height:60px
}
.cate-right .cate-right-row2 .col-sm-6 {
    border-bottom:1px solid #000;
    padding:2% 0;
    overflow:hidden;
}
.cate-right .cate-right-row2 .col-sm-6:last-child {
    border-bottom:0
}
.cate-right .cate-right-row2 .col-sm-3 {
    text-align:center
}
.cate-right .cate-right-row2 .col-sm-5,.cate-right .cate-right-row2 .col-sm-3,.cate-right .cate-right-row2 .col-sm-4 {
    padding:0;
}
.cate-right .cate-right-row2 .col-sm-4 {
    text-align:right
}
.text-wid80 {
    width:72%;
    margin:5% auto;
}
.text-wid43 {
    margin:5% auto;
}
.text-wid43 p {
    margin: 2% 0;
}
/*e 品牌*/
/*s 产品*/
.product .product-title {
    margin:8% 0;
    color:#666;
    font-size:14px;
    transition:0.5s;
    text-align: center;
}
.product .cate-right-dec .content-list a img {
    max-width:100%;
    width:100%;
    -webkit-transition:all 2s ease 0s;
    -moz-transition:all 2s ease 0s;
    -o-transition:all 2s ease 0s;
    transition:all 2s ease 0s;
}
.product .cate-right-dec .content-list a:hover img {
    -moz-transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);
    -o-transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}
.product .cate-right-dec .inside-news-list div {overflow:hidden;}
.product .cate-right-dec .inside-news-list a img {
    max-width:100%;
    width:100%;
    -webkit-transition:all 2s ease 0s;
    -moz-transition:all 2s ease 0s;
    -o-transition:all 2s ease 0s;
    transition:all 2s ease 0s;
}
.product .cate-right-dec .inside-news-list a:hover img {
    -moz-transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);
    -o-transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}
.product .cate-right-dec .inside-news-list p {color:#666;font-size: 14px;}
.product .cate-right-dec .inside-news-list a:hover p {color:#01aaaf;}

/*.page-box a {
    color:#8b8b8b;
    font-size:14px;
    border:2px solid #8b8b8b;
    border-radius:20px;
    padding:1% 8%;
}
.page-box a:hover,.page-box a.active {
    background:#01aaaf;
    color:#fff;
    border-color:#01aaaf;
}*/

.content-list div a img,.content-news-list .col-sm-4 img {
    -webkit-transition:all 2s ease 0s;
    -moz-transition:all 2s ease 0s;
    -o-transition:all 2s ease 0s;
    transition:all 2s ease 0s;
}
.content-list>div>a>div {
    overflow:hidden;
}
.content-list div a:hover p {
    color:#01aaaf;
}
.content-list div a:hover img,.content-news-list .col-sm-4:hover img {
    moz-transform:scale(1.1,1.1);
    -ms-transform:scale(1.1,1.1);
    -o-transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);
}
.content-row {
    color:#666;
    font-size:18px
}
.content-row img {
    margin:5% 0;
    max-width:50% !important
}
.page-list {
    margin:5% 0;
}
.page-list a {
    color:#666;
}
.page-list div {
    margin: 5% 0;
}

.product .btn_more_a{
    position:relative;
    overflow:hidden;
    display:block;
    margin:200px auto 0;
    width:200px;
    height:40px;
    text-align:center;
    line-height:20px;
    border: 2px solid #8b8b8b;
    background: transparent;
    border-radius: 50px;
}
.product .btn_more_a:hover {border: 2px solid #01aaaf;}
.product .btn_more_a:before {
    content:"";
    background:#01aaaf;
    position:absolute;
    left:-100%;
    top:0;
    z-index:0;
    width:100%;
    height:100%;
    transition:all 0.6s ease 0s;
    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
}
.product .btn_more_a:hover:before {left:0;}
.product .btn_more_a .small {
    line-height: 35px;
    font-size:14px;
    color:#8b8b8b;
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    text-align:center;
    height:100%;
    width:100%;
    transition:all 0.6s ease 0s;
    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
}
.product .btn_more_a:hover .small {color:#fff;}

.nav_pagination{margin: 20px auto;text-align: center;}
.nav_pagination .pagination {margin: 0px auto;}
.nav_pagination .pagination li {display: inline-block;}
.nav_pagination .pagination li a{
  color: #aaa9a9;
  font-size: 14px;
  padding: 3px 10px;
  margin: 0 10px 5px 0; 
  border-radius:0;
  background:#fff;
}
.nav_pagination .pagination .active a{background:#aaa9a9;color: #fff;border: 1px solid #aaa9a9;}
.nav_pagination .pagination .active a:hover, 
.nav_pagination .pagination li a:hover {background:#01aaaf;color: #fff;border: 1px solid #01aaaf;}
/*e 产品*/
/*s 店铺*/
.img-70 {
    max-width:70% !important
}
.content-store .col-sm-9 h4 {
    color:#01aaaf;
    font-size:18px;
    font-weight:bold;
    margin-bottom:5px
}
.content-store .col-sm-9 span，.content-store-join p {
    color:#666;
    font-size:14px;
}
.content-store .col-sm-9 div {
    color:#666;
    font-size:18px;
    margin:3% 0 7%;
    letter-spacing:2px
}
.content-store-join .join-two>div {
    margin:5% 0;
}
.content-store-join p {
    letter-spacing:2px;
    line-height:2em;
    text-transform:uppercase;
}
.content-store-join .join-addr p {
    line-height:1.2em;
    text-transform:uppercase;
}
.content-store-join .join-two .join-iphone p {
    color:#01aaaf;
    font-weight:bold
}
.lg-backdrop {
    background: rgba(0,0,0,0.7);
}
/*e 店铺*/
/*s 新闻*/
.news .cate-right {
    padding-top:40px;
}
.content-news-list .col-sm-4 {
    margin-bottom:5%;
    overflow:hidden;
    max-height:358px
}
.content-news-list .time-focus span {
    display:inline-block;
    width:50%;
    font-size:14px;
    color:#999;
    margin:10% 0 6%;
}
.content-news-list .news-list-title a {
    color:#666;
    font-size:14px;
    font-weight:bold
}
.content-news-list .news-list-dec {
    color:#666;
    font-size:14px;
    margin:6% 0;
    line-height:1.8em
}
.content-news-list .col-sm-4:hover a {
    color:#01aaaf;
}
.content-news-list .word-omits {
    -webkit-line-clamp:3;
}
.news-main .news-title {
    color:#333;
    font-size:18px;
    font-weight:bold;
    text-align:center
}
.news-main .content-news-about {
    margin:5% 0;
}
.news-main .content-news-about span {
    color:#999;
    font-size:12px;
    display:inline-block;
    width:30%;
}
.news-main .news-txt p {
    color:#666;
    font-size:14px;
    line-height:1.5em;
    letter-spacing:2px;
}
.news-page-box {
    margin:5% 0;
}
.news-page-box .news-pre,.news-page-box.news-next {
    width:50%;
    float:left;
}
.news-page-box a {
    color:#666;
    font-size:14px
}
.news-page-box .news-pre {
    text-align:left;
}
.news-page-box .news-next {
    text-align: right;
}

.news .btn_more_a{
    position:relative;
    overflow:hidden;
    display:block;
    margin:200px auto 0;
    width:200px;
    height:40px;
    text-align:center;
    line-height:20px;
    border: 2px solid #8b8b8b;
    background: transparent;
    border-radius: 50px;
}
.news .btn_more_a:hover {border: 2px solid #01aaaf;}
.news .btn_more_a:before {
    content:"";
    background:#01aaaf;
    position:absolute;
    left:-100%;
    top:0;
    z-index:0;
    width:100%;
    height:100%;
    transition:all 0.6s ease 0s;
    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
}
.news .btn_more_a:hover:before {left:0;}
.news .btn_more_a .small {
    line-height: 35px;
    font-size:14px;
    color:#8b8b8b;
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    text-align:center;
    height:100%;
    width:100%;
    transition:all 0.6s ease 0s;
    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
}
.news .btn_more_a:hover .small {color:#fff;}
/*e 新闻*/
/*招商加盟*/
.index_join {
    background:transparent;
    margin:30px auto;
    padding:0;
}
.index_join .index_join_content_img_text .img {
    width:100%;
}
.index_join .index_join_content_img_text {
    position:relative;
    overflow:hidden;
}
.index_join .index_join_content_img_text .figcaption_text {
    background:rgba(0,0,0,0.13);
    padding:0;
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}
.index_join_content_img_text .figcaption_text .index_join_content .index_title {
    margin:60px auto 50px;
}
.index_join_content_img_text .figcaption_text .index_join_content .index_title h2 {
    color:#fff;
}
.index_join_content_img_text .figcaption_text .index_join_content .index_title span {
    color:#ccc;
}
.index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {
    position:relative;
    overflow:hidden;
    display:block;
    margin:200px auto 0;
    width:200px;
    height:40px;
    text-align:center;
    line-height:20px;
    border:1px solid #01aaaf;
    background:#01aaaf;
}
.index_join_content_img_text .figcaption_text .index_join_content .btn_more_a:hover {
    border:1px solid #fff;
}
.index_join_content_img_text .figcaption_text .index_join_content .btn_more_a:before {
    content:"";
    background:#fff;
    position:absolute;
    left:-100%;
    top:0;
    z-index:0;
    width:100%;
    height:100%;
    transition:all 0.6s ease 0s;
    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
}
.index_join_content_img_text .figcaption_text .index_join_content .btn_more_a:hover:before {
    left:0;
}
.index_join_content_img_text .figcaption_text .index_join_content .btn_more_a .small {
    line-height:40px;
    font-size:18px;
    color:#fff;
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    text-align:center;
    height:100%;
    width:100%;
    transition:all 0.6s ease 0s;
    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
}
.index_join_content_img_text .figcaption_text .index_join_content .btn_more_a:hover .small {
    color:#333;
}
.index_join .model-title {
    border-bottom:1px solid #eee;
}
.index_join .model-title h3,.index_join .model-title b,.index_join .model-title-en {
    color: #fff;
}

.join_info .right_content img{width: 100%;}

.join_info .footer_content_form{
  background: #f5f5f5;
  border: 30px solid #01bec8;
  padding: 20px 50px 50px;
}
.join_info .form_input{
  background-color: #fff;
  border: 1px solid #ccc;
  height: 46px;
  padding: 3px 5px;
}
.join_info .form_input:focus,
.join_info .form_textarea:focus,
.join_info .form_btn:focus {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0, 0, 0, 0);
}
.join_info .form_textarea{
  height: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.join_info .form_btn{
  background-color: #fff; 
  border: none;
}
.join_info .hvr-bounce-to-bottom:before{background: #00abaf;}

.join_info .form_btn{
    position:relative;
    overflow:hidden;
    display:block;
    margin: 0px auto 0;
    width:200px;
    height:40px;
    text-align:center;
    line-height:20px;
    border: 1px solid #8b8b8b;
    background: transparent;
    border-radius: 5px;
}
.join_info .form_btn:hover {border: 1px solid #01aaaf;}
.join_info .form_btn:before {
    content:"";
    background:#01aaaf;
    position:absolute;
    left:-100%;
    top:0;
    z-index:0;
    width:100%;
    height:100%;
    transition:all 0.6s ease 0s;
    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
}
.join_info .form_btn:hover:before {left:0;}
.join_info .form_btn .small {
    line-height: 35px;
    font-size:14px;
    color:#8b8b8b;
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    text-align:center;
    height:100%;
    width:100%;
    transition:all 0.6s ease 0s;
    -webkit-transition:all 0.6s ease 0s;
    -moz-transition:all 0.6s ease 0s;
    -o-transition:all 0.6s ease 0s;
}
.join_info .form_btn:hover .small {color:#fff;}


/*招商加盟*/
/*新闻资讯*/
.index_news {
    margin:0px auto;
    padding:30px 0;
    background:url(../picture/body-bg.jpg) top center;
}
.index_news .list_img img {
    width:100%;
}
.index_news .list_img .list_text {
    background:#01aaaf;
}
.index_news .list_img .list_text .list_text_left {
    float:left;
    text-align:center;
}
.index_news .list_img .list_text .list_text_left,.index_news .list_img .list_text .list_text_right {
    padding:20px 15px;
    /* display:table-cell;*/
}
.index_news .list_img .list_text .list_text_left span {
    font-size:48px;
    color:#fff;
    display:block;
}
.index_news .list_img .list_text .list_text_left span::after {
    content:"";
    width:55px;
    height:1px;
    background:#fff;
    margin:60px 0 0 35px;
    position:absolute;
    left:0;
    right:0;
}
.index_news .list_img {
    margin-bottom:17px;
}
.index_news .list_img .list_text .list_text_left small {
    font-size:14px;
    color:#fff;
}
.index_news .list_img .list_text .list_text_right h3 {
    margin:auto;
    line-height:20px;
}
.index_news .list_img .list_text .list_text_right h3 a {
    font-size:16px;
    color:#fff;
}
.index_news .list_img .list_text .list_text_right p {
    font-size:14px;
    color:#fff;
    line-height:20px;
    margin:15px auto 0;
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    text-overflow:ellipsis;
    word-break:break-all;
}
.index_news .index_news_right .list_img .list_text {
    background:transparent;
    transition:0.3s;
}
.index_news .index_news_right .list_img:hover .list_text {
    background:#01aaaf;
}
.index_news .list_img .list_text .list_text_left {
    padding:10px 20px;
}
.index_news .index_news_right .list_img .list_text .list_text_right {
    padding:20px;
}
.index_news .index_news_right .list_img .list_text .list_text_left span {
    font-size:48px;
    color:#01aaaf;
    display:block;
}
.index_news .index_news_right .list_img .list_text .list_text_left span::after {
    content:"";
    width:55px;
    height:2px;
    background:#01aaaf;
    margin:60px 0 0 35px;
    position:absolute;
    left:0;
    right:0;
}
.index_news .index_news_right .list_img:hover .list_text .list_text_left span::after {
    background:#fff;
}
.index_news .index_news_right .list_img .list_text .list_text_left small {
    font-size:14px;
    color:#01aaaf;
}
.index_news .index_news_right .list_img .list_text .list_text_right h3 {
    margin:auto;
    line-height:20px;
}
.index_news .index_news_right .list_img .list_text .list_text_right h3 {
    font-size:16px;
    color:#333;
}
.index_news .index_news_right .list_img .list_text .list_text_right p {
    font-size:14px;
    color:#666;
    line-height:20px;
    margin:15px auto 0;
    overflow:hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    text-overflow:ellipsis;
    word-break:break-all;
}
.index_news .index_news_right .list_img:hover .list_text .list_text_left span,.index_news .index_news_right .list_img:hover .list_text .list_text_left small,.index_news .index_news_right .list_img:hover .list_text .list_text_right h3,.index_news .index_news_right .list_img:hover .list_text .list_text_right p {
    color: #fff;
}
/*新闻资讯*/
@media (max-width:1700px) {
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {
        margin:160px auto 0;
    }
}
@media (max-width:1500px) {
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {
        margin:100px auto 0;
    }
}
@media (max-width:1300px) {
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {
        margin:80px auto 0;
    }
    .index_join .model-title {
        margin-top:50px;
    }
    .index_news .list_img {
        margin-bottom:10px;
    }
}
@media (min-width:1300px) {
    .container {
        width:1200px;
        padding:0;
    }
}
@media (max-width:1299px){
    #header .navbar-default .navbar-nav>li{margin: 0 56px;}
}
@media (max-width:1199px) {
    #header .navbar-default .navbar-nav>li {
        margin: 0 42px;
    }
    #header .navbar-default .navbar-nav>li.join-ico {
        margin-right:20px;
    }
    .index_join .model-title {
        margin-top:0;
    }
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {
        margin:95px auto 0;
    }
    .index_news .index_news_right .list_img .list_text .list_text_right {
        padding:10px;
    }
    .index_news .index_news_right .list_img .list_text .list_text_left span {
        font-size:34px;
        text-align:center;
    }
    .index_news .index_news_right .list_img .list_text .list_text_left span::after {
        margin:45px 0 0 35px;
    }
    .index_news .list_img {
        margin-bottom:14px;
    }
    #slide-nav .cont-txt li{margin-left: 20px;}
}
@media (max-width:991px) {
    #header .navbar-default .navbar-nav>li {
        margin: 0 20px;
    }
    .marquee_text {
        width:71%;
    }
    .index_join .model-title {
        margin-top:40px;
    }
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {
        margin:500px auto 0;
    }
    #slide-nav .cont-txt {
        width:25% !important;
    }
    .index-brand ul li {
        height:180px;
    }
    .index-brand .index-brand-item {
        padding:2%;
    }
    .index-brand ul li p {
        line-height: 20px;
    }
    #slide-nav .cont-txt li {margin-left: 0;text-align: center;}
}
/*手机超小屏幕下的单独样式 xs < 768px */
@media (max-width:767px) {
    /*全部-导航*/
    body {
        padding-top:0;
        /*移动端若固定顶部导航的话高度为52px*/
        padding-bottom:55px;
    }
    #header{padding: 0;}
    #header::before {
        height: 0;
    }
    #header .navbar {
        /*移动端导航不固定顶部*/
        position:relative !important;
    }
    #header .navbar {
        padding-bottom:0;
    }
    #header .navbar-header {
        margin-top:0;
    }
    #header .navbar-default .navbar-toggle {
        padding: 10px 10px;
        margin: 15px auto 0;
    }
    .carousel.slider_brand {
        margin:65px auto 0;
    }
    .marquee_text {
        width: 53%;
    }
    /*全部-导航*/
    /*全部-页脚*/
    #footer .footer-wechat p {
        text-align:left !important;
    }
    #footer .footer-left {
        margin-bottom: 10%
    }
    /*全部-页脚*/
    /*全部-返回顶部*/
    #clan-slider {
        bottom:55px !important;
    }
    #clan-slider ul li a {
        background-color:rgba(255,255,255,0.9) !important;
        border-color:transparent !important;
        border-radius:50% !important;
    }
    #clan-slider #slider-goTop {
        background-position:-92px 0 !important;
    }
    #clan-slider #slider-goTop:hover {
        background-position:0 0 !important;
    }
    #footer {
        text-align:center !important;
    }
    .index-brand ul {
        padding-left: 0;
    }
    .index-brand ul li {
        /*max-height:137px;margin-bottom:5px;*/
        overflow:hidden;
        height:auto;
        background: #f5f5f5;
    }
    .index-brand ul li:hover{background: #02aaaf;}
    .index-brand ul li .index-brand-item:after{right:-8%;}
    .index-brand ul li .index-brand-item2:after{left:-7%;}
    .index-brand ul li:hover .index-brand-item:after {right:-8%;border-color:transparent transparent transparent #01aaaf;}
    .index-brand ul li:hover .index-brand-item2:after {left:-7%;border-color:transparent #01aaaf transparent transparent;}
    .index-brand .index-brand-item h4 {
        font-size:14px;
    }
    .index-brand .index-brand-item p {
        font-size:12px;
    }
    .index-brand ul li:hover .index-brand-item h4, 
    .index-brand ul li:hover .index-brand-item i,
    .index-brand ul li:hover .index-brand-item p {color: #fff;}
    .index-brand ul li:hover .index-brand-item i{background: #fff;}
    .index-shop .swiper-shop-container .swiper-slide .item-bg img {
        left:42%;
    }
    .index-product-show {
        padding-left:0
    }
    .index-line {
        left:35%;
    }
    .index-brand {
        padding-bottom:0
    }
    .contact-phone {
        margin-left:0 !important;
    }
    .announcement {
        height:auto !important;
        line-height:26px auto !important
    }
    .index-product .index-product-show li {
        width:33.3%;
    }
    #header .navbar-default .navbar-nav>li.join-ico {
        float:left;
    }
    #footer .footer-form .form-name,#footer .footer-form .form-tel {
        width:100%;
    }
    #footer .col-sm-5 img {
        width:50%;
    }
    #footer .col-sm-3 img {
        width:30%;
    }
    .index-brand ul li.index-brand-item:after {
        top:30%;
    }
    #header .navber-header-right .contact-phone b {
        font-size:16px;
    }
    #header .navbar-brand {
        height:auto;
    }
    #header .navber-header-right {
        margin-top:0px
    }
    #header .navbar-brand img {
        max-width:150px !important
    }
    #header .navber-header-right {
        float:left
    }
    #header .navber-header-right .contact-phone {
        float:right;
    }
    .swiper-banner-container .item a div {
        padding-top:54.44%;
    }
    #header .search-btn {
        float: right;
        width: 35px;
        height: auto;
        padding: 5px;
        margin: 15px 15px 0;
    }
    #header .search-btn img {
        max-width:100%
    }
    .index-product .index-product-show li {
        padding:13px 0;
    }
    .index-product .index-product-show li span {
        margin:5px;
    }
    #header .navber-header-right .contact-phone b {
        font-weight:normal;
    }
    .container-s {
        width:auto;
    }
    #header .navbar-header-box {
        padding:0;
    }
    .cate-right {
        padding:0 20px;
    }
    .cate-left .row>ul>li.current,.cate-left .row>ul>li:hover {
        border-left:0
    }
    .cate-left .row>ul>li {
        max-height:22px;
        min-height:22px;
        text-align:center
    }
    .cate-left .row>ul>li.current a,.cate-left .row>ul>li:hover a {
        border-bottom:2px solid #01aaaf;
        display:inline-block;
    }
    .cate-top span:after {
        left:6%;
        bottom:-38%;
    }
    .cate-left .row>ul>li {
        padding:0;
    }
    .fs20 {
        font-size:20px !important;
    }
    .fs16 {
        font-size:16px !important;
    }
    .fs14 {
        font-size:14px !important;
    }
    .cate-right .cate-right-row2 .col-sm-6 {
        padding:2%;
    }
    .cate-right .cate-right-row .cate-dec-img {
        text-align:center;
    }
    .cate,.cate-right {
        min-height:auto;
    }
    .cate-right {
        padding-bottom:10%
    }
    .join-two {
        text-align:center
    }
    .content-news-list .col-xs-12 {
        text-align:center;
        padding-top:15px;
        border-bottom:1px dotted;
        background:#eee;
        max-height:none
    }
    .news-page-box .news-pre {
        width:100%;
        float:none;
    }
    .news-page-box .news-next {
        float:none;
        text-align:left;
        width:100%;
        margin-top:5%;
    }
    .index-brand .index-brand-item {
        height:auto;
        padding:15px;
        background:transparent;
        transition: none;
    }
    .no-padd {
        height:auto;
    }
    .index-brand ul li .index-brand-item:after {
        top: 40%;
    }
    /*全部-返回顶部*/
    .index_join .model-title {
        margin-top:0;
    }
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {
        margin: 380px auto 0;
    }
}
/*手机超小屏幕下的单独样式 xs < 768px */
/*大于手机屏幕时的样式 sm>= 768px */
@media (min-width:768px) {
    body {
    }
    .navbar-right {
        float:none !important;
    }
    .navbar-nav>li {
        float:left;
        height:71px;
        padding-top: 13px;
    }
    /*全部-导航*/
    #header .navbar {
        border-radius:0;
        height:170px;
    }
    #header .navbar-nav>li>a {
        padding:0;
        text-align:center;
    }
    #header .other-navbar {
        height:90px;
        background:url(../picture/about_01.jpg) no-repeat left top;
    }
    #header .other-navbar>li {
        height: 90px;
    }
    /*全部-导航*/
    .lg-actions .lg-prev:after {
        content:" ";
        background:url(../picture/pre.png) no-repeat top center;
        width:75px;
        height:135px;
        display:block;
    }
    .lg-actions .lg-next:before {
        content:" ";
        background:url(../picture/next.png) no-repeat top center;
        width:75px;
        height:135px;
        display:block;
    }
    .lg-actions .lg-next,.lg-actions .lg-prev {
        background:none
    }
    .lg-actions .lg-prev {
        left:200px;
    }
    .lg-actions .lg-next {
        right: 200px;
    }
}
/*大于手机屏幕时的样式 sm>= 768px */
/*平板小屏幕样式 768px <= sm < 992px */
@media (min-width:768px) and (max-width:991px) {
    /*全部-页脚*/
    #footer .footer-contact h2 {
        font-size: 26px !important;
    }
    /* Safari 7.1+(9.0 is the latest version of Safari at this time) */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        #footer .footer-contact h2 {
            padding-left:0;
            font-size: 22px !important;
        }
    }
    /*全部-页脚*/
}
/*平板小屏幕样式 768px <= sm < 992px */
/*大于992px以上固定宽度为970px md>= 992px */
@media (min-width:992px) {
    /*全部-最大宽度*/
    /*.container{width:1200px;padding: 0;}*/
    .navbar-default .navbar-collapse,.navbar-default .navbar-form {
        padding:0;
    }
    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
    /*全部-最大宽度*/
    /*全部-页脚*/
    #footer .footer-item-last {
        border-right:2px solid #c1c1c1;
    }
    #footer .footer-contact h2 {
        padding-left: 20px;
    }
    /* Safari 7.1+(9.0 is the latest version of Safari at this time) */
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        #footer .footer-contact h2 {
            padding-left: 10px !important;
        }
    }
    /*全部-页脚*/
}
@media (max-width:600px){
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {margin: 280px auto 0;}
}
@media (max-width:500px){
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {margin: 200px auto 0;}
}
@media (max-width:400px){
    .model-title h3{font-size: 20px;}
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {margin: 150px auto 0;}
}
@media (max-width:340px){
    .index_join_content_img_text .figcaption_text .index_join_content .btn_more_a {margin: 120px auto 0;}
}
/*大于992px以上固定宽度为970px md>= 992px*/
@media (max-width:381px){
    /*.index-brand ul li{background: #f5f5f5;}
    .index-brand ul li:hover{background: transparent;}*/
    .index-brand .index-brand-item {padding: 5px 3px 0 20px;}
    .index-brand ul li {height: 110px;max-height: 110px;}
}

