@charset "utf-8";

@media (max-width: 3000px) and (min-width: 1500px){
	.container {width: 1720px;}
}
@media (max-width: 1500px) and (min-width: 1300px){
	.container {width: 1200px;}
}
/*@media (max-width: 3000px) and (min-width: 1230px){
	.news_detail .container, .news .container, .product_detail .container, .product .container,
	.case_detail .container, .case .container, .about .container,
	.contact .container, .message .container {width: 1200px;}
}*/

@media (max-width: 1500px) {
}

@media (max-width: 1199px){
}

@media (max-width: 991px){
}

@media (max-width: 767px){
}

@media (max-width: 600px){
}

@media (max-width: 500px){
}

@media (max-width: 400px){
}

