@charset "utf-8";

/*重置样式*/
@import url("reset.css");
/*重置样式*/

/*font-awesome 字体*/
@import url("font-awesome.4.7.0.css");
/*font-awesome 字体*/

/*animate 动画*/
@import url("animate.3.7.0.css");
/*animate 动画*/

/*bootstrap*/
@import url("bootstrap.3.3.7.css");
@import url("bootstrap-touch-slider.css");
@import url("bootstrap-select.css");
/*bootstrap*/

/*swiper*/
@import url("swiper.min.4.0.7.css");
/*swiper*/

/*owl*/
@import url("owl.carousel.1.3.3.css");
@import url("owl.theme.1.3.3.css");
/*owl*/

/*hover*/
@import url("hover.2.3.2.css");
/*hover*/

/*nav*/
@import url("nav.css");
/*nav*/

/*点击图片放大*/
@import url("gallery.css");
/*点击图片放大*/

/*fullPage 屏幕滑动*/
/*@import url("jquery.fullPage.css");*/
/*fullPage 屏幕滑动*/

/*public*/
.clearfix {clear: both;}
.main {padding: var(--padding_0); margin:105px auto 0;background: var(--bg_fff);}
.index_main {padding: var(--padding_0); margin:var(--margin_0);background: var(--bg_fff);}

.fp-right ul li .fp-tooltip {color: var(--color) !important;font-size: 15px !important;}
#fp-nav ul li a span, .fp-slidesNav ul li a span {background: var(--color) !important;}

.map {height:500px;margin: 0 auto;}
.map img {width: auto !important; max-width: initial;}
.map b {color: #d44924;font-size: 15px;}
.map .BMap_center {width: 253px !important;}
.map .iw_poi_content {color: var(--color_333);font-size: var(--size_12);}

.nav_pagination {margin: var(--margin_auto);text-align: var(--text_center);}
.nav_pagination .pagination {margin: var(--margin_auto);font-size: 0;}
.nav_pagination .pagination li {display: inline-block;}
.nav_pagination .pagination li a {
  color: var(--color_666);
  font-size: var(--size_14);
  padding: 3px 10px;
  margin: 0 10px 5px 0; 
  border-radius:0;
  border: 0px solid var(--color_666);
  background:#eaeaea;
}
.nav_pagination .pagination .active a,.nav_pagination .pagination .active a:hover,
.nav_pagination .pagination li a:hover{color: var(--color_fff);background: var(--color);}

.top_nav_menu {
  padding: var(--padding_20); 
  margin:var(--margin_0);
  background: var(--bg_f5);
  border-bottom: 1px solid #ddd;
}
.top_nav_menu .top_nav_menu_text {margin:var(--margin_0);}
.top_nav_menu .top_nav_menu_text .h2 {margin:var(--margin_b15);color: var(--color_666);font-size: var(--size_22);}
.top_nav_menu .top_nav_menu_text .p {margin:var(--margin_0);color: var(--color_666);font-size: var(--size_14);}
.top_nav_menu .top_nav_menu_ul {margin:var(--margin_t15);text-align: var(--text_right);}
.top_nav_menu .top_nav_menu_ul li {display: inline-block;margin: 0 15px;}
.top_nav_menu .top_nav_menu_ul li a {color: var(--color_666);font-size: var(--size_14);padding: var(--padding_b5);transition: 0.5s;}
.top_nav_menu .top_nav_menu_ul .active a, .top_nav_menu .top_nav_menu_ul li:hover a {color: var(--color);}
.top_nav_menu .top_nav_menu_ul .link_a {background-image:linear-gradient(transparent calc(100% - 1px),var(--color) 1px);}

.mobile_menu {
  padding: var(--padding_15);
  margin: var(--margin_0);
  background: var(--bg_f5);
  border-bottom: 1px solid #ddd;
}
.mobile_menu .h4 {
  margin: var(--margin_0);
  color: var(--color_333);
  font-size: var(--size_20);
  text-align: var(--text_center);
  text-transform: uppercase;
  cursor: pointer;
}
.mobile_menu i {margin-right: 10px;}

.main .index_title {margin: var(--margin_b30);}
.main .index_title h2 {margin: var(--margin_0);text-align:var(--text_center);}
.main .index_title h2 span {
  position: relative;
  display: block;
  color: var(--color);
  font-size: 46px;
  margin: var(--margin_b20);
}
.main .index_title h2 span:before {
  content: "";
  position: absolute;
  top: auto;
  right: 0;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  margin: 0px auto;
  background: var(--bg_fff);
}
.main .index_title h2 small {
  display: block;
  color: var(--color_fff);
  font-size: var(--size_18);
  margin: var(--margin_0);
}

/*public*/

/*index_header*/
.index_header {background: #fff;}
.index_header_content {margin: var(--margin_0);}

.pc_header {
  position: relative;
  transition: 0.5s;
  /*padding: 0px;
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  z-index: 5;
  height: 100%;
  width: 240px;
  transition: 0.5s;*/
}
.pc_header .collapseNav {
  padding: 0px;
  position: fixed;
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  z-index: 5;
  width: 240px;
  height: 100%;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.75);
}
.pc_header .collapseNav_logo_a {
  width: 240px;
  display: block;
  padding: 20px;
  margin: var(--margin_0);
  background: var(--bg_fff);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
.pc_header .pc_header_logo_a {
  display: block;
  padding: 50px 0;
  margin: var(--margin_0);
  background: var(--bg_fff);
  transition: 0.5s;
}
.pc_header .collapse  .collapsed {padding: 15px 0;transition: 0.5s;}

.pc_header .pc_header_nav {margin: var(--margin_0);padding: 50px 40px;}
.pc_header .collapseNav .collapseNav_h2 {
  margin: var(--margin_0);
  color: var(--color_fff);
  font-size: var(--size_25);
  font-weight: 500;
  text-align: var(--text_center);
}
.pc_header .pc_header_nav li {margin: var(--margin_b20);}
.pc_header .pc_header_nav li:last-child {margin: var(--margin_0);}
.pc_header .pc_header_nav li a {
  position: relative;
  color: var(--color_fff);
  font-size: var(--size_16);
  padding: 0 0 0 30px;
  transition: 0.5s;
}
.pc_header .pc_header_nav li:hover a {color: var(--color);}
.pc_header .pc_header_nav li a:before {
  position: absolute;
  top: auto;
  bottom: auto;
  right: 0;
  left: 0;
}
.pc_header .pc_header_nav li:nth-child(1) a:before {content: url(../images/index_icon_1.png);}
.pc_header .pc_header_nav li:nth-child(2) a:before {content: url(../images/index_icon_2.png);}
.pc_header .pc_header_nav li:nth-child(3) a:before {content: url(../images/index_icon_3.png);}
.pc_header .pc_header_nav li:nth-child(4) a:before {content: url(../images/index_icon_4.png);}
.pc_header .pc_header_nav li:nth-child(5) a:before {content: url(../images/index_icon_5.png);}
.pc_header .pc_header_nav li:nth-child(6) a:before {content: url(../images/index_icon_6.png);}
.pc_header .pc_header_nav li:nth-child(7) a:before {content: url(../images/index_icon_7.png);}

.pc_header .pc_header_nav_text {padding: 0px 30px;margin: 180px auto 0;}
.pc_header .pc_header_nav_text .p {
  color: var(--color_fff);
  font-size: var(--size_15);
  margin: var(--margin_b10);
}
.pc_header .pc_header_nav_text .footer_icon {text-align: var(--text_center);}
.pc_header .pc_header_nav_text .footer_icon img {display: inline-block;margin: 0 8px;}
/*index_header*/

/*slider*/
.slider_img, .slider_img .fp-tableCell {height: auto !important;}
.slider_img .carousel-inner .item .slide_bg {width: 100%;height: 969px;}

.slider_img_list, .slider_img_list .fp-tableCell {height: auto !important;}
.slider_img_list .slide_bg {width: 100%;height: 969px;}
.slider_img_list .swiper-button-next, .slider_img_list .swiper-button-prev {
  position: absolute;
  top: -500px;
  width: 25px;
  height: 45px;
  margin: 0 auto;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  background-size: 25px 45px;
  background-position: center;
  background-repeat: no-repeat;
}
.slider_img_list:hover .swiper-button-next, .slider_img_list:hover .swiper-button-prev {opacity: 1;}
.slider_img_list .pagination_next_prev {position: relative;text-align: var(--text_center);}
.slider_img_list .swiper-button-next {
  background-image: url(../images/next.png);
  right: 50px;
  left: auto;
}
.slider_img_list .swiper-button-prev {
  background-image: url(../images/prev.png);
  left: 50px;
  right: auto;
}
.slider_img_list .swiper-button-next.swiper-button-disabled, 
.slider_img_list .swiper-button-prev.swiper-button-disabled {
  opacity: 0.4;
  cursor: auto;
  pointer-events: none;
}
.slider_img_list .swiper-pagination {position: relative;display: none;margin: var(--margin_t20);}
.slider_img_list .swiper-pagination-bullet {width: 10px;height: 10px;margin: 0 5px;}
.slider_img_list .swiper-pagination-bullet {background: var(--color);opacity: .5;}
.slider_img_list .swiper-pagination-bullet-active {background: var(--color);opacity: 1;}
/*slider*/

/*index_about*/
.index_about {background: url(../images/index_about_bg.jpg) no-repeat center;background-size: cover;}
.index_about_content {overflow: hidden;}
.index_about_content .text_content .p {
  text-align:var(--text_center);
  color: var(--color_fff);
  font-size: var(--size_16);
  margin: var(--margin_0);
}
.index_about_content .link {
  display: inline-block;
  position: relative;
  padding: 10px 50px;
  margin: var(--margin_t50);
  font-size: var(--size_15);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--bg_fff);
  color: var(--color_fff);
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
}
.index_about_content .link:hover {border: 1px solid var(--color);}
.index_about_content .link:before {background-color: var(--color);}
/*index_about*/

/*index_business*/
.index_business {background: url(../images/index_business_bg.jpg) no-repeat center;background-size: cover;}
.index_business_content {overflow: hidden;}
.index_business_content .index_title h2 span {color: var(--color);}
.index_business_content .index_title h2 span:before {background: var(--color);}
.index_business_content .index_title h2 small {color: var(--color_666);}
.index_business_content .business_list .figure_img {margin: var(--margin_b30);}
.index_business_content .business_list .figure_img:hover {
  box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0);
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
}
.index_business_content .business_list .figure_img .figure_img_a {position: relative;display: block;text-align:var(--text_center)}
.index_business_content .business_list .figure_img .figure_img_a h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--color_fff);
  font-size: var(--size_16);
  margin: var(--margin_0);
  padding: var(--padding_15);
  background: transparent;
  transition: 0.5s;
}
.index_business_content .business_list .figure_img:hover .figure_img_a h3 {background: var(--color);}
/*index_business*/

/*index_product*/
.index_product {background: url(../images/index_product_service_bg.jpg) no-repeat center;background-size: cover;}
.index_product_content {overflow: hidden;}
.index_product_content .product_list .figure_img {padding:var(--padding_0);margin: 0 15px 0 0;}
.index_product_content .product_list .figure_img .figure_img_a {display: block;position: relative;}
.index_product_content .product_list .figure_img .figcaption_text {
  text-align: var(--text_center);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 100px 15px;
  transition: 0.5s;
}
.index_product_content .product_list .figure_img:nth-child(4) {margin: var(--margin_0);}
.index_product_content .product_list .figure_img:hover {cursor: pointer;}
.index_product_content .product_list .figure_img:nth-child(1) .figcaption_text {background: rgba(195, 159, 90, 0.66);}
.index_product_content .product_list .figure_img:nth-child(2) .figcaption_text {background: rgba(64, 130, 87, 0.66);}
.index_product_content .product_list .figure_img:nth-child(3) .figcaption_text {background: rgba(107, 111, 139, 0.66);}
.index_product_content .product_list .figure_img:nth-child(4) .figcaption_text {background: rgba(163, 88, 76, 0.66);}
.index_product_content .product_list .figure_img .figcaption_text p {
  color: var(--color_fff);
  font-size: var(--size_22);
  margin: var(--margin_t10);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--p_text_3);
  text-overflow: ellipsis;
  word-break: break-all;
}
.index_product_content .product_list .figure_img:hover .figcaption_text {background: rgba(0, 0, 0, 0.30);}
.index_product_content .product_list .figure_img:hover .figcaption_text img {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
/*index_product*/

/*index_news*/
.index_news {background: url(../images/index_news_bg.jpg) no-repeat center;background-size: cover;}
.index_news_content {}
.index_news_content .index_title h2 span {color: var(--color);}
.index_news_content .index_title h2 span:before {background: var(--color);}
.index_news_content .index_title h2 small {color: var(--color_666);}

.index_news_content .news_list .figure_img .figure_img_a .time {
  text-align: var(--text_center);
  background: var(--color);
  position: absolute;
  top: 0;
  margin: 5px;
  padding: var(--padding_5);
  transition: 0.5s;
}
.index_news_content .news_list .figure_img:hover .figure_img_a .time {background: rgba(195, 159, 90, 0.71);}
.index_news_content .news_list .figure_img .figure_img_a {display: block;position: relative;}
.index_news_content .news_list .figure_img .figure_img_a .time span {display: block;color: var(--color_fff);font-size: var(--size_20);}
.index_news_content .news_list .figure_img .figure_img_a .time small {color: var(--color_fff);font-size: var(--size_14);}
.index_news_content .news_list .figure_img .figcaption_text h3 {margin: var(--margin_10);overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.index_news_content .news_list .figure_img .figcaption_text h3 a {color: var(--color_333);font-size: var(--size_16);transition: 0.5s;}
.index_news_content .news_list .figure_img:hover .figcaption_text h3 a {color: var(--color);}
.index_news_content .news_list .figure_img .figcaption_text p {
  color: var(--color_666);
  font-size: var(--size_14);
  margin: var(--margin_0);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--p_text_2);
  text-overflow: ellipsis;
  word-break: break-all;
}

.index_news_content .swiper-button-next, .index_news_content .swiper-button-prev {
  position: absolute;
  top: -210px;
  width: 25px;
  height: 45px;
  margin: 0 auto;
  z-index: 10;
  cursor: pointer;
  background-size: 25px 45px;
  background-position: center;
  background-repeat: no-repeat;
}
.index_news_content .pagination_next_prev {position: relative;text-align: var(--text_center);}
.index_news_content .swiper-button-next {
  background-image: url(../images/next.png);
  right: -50px;
  left: auto;
}
.index_news_content .swiper-button-prev {
  background-image: url(../images/prev.png);
  left: -50px;
  right: auto;
}
.index_news_content .swiper-button-next.swiper-button-disabled, 
.index_news_content .swiper-button-prev.swiper-button-disabled {
  opacity: 0.4;
  cursor: auto;
  pointer-events: none;
}
.index_news_content .swiper-pagination {position: relative;display: none;margin: var(--margin_t20);}
.index_news_content .swiper-pagination-bullet {width: 10px;height: 10px;margin: 0 5px;}
.index_news_content .swiper-pagination-bullet {background: var(--color);opacity: .5;}
.index_news_content .swiper-pagination-bullet-active {background: var(--color);opacity: 1;}

.index_news_content .link {
  display: inline-block;
  position: relative;
  padding: 10px 50px;
  margin: var(--margin_t50);
  font-size: var(--size_15);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--color);
  color: var(--color);
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
}
.index_news_content .link:hover {border: 1px solid var(--color);color: var(--color_fff);}
.index_news_content .link:before {background-color: var(--color);}
/*index_news*/

/*index_footer*/
.index_footer {background: url(../images/index_footer_bg.jpg) no-repeat center;background-size: cover;}
.index_footer_content {overflow: hidden;}
.index_footer_content .text_content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  padding: 200px 50px 30px;
  background: rgba(0, 0, 0, 0.5);
}
.index_footer_content .text_content .span {
  display: block;
  font-size: var(--size_18);
  color: var(--color_fff);
  margin:var(--margin_b5);
}
.index_footer_content .text_content .p {
  font-size: 30px;
  color: var(--color_fff);
  margin:var(--margin_b30);
}
.index_footer_content .text_content .p_img {text-align: var(--text_center);width: 110px;margin: 50px 0 0;}
.index_footer_content .text_content .p_img .footer_weixin_img {margin: 0;}
.index_footer_content .text_content .p_img small {
  display: block;
  color: var(--color_fff);
  font-size: var(--size_14);
  padding: var(--padding_t10);
}
.index_footer_content .text_content .p_img span {
  display: block;
  color: var(--color_fff);
  font-size: var(--size_14);
}
.index_footer_content .copyright {margin: 150px auto 0;}
.index_footer_content .copyright p {
  color: var(--color_fff);
  font-size: var(--size_14);
  text-align: var(--text_left);
  margin:var(--margin_0);
}
.index_footer_content .copyright h2 {text-align: var(--text_left);line-height: 15px;margin:var(--margin_0);}
.index_footer_content .copyright h2 a {color:var(--color_fff);font-size: var(--size_14);}
/*index_footer*/

/*footer*/
.footer {background: #ddd;}
.footer_content {margin: var(--margin_20);overflow: hidden;}
.footer_content .footer_copyright_text .p {
  font-size: var(--size_12);
  color: var(--color_666);
  margin: 0px auto;
  display: inline-block;
}
.footer_content .footer_copyright_text .footer_copyright_a {display: inline-block;margin-left: 30px;}
.footer_content .footer_copyright_text .footer_copyright_a a {font-size: var(--size_12);color: var(--color_666);transition: 0.5s;}
.footer_content .footer_copyright_text .footer_copyright_a a:hover {color: var(--color);}
.footer_content .footer_icon {text-align: var(--text_right);}
.footer_content .footer_icon img {display: inline-block;}
/*footer*/

/*about*/
.about {background: var(--background_fff);}
.about_content {margin: var(--margin_30);overflow: hidden;}
.about_content .text_content {margin: var(--margin_0);}
.about_content .text_content .h2 {
  color: var(--color);
  font-size: var(--size_24);
  margin: var(--margin_b20);
}
.about_content .text_content .p {
  color: var(--color_666);
  font-size: var(--size_14);
  text-indent: 30px;
  line-height: 25px;
  margin: var(--margin_b20);
}
.about_content .text_content .more {
  color: var(--color_fff);
  font-size: var(--size_14);
  text-transform: uppercase;
  width: 130px;
  height: 40px;
  line-height: 40px;
  border: 1px solid var(--color);
  background: var(--color);
  margin: 15px 0 0;
}
.about_content .text_content .more:before {background: var(--bg_fff);}
.about_content .text_content .more .small {
  font-size: var(--size_14);
  line-height: 40px;
}
.about_content .text_content .more:hover .small {color: var(--color);}
/*about*/

/*honor*/
.honor {background: var(--background_fff);}
.honor_content {margin: var(--margin_30);overflow: hidden;}
.honor_content .honor_list .figure_img {margin: var(--margin_b10);}
.honor_content .honor_list .figure_img a {display: inline-block;text-align: var(--text_center);}
.honor_content .honor_list .figure_img .figcaption_text {margin: var(--margin_10);}
.honor_content .honor_list .figure_img .figcaption_text span {color: var(--color_333);font-size: var(--size_14);}
.honor_content .honor_list .figure_img:hover .figcaption_text span {color: var(--color);}
/*honor*/

/*business*/
.business {background: var(--background_fff);}
.business_content {margin: var(--margin_30);overflow: hidden;}
.business_content .business_list .figure_img {margin: var(--margin_b20);background: #f6f6f6;}
.business_content .business_list .figure_img:hover {background: #fdfbff;}
.business_content .business_list .figure_img .figure_img_a {padding: var(--padding_0);}
.business_content .business_list .figure_img .figcaption_text {padding: 20px 30px;}
.business_content .business_list .figure_img .figcaption_text h3 {margin: var(--margin_b15);}
.business_content .business_list .figure_img .figcaption_text h3 a {color: var(--color_333);font-size: var(--size_16);}
.business_content .business_list .figure_img:hover .figcaption_text h3 a {color: var(--color);}
.business_content .business_list .figure_img .figcaption_text p {
  color: var(--color_666);
  font-size: var(--size_14);
  margin: var(--margin_0);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--p_text_2);
  text-overflow: ellipsis;
  word-break: break-all;
}
/*business*/

/*product*/
.product {background: var(--background_fff);}
.product_content {margin: var(--margin_30);overflow: hidden;}
.product_content .product_list .figure_img {margin: var(--margin_b15);}
.product_content .product_list .figure_img:hover {
  box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0);
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
}
.product_content .product_list .figure_img .figure_img_a {position: relative;display: block;}
.product_content .product_list .figure_img .figure_img_a h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--color_fff);
  font-size: var(--size_16);
  margin: var(--margin_0);
  padding: var(--padding_15);
  background: transparent;
  transition: 0.5s;
}
.product_content .product_list .figure_img:hover .figure_img_a h3 {background: var(--color);}
.product_content .product_list .figure_img .figcaption_text {padding: var(--padding_10);}
.product_content .product_list .figure_img .figcaption_text p {
  color: var(--color_666);
  font-size: var(--size_14);
  margin: var(--margin_0);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--p_text_2);
  text-overflow: ellipsis;
  word-break: break-all;
}
/*product*/

/*product_detail*/
.product_detail {background: var(--background_fff);}
.product_detail_content {margin: var(--margin_30);overflow: hidden;}

.product_detail_content .left_img .gallery-top {margin: var(--margin_b15);}
.product_detail_content .left_img .gallery-thumbs {margin: var(--margin_0);}
.product_detail_content .left_img .gallery-thumbs {width: 90%;}
.product_detail_gallery .swiper-button-prev,
.product_detail_gallery .swiper-button-next {
  position: absolute;
  bottom:auto;
  width: 50px;
  height: 50px;
  z-index: 10;
  color:var(--color_333);
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  background-image: none;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product_detail_gallery:hover .swiper-button-prev,
.product_detail_gallery:hover .swiper-button-next {opacity: 1;color:var(--color);}
.product_detail_content .swiper_button_next_prev .swiper-button-next {right: 0;}
.product_detail_content .swiper_button_next_prev .swiper-button-prev {left: 0;}
.product_detail_content .swiper_button_next_prev .swiper-button-next,
.product_detail_content .swiper_button_next_prev .swiper-button-prev {
  position: absolute;
  top: auto;
  bottom: 0px;
  width: 30px;
  height: 50px;
  z-index: 10;
  color:var(--color);
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  background-image: none;
  transition: 0.5s;
  cursor: pointer;
}
.product_detail_content .swiper_button_next_prev .swiper-button-next:hover,
.product_detail_content .swiper_button_next_prev .swiper-button-prev:hover {color:var(--color);}
.product_detail_content .left_img img {width: auto;}
.product_detail_content .left_img .product_detail_thumbs .swiper-slide {padding: 0px;}
.product_detail_content .left_img .product_detail_thumbs .swiper-slide-active {border: 1px solid var(--color);}

.product_detail_content .text_content {padding: 30px 15px 0px;}
.product_detail_content .text_content .h2 {
  position: relative;
  color: var(--color);
  font-size: var(--size_24);
  margin: var(--margin_b30);
  padding: var(--padding_b15);
  border-bottom: 2px solid #ccc;
}
.product_detail_content .text_content .h2::before {
  content: "";
  width: 168px;
  height: 2px;
  background: var(--color);
  margin: 40px auto 0;
  position: absolute;
}
.product_detail_content .text_content .p {
  color: var(--color_666);
  font-size: var(--size_14);
  margin: var(--margin_b30);
}
.product_detail_content .text_content .h5 {
  text-align:var(--text_center);
  display: inline-block;
  margin: 0px 25px 0 0;
}
.product_detail_content .text_content .h5 small {
  display: block;
  color: var(--color_666);
  font-size: var(--size_14);
  margin: var(--margin_t10);
}
.product_detail_content .text_content .h5 span {
  display: block;
  color: var(--color_666);
  font-size: var(--size_14);
  margin: var(--margin_t10);
}
.product_detail_content .text_content .details_ul {margin: var(--margin_t50);}
/*product_detail*/

/*news*/
.news {background: var(--background_fff);}
.news_content {margin: var(--margin_30);overflow: hidden;}
.news_content .news_list .figure_img {margin: var(--margin_b20);background: #f6f6f6;}
.news_content .news_list .figure_img:hover {background: #fdfbff;}
.news_content .news_list .figure_img .figure_img_a .time {
  text-align: var(--text_center);
  background: var(--color);
  position: absolute;
  top: 0;
  margin: 5px;
  padding: var(--padding_5);
  transition: 0.5s;
}
.news_content .news_list .figure_img:hover .figure_img_a .time {background: rgba(195, 159, 90, 0.71);}
.news_content .news_list .figure_img .figure_img_a .time span {display: block;color: var(--color_fff);font-size: var(--size_20);}
.news_content .news_list .figure_img .figure_img_a .time small {color: var(--color_fff);font-size: var(--size_14);}
.news_content .news_list .figure_img .figure_img_a {padding: var(--padding_0);}
.news_content .news_list .figure_img .figcaption_text {padding: 20px 30px;}
.news_content .news_list .figure_img .figcaption_text h3 {margin: var(--margin_b15);}
.news_content .news_list .figure_img .figcaption_text h3 a {color: var(--color_333);font-size: var(--size_16);}
.news_content .news_list .figure_img:hover .figcaption_text h3 a {color: var(--color);}
.news_content .news_list .figure_img .figcaption_text p {
  color: var(--color_666);
  font-size: var(--size_14);
  margin: var(--margin_0);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--p_text_2);
  text-overflow: ellipsis;
  word-break: break-all;
}
/*news*/

/*news_detail*/
.news_detail {background: var(--background_fff);}
.news_detail_content {margin: var(--margin_30);overflow: hidden;}
.news_detail_content .title_text {margin: var(--margin_0);text-align: var(--text_center);}
.news_detail_content .title_text h2 {font-size: var(--size_20);color: var(--color_333);margin: var(--margin_0);}
.news_detail_content .title_text ul {margin: var(--margin_10);padding: var(--padding_b15); border-bottom: 1px solid #ccc;}
.news_detail_content .title_text ul li {
  display: inline-block;
  color: var(--color_666);
  font-size: var(--size_14);
  padding: 0 30px;
}
.news_detail_content .text .p {font-size: var(--size_15);color: var(--color_666);margin: var(--margin_0);}
.details_ul {margin: var(--margin_t20);}
.details_ul li {font-size: var(--size_16);color:var(--color_666);margin: 0 auto 10px;}
.details_ul li:last-child {margin: var(--margin_0);}
.details_ul li a {font-size: var(--size_16);color:var(--color_666);}
.details_ul li a:hover {color: var(--color);}
/*news_detail*/

/*contact*/
.contact {background: var(--background_fff);}
.contact_content {margin: var(--margin_30);overflow: hidden;}

.contact_content .text_content {overflow: scroll;}
.contact_content .text_content .figcaption_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  z-index: 9;
  padding: 50px 100px;
}
.contact_content .text_content .text_content_img {width: 100%;}
.contact_content .text_content .figcaption_text .span {
  display: block;
  font-size: var(--size_14);
  color: var(--color);
  margin:var(--margin_b5);
}
.contact_content .text_content .figcaption_text .p {
  font-size: var(--size_22);
  color: var(--color_fff);
  margin:var(--margin_b30);
}
.contact_content .text_content .figcaption_text p .footer_weixin_img {margin: 0;float: left;margin-right: 30px;}
.contact_content .text_content .figcaption_text p small {display: block;color: var(--color_fff);font-size: var(--size_14);padding: var(--padding_t20);}
.contact_content .text_content .figcaption_text p span {display: block;color: var(--color_fff);font-size: var(--size_14);}
.contact_content .text_content .figcaption_text .map_a {
  clear: both;
  display: block;
  font-size: var(--size_14);
  color: var(--color);
  width: 150px;
  text-align: var(--text_center);
  padding: 10px;
  margin:100px 0 0;
  background:transparent;
  border: 1px solid var(--color);
}
.contact_content .text_content .figcaption_text .map_a:hover {color: var(--color_fff);}
.contact_content .text_content .figcaption_text .link:before {background:var(--color);}

.contact_content .messages_form h3 {font-size: var(--size_24);color:var(--color);margin: var(--margin_b15);}
.contact_content .messages_form p {font-size: var(--size_14);color:var(--color_999);margin: var(--margin_0);}
.contact_content .messages_form .form {margin: var(--margin_t30);}
.contact_content .messages_form .form .form_input::-webkit-input-placeholder,
.contact_content .messages_form .form .form_textarea::-webkit-input-placeholder {color: var(--color_999);font-size: var(--size_16);text-transform: uppercase;}
.contact_content .messages_form .form .form_input {
  height: 40px;
  width: 100%;
  margin:var(--margin_b15);
  padding: 5px 20px;
  font-size: var(--size_16);
  color: var(--color_999);
  line-height: 20px;
  background-color: transparent;
  background-image: none;
  border: 2px solid transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.contact_content .messages_form .form .form_textarea {
  height: 150px;
  width: 100%;
  font-size: var(--size_16);
  color: var(--color_999);
  line-height: 20px;
  padding: var(--padding_5);
  background-color: #f6f6f6;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*.contact_content .messages_form .form_input:focus,
.contact_content .messages_form .form .form_textarea:focus {
  outline: 0;
  border: 1px solid #333;
  -webkit-box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
  box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
}*/
.contact_content .messages_form .submit_btn {
  display: block;
  width: 150px;
  font-size: var(--size_16);
  color: var(--color);
  text-align: var(--text_center);
  padding: 5px 10px;
  margin: 15px 0 0;
  background: transparent;
  border: 1px solid var(--color);
  cursor: pointer;
  transition: 0.5s;
}
.contact_content .messages_form .submit_btn:before {background: var(--color);}
.contact_content .messages_form .submit_btn:hover {color: var(--color_fff);border: 1px solid var(--color);}
/*contact*/ 

/*contact_map*/
.contact_map {background: var(--background_fff);}
.contact_map_content {margin: var(--margin_30);overflow: hidden;} 
/*contact_map*/

