@charset "utf-8";
/*about*/
.about_eee {
  background:#eee;
}
.about_us_fff {
  background:#fff;
  z-index:10;
  position:relative;
  top:-135px;
  height: 400px;
  margin-bottom: -80px;  
  padding:80px 70px 0 90px;
  box-shadow:0 20px 50px -50px black;
}
.about_list {
  background:url(../img/about.png);
}
.about_us_fff .page_a {
  background-color:#e30012;
  color:#fff;
  font-size:22px;
  display:inline-block;
  padding:10px 25px 10px 25px;
  border:1px solid #ddd;
  border-radius:30px;
  margin:0 0 50px 0;
}
.about_us_fff p {
  color:#7d7d7d;
  font-size:16px;
  padding:0 15px 0 15px;
}
@media(max-width:300px) {
  .about_us_fff .page_a {
  font-size:15px;
  padding:10px 15px 10px 15px;
}
.about_us_fff {
  background:#fff;
  padding:20px 0 20px 0;
}
}.div_img_fff {
  background:#fff;
  padding:80px 30px 80px 30px;
}
.about_eee .page-header {
  padding:0;
  margin:0 0 15px 15px;
  border:none;
}
.about_eee h1 span {
  color:#e30012;
  font-size:22px;
  padding: 0 0 5px 0;
  border-bottom:3px solid #e30012;
}
.about_eee h1 small {
  color:#a3a3a3;
  font-size:22px;
  margin:0 0 0 50px;
}
@media(max-width:320px) {
  .about_eee h1 small {
  font-size:15px;
  margin:0 0 0 15px;
}
}.slideshow {
  position:relative;
  z-index:1;
  height:100%;
  max-width:700px;
  margin:20px auto;
}
.slideshow * {
  outline:none;
}
.slideshow .slider {
  box-shadow:0 20px 50px -25px black;
}
.slideshow .slider-track {
  -webkit-transition:all 1s cubic-bezier(0.7,0,0.3,1);
  transition:all 1s cubic-bezier(0.7,0,0.3,1);
}
.slideshow .item {
  height:100%;
  position:relative;
  z-index:1;
}
.slideshow .item img {
  width:100%;
  -webkit-transition:all 1s cubic-bezier(0.7,0,0.3,1);
  transition:all 1s cubic-bezier(0.7,0,0.3,1);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}
.slideshow .item.slick-active img {
  -webkit-transform:scale(1);
  transform:scale(1);
}
.slider_padding {
  /*padding:0 50px 0 50px;
  */
}
.about_us_slider .slick-dots {
  bottom:10px;
  left:-35%;
}
.about_us_slider {
  background:#fff;
}
.about_us_slider .slick-dots li.slick-active button:before {
  color:#e30012;
}
.about_us_slider .slick-dots li button:before {
  color:#fff;
  opacity:1;
  font-size:40px;
}
.about_us_slider .slick-dots li button {
  color:#fff;
}
.about_us_slider .page-header {
  padding:0;
  margin:0 0 15px 0;
  border:none;
}
.about_us_slider h1 small {
  color:#333;
  font-size:22px;
  margin:0 0 0 0;
}
@media(max-width:991px) {
  .about_us_slider .slick-dots {
  left:-25%;
}
}.div_img_fff span {
  color:#333;
  font-size:22px;
}
.div_img_fff p {
  color:#666;
  font-size:13px;
  height:50px;
  margin:10px 0 0 0;
}
.div_img_fff .md_20 {
  width:20%;
  border-right:1px solid #ddd;
}
.div_img_fff .border_bottom {
  border-bottom:1px solid #ddd;
}
.div_img_fff .md_20:nth-child(5) {
  border-right:none;
}
.div_img_fff .md_20:nth-child(10) {
  border-right:none;
}
.div_img_fff .md_20 img {
  width:auto;
}
.div_img_fff .md_20 .thumbnail {
  border:none;
  text-align:center;
  padding:25px 5px 5px 5px;
}
@media(max-width:1199px) {
  .div_img_fff p {font-size:13px; height: 80px;
}
}@media(max-width:767px) {
  .div_img_fff .md_20 {
  border:none;
  width:50%;
}
}@media(max-width:500px) {
  .div_img_fff .md_20 {
  border:none;
  width:100%;
}
}.about_fz {
  background:url(../img/about_fz.png) no-repeat;
}
.div_img_fff .nav-tabs{border:none;}
.div_img_fff .nav-tabs a{padding:0 0 5px 0;margin-bottom: 15px;}
.div_img_fff .nav-tabs > li.active > a{ border-bottom: 3px solid #e30012;border-top:none;border-left:none;border-right:none;}
.div_img_fff .nav-tabs > li {margin-left: 15px;}
.div_img_fff .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{    
  color: #e30012;
  font-size: 22px;
}
.div_img_fff .tab_a_2{
  color: #ABABAB;
  font-size: 22px;
}
/*about*/



.index_bg_000 {
  background:url(../img/index_bg_000.png) no-repeat;
  background-size:cover;
}
.index_bg_000 h4 {
  color:#fff;
  font-size:16px;
}
.index_bg_000 .number {
  color:#fff;
  font-size:85px;
  margin:98px 0 0 0;
}
.height_390 {
  height:390px;
}
@media(max-width:767px) {
  .height_390 {
  height:auto;
  margin:0 0 50px 0;
}
.index_bg_000 .number {
  margin:50px 0 0 0;
}
}



@media(max-width:1390px){
  .about_us_fff {
    height: 430px;padding: 80px 0 0 0;
  }
}
@media(max-width:1175px){
  .about_us_fff {
    height: 450px;
  }
}
@media(max-width:1015px){
  .about_us_fff {
    height: 500px;
  }
}
@media(max-width:920px){
  .about_us_fff {
    height: auto;top: -60px;
  }
}








