@charset "utf-8";

.main_f5f5f5{background: #f5f5f5;}
.canzhan .h2_title{
	color: #044c9a;
    font-size: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0 20px 10px;
}
.canzhan .am-table > tbody > tr > td{border: none; }
.canzhan .div_top{background: #fff; margin-top: 20px;}
.canzhan .am-table .tr_fff{border: none; background-color: #fff;font-size: 20px;}
.canzhan .am-table .tr_fff td{color: #333;text-align: center;}
.canzhan .am-table .tr_fff .padding_td{padding-left: 70px;}
.canzhan .am-table .tr_E6F3FC{background-color: #E6F3FC;font-size: 20px;}
.canzhan .am-table .tr_E6F3FC td{color: #333;text-align: center;}
.canzhan .am-table tr{
	background-image: url(../img/list_cg.png);
	background-repeat: no-repeat;
	background-size: 30px;
}
.canzhan .am-list > li {border:none;}
.canzhan .am-list-item-hd a{color: #333;font-size: 15px;}
.canzhan .am-list-news-default .am-list .am-list-item-desced .am-list-item-text{color: #4d4d4d;font-size: 12px;}
.canzhan article{color: #808080;font-size: 13px; margin-bottom: 20px;}
.canzhan .div_btn{
	width: 100%;
	background: #0266cc;
	color: #fff;
	margin-bottom: 20px;
	height: 50px;
	line-height: 30px;
	border-radius: 30px;
}


.canzhan .am-table .tr_1 {background-position: 42% -4%;}
.canzhan .am-table .tr_2 {background-position: 42% 24%;}
.canzhan .am-table .tr_3 {background-position: 42% 24%;}
.canzhan .am-table .tr_4 {background-position: 42% 24%;}
.canzhan .am-table .tr_5 {background-position: 42% 100%;}

@media only screen and (max-width: 900px){
	.canzhan .am-table .tr_1 {background-position: 35% -4%;}
	.canzhan .am-table .tr_2 {background-position: 35% 24%;}
	.canzhan .am-table .tr_3 {background-position: 35% 24%;}
	.canzhan .am-table .tr_4 {background-position: 35% 24%;}
	.canzhan .am-table .tr_5 {background-position: 35% 100%;}
}
@media only screen and (max-width: 500px){
	.canzhan .am-table .tr_1 {background-position: 30% -4%;}
	.canzhan .am-table .tr_2 {background-position: 30% 24%;}
	.canzhan .am-table .tr_3 {background-position: 30% 24%;}
	.canzhan .am-table .tr_4 {background-position: 30% 24%;}
	.canzhan .am-table .tr_5 {background-position: 30% 100%;}
}
@media only screen and (max-width: 380px){
	.canzhan .am-table .tr_1 {background-position: 20% -4%;}
	.canzhan .am-table .tr_2 {background-position: 20% 24%;}
	.canzhan .am-table .tr_3 {background-position: 20% 24%;}
	.canzhan .am-table .tr_4 {background-position: 20% 24%;}
	.canzhan .am-table .tr_5 {background-position: 20% 100%;}
}













.canzhanshenqing{background: #fff;}
.canzhanshenqing .h2_title{
	color: #044c9a;
    font-size: 30px;
    padding: 20px 0 20px 10px;
}
.canzhanshenqing .h2_title small{
	color: #808080;
    font-size: 15px;
}
.canzhanshenqing .am-form-horizontal .am-form-label {
    text-align: left;font-size: 13px;color: #333;
}
.canzhanshenqing form small{color: #ff2626;font-size: 18px;padding: 0 0 0 5px;}
.canzhanshenqing .am-selected {width: 100%;background: #f5f5f5;}
.canzhanshenqing .am-form input{background: #f5f5f5;border: none;}
.canzhanshenqing .piaozhong span{color: #333;font-size: 16px;}
.canzhanshenqing .piaozhong p{color: #808080;font-size: 15px;}
.canzhanshenqing .div_btn{
	width: 100%;
	background: #0266cc;
	color: #fff;
	margin-bottom: 20px;
	height: 50px;
	line-height: 30px;
	border-radius: 30px;
}
.canzhanshenqing .am-form .textarea_p textarea{background: #f5f5f5;}
.canzhanshenqing .textarea_p p{float: right;margin-top: 5px;}
.canzhanshenqing .logo_p p{margin-top: 5px;}
.canzhanshenqing .btn_label{color: #ff2626;text-align: center;}

@media only screen and (max-width: 300px){
	.canzhanshenqing .button_upload{width: 100%;font-size: 12px;}
}












