@charset "utf-8";

.piaowuchaxun .h2_title{
	color: #333;
    font-size: 20px;
    padding: 20px 0 20px 0;
}

.piaowuchaxun .label_15{
	color: #333;
    font-size: 15px;
    text-align: center;   
}
.piaowuchaxun .label_left{margin-left: 20%;font-size: 12px;}
.piaowuchaxun .btn_width{width: 100%;background: #0266cc;color: #fff;font-size: 20px;}
.piaowuchaxun .div_a{text-align: center;}
.piaowuchaxun .div_a a{font-size: 15px;color: #0266cc;text-decoration: underline;}
.piaowuchaxun .div_input input{background-color: #F5F5F5;}
@media only screen and (max-width: 390px){
	.piaowuchaxun .label_15{text-align: left;}
	.piaowuchaxun .div_a{width: 100%;}
	.piaowuchaxun .label_15{width: 100%;}
	.piaowuchaxun .div_input{width: 100%;}
	.div_btn_width{margin-left:0;}
}
