@charset "utf-8";

.wangshangzhanting_info .am-list-news-default 
.am-list .am-list-item-desced { padding-bottom: 2rem;border-bottom: 1px solid #dedede;border-top:none;}
.wangshangzhanting_info h3{font-size: 15px;color: #044c9a;}
.wangshangzhanting_info .am-list-news-default .am-list 
.am-list-item-desced .am-list-item-text { font-size: 15px;color: #333;}
.wangshangzhanting_info .article_title_p{
    font-size: 16px;
    line-height: 1.15;
    font-weight: normal;
    margin: 0 0 10px 0
}
.wangshangzhanting_info .article_title{
    font-size: 25px;color: #044c9a;margin: 0 0 10px 0
}







