@charset "utf-8";

.am-paragraph h2{
	color: #044c9a;
    font-size: 30px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #e6e6e6;
}

.am-list li {
	border-top: none;
    border-bottom: 1px dashed #dedede;
    margin-bottom: 0px;
    padding-bottom: 15px;
}
.am-paragraph-default a{color:#333;}
.am-paragraph-default a:hover{color:#000;}
.am-list-date { top: 2.3rem;}
.article_xiazai .am-list li a{text-decoration: underline;color:#044c9a;}
.article_xiazai .am-list li a:hover{color:#000;}


