@charset "utf-8";

.zhanquguihua .h2_title{
	color: #044c9a;
    font-size: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0 20px 0;
}
.zhanquguihua .am-article .am-article-hd h1{font-size: 30px;color: #333;}
.zhanquguihua .am-article .am-article-hd p{font-size: 15px;color: #333;}
.zhanquguihua .am-article{margin-bottom:20px; }
.zhanquguihua .am-container .am-g img {width: 100%;}
.zhanquguihua .article_img .am-article-hd img{width: 100%;max-width: 100%;}
.zhanquguihua .top{margin: 20px 0 20px 0; }
.zhanquguihua .padding_div{padding: 0 0 0 0;}
/*图片上显示文字*/
.text{
	background: rgba(0, 0, 0, 0.41);
    color: #fff;
    font-size: 25px;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-align: center;
}
.text p{margin: 55px 0 0 0;width: 100%;padding: 0 25px 0 25px;}

@media only screen and (max-width: 770px){
	.text p{font-size: 20px;margin: 10px 0 0 0;}
}
@media only screen and (max-width: 520px){
	.text p{font-size: 15px;margin: 30px 0 0 0;}
}
@media only screen and (max-width: 470px){
	.text p{font-size: 10px;margin: 15px 0 0 0;}
}
/*@media only screen and (max-width: 420px){
	.zhanquguihua .padding_div{width: 100%;}
	.text p{font-size: 20px;margin: 30px 0 0 0;}
}*/
/*图片上显示文字*/


