@charset "utf-8";

.main_f5f5f5{background: #f5f5f5;}
.zhutiluntan .am-nav-tabs li a {background-color: #333;color: #fff;font-size: 20px;}
.zhutiluntan .am-active a {background-color: transparent;color: #333;}
.zhutiluntan .am-active a:hover {color: #044c9a;}
.zhutiluntan .am-nav-tabs li.am-active a {background-color: #044c9a;color: #fff;border-color: #044c9a;}
.zhutiluntan .am-nav li a:hover {background-color: #044c9a;color: #fff;border-color: #333;}
.am-nav-tabs li a{margin: 0 0 0 0;}
.zhutiluntan th {
    color: #044c9a;
    font-size: 18px;
}
.zhutiluntan td{
	color: #333;
    font-size: 15px;
}
.zhutiluntan .am-table > tbody > tr > td{
    border: none;
}
.zhutiluntan .am-table > thead > tr > th {
    border-bottom: 1px solid #eee;
}
.zhutiluntan .am-table-striped td {
    background-color: #fff;
}
.zhutiluntan .am-tabs-bd {
    border: none;
}
.zhutiluntan .am-nav-tabs {
    border: none;
}
.zhutiluntan .am-tabs-bd .am-tab-panel {padding: 10px 0 15px 0;}
.zhutiluntan .am-table > tbody > tr.am-primary > td{color: #333;background-color: #e6f3fc;}
.zhutiluntan .am-table-striped > tbody > tr:nth-child(odd) > td {color: #333;background-color: #fff;}
.zhutiluntan .am-nav > li > a {
    padding: 0.4em 0.7em;
}

.swiper1 {
    width: 100%;
}
.swiper1 .selected {
    background-color: #044c9a;color: #fff;
}
.swiper1 .swiper-slide {
    text-align: center;
    font-size: 16px;
    height: 50px;
    width: 106.455px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0 -10px;
}
.swiper2 {
    width: 100%;
}
.swiper2 .swiper-slide {
    height: calc(100vh - 50px);
    background-color: #fff;
    color: #fff;
    text-align: center;
    box-sizing: border-box !important;
    overflow-x: hidden !important;
}
.swiper-wrapper th{background: #fff;}
.swiper-slide{
    background-color: #333;
    color: #fff;
}