body {
  /*font-family: 'Lato', arial, sans-serif;*/
  font-family:"Microsoft Yahei",Helvetica;
  color: #444444;
}
a {
  color: #56bc94;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #3fa07a;
}
li{
    list-style: none;
}
li img{
    display: block;
    margin: 0 auto;
}

/*图片放大*/
.list_img {
  overflow: hidden;
}
.list_img .img {
  width: 100%;
  transition: 0.6s all;
  -webkit-transition: 0.6s all;
}
.list_img:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
/*图片放大*/
/*图片向上动*/
.list_box_shadow {
  position: relative;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  overflow: hidden;
  padding: 0;
}
.list_box_shadow:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
}
/*图片向上动*/
/*图片向下动*/
.img_profile { 
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.img_profile:hover {
    transform: translateY(15px);
}
/*图片向下动*/

/* ======= Header ======= */
.header .navbar-nav > li > .dropdown-menu {text-align: center;}
.header .navbar-right .dropdown-menu{right: -30px;left: auto;}
.header {
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.87);
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  max-height: 50px;
}
.header h1.logo a {
  color: #444444;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}
.header h1.logo a img {
  margin-right: 5px;
  max-height: 50px;
}
.header h1.logo .logo-title {
  vertical-align: middle;
}
.header .main-nav button {
  background: #1195DF;
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}
.header .main-nav button .icon-bar {
  background-color: #fff;
}
.header .main-nav .nav .nav-item {
  font-weight: normal;
  text-transform: uppercase;
  margin-right: -1px;
}
.header .main-nav .nav .nav-item.active a:after {
  content: "";
  width: 70px;
  height: 3px;
  background: #0E97E3;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: auto;
}
.header .main-nav .nav .nav-item.active a {
  color: #0E97E3;
  background: none;
}
.header .main-nav .nav .nav-item a {
  color: #4a4e52;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  font-size: 17px;
  padding: 15px 10px;
}
.header .main-nav .nav .nav-item a:hover {
  color: #0E97E3;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #56bc94;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}


/* ======= Header ======= */
.mt50 {margin-top: 50px;}
.mb50 {margin-bottom: 50px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mt80{margin-top: 80px;}
/*我们的业务*/
.div_h1{
  margin-bottom: 60px;
  font-size: 32px;
  color: #1195DF;
}
.business .thumbnail{border: none;padding: 0;box-shadow: 0 4px 18px rgba(0,95,204,0.45);}
/*图片上显示文字*/
.text{
  /*background: rgba(0, 0, 0, 0.25);*/
  position: relative;
  margin-top: -352px;
  height: 300px;
  text-align: center;
  overflow: hidden;
}
.text h3{
  color: #fff;
  font-size: 25px;
}
.text p{
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  width: 270px;
  margin: 0 auto;
}

/*图片上显示文字*/
/*我们的业务*/

/*动态资讯*/
.news{background: #edf2f5;}
.news .div_right{float: right;}
.news .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover,
.news .nav-tabs > li.active > a:focus{background: #179BE6; color: #fff;}
.news .nav-tabs > li > a{color: #1094DF;font-size: 18px;}
.news .right_li{float: right;}
.news .nav-tabs {border-bottom: 2px solid #179BE6;}

.news .list-group-item {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 0 0 0;
}
.news a{color: #7a7f82;font-size: 15px;}
.news a:hover{color: #179BE6;}
.news .badge{background-color:transparent;color: #7a7f82;}
.news .slide_tabs{position: relative;top: -35px;left: 20em;z-index: 5;}
.news .slide_tabs li {float: left;color: #fff;background: transparent;border: 1px solid #179BE6;margin: 0 10px 0 0;border-radius: 50%;width: 10px; height: 10px;}
.news .slide_tabs .slide_here{background: #179BE6;}
.news .slide_tabs li a{color: transparent;}


/*动态资讯*/

/*成员单位*/
.company .box{box-shadow: 0 2px 10px rgba(0,95,204,0.35);}
.company .caption{background: #F1F6F7;}
.company .caption h3 a{
  font-size: 22px;
  color: #4a4e52;
}
/*成员单位*/

/*医谷简介*/
.jianjie .thumbnail{border: none;}
.jianjie img{width: 100%;}
.jianjie .jianjie_h1{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 32px;
  color: #fff;
}
.jianjie p{
  width: 100%;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 22px;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: center;
}
.jianjie a{
  display: block;
  width: 182px;
  height: 56px;
  text-align: center;
  line-height: 54px;
  font-size: 24px;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0px auto;
  border: 2px solid #fff;
  cursor: pointer;
  background: rgba(255,255,255,0);
}
.jianjie .figcaption_text{
  position: absolute;
  margin-top: -352px;
  text-align: center;
  overflow: hidden;
}
/*医谷简介*/

/*综合服务*/
.zonghe{background: #fcfcfc; margin-top: 20px;padding-bottom: 50px;}
.zonghe a{color: #fff;}
.zonghe .div_70B5FF{background: #70B5FF;}
.zonghe .div_83DB81{background: #83DB81;}
.zonghe .div_F5BB84{background: #F5BB84;}
.zonghe .div_B1B7FC{background: #B1B7FC;}
.zonghe .div_62DEC7{background: #62DEC7;}
.zonghe .div_4CD0F5{background: #4CD0F5;}
/*综合服务*/

/*合作机构*/
.hezuo_z{z-index: 5;position: relative;}
.hezuo .center-block{width: 100%;}
.flickity-slider{left: -31.20em !important}
.hezuo_figure{margin-top:-19.3em; z-index: -1;}
/*合作机构*/

/*footer*/
.mb10{margin-bottom: 10px;}
.footer h2{
  margin-bottom: 36px;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #4a4e52;
}
.footer .footer_ul1 li{float: left;}
.footer .footer_ul1 li a{
  color: #2F9FE3;
  font-size: 18px;
  letter-spacing: 0.04em;
  margin: 0 0 0 -40px;
}
.footer .footer_ul1 li a:hover{color: #333;}
.footer .footer_ul1 li a::after{
  content: "\2022";
  margin-right: 55px;
  margin-left: 20px;
}
/*.footer .footer_ul1 li a:last-child{content: "";}*/
.footer .ewm{
  width: 178px;
  height: 178px;
  margin-bottom: 20px;
  margin-right: 32px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.13);
}
.footer .p_wx{
  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #4a4e52;
  width: 178px;
}
.footer_ul2 li{
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #4a4e52;
}
.footer i{margin: 0 10px 0 0}
.footer .icon1{color: #54D448;}
.footer .icon2{color: #269FF0;}
.footer .icon3{color: #FF7575;}
.footer .width_56{width: 56%;}
/*.footer .div_icon1{
  border-radius: 50%;
  border: 1px solid #fff;
  width: 68px;
  height: 68px;
  box-shadow: 0 2px 8px rgba(0,95,204,0.3);
}*/
/*.footer .footer_ul2{float: right;}*/
/*footer*/

/*news_list*/
.main_edf4f7{background: #edf4f7;}
.news_list{margin-top: 10em;}
.news_list .thumbnail{
  border: none;
  padding: 0;
  /*box-shadow: 0 4px 18px rgba(0,95,204,0.45);*/
}
.news_list .list_text{
  background: rgba(0, 0, 0, 0.57);
  position: relative;
  margin-top: -59px;
  text-align: left;
  overflow: hidden;
}
.news_list .list_text h3{
  margin-top: 20px;
  margin-bottom: 20px;
}
.news_list .list_text h3 a{
  color: #fff;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.news_list .list_text p{
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin: 10px 15px 0 0;
  padding: 0 10px 0 10px;
  border-right: 1px solid #fff;
}
.news_list .list_text p span{ font-size: 18px;}
.news_list .tab_content img{width: 100%;}
.news_list .tab_box{margin-right: 0 !important;margin-left: 0 !important;background: #fff;box-shadow: 0 4px 16px rgba(0,95,204,0.4);}
.news_list .tab_box h3 {margin: 5px 0 20px;}
.news_list .tab_box h3 a{color: #000;font-size: 23px;}
.news_list .tab_box h3 a:hover{color: #878e91;}
.news_list .tab_box p{
      margin: 0 0 0;
  color: #878e91;
  font-size: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.news_list .tab_box span{color: #878e91;font-size: 15px;margin: 0 50px 0 0;}
.news_list .tab_box i{margin: 0 10px 0 0;}
/*news_list*/

/*news_detail*/
.news_detail{margin-top: 10em; background-color: #fff;}
.news_detail_article{box-shadow: 0 2px 10px rgba(0,0,0,0.12);padding: 10px 10px 10px 10px;}
.news_detail img{width: 100%;}
.news_detail .news_detail_article h3 {color: #333;font-size: 23px;}
.news_detail .news_detail_article span{color: #878e91;font-size: 15px;margin: 0 50px 0 0;}
.news_detail .news_detail_article i{margin: 0 10px 0 0;}
.news_detail .breadcrumb{background: transparent;}
.news_detail .breadcrumb > li a{color: #38A4E4;font-size: 16px;}
.news_detail .breadcrumb>.active{color: #797f82;font-size: 16px;}
.news_detail .breadcrumb > li + li:before {
  color: #CCCCCC;
  content: "";
  padding: 0 5px;
}
/*news_detail*/

/*about*/
.about_img img{width: 100%;}
.about_ul_nav{box-shadow: 0px 4px 20px rgba(0,95,204,0.55);z-index: 5;position: relative;}
.about_ul_nav li{
  width: 195px;
  height: 88px;
  text-align: center;
  position: relative;
}
.about .nav-tabs li a{color: #4a4e52;font-size: 24px;line-height: 66px;}
.about .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: #fff;background-color: #1195E0;border: 1px solid #1195E0;
}
.tab_bg_1{margin: 0 0 0 0; height:436px;}
.tab_text_1{color: #fff;line-height: 34px;font-size: 16px;letter-spacing: 0.06em;margin-bottom: 22px;}
.tab_bg_2{margin: 0 0 0 0; height:708px;}
.tab_text_2{margin-top:15%;color:#555;line-height: 34px;font-size: 16px;}
.tab_text_2_img{margin-top:15%;}
.tab_text_2_img img{width: 100%;}
.tab_bg_3{margin: 0 0 0 0; height:auto;}
.tab_text_3{margin-top: 18%;margin-bottom: 20%;width: 50%;color:#fff;line-height: 34px;font-size: 16px;}
.tab_bg_4{margin: 0 0 0 0; height:400px;}
.tab_text_4{margin-top:10%;color:#555;line-height: 34px;font-size: 16px;}
.tab_bg_5_a{
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 22px;
  letter-spacing: 0.04em;width: 220px;
  height: 58px;
  background: #1295E0;
  margin: 41% 0 50% 0;
  box-shadow: 0 4px 22px rgba(0,95,204,0.5); 
  display: block;
}
.width_225{width:225px;}
.tab_bg_6{ padding: 20px 0 20px 0; }
.tab_bg_6_div{color:#555;line-height: 34px;font-size: 16px;}
.tab_bg_6_div ul li{margin-bottom: 10px;}
.tab_bg_6_div ul li img{
  width: 100%;
  box-shadow: 0 4px 24px rgba(0,95,204,0.5);
}
/*about*/
/*opacity: 0.5;*/
/*park*/
.park .mt50{margin-top:50px; }
.park img{width: 100%;}
.park p{font-size: 16px;line-height: 34px; color: #4a4e52;margin-top: 60px;}
.park .park_D3E5F0{background: #D3E5F0;padding-top:80px;padding-bottom: 80px;}
.park .park_EBF7FC{background: #EBF7FC;padding-top:80px;padding-bottom: 80px;}
.park .park_D3E5F0{background: #D3E5F0;padding-top:80px;padding-bottom: 80px;}
.park .park_EBF7FC{background: #EBF7FC;padding-top:80px;padding-bottom: 80px;}
.park .park_D3E5F0{background: #D3E5F0;padding-top:80px;padding-bottom: 80px;}
.park .park_DEEEF6{background: #D3E5F0;padding-top:80px;padding-bottom: 80px;}
.park .nav-tabs > li.active > a, .park .nav-tabs > li.active > a:hover, .park .nav-tabs > li.active > a:focus{
  color: #fff;font-size: 34px;background-color: rgba(17, 149, 224, 0.83);border: 1px solid #1195E0;height: 400px;
}
.park .nav-tabs > li > a{    margin: 0 -15px 0 -15px;
  padding: 200px 0 200px 0;
  font-size: 34px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  height: 400px;
  background-color: rgba(238, 238, 238, 0.3803921568627451);
}
.park .nav-tabs {border-bottom: 1px solid transparent;}
/*park*/

/*communication*/
.gj img{width: 100%;}
.gj .title {
  text-align: center;
  font-size: 32px;
  color: #1496E1;
  margin-bottom: 20px;
  position: relative;
  padding-top: 20px;
}
.gj .title::before {
  content: "";
  height: 3px;
  width: 40%;
  background: #1496E1;
  position: absolute;
  right: 0;
  top: 64%;
  margin-right: 17px;
}
.gj .title::after {
  content: "";
  height: 3px;
  width: 40%;
  background: #1496E1;
  position: absolute;
  left: 0;
  top: 64%;
  margin-left: 17px;
}
.gj .caption h3{font-size: 18px;color: #5E6366;}
.gj .caption p{font-size: 16px;color: #a6a4a4;}
.gj{background: #EEF3F7;}
/*communication*/

/*contact*/
.contact {background: #edf4f7;}
.contact .page-header{margin-top: 10em;margin-bottom: 60px;}
.contact h1{font-size: 32px;color: #1295e0;}
.contact .contact_box {
  background: #fff;
  margin-bottom: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: box-shadow 0.3s;
  box-shadow: 0 6px 16px rgba(0,95,204,0.35);
}
.contact .contact_box:hover{box-shadow:0 6px 26px rgba(0,95,204,0.35);}
.contact .contact_box .map{width: 100%;}
.contact .contact_box .ewm{width: 30%;}
.contact .contact_box_ul{margin-left: -32px;}
.contact .contact_box_ul li{
  color: #4a4e52;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 12px;
}
.contact_title{font-size: 32px;color: #1295e0; position: relative;}
.contact_title:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 2px;
  background: #d1d9de;
  margin: auto;
  width: 44%;
}
.contact_title:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 2px;
  background: #d1d9de;
  margin: auto;
  width: 44%;
}
.contact_title_text ul{
  transition: border 0.5s,box-shadow 0.3s;
  border: 1px solid #b5c2c9;
  margin-top: 60px;
  padding-top: 50px;
}
.contact_title_text ul:hover{border:1px solid #f55860;box-shadow:0 2px 10px rgba(0,0,0,0.10);}
.contact_title_text_1{
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #4a4e52;
  padding-bottom: 30px;
}
.contact_title_text_2{
  color: rgb(237, 52, 61);
  font-size: 16px;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}
.contact_list_text{margin-top: 65px;margin-bottom: 65px;}
.contact_list_text h3{
  padding-top: 35px;
  margin-left: 55px;
  margin-bottom: 75px;
}
.contact_list_text h3 a{
  font-size: 24px;
  color: #33A4E6;
}
.contact_li_text_1{
  float: left;
  margin-top: 4px;
  margin-left: 56px;
  font-size: 16px;
  color: #899090;
}
.contact_li_text_2 a{
  margin-left: 10em;
  font-size: 22px;
  color: #1C99E0;
  cursor: pointer;
}
.div_17A4F4:hover{background:#17A4F4;}
.div_17A4F4:hover h3 a, .div_17A4F4:hover .contact_li_text_1, .div_17A4F4:hover .contact_li_text_2 a {color: #fff;}
/*contact*/

/*integrated*/
.integrated{background: #EDF4F7;}
.integrated .integrated_img .service_div{
  width: 220px;
  margin-top: 23em;
  text-align: center;
}
.integrated .service_div{
  width: 220px;
  margin-bottom: 80px;
  margin-top: 30px;
  text-align: center;
}
.integrated .service_div a{
  color: #fff;
  font-size: 22px;
  line-height: 20px;
  background: #1295e0;
  padding: 20px 50px 20px 50px;
  box-shadow: 0 4px 24px rgba(0,95,204,0.5);
}
.integrated .page-header{border: none;}
.integrated .page-header h1 {
  font-size: 32px;
  color: #1496E1;
  margin-top: 84px;
  margin-bottom: 64px;
}
.integrated .tab_div_fff{
  background: #fff;
  box-shadow: 0 2px 12px rgba(0,0,0,0.15);
  margin-bottom: 88px;
}
.integrated .tab_div_fff img{width: 100%;}
.integrated .tab_article_text_1 {
  padding-top: 50px;
  padding-bottom: 120px;
  font-size: 18px;
  line-height: 35px;
  color: #4a4e52;
}
.integrated .tab_article_text_1 h3{
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #5E6165;
  padding-bottom: 16px;
  overflow: hidden;
}
.integrated .tab_article_text_1 p{
  line-height: 30px;
  color: #878e91;
  font-size: 14px;
  max-width: 406px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
}
.integrated .tab_article_text_2{
  background: #F0F8FB;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.integrated .tab_article_text_2 h3{
  font-size: 22px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.integrated .tab_article_text_2 h3 a{color: #52575B;}
.integrated .tab_article_text_2 h3 a:hover{color: #889093;}
.integrated .tab_article_text_2 .p_1{
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #889093;
  line-height: 32px;
  max-width: 622px;
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.integrated .tab_article_text_2 .p_2{
  margin-top: 15px;
  font-size: 16px;
  color: #4a4e52;
  letter-spacing: 0.04em;
  margin-bottom: 20px;
}
.integrated .tab_li_bg{margin-left: 1px;text-align: center;}
.integrated .nav-tabs li a:hover, .integrated .nav-tabs>li.active>a, .integrated .nav-tabs>li.active>a:hover, .integrated .nav-tabs>li.active>a:focus{
  height: 150px;width: 192px;background: #6eafff;font-size: 20px;
  letter-spacing: 0.04em;color: #fff;line-height: 50px; border: none;
}
.integrated .nav-tabs li a{
  height: 150px;width: 192px;background: #DAE1E7;font-size: 20px;
  letter-spacing: 0.04em;color: #777f85;line-height: 50px; border: none;
}
/*integrated*/

/*attract*/
.attract {background: #edf4f7;}
.attract .header_text{margin-top: 10em;margin-bottom: 60px;}
.attract h1{font-size: 32px;color: #1295e0;}
.attract .header_text_2{margin-top: 50px;margin-bottom: 50px;}
@media (max-width: 3000px) and (min-width: 992px){
  .attract .attract_before_after:before{
    content: "";
    position: absolute;
    right: 0;
    height: 2px;
    background: #d1d9de;
    margin: 15px 0 0 0;
    width: 44%;
  }
  .attract .attract_before_after:after{
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    background: #d1d9de;
    margin:-30px 0 0 0;
    width: 44%;
  }
}
.attract .thumbnail{border-radius: 2px;box-shadow: 0 0 12px rgba(17,111,236,0.5);}
.attract .thumbnail img{padding-top: 25px;}
.attract .thumbnail .caption h3{margin-top: 15px;color: #4B4F52;}
.attract .thumbnail .caption p{font-size: 18px;letter-spacing: 1px;color: #1395E1;margin-top: 15px;}

.attract .div_F7998D {background: #F7998D;padding: 10px 20px 10px 20px;}
.attract .div_F0C07D {background: #F0C07D;padding: 10px 20px 10px 20px;}
.attract .div_A3C97D {background: #A3C97D;padding: 10px 20px 10px 20px;}
.attract .div_61C9C6 {background: #61C9C6;padding: 10px 20px 10px 20px;}
.attract .div_7FBDF0 {background: #7FBDF0;padding: 10px 20px 10px 20px;}
.attract .div_ABABED {background: #ABABED;padding: 10px 20px 10px 20px;}
.attract .text_border{border-bottom: 1px solid #fff; padding: 0 0 105px 0;margin-bottom: 30px;}
.attract .div_F7998D .text_fff_1, .attract .div_F0C07D .text_fff_1, .attract .div_A3C97D .text_fff_1, 
.attract .div_61C9C6 .text_fff_1, .attract .div_7FBDF0 .text_fff_1, .attract .div_ABABED .text_fff_1{color: #fff;font-size: 80px;}
.attract .div_F7998D .text_fff_2, .attract .div_F0C07D .text_fff_2, .attract .div_A3C97D .text_fff_2, 
.attract .div_61C9C6 .text_fff_2, .attract .div_7FBDF0 .text_fff_2, .attract .div_ABABED .text_fff_2{color: #fff;font-size: 30px;line-height: 125px;}
.attract .div_F7998D .center-block, .attract .div_F0C07D .center-block, .attract .div_A3C97D .center-block, 
.attract .div_61C9C6 .center-block, .attract .div_7FBDF0 .center-block, .attract .div_ABABED .center-block {color: #fff;font-size: 16px;}

.attract .caption h5{
  padding-top: 30px;
  margin-top: 5px;
  font-size: 24px;
  color: #4a4e52;
  margin-bottom: 15px;
}
.attract .caption p{
  margin-bottom: 10px;
  color: #878e91;
  font-size: 16px;
  line-height: 30px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
@media (max-width: 3000px) and (min-width: 992px){
  .attract .attract_before_after_2:before{
    content: "";
    position: absolute;
    right: 0;
    height: 2px;
    background: #d1d9de;
    margin: 15px 0 0 0;
    width: 44%;
  }
  .attract .attract_before_after_2:after{
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    background: #d1d9de;
    margin: -30px 0 0 0;
    width: 44%;
  }
}
.attract .btn_img img{width: 100%;}
.attract .btn_img {margin-bottom: 20px;}
.attract  p{font-size: 15px;color: #a4acb0;text-align: center;}
.attract .btn-default {
  color: #fff;
  background-color: #B9C4C9;
  border-color: #B9C4C9;
  padding: 20px 40px 20px 40px;
}
/*attract*/

/*service*/
.service{background: #EDF4F7;}
.service img{width: 100%;}
.service .page-header{margin-top: 10em;margin-bottom: 60px; border: none;}
.service h1{font-size: 32px;color: #1295e0;}
.form_fff{background: #fff;box-shadow: 1px 2px 10px rgba(0,0,0,0.2);padding-top:80px;padding-bottom:50px;}
.form_fff label{font-weight: 400;font-size: 22px; color: #4a4e52;}
.form_fff p{font-size: 14px;color: #a4acb0;line-height: 24px;}
.form_fff .btn_bg{box-shadow: 0 4px 12px rgba(0,95,204,0.4);background: #1196E0; padding: 15px 90px 15px 90px;font-size: 18px;color: #fff;}
/*service*/

@media screen and (max-width: 1400px){
  .hezuo .center-block {height: 350px;}
}
@media screen and (max-width: 1360px){
  .jianjie .figcaption_text{margin-top: -310px;}
}
@media screen and (max-width: 1200px){

}
@media screen and (max-width: 1199px){
  .header .main-nav .nav .nav-item {margin-right: 1px;}
  .header h1.logo a img {width: 160px;}
  .flickity-slider {left: -26em !important;}
  .text {margin-top: -260px;height: 260px;}
  .about .nav-tabs li a {line-height: 58px;}
  .about_ul_nav li {width: 160px;height: 80px;}
  .jianjie .jianjie_h1{margin-bottom: 10px;}
  .jianjie .jianjie_h1 h1{font-size: 25px;}
  .jianjie .figcaption_text{margin-top: -270px;}
  .tab_bg_1, .tab_bg_2, .tab_bg_3{height:auto;}
  .tab_text_2_img, .tab_text_2 {margin-top: 5%;margin-bottom: 5%;}
  .integrated .nav-tabs li a, .integrated .nav-tabs li a:hover, .integrated .nav-tabs>li.active>a, .integrated .nav-tabs>li.active>a:hover, .integrated .nav-tabs>li.active>a:focus{
    height: 130px;width: 158px;
  }
  .attract .div_F7998D .text_fff_1, .attract .div_F0C07D .text_fff_1, .attract .div_A3C97D .text_fff_1, 
  .attract .div_61C9C6 .text_fff_1, .attract .div_7FBDF0 .text_fff_1, .attract .div_ABABED .text_fff_1{font-size: 65px;}
  .attract .div_F7998D .text_fff_2, .attract .div_F0C07D .text_fff_2, .attract .div_A3C97D .text_fff_2, 
  .attract .div_61C9C6 .text_fff_2, .attract .div_7FBDF0 .text_fff_2, .attract .div_ABABED .text_fff_2{font-size: 20px;}
}
@media (max-width: 991px){
  .header .main-nav .nav .nav-item a{padding: 15px 10px;font-size: 15px;}
  .nav-tabs>li {margin-bottom: 3px;}
  .text {
    margin-top: -220px;
    height: 220px;
  }
  .text h3 {font-size: 20px;}
  .text p {
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    width: auto;
  }
  .jianjie a{
    width: 150px;
    height: 40px;
    line-height: 38px;
    font-size: 18px;
  }
  .jianjie .figcaption_text {margin-top: -255px;}
  .jianjie .jianjie_h1 {margin-top: 0px;}
  .jianjie img {height: 255px;}
  .hezuo_figure {margin-top: -22.3em;}
  .hezuo .center-block {height: 400px;}
  .news_list {margin-top: 13em;}
  .news_list .list_text h3 a{font-size: 15px;}
  .news_list .list_text p{font-size: 12px;}
  .news_list .list_text p span {font-size: 15px;}
  .news_list .list_text {margin-top: -56px;}
  .tab_text_3 {margin-bottom: 80px;width: 100%;margin-top: 12%;}
  .tab_text_4{margin-top: 0;}
  .tab_bg_4, .tab_bg_5{height:auto;}
  .contact_li_text_2 a {margin-left: 3em;}
  .contact_list_text h3 {margin-left: 0;}
  .contact_li_text_1 {margin-left: 0;}
  .integrated .nav-tabs li a, .integrated .nav-tabs li a:hover, .integrated .nav-tabs>li.active>a, .integrated .nav-tabs>li.active>a:hover, .integrated .nav-tabs>li.active>a:focus{
    height: 130px;width: 122px;
  }
  .attract .div_F7998D, .attract .div_F0C07D, .attract .div_A3C97D, .attract .div_61C9C6, .attract .div_7FBDF0, .attract .div_ABABED {height:230px;}
  .attract .text_border {padding: 0 0 70px 0;}
  .attract .div_F7998D .text_fff_1, .attract .div_F0C07D .text_fff_1, .attract .div_A3C97D .text_fff_1, 
  .attract .div_61C9C6 .text_fff_1, .attract .div_7FBDF0 .text_fff_1, .attract .div_ABABED .text_fff_1{font-size: 50px;}
  .attract .div_F7998D .text_fff_2, .attract .div_F0C07D .text_fff_2, .attract .div_A3C97D .text_fff_2, 
  .attract .div_61C9C6 .text_fff_2, .attract .div_7FBDF0 .text_fff_2, .attract .div_ABABED .text_fff_2{font-size: 15px;line-height: 90px;}
  .attract .btn-default {padding: 20px;}
  .park .nav-tabs > li > a, .park .nav-tabs > li.active > a, .park .nav-tabs > li.active > a:hover, .park .nav-tabs > li.active > a:focus{padding: 60px 0 0px 0;height: 200px;}
}
@media (max-width: 767px){
  .header .navbar-nav > li > .dropdown-menu {text-align: left;}
  .header .navbar-right .dropdown-menu { right: 0;}
  .thumbnail .caption {padding: 1px;}
  .jianjie p {
    padding-bottom: 10px;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 20px;
  }
  .hezuo .center-block {
    height: 360px;
  }
  .news_list { margin-top: 8em;}
  .attract .text_border { padding: 0 0 150px 0;}
  .attract .div_F7998D, .attract .div_F0C07D, .attract .div_A3C97D, .attract .div_61C9C6, .attract .div_7FBDF0, .attract .div_ABABED {height:300px;}
  
}
@media (max-width: 600px){
  .hezuo_figure {
    margin-top: -19.3em;
  }
}
@media (max-width: 550px){
  .attract .div_F7998D, .attract .div_F0C07D, .attract .div_A3C97D, .attract .div_61C9C6, .attract .div_7FBDF0, .attract .div_ABABED {height:220px;}
  .attract .text_border { padding: 0 0 70px 0;margin-bottom: 20px;}
  .attract .div_F7998D .text_fff_1, .attract .div_F0C07D .text_fff_1, .attract .div_A3C97D .text_fff_1, 
  .attract .div_61C9C6 .text_fff_1, .attract .div_7FBDF0 .text_fff_1, .attract .div_ABABED .text_fff_1{font-size: 25px;}
  .attract .div_F7998D .text_fff_2, .attract .div_F0C07D .text_fff_2, .attract .div_A3C97D .text_fff_2,
  .attract .div_61C9C6 .text_fff_2, .attract .div_7FBDF0 .text_fff_2, .attract .div_ABABED .text_fff_2{line-height: 30px;}
}
@media (max-width: 500px){
  .company .caption h3{margin-top: 5px;margin-bottom: 5px;}
  .company .caption h3 a {
    font-size: 15px;
  }
  .jianjie .figcaption_text {
    margin-top: -290px;
  }
  .jianjie img {
    height: 300px;
  }
  .zonghe a {font-size: 18px;}
  .footer_ul2{
    width: 100%;
    float: left;
    margin: 0 0 20px -35px;
  }
}
@media (max-width: 400px){
  .hezuo_figure {
    margin-top: -15.3em;
  }
  .hezuo .center-block {
    height: 300px;
  }
}
@media (max-width: 330px){
  .jianjie .figcaption_text {
    margin-top: -350px;
  }
  .jianjie img {
    height: 350px;
  }
}

