@charset "utf-8";

@media (max-width: 3000px) and (min-width: 1700px){
  .container {width: 1600px;}
}
@media (max-width: 1700px) and (min-width: 1600px){
  .container {width: 1500px;}
}
@media (max-width: 1600px) and (min-width: 1500px){
  .container {width: 1400px;}
}
@media (max-width: 1500px) and (min-width: 1400px){
  .container {width: 1300px;}
}
@media (max-width: 1400px) and (min-width: 1300px){
  .container {width: 1200px;}
}
@media (max-width: 1199px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){

}
@media (max-width: 600px){

}
@media (max-width: 500px){

}
@media (max-width: 400px){
	
}

