@charset "utf-8";
/*news_list*/
.news_head_bg {
  background:url(../img/news_head.png);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:inherit;
  height:500px;
	background-position: top center;
}
.mt_h2 {
  margin:10% 0 0 40%;
}
.news_head_bg h2 {
  color:#fff;
  font-size:42px;
}
.mt_h2 p {
  border-bottom:2px solid #fff;
  color:transparent;
  margin:-35px 0 0 90px;
  width:40px;
}
.news_head_span {
  font-size:20px;
}
.page li {
  float:left;
  padding:0 10px 5px 0;
}
.page li a {
	font-size: 16px;
  display:inline-block;
  padding:10px 50px 10px 50px;
  background-color:#fff;
  border:1px solid #ddd;
  border-radius:55px;
  color:#666;
}
.page li a:hover {
  background-color:#e30012;
  color:#fff;
}
.page .page_a {
  background-color:#e30012;
  color:#fff;
}
.news_bg_eee {
  background:#eee;
}
.imghvr-cube-left {
  color:#666;
}
.news_bg_eee .thumbnail {
    border: none;
	webkit-transition: all 0.4s linear -1ms;
	-moz-transition: all 0.4s linear -1ms;
	-ms-transition: all 0.4s linear -1ms;
	-o-transition: all 0.4s linear -1ms;
	transition: all 0.4s linear -1ms;	
}
.news_list_img .thumbnail.list_box_shadow:hover .pro_div_padding{
	webkit-transition: all 0.4s linear -1ms;
	-moz-transition: all 0.4s linear -1ms;
	-ms-transition: all 0.4s linear -1ms;
	-o-transition: all 0.4s linear -1ms;
	transition: all 0.4s linear -1ms;	
	width: 48%;
	padding: 20px 20px 0 30px;
}
.news_list_img .thumbnail.list_box_shadow:hover .news_border_right{
	webkit-transition: all 0.4s linear -1ms;
	-moz-transition: all 0.4s linear -1ms;
	-ms-transition: all 0.4s linear -1ms;
	-o-transition: all 0.4s linear -1ms;
	transition: all 0.4s linear -1ms;	
	width: 42%;
}

.news_de{
	padding: 20px;
	background: #fff;
}
.news_de_title{
	text-align: center;
}
.news_de_title h2{
	line-height: 45px;
	font-size: 22px;
	color: #222;
}
.text_info{
	text-align: center;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 10px;
	color: #aaa;
}
.news_de_info{
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.news_de_info p{
	margin-bottom: 10px;
}
.news_de_info img{
	max-width: 100%;
}


/*鼠标经过图片向上出来*/
.news_list_img .code{
  position: absolute;
  left: 0px;
  top: 150%;
  -webkit-transition-duration: 0.4s;
}
.news_list_img:hover .code{
  top: 18px;
}
@media screen and (max-width:1380px){
  .news_list_img:hover .code{top: 40px;}
}
@media screen and (max-width:991px){
  /*.news_list_img .code{display: none;}*/
  .news_list_img:hover .code{top: 0px;}
  .news_list_img img{width: auto;}
}
@media screen and (max-width:767px){
  .news_bg_eee .pro_div_fff {height: auto;}
}
/*鼠标经过图片向上出来*/
/*news_list*/