@charset "utf-8";
/*pro_list*/
.pro_list_bg {
  background:url(../img/pro_list.png);
  background-attachment:fixed;
  background-repeat:no-repeat;
  height:600px!important;
}
.pro_info_bg{
  background-attachment:fixed;
  background-repeat:no-repeat;
}

.pro_list {
	padding: 0px;
  background:#eee;
}
.pro_list .thumbnail .caption a {
  font-size:16px;
  color:#6D6D6D;
  display:block;
  padding:15px 15px 15px 15px;
}
.pro_list .text_fa {
  float:right;
  color:#DEDEDE;
  font-size:30px;
	padding-top: 10px;
}
.pro_list .text_i {
  color:#BEBEBE;
  font-size:14px;
}
.pro_list .thumbnail a:hover {
  font-size:16px;
  color:#fff;
  background:#E30012;
}
.pro_list .thumbnail .caption {
  padding:0;
  margin:0 0 0 0;
}
.pro_list .thumbnail {
  border:0px solid #ddd;
  padding:0;
}
.menu_list {
  margin:auto;
  background:#fff;
  padding:20px 20px 50px 20px;
  margin:-45px 0 0 0;
  z-index:10;
  height: 1045px;
}
.menu_head {
  height:47px;
  line-height:47px;
  padding-left:25px;
  font-size:18px;
  color:#525252;
  cursor:pointer;
  border:1px solid #e1e1e1;
  position:relative;
  /*background:#eaeaea url(../img/pro_left.png) center right no-repeat;
  */
  background:#eaeaea;
  margin:15px 0 0 0;
}
.menu_head:hover,.menu_list .current:hover {
  color:#fff;
  background:#e30012;
}
.menu_list .current {
  /*background:#eaeaea url(../img/pro_down.png) center right no-repeat;
  */
  background:#eaeaea;
}
.menu_head i {
  float:right;
  margin:5px 15px 0 0;
}
.menu_block {
  display:block;
}
.menu_none {
  display:none;
}
.menu_body {
  height:auto;
  overflow:hidden;
  line-height:24px;
	padding-bottom: 15px;
	padding-top: 15px;
  background:#fff;
  border-left:1px solid #e1e1e1;
  border-bottom:1px solid #e1e1e1;
  border-right:1px solid #e1e1e1;
}
.menu_body a {
  display:block;
  width:100%!important;
  height:33px!important;
  line-height:33px!important;
  padding:0 0 0 30px;
  color:#777777;
  background:#fff;
  text-decoration:none;
  font-size:14px;
}
.menu_body a:hover {
  text-decoration:none;
  color:#333;
}
.pro_list_head {
  background:#e30012;
  margin:-95% 0 0 0;
  height:200px;
  border-radius:20px;
}
.pro_list_head h2 {
  font-size:36px;
  color:#fff;
  padding:20px 0 0 30px;
}
.pro_list_head p {
  width:30px;
  color:transparent;
  border-bottom:2px solid #fff;
  margin:-20px 0 10px 30px;
}
.pro_list_head span {
  text-transform:uppercase;
  font-size:18px;
  color:#fff;
  margin:0 0 0 30px;
}
#accordion .panel-title a {
  display:block;
  padding:0;
  margin:0;
  font-size:18px;
  font-weight:700;
  letter-spacing:1px;
  color:#666;
  border-radius:0;
  position:relative;
}
#accordion .panel-title a:before,#accordion .panel-title a.collapsed:before {
  content:"\f106";
  font-family:fontawesome;
  width:55px;
  height:100%;
  text-align:center;
  line-height:50px;
  position:absolute;
  top:-13px;
  right:0;
}
#accordion .panel-title a.collapsed:before {
  content:"\f107";
}
@media(max-width:300px) {
  .ul_margin {
  margin-top:20px;
  margin-bottom:85px;
}
}/*pro_list*/

/*application*/
.application_bg {
  background:url(../img/application_bg.png);
  background-attachment:fixed;
  background-repeat:no-repeat;
  height:500px;
}
.application_bg h1 {
  font-size:42px;
  color:#fff;
  margin-top:12%;
}
.pro_text {
  font-size:28px;
  color:#fff;
}
.pro_eee {
  background:#eee;
}
.pro_eee .nav_page{margin:0 0 0 0;}
.pro_eee .nav_page_fff{
  padding: 0 0 0 0;
  width: auto;
  height: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}
.pro_div_fff {
  background:#fff;
  height:auto;
  border: none;
}
.pro_div_padding {
  padding:30px 0 0 30px;
}
.pro_div_fff h3 a {
  color:#5d5d5d;
  font-size:22px;
	display: block;
	margin-bottom: 15px;
}
.pro_div_fff p {
  color:#989898;
  font-size:14px;
}
.pro_div_fff .a_btn {
display: inline-block;
    padding: 10px 30px 10px 30px;
    margin: 15px 0 0 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 55px;
    color: #666;
}
.pro_div_fff .a_btn:hover {
	background: #e30012;
	border: 1px solid #e30012;
	color: #fff;
}
@media(max-width:1199px) {
  .pro_div_fff {
  height:197px;
}
.pro_div_fff .a_btn {
  margin:10px 0 0 0;
}
}@media(max-width:992px) {
  .pro_div_fff {
  height:142px;
}
.pro_div_fff .a_btn {
  margin:10px 0 0 0;
}
.pro_div_fff h3 a {
  font-size:15px;
}
.pro_div_fff p {
  font-size:12px;
  margin:0 0 0 0;
}
}@media(max-width:767px) {
  .pro_div_fff {
  height:100%;
}
.pro_div_padding {
  padding:0 0 10px 0;
}
.pro_div_1_fff {
  background:#fff;
  margin-bottom:20px;
  padding-top:10px;
}
}/*application*/


/*pro_info*/
.pro_fff {
  background:#fff;
  margin:10% 0 5% 0;
  padding: 35px;
  height: 700px;
}
.pro_fff img {
  max-width:100%;
}
.pro_fff h5 {
  color:#5b5b5b;
  font-size:22px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.pro_fff .p {
	padding-right: 15px;
  color:#666;
  font-size:14px;
  max-height:550px;
	padding-bottom: 20px;
  overflow:scroll;
	overflow-x: hidden;
	margin-top: 20px;
}
.pro_fff small {
  float:right;
  margin:11px 0 0 0;
}
.pro_fff small a {
  color:#666;
  font-size:16px;
}
.pro_fff small a:hover {
  color:#333;
}
/* foucebox */
.foucebox {
  width:300px;
  height:300px;
  margin:10px auto;
  background:#FFF;
  border:1px solid #dcdcdc
}
.f_s_box {
  width:300px;
  height:300px;
  position:relative;
  overflow:hidden;
}
.f_s_bg {
  width:300px;
  height:300px;
  position:absolute;
  left:0;
  top:90%;
  filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#99000000',endColorstr='#99000000');
  background:rgba(0,0,10,0.3);
  _background:#333;
}
.f_s_txt {
  height:26px;
  line-height:26px;
  font-size:12px;
  color:#CCC;
  position:absolute;
  left:0;
  top:90%;
  padding-left:10px;
}
.f_s_txt a {
  color:#CCCCCC;
}
.f_s_bigimg img {
  width:300px;
  height:300px;
}
/* scrollimg_tigger */
.scrollimg_tigger_hover,.scrollimg_tigger_img li {
  background:url(../img/index_sp.png) no-repeat;
}
.scrollimg_tigger {
  position:relative;
}
.scrollimg_tigger_hover {
  width:54px;
  height:49px;
  position:absolute;
  left:12px;
  top:4px;
  background-position:0 0px;
  z-index:5;
}
.scrollimg_tigger_img {
  padding:5px 11px;
}
.scrollimg_tigger_img li {
  width:54px;
  height:44px;
  float:left;
  background-position:-60px 0px;
  margin:3px 1px 1px 1px;
  display:inline;
}
.scrollimg_tigger_img img {
  width:50px;
  height:42px;
  margin:1px;
  display:block;
}
.scrollimg_tigger_link {
  position:absolute;
  left:11px;
  top:5px;
  z-index:10;
}
.scrollimg_tigger_link li {
  width:54px;
  height:44px;
  float:left;
  display:inline;
  margin:3px 1px 1px 2px;
  cursor:pointer;
}
.scrollimg_tigger_link a {
  display:block;
  height:44px;
}
.scrollimg_tigger_hover a {
  border:2px #FFCC00 solid;
}
@media(max-width:415px) {
  .f_s_bigimg img {
  width:150px;
  height:180px;
}
.f_s_box {
  height:200px;
}
.foucebox {
  width:150px;
}
}@media(max-width:415px) {
  .pro_fff h5 {
  font-size:18px;
	  margin-bottom: 10px;
  padding:0 0 5px 0;
}
.pro_fff small a {
  color:#666;
  font-size:12px;
}
}
@media(max-width:1300px){
  .pro_fff {margin: 15% 0 5% 0;}
}
@media(max-width:1199px){
  .pro_fff {margin: 20% 0 5% 0;}
}
@media(max-width:1060px){
  .pro_list .thumbnail .caption a{font-size: 13px;}
  .pro_list .text_i {font-size: 12px;}
}
@media(max-width:991px){
  .pro_fff {margin: 10% 0 5% 0;}
  .pro_fff {height: auto;}
  .pro_fff .p{height: 545px;}
}
@media (max-width: 580px){
  .pro_fff {
    margin: 20% 0 5% 0;
  }
}
@media (max-width: 245px){
  .pro_fff h5 {padding: 3px 0 30px 0;}
}

/*pro_info*/





/*case_list*/
.case_list {
  background:url(../img/case_list.png);
  background-attachment:fixed;
  background-repeat:no-repeat;
  height:500px;
}
.case_eee {
  background:#eee;
}
.case_eee .caption h3{line-height: 2.5;}
.case_eee .thumbnail {
  border:0px solid #ddd;
  padding:0;
}
.case_eee .thumbnail a {
  font-size:22px;
  color:#494949;
	display: block;
	overflow: hidden;
}
.case_eee .thumbnail a:hover {
  color:#e30012;
}
.case_eee .thumbnail .caption{
	padding: 10px 20px;
}

.case_eee i {
  margin: 15px 0 0 0;
  float:right;
}
@media(max-width:767px) {
  .case_eee .caption h3 a{font-size:15px;}
  .thumbnail .caption {padding: 0 3px 0 3px;}
  .case_eee i {margin: 13px 0 0 0;}
  .case_eee .nav_page,.pro_list .nav_page,.news_bg_eee .nav_page {
    margin:50px 0 0 0;
  }
  .case_eee .nav_page_fff,.pro_list .nav_page_fff,.news_bg_eee .nav_page_fff {
    background:none;
    border-radius:40px;
    padding:0 0 0 0;
    width:auto;
    height:auto;
  }
}
@media(max-width:355px) {
  .case_eee .caption h3 a{font-size:12px;}
}
.nav_page {
	width: 100%;
	text-align: center;
  margin:30px auto;
	padding-left: 0px;
	padding-right: 0px;
}
.pro_list .nav_page {
	padding-left: 15px;
	padding-right: 15px;
}
.nav_page_fff {
  background:#fff;
  padding:5px 15px;
}
.nav_page_fff .pagination {
  margin:10px 0 0 0;
}
.nav_page_fff .pagination .active a {
  color:#fff;
  background:#E30012;
  border-color:#E30012;
}
.nav_page_fff .pagination li a {
  margin:0 5px 0 5px;
  border-radius:32px;
  width:40px;
  color:#fff;
  background:#aaa;
  font-size:18px;
}
.nav_page_fff .pagination li a:hover {
  color:#fff;
  background:#E30012;
  border-color:#E30012;
}
/*case_list*/


.pro_list .list_img a{
	display: block;
	overflow: hidden;
}





