@charset "utf-8";

@media (max-width: 1800px){
	.page_box .index_about .index_about_text {padding: 50px;}
	.page_box .index_about .index_about_main .index_about_history {width: 40%;}
	.page_box .index_about .index_about_main .index_about_history .items .even { padding-top: 150px;}
	.index_about .index_about_main .index_about_history .items .item .item_box {height: 70px;}
	.index_about .index_about_main .index_about_history .items .item {padding-bottom: 100px;height: 170px;}
}
@media (max-width: 1600px){
	.page_box .index_about .index_about_text {padding: 30px;}
}
@media (max-width: 1400px){
	.index_about .index_about_main .index_about_history .items {height: 200px;}
	.index_about .index_about_main .index_about_history .items .item {padding-bottom: 0px;height: 70px;}
	.page_box .index_about .index_about_main .index_about_history .items .even {padding-top: 88px;}
}

@media (max-width: 1500px) and (min-width: 992px){
	.page_box {width: 100%;margin: 0 auto;padding: 0;float: inherit;}
	.header_video {width: 100%;} 
	.page_box_mt12 {float: left;width: 100%;}
	.page_box .page_content {width: 80%;}
	.page_box .index_news .index_news_main ul li {width: 33.3%;}
	.page_box .index_news .index_news_main ul li a {padding: 20px;height: auto;}
	.page_box .index_news .index_news_main ul li a .item_img {height: auto;}
	/*.page_box .index_about .index_about_main {background-color: #FDF0F1;}
	.page_box .index_about .index_about_main .index_about_main_ad {width: 50%;}
	.page_box .index_about .index_about_text {width: 50%;float: left;position: initial;padding: 20px 30px;}
	.page_box .index_about .index_about_main .index_about_history {width: 100%;clear: both;}*/
	.footer_box {padding: 50px 0;}
	.copyright {padding: 20px 0;}
	.footer_box .footer_contact {width: 35%;padding: 0 15px;}
	.footer_box .footer_contact_link {width: 30%;padding: 0 15px;}
	.footer_box .footer_contact_feedback {width: 35%;padding: 0 15px;}
	.footer_box .footer_contact .footer_contact_info .qrcode_box {width: auto;}
	.footer_box .footer_contact .footer_contact_title {font-size: 20px;}
	.page_box .aboutus_content .aboutus_item_box .page_content .aboutus_item_content img {width: 100%;}
	.page_box .aboutus_content .aboutus_item_box .page_content .aboutus_item_content .slide_ad .honor .swiper-wrapper .swiper-slide a img {width: auto;}
	.page_box .aboutus_origin .origin_box .text_box {width: 40%;left: auto;padding: 50px;}
	.page_box .aboutus_content .aboutus_origin .page_content .aboutus_item_content .origin_box .poetry img {width: auto;}
	.page_box .aboutus_content .aboutus_origin .page_content .aboutus_item_content .origin_box img {width: auto;}
	.page_box .aboutus_content .aboutus_item_box .page_content .aboutus_item_content .vision_items ul li img {width: auto;}
	.page_box .aboutus_origin .even .text_box {width: 40%;left: auto;padding: 50px;}
	.page_box .aboutus_vision .vision_items ul li .text_box {padding: 5% 2% 5% 16%;}
	.page_box .aboutus_vision .page_content .aboutus_item_content .vision_items .vision_info .vision_info_item {padding: 15px;}
	.aboutus_show {padding: 15px;}
	.page_box .phtos_box {margin: 20px auto;}
	.page_box .phtos_box ul li {padding: 15px;}
	.phtos_box ul li a .img_box {height: auto;}
	.page_box .contactus_info_box {margin: 20px auto;}
	.contactus_info_box .contactus_info_links {width: 100%;float: inherit;padding: 0;margin: auto;}
	.contactus_info_box .contactus_info_links ul {width: auto;float: initial;margin: 0 auto;padding: 0px;text-align: center;}
	.contactus_info_box .contactus_info_links ul li {display: inline-block; width: auto;float: inherit;padding: 0 15px;margin: auto;}
	.contactus_info_box .contactus_info_content {width: 50%;padding: 0 15px;float: initial;margin: 0 auto;}
	.contant_feedback_box .feedback_form {width: 60%;margin: 20px auto;padding: 0 15px;}
	.page_box_mt12 {margin-top: 30px;}
	.news_more_header .page_header_title {padding-bottom: 0;}
	.news_more_box {width: 80%;clear: both;float: inherit;margin: 30px auto;position: relative;}
	.news_more_box .news_title {padding-top: 30px;}
	.news_more_box .news_more {padding: 10px;margin: 0 auto;width: 100%;}
	.news_more_box .news_more .news_links {margin: 50px auto;padding: 0;}
	.news_more_box .news_more img {width: 100%;}
	.news_index_box .news_index_items {margin: 30px auto;}
	.news_index_box .linkmore {padding: 0px 0 30px;}
	.news_index_box .news_index_items ul li .item_box {padding-bottom: 10px;}
	.news_index_box .news_index_items ul li a .title_box {padding: 0;}
	.news_index_box .news_index_items ul li a .text_box {padding: 0;}
	.prod_show_box {padding: 150px 0 30px;}
	.prod_show_box .prod_show_content .text_box {padding: 20px 0;}
	.page_box .header_ad .header_content .page_content .prod_c_items {font-size: 0;}
	.page_box .header_ad .header_content .page_content .prod_c_items li {
		clear: both;
		float: initial;
		width: 16.6%;
		margin: 0px auto;
		padding: 15px;
		text-align: center;
		display: inline-block;
	}
	.prod_c_items li a img {width: 100%;height: auto;float: initial;clear: both;display: block;margin: 0 auto;}
	.prod_c_items li a {width: auto;float: initial;clear: both;}
	.prod_c_items li a .img_box {width: auto;float: initial;clear: both;}
	.page_box .prod_index_main .prod_index_hot .page_content .prod_name_box {margin-bottom: -270px;margin-left: 0;z-index: 9;}
	.prod_index_main .prod_index_hot {padding-bottom: 200px;}
	.prod_index_main .prod_index_item {padding: 150px 0 200px;}
	.prod_list_title {padding: 50px 0;}
	.side_navs_box {margin-top: 0px;}
	.prod_list ul li {padding: 15px;}
	.prod_list ul li a {padding-bottom: 15px;}
	.prod_list ul li a .img_box {padding: 0;}
	.prod_list_title .page_content {padding: 0 15px;}
	.prod_list ul li a .img_box img {max-width: 100%;width: auto;display: block;margin: 0 auto;float: initial;clear: both;}
	.page_box .side_navs {left: -8px;top: 0px;}
	.side_navs ul li {padding-bottom: 10px;background-position-x: 30px;}
	.side_navs ul li a {color: #fff;font-size: 12px;}
	.side_navs ul li.active a .box_text {width: 45px;height: 45px;line-height: 45px;margin-left: 10px;}
	.side_navs ul li a span {width: 40px;height: 40px;line-height: 40px;margin-left: 13px;}
}
@media (max-width: 1199px){

	.page_box .index_about .index_about_main {background-color: #FDF0F1;}
	.page_box .index_about .index_about_main .index_about_main_ad {width: 50%;}
	.page_box .index_about .index_about_text {width: 50%;float: left;position: initial;padding: 20px 30px;}
	.page_box .index_about .index_about_main .index_about_history {width: 100%;clear: both;}
	.page_box .page_content {width: 100%;}
	.page_box .aboutus_content .aboutus_origin .page_content .aboutus_item_content .origin_box img {width: 100%;}
	.page_box .aboutus_origin .origin_box .text_box {width: 90%;left: auto;padding: 15px;}
	.page_box .aboutus_origin .even .text_box {width: 90%;left: auto;padding: 5px 0 5px 110px;}
	.phtos_box ul li a .img_box {height: auto;}
	.contactus_info_box .contactus_info_content {width: 75%;padding: 0 15px;float: initial;margin: 0 auto;}
	.contant_feedback_box .feedback_form {width: 80%;}
	.news_more_box .news_more img {width: 100%;}
	.news_index_box .news_index_items ul li {width: 16.6%;padding: 0 15px 15px;}
	.page_box .header_ad .header_content .page_content .prod_c_items li {width: 16.6%;}
	.page_box .prod_index_main .prod_index_hot .page_content .prod_name_box {margin-bottom: -270px;}
	.prod_list_title .page_content {padding: 0 50px;}
	.prod_list ul li {padding: 15px;}
	.prod_list ul li a {padding-bottom: 15px;}
	.prod_list ul li a .img_box {padding: 0;}
	.page_box .side_navs {left: -8px;top: 0px;}
	.side_navs ul li {padding-bottom: 10px;background-position-x: 26px;}
	.side_navs ul li a {color: #fff;font-size: 12px;}
	.side_navs ul li.active a .box_text {width: 40px;height: 40px;line-height: 40px;margin-left: 8px;}
	.side_navs ul li a span {width: 30px;height: 30px;line-height: 30px;margin-left: 13px;}
}
@media (max-width: 991px){
	.header {height: 80px;padding: 5px 15px;background: rgba(0, 0, 0, 0.45);}
	#cd-logo {margin: 0 auto 0;}
	#cd-menu-trigger {background: transparent;}
	.sliding {padding: 5px;height: 80px;}
	.header_box ul {margin: 20px auto 0;}
	.header_box ul li {padding: 0 10px;}
	.page_box {width: 100%;margin: 0 auto;padding: 0;float: inherit;}
	.header_video {width: 100%;} 
	.page_box_mt12 {float: left;width: 100%;}
	.page_box .page_content {width: 100%;}
	.page_box .index_adv {padding: 0px;}
	.index_adv .index_adv_main {padding-bottom: 30px;}
	.page_box .index_news .index_news_main ul li {width: 33.3%;}
	.page_box .index_news .index_news_main ul li a {padding: 0px;height: auto;}
	.page_box .index_news .index_news_main ul li a .item_img {height: auto;}
	.page_box .index_about .index_about_main {background-color: #FDF0F1;}
	.page_box .index_about .index_about_main .index_about_main_ad {width: 100%;}
	.page_box .index_about .index_about_text {width: 100%;float: left;position: initial;padding: 15px;}
	.page_box .index_about .index_about_main .index_about_history {width: 100%;clear: both;}
	.page_box .copyright .page_content {color: #999;font-size: 15px;}
	.footer_box .footer_contact {width: 100%;padding: 0 15px;}
	.footer_box .footer_contact_link {width: 100%;padding: 15px 15px 0;}
	.footer_box .footer_contact_feedback {width: 100%;padding: 0 15px;}
	.footer_box .footer_contact .footer_contact_info .qrcode_box {width: auto;}
	.footer_box .footer_contact .footer_contact_title {font-size: 20px;}
	.page_box_mt12 {margin-top: 30px;}
	.page_box .index_about {padding: 30px 0px;}
	.index_about .index_about_title, .index_news .index_news_title {margin: 0 auto 20px;}
	.page_box .index_news {padding: 30px 0;}
	.page_box .index_news .index_news_main {padding: 0;}
	.page_box .index_news .index_news_main .index_news_more {margin-top: 20px;}
	.page_box .footer_box {padding: 30px 0;}
	.page_box .copyright {padding-bottom: 20px;}
	.page_box .index_contact {padding: 50px 0;}
	.page_box .index_news .index_news_main ul li a .item_img span {display: none;}
	.page_box .index_news .index_news_main ul li a .item_text .item_text_subtitle {overflow: hidden;height:50px;}
	.page_box .index_news .index_news_main ul li a .item_text {padding: 0 15px;}
	.page_box .index_news .index_news_main ul li a .item_text .item_text_title {line-height: 20px;margin-bottom: 15px;}
	.page_box .index_adv .index_adv_main ul li .text_box {padding: 50px 15px;}
	.page_box .index_adv .index_adv_main ul li .text_box .text_title {height: auto;line-height: 20px;font-size: 16px;margin-bottom: 20px;}
	.page_box .index_slide_ad {height: auto;}
	.page_box .adapt_box .adapt_content {position: initial;width: 100%;margin: 0 auto;}
	.page_box .adapt_box .adapt_content img {width: 100%;}
	.page_box .my-player-dimensions {height: 500px;}
	.page_box .header_ad .index_header_ad .slide_more {bottom: 80px;}
	.header_video .video-js .vjs-big-play-button {left: 45%;opacity: 0.3;}
	.page_box .aboutus_content .aboutus_item_box .page_content .aboutus_item_content img {width: 100%;}
	.page_box .aboutus_content .aboutus_item_box .page_content .aboutus_item_content .slide_ad .honor .swiper-wrapper .swiper-slide a img {width: auto;}
	.page_box .aboutus_content .aboutus_origin .page_content .aboutus_item_content .origin_box .poetry img {width: auto;}
	.page_box .aboutus_content .aboutus_item_box .page_content .aboutus_item_content .vision_items ul li img {width: auto;}
	.page_box .aboutus_origin .origin_box .text_box {width: 100%;left: auto;padding: 15px;position: initial;}
	.page_box .aboutus_origin .even .text_box {width: 100%;left: auto;padding: 15px;}
	.page_box .aboutus_vision .vision_items ul li .text_box {padding: 5% 2% 5% 16%;}
	.page_box .aboutus_vision .page_content .aboutus_item_content .vision_items .vision_info .vision_info_item {padding: 15px;}
	.aboutus_show {padding: 15px;}
	.page_box .phtos_box {margin: 20px auto;}
	.page_box .phtos_box ul li {padding: 15px;}
	.contactus_info_box .contactus_info_links {width: 100%;float: inherit;padding: 0;margin: auto;}
	.contactus_info_box .contactus_info_links ul {width: auto;float: initial;margin: 0 auto;padding: 0px;text-align: center;}
	.contactus_info_box .contactus_info_links ul li {display: inline-block; width: auto;float: inherit;padding: 0 15px;margin: auto;}
	.contactus_info_box .contactus_info_content {width: 100%;}
	.contant_feedback_box .feedback_form {width: 100%;margin: 20px auto;padding: 0 15px;}
	.news_more_header .page_header_title {padding-bottom: 0;}
	.news_more_box {width: 80%;clear: both;float: inherit;margin: 0 auto;position: relative;}
	.news_more_box .news_title {padding-top: 30px;}
	.news_more_box .news_more {padding: 15px;margin: 0 auto;width: 100%;}
	.news_more_box .news_more .news_links {margin: 10px auto;padding: 0;}
	.news_more_box {width: 100%;}
	.news_index_box .news_index_items {margin: 20px auto;}
	.news_index_box .linkmore {padding: 0px 0 20px;}
	.news_index_box .news_index_items ul li .item_box {padding-bottom: 10px;}
	.news_index_box .news_index_items ul li a .title_box {padding: 0;}
	.news_index_box .news_index_items ul li a .text_box {padding: 0;}
	.prod_show_box {padding: 100px 0 20px;}
	.prod_show_box .prod_show_content .text_box {padding: 20px 0;}
	.page_box .header_ad .header_content .page_content .prod_c_items li {
		clear: both;
		float: initial;
		width: 16.1%;
		margin: 0px auto;
		padding: 10px;
		text-align: center;
		display: inline-block;
	}
	.prod_c_items li a img {width: 100%;height: auto;float: initial;clear: both;display: block;margin: 0 auto;}
	.prod_c_items li a {width: auto;float: initial;clear: both;}
	.prod_c_items li a .img_box {width: auto;float: initial;clear: both;}
	.prod_index_main .prod_index_hot {padding-bottom: 200px;}
	.prod_index_main .prod_index_item {padding: 100px 0 150px;}
	.side_navs_box {margin-top: 0px;}
	.page_box .prod_index_main .prod_index_hot .page_content .prod_name_box {margin: 0 auto;z-index: 9;}
	.prod_list .page_content ul li a .text_box {padding: 0px 5px;margin: 0 auto 40px;}
	.prod_list_title .box_info {width: 100%;padding: 20px 0;}
	.prod_list_title {padding: 50px 0 0;}
	.prod_list {margin: 0 auto 30px;}
	.prod_list_title .page_content {padding: 0 15px;}
	.prod_list ul li a .img_box img {max-width: 100%;width: auto;display: block;margin: 0 auto;float: initial;clear: both;}
	.page_box .aboutus_content .aboutus_item_box {padding: 20px 15px;}
}
@media (max-width: 767px){
	.page_box .index_contact .index_contact_btn a {height: auto;line-height: 0;margin: 0 20px;padding: 20px 30px;}
	.page_box .index_contact .index_contact_tel {font-size: 30px;}
	.page_box .index_news .index_news_main ul li {width: 50%;margin: 0 auto 30px;}
	.page_box .index_news .index_news_main .index_news_more {margin-top: 0;}
	.page_box .header_ad .page_header h3 {font-size: 30px;line-height: 30px;}
	.page_box .header_ad .page_header h3 small {font-size: 25px;line-height: 25px;}
	.page_box .aboutus_content .aboutus_item_box .page_content .aboutus_item_content .slide_ad .honor .swiper-wrapper .swiper-slide a img {width: 100%;}
	
	.page_box .aboutus_vision .vision_items ul li .text_box {padding: 20px;}
	.page_box .aboutus_vision .page_content .aboutus_item_content .vision_items .vision_info .vision_info_item {padding: 0;width: 100%;}
	.aboutus_vision .vision_info .vision_info_item .title_box {font-size: 25px;line-height: 25px;margin: 20px auto;}
	.aboutus_history .aboutus_history_slogan {padding-top: 30px;line-height: 30px;font-size: 15px;}
	.page_box .aboutus_origin .origin_box .text_box {clear: both;}
	.aboutus_origin .origin_box .poetry {position: initial;padding: 10px;clear: both;}
	.page_box .aboutus_content .aboutus_origin .page_content .aboutus_item_content .origin_box .poetry img {margin-bottom: 10px;margin-right: 25px;}
	.aboutus_origin .even {margin-bottom: 30px;}
	.aboutus_origin .even .poetry {position: initial;padding: 10px;clear: both;}
	.page_box .aboutus_content .aboutus_origin .page_content .aboutus_item_content .even .poetry img {margin: 10px auto;margin-right: 20px;}
	.aboutus_show {padding: 0;}
	.contant_feedback_box .feedback_title {font-size: 30px;line-height: 40px;}
	.contant_feedback_box .feedback_title sub {font-size: 20px;line-height: 30px;}
	.contant_feedback_box .feedback_form {width: 100%;margin: 20px auto;padding: 0 15px;}
	.footer_box .footer_contact_feedback input,
	.footer_box .footer_contact_feedback textarea,
	.contant_feedback_box .feedback_form .item_box textarea,
	.contant_feedback_box .feedback_form .item_box input {font-size: 12px;padding: 5px 10px;}
	.footer_box .footer_contact_feedback select,
	.contant_feedback_box .feedback_form .item_box select {font-size: 12px;padding: 0;}
	.news_index_box .news_index_items ul li {width: 50%;}
	.prod_show_box .prod_show_info {width: 100%;}
	.prod_show_box .prod_show_content {width: 100%;margin: 20px auto 0;}
	.prod_show_box {padding: 100px 15px 20px;}
	.page_box .header_ad .header_content .page_content .prod_c_items li {width: 32.5%;padding: 10px;}
	.prod_c_items li a img {width: 100%;}
	.prod_header .header_content {padding: 100px 0 30px;}
	.prod_index_main .item_box {width: 100%;padding: 15px 0 15px;}
	.prod_index_main .item_box .item {width: 100%;}
	.prod_index_main .prod_index_item .item_box {width: 100%;}
	.prod_index_main .prod_index_item {padding: 50px 0 180px;}
	.prod_index_main .prod_index_item_even .prod_name_box {margin-right: 10px;}
	.prod_list ul li {width: 50%;}
}
@media (max-width: 600px){
    .header_ad{overflow:hidden}
		    #cd-logo{
       padding-top:10px;
       padding-bottom:10px;
    }
     #cd-logo img{
         width:120px;
     }
    .page_box .header_ad .index_header_ad .slide_more{
        display:none;
    }
    .header_ad .index_header_ad .index_header_ad_wrap{
        height: 360px;
    margin-top: -80px;
    }
    .index_slide_ad:hover .swiper-button-next, .index_slide_ad:hover .swiper-button-prev {display:none}
    .index_slide_ad .swiper-pagination-bullet{width:24px;}
    .index_adv .index_adv_main{padding-top:30px;background:none;}
    .index_adv .index_adv_main ul li{width:100%}
    .index_adv .index_adv_main ul li > img{height:320px;}
    .page_box .index_slide_ad{height:280px;}
    .page_box .adapt_box .adapt_content{position:absolute; width:750px;margin-left:-375px}
     .header_ad .page_header a{position:relative;height:360px;float:left;}
    .header_ad .page_header img{height:360px;width:auto;position:absolute;left:-375px;margin-left:50%}
    .aboutus_history .aboutus_item_content .index_about_history .items .item{height:140px;padding-bottom:70px}
    .aboutus_history .aboutus_item_content .index_about_history .items .even .item_box .item_text_box{padding:60px 0px 0px}
    .aboutus_history .aboutus_item_content .index_about_history .items .item .item_box{height:70px}
    .page_text{padding-top:15px;padding-bottom:15px;}
    .slide_ad:hover .swiper-button-next, .slide_ad:hover .swiper-button-prev{display:none!important}
    .slide_ad .swiper-slide{width:100%!important}
    .slide_ad .swiper-pagination-bullet{width:24px;}
    .aboutus_vision .vision_items ul li{width:100%;}
    .aboutus_vision .vision_items ul li .sub_title{display:none}
    .page_box .aboutus_vision .vision_items ul li .text_box{display:block;}
    .aboutus_vision .vision_items ul li.active{width:100%;}
    .aboutus_vision .vision_items ul li .text_box .text_title{    width: 100%;
    float: left;
    font-size: 32px;
    line-height: 46px;}
    .aboutus_vision .vision_items ul li .text_box .text_title small{display: block;
    font-size: 16px;
    line-height: 24px;}
    .footer_box .footer_contact{text-align:center;}
    .footer_box .footer_contact .footer_contact_info .qrcode_box{
        width:100%;
    }
    .footer_box .footer_contact .footer_contact_info .text_box{width:100%;}
    .news_more_box .share_box{right:24px;top:24px;}
    .news_more_box .news_title{padding-top:80px;}
    .contactus_info_box .contactus_info_links ul li{width:50%;float:left;}
    .maps{height: 360px;overflow: hidden;}
    .maps .border_ccc{margin-top:-120px}
    .page_box .side_navs{top:80px;}
    .news_index_box{margin-top:0px;}
    .news_index_box .news_index_titles ul li{
    border-right: 1px solid #909090;
    }
     .news_index_box .news_index_titles ul li:last-child{
         border-right:0px;
     }
    .page_box .prod_index_main .prod_index_hot .page_content .prod_name_box{width:100%;}
     .page_box .prod_index_main .prod_index_hot .page_content .prod_name_box img{
         width:70%;
     }
     .prod_name_box .box_title a{
         width:70%;
         padding:0px;
         margin-left:15%;
         background-size:cover;
     }
     .prod_index_main .prod_index_item{
         padding:50px 0px;
     }
     .prod_index_main .item_box .item .text_box{position:inherit;}
     .prod_index_main .prod_index_item_even .prod_name_box img{
         width:70%;
     }
     .prod_name_box .box_title a{font-size:24px;}
     .prod_index_main .prod_index_item .prod_name_box{width:100%;margin:0px;padding:0px;}
     .prod_index_main .prod_index_item .prod_name_box img{width:70%;}
     .prod_index_main .item_box,.prod_index_main .prod_index_item .item_box{width:94%;box-shadow:0px 0px 5px #ccc;margin-left:3%;float:left;margin-top:30px;}
     .prod_index_hot .page_content{padding-top:50px;}
     .prod_list_title .prod_name_box img{
         width:70%;
     }
     .prod_list ul li{width:50%;}
     .prod_list ul li a{box-shadow:0px 0px 5px #ccc}
}
@media (max-width: 500px){
	.page_box .index_news .index_news_main ul li {width: 100%;margin: 0 auto 20px;}
	.phtos_box ul li {width: 100%;}
	.news_index_box .news_index_items ul li {width: 100%;}
	.prod_list ul li {width: 100%;}
	.pd00 {
	    width: 50%;
	    margin: 0 auto 0px;
	    padding: 5px;
	}
	.pd00:nth-child(3) img{width: 100%;height: 140px;}
}
@media (max-width: 400px){
	.page_box .aboutus_content .aboutus_origin .page_content .aboutus_item_content .origin_box .poetry img {margin-right: 10px;}
	.page_box .header_ad .header_content .page_content .prod_c_items li {width: 32%;}
	.prod_c_items li a span {line-height: 20px;font-size: 13px;}
	.pd00:nth-child(3) img{width: 100%;height: 97px;}
}

