
@font-face {font-family: "iconfont";
  src: url('../fonts/font_593980_4ft7bv0qsdk21emi.eot'); /* IE9*/
  src: url('../fonts/font_593980_4ft7bv0qsdk21emi.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/26c66dc636284c83a2a071bf7112f1be.woff') format('woff'),
  url('../fonts/font_593980_4ft7bv0qsdk21emi.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/font_593980_4ft7bv0qsdk21emi.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-warning:before { content: "\e836"; }

.icon-help:before { content: "\e674"; }

