@charset "utf-8";

/*重置样式*/
@import url("reset.css");
/*重置样式*/

/*animation 动画*/
@import url("animation.css");
/*animation 动画*/

/*animation 动画*/
@import url("animate.3.7.0.css");
/*animation 动画*/

/*font-awesome 字体*/
@import url("font-awesome.4.7.0.css");
/*font-awesome 字体*/

/*swiper*/
@import url("swiper.min.4.0.7.css");
/*swiper*/

/*幻灯片切换动画*/
@import url("flexslider.css");
/*幻灯片切换动画*/

/*owl*/
@import url("owl.carousel.1.3.3.css");
@import url("owl.theme.1.3.3.css");
/*owl*/

/*hover*/
@import url("hover.2.3.2.css");
/*hover*/

/*nav*/
@import url("nav.css");
/*nav*/

/*pc 放大镜*/
@import url("jquery.exzoom.css");
/*pc 放大镜*/

/*点击图片放大*/
@import url("gallery.css");
/*点击图片放大*/

/*public*/

.clearfix {clear: both;}
.main {padding: var(--padding_0); margin: var(--margin_0);background: var(--bg_f5);}

.banner {
  position: relative;
  background: var(--bg_f5);
  width: var(--width_100);
  height: var(--height_0); 
  margin: var(--margin_0);
  padding: var(--padding_0);
}
.banner .img {
  display: block;
  max-width: var(--width_100);
  width: var(--width_100);
  text-align: var(--text_center);
  margin: var(--margin_0);
}

.map {height:500px;margin:50px auto 0;border: 1px solid #ccc;}
.map img {width: auto !important; max-width: initial;}
.map b {color: #d44924;font-size: 15px;}
.map .BMap_center {width: 304px !important;}
.map .iw_poi_content {color: #333;font-size: 12px;}

.nav_pagination {margin: var(--margin_t50);text-align:var(--text_center);}
.nav_pagination .pagination {margin: var(--margin_0);}
.nav_pagination .pagination li {display: inline-block;}
.nav_pagination .pagination li a {
  color: #aaa9a9;
  font-size: 14px;
  padding: 5px 10px;
  margin: 0 10px 5px 0; 
  border-radius:0;
  background: var(--bg_fff);
  border: 1px solid #ccc;
}
.nav_pagination .pagination .active a {background:var(--color);color: #fff;border-color:var(--color);}
.nav_pagination .pagination .active a:hover, 
.nav_pagination .pagination li a:hover {background:var(--color);color: #fff;border-color:var(--color);}

.details_ul {margin:50px auto 0;}
.details_ul li{font-size: 16px;color: #666;margin: 0 auto 10px;}
.details_ul li a{font-size: 16px;color: #666;}
.details_ul li a:hover{color: #da322a;}

.article_title {
  padding: var(--padding_0);
  margin: var(--margin_b30);
  text-align: var(--text_center);
}
.article_title h2 {
  position: relative;
  color: #ddd;
  font-size: 72px;
  font-weight: 600;
  text-transform: uppercase;
  margin: var(--margin_0);
  padding: var(--padding_15);
}
.article_title h2 span {
  display: block;
  color:var(--color);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: -10px auto 0px;
}
.article_title h2 span::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 60px;
  height: 1px;
  background: #ccc;
  margin: 0px auto;
}
.article_title h2 span::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 120px;
  height: 1px;
  background: #ccc;
  margin: 0px auto;
}

.top_menu_nav {
  position: relative;
  width: var(--width_1200px);
  margin: -40px auto 0px;
  text-align: var(--text_center);
  padding: 20px 0;
  background: var(--bg_f5);
  box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.20);
  *word-spacing:-1px;
  font-size:0;
}
.top_menu_nav .nav_ul {margin: var(--margin_0);}
.top_menu_nav .nav_ul li {display: inline-block;margin: 0px 10px;position: relative;}
.top_menu_nav .nav_ul li .more_a {
  color: var(--color_666);
  font-size: var(--size_16);
  padding: 10px 20px;
  background: #cbcccc;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
.top_menu_nav .nav_ul li .more_a:hover,
.top_menu_nav .nav_ul li .more_a:focus,
.top_menu_nav .nav_ul .nav_li .more_a {color:var(--color_fff);background:var(--color);}
.top_menu_nav .nav_ul .nav_li {position: relative;}
.top_menu_nav .nav_ul li:hover:before,
.top_menu_nav .nav_ul .nav_li:before {
  content: "";
  position: absolute;
  left: 45px;
  bottom: -15px;
  height: 0px;
  width: 0px;
  border-top: 15px solid #c9283a;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
}

.breadcrumb_nav {
  position: relative;
  background: var(--bg_f5);
  padding: var(--padding_tb15);
  margin: var(--margin_0);
  box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.20);
}
.breadcrumb_nav .breadcrumb {margin: var(--margin_0);}
.breadcrumb_nav .breadcrumb {width: 1200px; margin: var(--margin_0);font-size: 0;}
.breadcrumb_nav .breadcrumb .left_nav {margin: var(--margin_0);display: inline-block;}
.breadcrumb_nav .breadcrumb .left_nav li {display: inline-block;margin: 0 3px;font-family: "FontAwesome";}
.breadcrumb_nav .breadcrumb .left_nav li img {margin: 0 20px 0 0;display: inline-block;}
.breadcrumb_nav .breadcrumb .left_nav li i {margin-right: 10px;}
.breadcrumb_nav .breadcrumb .left_nav li i,
.breadcrumb_nav .breadcrumb .left_nav li a {color: var(--color_333);font-size: var(--size_15);transition: 0.5s;}
.breadcrumb_nav .breadcrumb .left_nav li:hover i,
.breadcrumb_nav .breadcrumb .left_nav li:hover a {color: var(--color);}
.breadcrumb_nav .breadcrumb .left_nav .active {color: var(--color_666);font-size: var(--size_15);}
.breadcrumb_nav .breadcrumb .left_nav  li + li:before {padding: 0 5px;color: var(--color_666);font-size: var(--size_15);content: "\f105";}

.breadcrumb_nav .right_nav {margin: var(--margin_0);display: inline-block;float: right;}
.breadcrumb_nav .right_nav li {display: inline-block;margin: 0 15px 0;}
.breadcrumb_nav .right_nav li a {
  color: var(--color_333);
  font-size: var(--size_15);
  padding: 0 0 23px 0;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
}
.breadcrumb_nav .right_nav .active a,
.breadcrumb_nav .right_nav li:hover a {border-bottom: 2px solid var(--color);color: var(--color);}

.details_ul {margin: var(--margin_t50);}
.details_ul li {font-size: var(--size_16);color:var(--color_666);margin: 0 auto 10px;}
.details_ul li:last-child {margin: var(--margin_0);}
.details_ul li a {font-size: var(--size_16);color:var(--color_666);}
.details_ul li a:hover {color: var(--color);}

/*public*/

/*header*/
.header {width: var(--width_100);margin: var(--margin_0);padding: var(--padding_0);}
.header .header_nav {width: var(--width_1200px);margin: var(--margin_0);padding: var(--padding_0);}
.header_nav .phone {
  float: left;
  text-align: var(--text_right);
  margin: 10px 0 0 50px;
}
.header_nav .phone h2 {font-size: var(--size_20);font-weight: 900;color: var(--color);}
.header_nav .phone h2 span {font-size: var(--size_14);font-weight: 500;color: var(--color);display: block;}

/*header*/

/*slider_brand*/
.slider_brand {width: var(--width_100);padding: var(--padding_0);margin: var(--margin_0);background: var(--bg_fff);}
.slider_brand .flexslider{border: 0px solid transparent;}
.slider_brand{ margin-top: 0px;}
.slider_brand .flexslider {
  z-index: 2;
  background: 0 0;
  border: none;
  margin: 0;
  border: 0px solid #ffffff;
}
.slider_brand .flexslider .slides>li {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}
.slider_brand .flexslider, .slider_brand .flexslider .slides>li, 
.slider_brand .slider-height {height: auto;}
.slider_brand .flexslider, .slider_brand .probootstrap-pricing, 
.slider_brand .probootstrap-pricing-wrap {position: relative;}
.slider_brand .flexslider .flex-control-paging {position: absolute;bottom: 30px;z-index: 20;}
.slider_brand .flexslider .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0,0,0,.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,.3);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: rgba(0,0,0,.8);
  border-radius: 0;
  padding: 30px;
}
.slider_brand .flexslider .flex-direction-nav a:before {
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\f104";
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 30px;
  display: inline-block;
  color: rgba(255,255,255,.8);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.slider_brand .flexslider .flex-direction-nav a.flex-next:before {
  content: "\f105";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.slider_brand .flexslider .flex-direction-nav .flex-next {right: 0;}
.slider_brand .flexslider .flex-direction-nav .flex-prev {left: 0;}
.slider_brand .flexslider:hover .flex-direction-nav .flex-next {opacity: .7;right: 0;}
.slider_brand .flexslider:hover .flex-direction-nav .flex-prev {opacity: 0.7;left: 0;}
.slider_brand .flex-control-nav li {margin: 0 10px;}
.slider_brand .flex-control-paging li a {width: 20px;height: 10px;border-radius: 0;background: rgba(218, 50, 42, 0.55);}
.slider_brand .flex-control-paging li a.flex-active {background: var(--color);}
/*slider_brand*/

/*index_service*/
.index_service {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
}
.index_service .index_service_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_50);
}
.index_service_content .figure_img {
  position: relative;
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_50);
}
.index_service_content .figure_img .figcaption_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  /*background: rgba(0, 0, 0, 0.58);*/
}
.index_service_content .figure_img .figcaption_text h3 {color:var(--color_333);font-size:18px;margin: var(--margin_b15);text-align: var(--text_right);}
.index_service_content .figure_img .figcaption_text p {color:var(--color_666);font-size:var(--size_14);line-height: 20px;}
.index_service_content .figure_img .figcaption_text .text_1 {
  position: absolute;
  top: 130px;
  width: 450px;
}
.index_service_content .figure_img .figcaption_text .text_2 {
  position: absolute;
  top: 45px;
  right: 0;
  width: 450px;
}
.index_service_content .figure_img .figcaption_text .text_2 h3,
.index_service_content .figure_img .figcaption_text .text_4 h3 {text-align: var(--text_left);}
.index_service_content .figure_img .figcaption_text .text_3 {
  position: absolute;
  bottom: 40px;
  width: 450px;
}
.index_service_content .figure_img .figcaption_text .text_4 {
  position: absolute;
  bottom: 130px;
  right: 0;
  width: 450px;
}
/*index_service*/

/*index_about*/
.index_about {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
}
.index_about .index_about_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_0);
}
.index_about_content .article_title {margin: 80px auto;}
.index_about .index_about_text_img {position: relative;}
.index_about .index_about_text_img .figcaption_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.45);
}
.index_about_text_img .index_about_img {height: 750px;width: 1920px;max-width: inherit;}
.index_about_content .p {
  color:var(--color_fff);
  font-size:var(--size_15);
  text-align: var(--text_center);
}
.index_about_content .a {
  margin: 50px auto;
  text-align: center;
  display: block;
  color:var(--color_fff);
  font-size:var(--size_16);
  width: 100px;
  height: 30px;
  line-height: 30px;
  transition: 0.5s;
}
.index_about_content .a:hover{color:var(--color);}
.index_about_content .a i {margin-left: 10px;}
.index_about_content .about_icon_list {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0;
  grid-row-gap: 0;
  text-align: var(--text_center);
}
/*.index_about_content .about_icon_list .about_text_img {animation:ico 2s infinite}
@keyframes ico{
  0%,100%{transform:translate(0px,0px)}
  50%{transform:translate(0px,-10px)}
}*/
.index_about_content .about_icon_list .about_text_img:hover img {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.index_about_content .about_icon_list .about_text_img h3 {color:var(--color_fff);font-size:var(--size_16);margin: 15px auto 20px;}
.index_about_content .about_icon_list .about_text_img p {color:var(--color_fff);font-size:var(--size_14);line-height: 20px;}
/*index_about*/

/*index_solution*/
.index_solution {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
}
.index_solution .index_solution_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_50);
  position: relative;
}
.tab {position: absolute;margin: 50px auto 0;width: 740px;z-index: 9;}
.ul_tabs {
  margin: 0px auto;
  text-align: left;
  border-bottom: 1px solid transparent;
}
.ul_tabs li {display: inline-block;}
.ul_tabs li a {
  position: relative;
  color: #4c4c4c;
  font-size: 16px;
  border-radius: 0px;
  padding: 10px 30px;
  margin-right: 15px;
  background: #ddd;
}
.ul_tabs li a:hover,
.ul_tabs .active a,
.ul_tabs .active a:hover,
.ul_tabs .active a:focus{color:var(--color);background: var(--bg_fff);border-bottom: 2px solid var(--color);}
.ul_tabs li:last-child a::after{width: 0;}
.tabs {background: rgba(255, 255, 255, 0.50);}
.tabs .active.tab_pane {display: block;padding: var(--padding_50);}
.tabs .fade.in {opacity: 1;}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.tabs .tab_pane {display: none;}
.tabs .h3 {color: var(--color_333);font-size: 18px;margin: var(--margin_b15);}
.tabs .p {color: var(--color_666);font-size: var(--size_14);text-indent: 30px;}
.tabs .a {
  margin:50px 0 0 0;
  text-align: center;
  display: block;
  color: var(--color_666);
  font-size: var(--size_16);
  width:200px;
  height: 40px;
  line-height: 40px;
  background: #ddd;
  transition: 0.5s;
}
.tabs .a:hover {color: var(--color);background: var(--bg_fff);}
.tabs .a i {margin-left: 10px;}
.right_figure_img {width: 580px;margin: 0px auto;float: right;}
/*index_solution*/

/*footer*/
.footer {
  height: 250px;
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: url(../images/footer_bg.jpg) no-repeat center;
  /*background-attachment: fixed;*/
}
.footer .footer_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.footer_content .footer_grid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: var(--padding_50);
}
.footer_content .footer_text:nth-child(1) h3 {color:var(--color_fff);font-size:18px;margin: var(--margin_b10);}
.footer_content .footer_text:nth-child(1) p,
.footer_content .figure_img .figcaption_text p {color:var(--color_fff);font-size:var(--size_14);}
.footer_content .footer_text:nth-child(2) {margin: 0 auto 10px;}
.footer_content .footer_text:nth-child(2) img {margin: 0;position: absolute;}
.footer_content .footer_text:nth-child(2) h2 {
  font-size: 30px;
  font-weight: 600;
  color:var(--color_fff);
  font-style: italic;
  margin: 0 0 0 60px;
}
.footer_content .footer_text:nth-child(2) h2 small {
  font-style: initial;
  font-size: var(--size_14);
  font-weight: 500;
  color:var(--color_fff);
  display: block;
  text-align: var(--text_left);
}
.footer_content .figure_img .figcaption_text {margin: var(--margin_t10);text-align: var(--text_center);}
.copyright {
  background: var(--color);
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: var(--padding_10);
}
.copyright p {color:var(--color_fff);font-size: var(--size_14);text-align: var(--text_right);}
.copyright h2 {text-align: var(--text_left);padding: 0 0 0 100px;}
.copyright h2 a {color:var(--color_fff);font-size: var(--size_14);}
/*footer*/

/*about*/
.about {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.about .about_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.about_content .about_content_text .p {color: var(--color_666);font-size: var(--size_16);text-indent: 30px;}
/*about*/

/*news*/
.news {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.news .news_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.news_content .news_list {
  display: grid;
  grid-template-columns: 580px 580px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.news_content .news_list .figure_img {position: relative;}
.news_content .news_list .figure_img .figure_img_a {}
.news_content .news_list .figure_img .figcaption_text {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--padding_20);
  background: rgba(0, 0, 0, 0.45);
  transition: 0.5s;
}
.news_content .news_list .figure_img:hover .figcaption_text {background: rgba(201, 40, 58, 0.65);}
.news_content .news_list .figure_img .figcaption_text h3 {margin: var(--margin_b10);}
.news_content .news_list .figure_img .figcaption_text h3 a {color: var(--color_fff);font-size: var(--size_16);}
.news_content .news_list .figure_img .figcaption_text h3 span {color: var(--color_fff);font-size: var(--size_12);float: right;}
.news_content .news_list .figure_img .figcaption_text p {color:var(--color_fff);font-size: var(--size_14);line-height: 20px;clear: both;}
/*news*/

/*news_detail*/
.news_detail {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.news_detail .news_detail_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.news_detail_content .title_text {margin: 0px auto 5px;text-align: var(--text_center);}
.news_detail_content .title_text h2 {font-size: 18px;color: var(--color_333);}
.news_detail_content .title_text ul {margin: 15px auto;padding: var(--padding_b20); border-bottom: 1px solid #ccc;}
.news_detail_content .title_text ul li {
  color: #bfbfbf;
  font-size: var(--size_14);
  padding: 0 30px;
  display: inline-block;
}
.news_detail_content .text .h2 {color: var(--color_666);font-size: 18px;text-align:var(--text_center);}
.news_detail_content .text .p {color: var(--color_666);font-size: var(--size_16);text-indent: 30px;}
/*news_detail*/

/*service*/
.service {width: var(--width_100);padding: 50px 0;margin: var(--margin_0);background: var(--bg_f5);}
.service .service_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.service_content .service_desc {background: var(--bg_fff);margin: var(--margin_b50);padding: var(--padding_30);box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.20);}
.service_content .service_desc .p {color: var(--color_666);font-size: var(--size_16);}
.service_content .service_list {
  display: grid;
  grid-template-columns: 1200px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 40px;
  *word-spacing:-1px;
  font-size:0;
}
.service_content .service_list .list_box_shadow:hover {
  box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0);
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
}
.service_content .service_list .figure_img {height: 355px;}
.service_content .service_list .figure_img .figure_img_a, 
.service_content .service_list .figure_img .figcaption_text {width: 580px;}
.service_content .service_list .figure_img:nth-child(odd) .figure_img_a {float: left;}
.service_content .service_list .figure_img:nth-child(odd) .figcaption_text {float: right;}
.service_content .service_list .figure_img:nth-child(even) .figure_img_a {float: right;}
.service_content .service_list .figure_img:nth-child(even) .figcaption_text {float: left;}
.service_content .service_list .figure_img .figcaption_text h3 {color: var(--color_333);font-size: var(--size_20);margin: var(--margin_b20);}
.service_content .service_list .figure_img .figcaption_text p {color: var(--color_666);font-size: var(--size_16);text-indent: 30px;}
/*service*/

/*order_tracking*/
.order_tracking {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.order_tracking .order_tracking_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.order_tracking_content .info {background: #ddd;height: 500px;}
/*order_tracking*/

/*process*/
.process {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.process .process_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
/*process*/

/*partner*/
.partner {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.partner .partner_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.partner_content .partner_list {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.partner_content .partner_list li a {
  text-align: var(--text_center);
  color: var(--color_666);
  font-size: var(--size_16);     
}
.partner_content .partner_list li a .border_item {
  position: relative;
  display: block;
  overflow: hidden;
}
.border_item:before {border-top: 1px solid transparent;border-left: 1px solid transparent;}
.border_item:after {border-right: 1px solid transparent;border-bottom: 1px solid transparent;}
.border_item:hover:before {border-top: 1px solid var(--color);border-left: 1px solid var(--color);}
.border_item:hover:after {border-right: 1px solid var(--color);border-bottom: 1px solid var(--color);}
.partner_content .partner_list li a:hover {color: var(--color);}
.partner_content .partner_list li a span {display: block;margin: var(--margin_t15);}
/*partner*/

/*show*/
.show {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.show .show_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.show_content .show_list {
  display: grid;
  grid-template-columns: 375px 375px 375px;
  grid-template-rows: 250px;
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.show_content .show_list .figure_img {position: relative; text-align: var(--text_center);}
.show_content .show_list .figure_img .figcaption_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 20px 20px;
  background: rgba(0, 0, 0, 0.45);
  transition: 0.5s;
  opacity: 0;
}
.show_content .show_list .figure_img:hover .figcaption_text {opacity: 1;}
.show_content .show_list .figure_img .figcaption_text i {color: var(--color_fff);font-size: var(--size_14);}
.show_content .show_list .figure_img .figcaption_text span {display: block;color: var(--color_fff);font-size: var(--size_14);}

.fs_gallery_prev {
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  bottom: auto;
  z-index: 1001;
  cursor: pointer;
  transition: 0.5s;
}
.fs_gallery_prev::before {
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  margin-top: 0;
  position: absolute;
  content: "<";
  text-align: center;
  line-height: 75px;
}
.fs_gallery_prev:hover {
  background: rgba(201, 40, 58, 0.85);
  color: #fff;
}
.fs_gallery_next {
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  bottom: auto;
  z-index: 1001;
  cursor: pointer;
  transition: 0.5s;
}
.fs_gallery_next::before {
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  margin-top: 0;
  position: absolute;
  content: ">";
  text-align: center;
  line-height: 75px;
}
.fs_gallery_next:hover {
  background: rgba(201, 40, 58, 0.85);
  color: #fff;
}
/*show*/

/*show_detail*/
.show_detail {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.show_detail .show_detail_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
/*case_detail*/

/*solution*/
.solution {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.solution .solution_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.solution_content .solution_list {
  display: grid;
  grid-template-columns: 1200px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  *word-spacing:-1px;
  font-size:0;
}
.solution_content .solution_list .figure_img {height: 280px;background: var(--bg_f5);box-shadow: 1px 3px 30px rgba(0, 0, 0, 0.20);transition: 0.5s;}
.solution_content .solution_list .figure_img:hover {background: var(--bg_fff);}
.solution_content .solution_list .figure_img .figcaption_text {width: 720px;float: left;padding: var(--padding_30);transition: 0.5s;}
.solution_content .solution_list .figure_img .figcaption_text h3 {margin: var(--margin_b15);}
.solution_content .solution_list .figure_img .figcaption_text h3 a {color: var(--color_666);font-size:18px;}
.solution_content .solution_list .figure_img:hover .figcaption_text h3 a {color: var(--color);}
.solution_content .solution_list .figure_img .figcaption_text p {color: var(--color_999);font-size: var(--size_16);}
.solution_content .solution_list .figure_img:hover .figcaption_text p {color: var(--color_666);}
.solution_content .solution_list .figure_img .figcaption_text .link {
  color: var(--color_666);
  background-color: #ccc;
  border-radius: 3px;
  padding: 5px 25px;
  margin: var(--margin_t50);
  transition: 0.5s;
}
.solution_content .solution_list .figure_img:hover .figcaption_text .link {color:var(--color_fff);background: var(--color);}
.solution_content .solution_list .figure_img .figcaption_text .link:before {background: var(--color);}
.solution_content .solution_list .figure_img .figure_img_a {
  display: block;
  width: 420px;
  float: right;
}
/*solution*/

/*solution_detail*/
.solution_detail {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.solution_detail .solution_detail_content {width: var(--width_1200px);padding: var(--padding_0);margin: var(--margin_0);}
.solution_detail_content .h2 {color: var(--color_666);font-size: 18px;text-align:var(--text_center);}
.solution_detail_content .p {color: var(--color_666);font-size: var(--size_16);text-indent: 30px;}
/*case_detail*/

/*contact*/
.contact {width: var(--width_100);padding: 80px 0;margin: var(--margin_0);background: var(--bg_f5);}
.contact_content {
  width: var(--width_1200px);
  padding: 100px 0 20px;
  margin: var(--margin_0);
  *word-spacing:-1px;
  font-size:0;
}
.contact .footer_text_form {position: relative;margin-bottom: 100px;}
.footer_text_form .figcaption_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer_text_form .footer_text_form_img {width: 1920px;height: 800px;max-width: inherit;}
.contact_content .left_text {width: 500px;float: left;}
.contact_content .left_text h2 {color: var(--color);font-size: 30px;margin: var(--margin_b50);}
.contact_content .left_text h3 {color: var(--color_fff);font-size: 24px;margin: var(--margin_b30);}
.contact_content .left_text p {color: var(--color_fff);font-size:var(--size_16);margin: var(--margin_b10);}
.contact_content .left_text h5 {text-align:var(--text_center);display: inline-block;margin: 30px 70px 0 0;}
.contact_content .left_text h5 small {display: block;color: var(--color_fff);font-size: var(--size_14);margin: var(--margin_t10);}
.contact_content .messages_form {width: 700px;float: left;}
.contact_content .messages_form h2 {color: var(--color);font-size: 30px;margin: var(--margin_b50);}
.contact_content .messages_form .form {padding: var(--padding_30);margin: var(--margin_t50);background: rgba(255, 255, 255, 0.78);}
.contact_content .messages_form .form .label_input {clear: both;}
.contact_content .messages_form .form label {
  color: var(--color_666);
  font-size: var(--size_16);
  float: left;
  width: 80px;
  text-align:var(--text_right);
  line-height: 40px;
  margin-right: 15px;
}
.contact_content .messages_form .form .form_input::-webkit-input-placeholder,
.contact_content .messages_form .form .form_textarea::-webkit-input-placeholder {color: #ccc;font-size: 16px;text-transform: uppercase;}
.contact_content .messages_form .form .form_input {
  float: left;
  height: 25px;
  width: 250px;
  margin: 0 auto 15px;
  padding: 5px 10px;
  font-size: var(--size_16);
  color: var(--color_666);
  line-height: 20px;
  background-color: var(--bg_fff);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.contact_content .messages_form .form .label_input:nth-child(3) .form_input {width: 523px;}
.contact_content .messages_form .form .form_textarea {
  height: 120px;
  width: 630px;
  font-size: var(--size_16);
  color: var(--color_666);
  line-height: 20px;
  padding: 5px;
  background-color: var(--bg_fff);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.contact_content .messages_form .form_input:focus,
.contact_content .messages_form .form .form_textarea:focus {
  outline: 0;
  border: 1px solid #333;
  -webkit-box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
  box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
}
.contact_content .messages_form .submit_btn {
  display: block;
  width: 20%;
  font-size: var(--size_16);
  color: var(--color_fff);
  text-align: center;
  padding: 5px 10px;
  margin: 20px 0 0 0;
  border-radius: 3px;
  cursor: pointer;
  background: var(--color);
  border: 1px solid transparent;
}
.contact_content .messages_form .submit_btn:before {background: var(--bg_fff);}
.contact_content .messages_form .submit_btn:hover {color:var(--color_666);border: 1px solid var(--color_666);}

.map {width: var(--width_1200px);margin: var(--margin_t50);}
/*contact*/