@charset "utf-8";

body {
  background:#fff;
  font-size:14px;
  font-weight:500;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:subpixel-antialiased;
  color:#666;
  line-height:25px;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: #a22f30;
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}

.header_nav {
  background: #fff;
  margin-bottom:0;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.top_nav {
  background:#fff;
  z-index:999999;
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-name:fadeInDown;
  animation-name:fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity:0;
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
  }@keyframes fadeInDown {
    0% {
    opacity:0;
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
}
.navbar_a {
  display:inline-block;
  height:auto;
  padding: 0;
  margin: 0px auto;
  font-size: 15px;
  line-height:inherit;
  white-space:nowrap;
}
.navbar_a:focus,.navbar_a:hover {text-decoration:none;}
.form_inline {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:row wrap;
  flex-flow:row wrap;
  -ms-flex-align:center;
  align-items:center
}
.navbar_toggler_icon {
  display:inline-block;
  width:1.5em;
  height:1.5em;
  vertical-align:middle;
  content:"";
  background:no-repeat center center;
  background-size:100% 100%
}
.top_search_con {
  background:#fff;
  height:38px;
  border-radius:50px;
  position:relative;
  width:100%;
}
.top_search_con input[type="text"],.top_search_con input:focus {
  background:none;
  border:1px solid #E4E4E4;
  height:100%;
  width:100%;
  padding:1px 20px 0 40px;
  color:#818B8D;
  font-size:12px;
  outline:none;
  border-radius:50px;
  transition:all 0.4s ease-in-out;
  -webkit-transition:all 0.4s ease-in-out;
  -moz-transition:all 0.4s ease-in-out;
}
.top_search_icon {
  font-size:14px;
  left:15px;
  position:absolute;
  top:7px;
}


.header_nav .main_menu {margin: 0px auto;text-align: center;position: initial;}
.header_nav .main_menu .navbar_nav {margin: 30px auto 0;}

.main_menu.show {display: block;}
.main_menu .navbar_nav .nav_item .nav_link {
  background:transparent;
  color:#555;
  font-size: 16px;
  position:relative;
  padding: 40px 30px;
  font-weight:400;
  line-height:20px;
  text-transform:uppercase;
  text-decoration: none;
}
.main_menu .navbar_nav .nav_item .nav_link span{
  display: block;
  font-weight: 500;
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
}
.main_menu .navbar_nav .nav_item{
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 0px auto;
}
.main_menu .nav_item.active .nav_link::before {
  content: "";
  width: 30%;
  height: 2px;
  background: #383838;
  margin: 0px auto 0;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
}
.main_menu .navbar_nav .nav_item .dropdown_menu {
  position:absolute;
  z-index: 1;
  display:none;
  padding:0;
  border-radius:0;
  left:0;
  right:0;
  margin-top: 30px;
  width: 100%;
  border:none;
  background: rgba(255, 255, 255, 0.90);
  text-align: center;
  -webkit-animation:fadeInUpMenu 0.4s;
  -moz-animation:fadeInUpMenu 0.4s;
  -ms-animation:fadeInUpMenu 0.4s;
  -o-animation:fadeInUpMenu 0.4s;
  animation:fadeInUpMenu 0.4s;
}
@-webkit-keyframes fadeInUpMenu {
  0% {
    opacity:0;
    -webkit-transform:translateY(10px);
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0);
  }
  }@keyframes fadeInUpMenu {
    0% {
    opacity:0;
    transform:translateY(10px);
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}
.main_menu .navbar_nav .nav_item:hover .dropdown_menu {display:block;}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item {
  font-size:16px;
  color:#555;
  display:block;
  height:auto;
  padding: 10px 0px;
  line-height:16px;
  font-weight:400;
  border-top:1px solid #e2e6e7;
  transition:all 0.3s ease-in-out 0s;
}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item:hover,
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item .active {background-color: #f4f4f4;transition:all 0.3s ease-in-out 0s;}
.main_menu .navbar_nav .nav_item .dropdown_menu .nav_item .dropdown_item:focus {background:transparent;}
.main_menu .navbar_nav .nav_item .dropdown_menu .active .dropdown_item {background:transparent;}
.main_menu .navbar_nav .nav_item .sub-menu {
  top:-2px;
  left:100%;
  padding:0;
  border:none;
  -webkit-animation:MenuFadeIn 0.4s;
  -moz-animation:MenuFadeIn 0.4s;
  -ms-animation:MenuFadeIn 0.4s;
  -o-animation:MenuFadeIn 0.4s;
  animation:MenuFadeIn 0.4s;
}
@-webkit-keyframes MenuFadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
  }@keyframes MenuFadeIn {
    0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.main_menu .nav_item .nav_link:hover{color: #000;}
.main_menu .nav_item.active .nav_link,
.main_menu .nav_item.open .nav_link,
.main_menu .active .nav_link:hover,
.main_menu .active .nav_link:focus{color: #383838;}
.main_menu .nav_item .dropdown_menu .nav_item.active .nav_link{color: #333;}
.main_menu .nav_item .dropdown_menu .nav_item .nav_link:hover,
.main_menu .nav_item .dropdown_menu .nav_item .nav_link:active{color: #333;}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item::before{height: 0;}
/*.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item.active::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #005240;
  margin: 25px auto 0;
  position: absolute;
  left: 0;
  right: 0;
}*/
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item.active, 
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item.active:focus, 
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item.active:hover {color: #fff;background-color: #005240;}
.main_menu .nav_link.active {color: #333;}
.main_menu .nav_link:hover {color: #333;}
.main_menu .navbar_nav .nav_item .dropdown_menu .nav_link:hover, 
.main_menu .navbar_nav .nav_item .dropdown_menu .nav_link .active {color: #333;}

.top_search_icon{color: #333;}
.top_search_con input:focus {border: 1px solid #333;}

@media (max-width: 1199px){
  .main_menu .navbar_nav .nav_item .nav_link {padding: 40px 15px;}
  .main_menu .nav_item.active .nav_link::before {width: 45%;}
  .main_menu .navbar_nav .nav_item .dropdown_menu {margin-top: 30px;}
  .main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item {font-size: 13px;}
}
@media (max-width: 991px){
  .top_search_con {display: none;}
}
@media (max-width:767px) {
  .header_nav .main_menu {display: none;}
  .navbar_header {margin: 15px auto;}
  .navbar_a{position: absolute;top: 0;margin: 10px auto;}
  .main_menu {clear: both;}
}




