@charset "utf-8";

@media (max-width: 3000px) and (min-width: 1300px){
  .about .container, .news .container, .news_detail .container, .pro .container, 
  .product .container, .product_detail .container, .service .container, 
  .partner .container, .contact .container, .messages .container {width: 1280px;}
}

@media (max-width: 3000px) and (min-width: 1700px){
  .header .container {width: 1760px;}
}
@media (max-width: 1700px) and (min-width: 1600px){
  .header .container {width: 1500px;}
}
@media (max-width: 1600px) and (min-width: 1500px){
  .header .container {width: 1400px;}
}
@media (max-width: 1500px) and (min-width: 1400px){
  .header .container {width: 1300px;}
}
@media (max-width: 1400px) and (min-width: 1300px){
  .header .container {width: 1280px;}
}
@media (max-width: 3000px) and (min-width: 1500px){
  .container {width: 1442px;}
}

@media (max-width: 1800px){
	.main_menu .navbar_nav .nav_item:nth-child(4) .dropdown_menu .dropdown_menu_width {width: 90%;}
}
@media (max-width: 1500px){
	.header .dropdown {margin: 0px 60px;}
	.main_menu .navbar_nav .nav_item:nth-child(4) .dropdown_menu .dropdown_menu_width .product_menu_ul {padding: 0 10px;}
}
@media (max-width: 1499px){
	.index_products_content .index_products_info .product_right_img_text {top:50px;}
	.index_brand_content_img_text:nth-child(1), 
	.index_brand_content_img_text:nth-child(4) {width: 700px;height: auto;}
	.index_brand_content_img_text:nth-child(2), 
	.index_brand_content_img_text:nth-child(3),
	.index_brand_content_img_text:nth-child(5) {width: 470px;height: auto;padding: 80px 20px;}
}
@media (max-width: 1299px){
	.index_news_content .index_news_list .more_a {margin: 80px 20px 0;}
	.product_content .product_list .products_top_img .product_text {padding: 30px;}
	.product_detail_content .product_detail_content_top .right_text h4 {margin: 30px auto 0;}
	.product_detail_content .product_detail_content_top .right_text .mt_a {margin: 40px auto 0;}
	.messages_content .messages_text {padding: 30px 20px;}
}
@media (max-width: 1199px){
	.header .dropdown {margin: 0px auto;}
	.main {margin: 110px auto 0;}
	.index_products_content .index_products_info .product_right_img_text {position: relative;top: 0;padding: 0 15px;}
	.index_products_content .index_products_info .product_right_img_text .img_text h2 {margin: 0 auto;}
	.index_products_content .index_products_info .product_right_img_text .img_text p {margin: 10px auto 0;}
	.index_brand_content_img_text img {width: auto;height: auto;}
	.index_brand_content_img_text:nth-child(1), 
	.index_brand_content_img_text:nth-child(4) {width: 50%;height: auto;}
	.index_brand_content_img_text:nth-child(2), 
	.index_brand_content_img_text:nth-child(3),
	.index_brand_content_img_text:nth-child(5) {width: 50%;height: auto;padding: 10px;}
	.index_news_content .index_news_list .index_news_right_text {margin: 0 auto;}
	.index_news_content .index_news_list .index_news_right_text:nth-child(3) {margin: 0 auto 30px;}
	.index_news_content .index_news_list .index_news_right_text .right_text,
	.index_news_content .index_news_list .index_news_right_text:last-child {padding: 20px 0px;}
	.index_news_content .index_news_list .more_a {margin: 0px 15px;}
	.pro_content .moisture_list .img_text:nth-child(2n+0) {margin: 0px auto;float: left;}
	.pro_content .oilcontrol_list .img_text {margin: 0 auto;float: left;}
	.pro_content .oilcontrol_list .img_text:nth-child(2n+0) {margin: 0px auto;float: left;}
	.pro_content .oilcontrol_list .img_text .product_text,
	.pro_content .oilcontrol_list .img_text:nth-child(2n+0) .product_text {padding: 0;}
	.pro_content .moisture_list .img_text .product_text {padding: 0;}
	.pro_content .moisture_list .img_text:nth-child(2n+0) .product_text {padding: 0;}
	.pro_content .list_img, .pro_content .product_text {float: initial;}
	.pro_content .moisture_list .img_text, .pro_content .oilcontrol_list .img_text {text-align:center;}
	.pro_content .cleanser_list .cleanser_img_text:nth-child(2n+0) {margin: 0px auto 30px;float: left;}
	.pro_content .cleanser_list .cleanser_img_text,
	.pro_content .cleanser_list .cleanser_img_text .product_text {padding: 0;margin: 0px auto;text-align: center;}
	.product_content .product_list {padding: 0;}
	.product_content .product_list .products_top_img:nth-child(2n+0) {margin: 100px auto 30px;}
	.product_content .product_list .products_top_img {padding: 0 15px;}
	.product_content .product_list .products_top_img .product_text {padding: 15px;}
	.product_content .product_list .products_top_img .product_text h3 a {font-size: 20px;}
	.product_content .product_list .products_top_img .product_text p {font-size: 15px;margin: 10px auto 0;}
	.product_content .product_list .products_top_img .product_text .more_a {padding: 5px 20px;margin: 10px auto 0;}
	.product_detail_content .product_detail_content_top .right_text {padding: 10px 10px 15px 30px;}
	.news_content .news_content_list .news_img_text .news_text {padding: 10px 20px;}
	.news_content .news_content_list .news_img_text span {margin: 10px auto;}
	.news_content .news_content_list .news_img_text p {margin: 10px auto;font-size: 13px;line-height: 20px;}
}
@media (max-width: 991px){
	.main {margin: 0px auto 0; /*margin: 44px auto 0;*/}
	.top_nav {background: transparent;}
	/*.index_brand_content_flex {position: relative;}
	.index_brand_content_img_text:nth-child(3) {position: absolute;top: auto;bottom: 0;}
	.index_brand_content_img_text:nth-child(4) {margin: 0 auto 138px;}*/
	.index_products_content .index_products_info .product_right_img_text {padding: 15px 15px 0;}
	.index_brand_content_img_text:nth-child(1), 
	.index_brand_content_img_text:nth-child(4) {width: 100%;height: auto;}
	.index_brand_content_img_text:nth-child(2), 
	.index_brand_content_img_text:nth-child(3),
	.index_brand_content_img_text:nth-child(5) {width: 100%;height: auto;padding: 20px;}
	.index_news_content .index_news_list .index_news_img .index_news_text {padding: 15px 0;}
	.index_news_content .index_news_list .index_news_right_text .right_text {padding: 0px 0px 15px;}
	.index_news_content .index_news_list .index_news_right_text:nth-child(3) {padding: 15px 15px 0;}
	.index_news_content .index_news_list .index_news_img .index_news_text h3 a, 
	.index_news_content .index_news_list .index_news_right_text h3 a {font-size: 20px;}
	.pro_content .cleanser_list, .pro_content .moisture_list, .pro_content .oilcontrol_list,
	.pro_content .brightskin_list, .pro_content .facialmask_list, .pro_content .elitefluid_list {padding: 0;}
	.pro_content .facialmask_list .product_text .pro_text,
	.pro_content .elitefluid_list .product_text .pro_text {padding: 0;}
	.pro_content .cleanser_list .cleanser_img_text .product_text h3 a,
	.pro_content .moisture_list .img_text .product_text h3 a,
	.pro_content .oilcontrol_list .img_text .product_text h3 a,
	.pro_content .oilcontrol_list .product_text h3 a,
	.pro_content .brightskin_list .product_text h3 a,
	.pro_content .elitefluid_list .product_text h3 a,
	.pro_content .facialmask_list .product_text h3 a {font-size: 20px;}
	.pro_content .cleanser_list .cleanser_img_text .product_text p,
	.pro_content .moisture_list .img_text .product_text p,
	.pro_content .oilcontrol_list .img_text .product_text p,
	.pro_content .oilcontrol_list .product_text p,
	.pro_content .brightskin_list .product_text p,
	.pro_content .elitefluid_list .product_text p,
	.pro_content .facialmask_list .product_text p {margin: 10px auto 0;font-size: 13px;line-height: 20px;}
	.pro_content .brightskin_list .product_text:nth-child(2) {margin-top: 0px;}
	.pro_content .list_img, .pro_content .product_text {float: none;text-align: center;}
	
	.product_content .list_img, .product_content .product_text {float: initial;}
	.product_content .product_list .products_top_img .product_text {text-align: center;padding: 15px 0;}
	.product_content .product_list .products_top_img:nth-child(2n+0) {margin: 0px auto 30px;}
	.product_detail_content .product_detail_content_list .product_detail_figure_img .product_detail_figcaption_text span {font-size: 12px;}
	.product_detail_content .product_detail_content_top { margin: 0px auto 50px;}
	.product_detail_content .product_detail_content_top .right_text {padding: 25px 10px 10px;}
	.messages_content .messages_text {padding: 0 10px;}
	.messages_content .messages_text h2, .messages_content .messages_text h3 {margin: 0px auto 10px;font-size: 25px;}
	.messages_content .messages_text p {font-size: 20px;}
	.messages_content .messages_form {padding: 0;}
	.messages_content .messages_form h3 {font-size: 25px;}
	.messages_content .messages_form .form .form_textarea {height: 100px;}
	.service_content .service_list .service_img_text .service_text {padding: 50px 30px;}
	.news_content .news_content_list .news_img_text .news_text {padding: 0 15px;}
	.news_content .news_content_list .news_img_text h3 {line-height: 20px;}
	.news_content .news_content_list .news_img_text h3 a {font-size: 15px;}
	.news_content .news_content_list .news_img_text p,
	.news_content .news_content_list .news_img_text span {margin: 5px auto;}
}
@media (max-width: 767px){
	.index_products .index_products_content { margin: 20px auto 0;}
	.index_products_content .index_products_info .product_left_img_text .product_text {padding: 10px;}
	.index_brand .index_brand_content {margin: 20px auto;padding: 0;}
	.index_news .index_news_content {margin: 0 auto 20px; padding: 0;}
	.index_brand_content_img_text:nth-child(2) h3,
	.index_brand_content_img_text:nth-child(3) h3,
	.index_brand_content_img_text:nth-child(5) h3 {font-size: 15px;}
	.index_brand_content_img_text:nth-child(2) .more_a, 
	.index_brand_content_img_text:nth-child(3),
	.index_brand_content_img_text:nth-child(5) .more_a {padding: 5px 15px;margin: 10px auto 0;}
	.index_title_text {margin: 0 auto 20px;}
	.index_title_text h2 {font-size: 30px;}
	.index_title_text span {margin: 5px auto 0;font-size: 20px;}
	.index_news_content .index_news_list .div_more {text-align: center;}
	.about .about_content {margin: 20px auto;}
	.news .news_content {margin: 20px auto;}
	.nav_pagination {margin: 10px auto 0;}
	.news_detail .news_detail_content {padding: 0;margin: 20px auto;}
	.news_detail_content .title_text h2 {font-size: 20px;line-height: 25px;}
	.news_detail_content .title_text ul {margin: 10px auto;}
	.news_detail_content .title_text ul li {padding: 0 10px;}
	.pro .pro_content {margin: 20px auto 0;padding: 0;}
	.pro_content .cleanser, .pro_content .moisture, .pro_content .oilcontrol, .pro_content .brightskin, 
	.pro_content .facialmask, .pro_content .elitefluid {margin: 0px auto 20px;}
	.pro_content .product_text .more_a {padding: 5px 10px;margin: 10px auto 0;font-size: 13px;}
	.pro_content .brightskin_list .product_text {margin: 0 auto 20px;width: 100%;}
	.pro_content .brightskin_list .product_text:nth-child(2) {margin-top: 0;}
	.product .product_content {margin: 20px auto;}
	.product_content .product_list {margin: 30px auto 0;}
	.product_detail_content .product_detail_content_list {margin: 20px auto;}
	.product_detail .product_detail_content {padding: 0; margin: 20px auto;}
	.product_detail_content .product_detail_content_top {margin: 0px auto 10px;}
	.product_detail_content .product_detail_content_top .right_text .mt_a {margin: 30px auto 0;}
	.contact .contact_content {margin: 20px auto;}
	.contact_content .contact_content_text, .contact_content .contact_content_map {padding: 0;}
	.partner .partner_content {margin: 20px auto;padding: 0;}
	.partner_content .partner_list .partner_img {margin: 0 auto 20px;}
	.contact_content .contact_nav {margin: 0 auto 20px;}
	.contact_content .contact_nav .contact_nav_ul {position: relative; top: 0;padding: 15px;}
	.contact_content .contact_nav .contact_nav_ul li {margin: 10px;}
	.messages .messages_content {margin: 20px auto;}
	.messages_content .messages_text {padding: 0px;}
	.messages_content .messages_form {padding: 20px 0;}
	.service .service_content {margin: 20px auto;padding: 0;}
	.footer .footer_content {margin: 20px auto;padding: 0;}
	.footer .footer_content .footer_icon .figure_icon {margin: 0 10px;}
}
@media (max-width: 600px){
	.service_content .service_list .service_img_text .service_text {padding: 20px;}
}
@media (max-width: 500px){
	.index_products_content .index_products_info .product_left_img_text .product_text p {font-size: 13px;margin: 5px auto;}
	.index_products_content .index_products_info .product_left_img_text .product_text .more_a {padding: 5px 10px;margin: 10px auto;font-size: 13px;}
	.news_content .news_content_list .news_img_text .news_text,
	.news_content .news_content_list .news_img_text .news_img {width: 100%;}
	.news_content .news_content_list .news_img_text .news_text {padding: 15px 10px;}
	.pro_content .facialmask_list .product_text,
	.pro_content .elitefluid_list .product_text,
	.pro_content .oilcontrol_list .img_text,
	.pro_content .moisture_list .img_text,
	.pro_content .cleanser_list .cleanser_img_text {width: 100%;}
	.product_detail_content .product_detail_content_top .right_text .mt_a {text-align: center;}
	.product_detail_content .product_detail_content_top .right_text .purchase_a,
	.product_detail_content .product_detail_content_top .right_text .more_a {margin: 0 auto 5px;}
	.service_content .service_list .service_img_text .service_img,
	.service_content .service_list .service_img_text .service_text {width: 100%;}
	.contact_content .contact_content_text .contact_logo {width: 100%;}
}
@media (max-width: 400px){
	.about_content .about_text .about_text_list .mt_text {width: 100%;}
	.product_detail_figure_img {width: 100%;}
	.product_content .product_list .products_top_img {padding: 0px;width: 100%;}
	.product_detail_content .product_detail_content_top .right_text .purchase_a,
	.product_detail_content .product_detail_content_top .right_text .more_a {
		width: 100px;
		height: 30px;
		line-height: 30px;
		font-size: 13px;
	}
	.service_content .service_list .service_img_text .service_text {padding: 20px 10px;}
	.messages_content .messages_form .submit_btn {width: 100%;}
	
}

