@charset "utf-8";

.header {
  background: rgba(255, 255, 255, 0.80);
  margin-bottom:0;
  padding: 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.top_nav {
  background:#fff;
  z-index:999999;
  /*box-shadow:0px 3px 6px 3px rgba(0,0,0,0.06);*/
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-name:fadeInDown;
  animation-name:fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity:0;
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
  }@keyframes fadeInDown {
    0% {
    opacity:0;
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
}

.header_nav .header_nav_logo .header_nav_a .logo_img {display: block;margin: 0;height: auto;}
.header_nav .main_menu {position: relative; margin:40px 0 0 0;text-align: var(--text_right);}
.header_nav .main_menu .navbar_nav {margin: 0 auto;}

.main_menu.show {display: block;}
.main_menu .navbar_nav li a {
  background:transparent;
  color: var(--color_333);
  font-size: var(--size_16);
  position:relative;
  padding: 45px 0 25px;
  font-weight: 600;
  line-height: 20px;
  text-transform:uppercase;
  text-decoration: none;
  border-top: 4px solid transparent;
  transition: 0.3s;
}
.main_menu .navbar_nav li a span {
  display: block;
  font-weight: 500;
  font-size: 12px;
  color: #666;
  text-transform: uppercase;
}
.main_menu .navbar_nav .nav_item{
  display: inline-block;
  position: relative;
  padding: 0px 15px;
  margin: 0px auto ;
}
.main_menu .navbar_nav .nav_item .dropdown_menu {
  position:absolute;
  z-index: 1;
  display: none;
  padding: 0px 0;
  border-radius:0;
  left: auto;
  right: 0;
  top: 0px;
  bottom: auto;
  margin: 45px auto 0;
  width: 100%;
  border:none;
  background: #f5f5f5;
  text-align: center;
  /*box-shadow:0 6px 12px rgba(0,0,0,.175);*/
  -webkit-animation:fadeInUpMenu 0.4s;
  -moz-animation:fadeInUpMenu 0.4s;
  -ms-animation:fadeInUpMenu 0.4s;
  -o-animation:fadeInUpMenu 0.4s;
  animation:fadeInUpMenu 0.4s;
}
@-webkit-keyframes fadeInUpMenu {
  0% {
    opacity:0;
    -webkit-transform:translateY(10px);
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0);
  }
  }@keyframes fadeInUpMenu {
    0% {
    opacity:0;
    transform:translateY(10px);
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}
.main_menu .navbar_nav .nav_item:hover .dropdown_menu {display:block;}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item {
  font-size: var(--size_13);
  color: var(--color_333);
  display: block;
  height: auto;
  line-height: 20px;
  font-weight: 500;
  padding: 10px 5px;
  margin: var(--margin_0);
  text-align: var(--text_center);
  background: transparent;
  border-bottom: 1px solid var(--color_ccc);
  transition: all 0.3s ease-in-out 0s;
}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item:last-child {border-bottom: 1px solid transparent;}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item:hover,
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item .active {
  color: var(--color_fff);
  background: var(--color);
  border-bottom: 1px solid var(--color);
  transition:all 0.3s ease-in-out 0s;
}
.main_menu .navbar_nav .nav_item .dropdown_menu li .dropdown_item:focus {background:transparent;}
.main_menu .navbar_nav .nav_item .dropdown_menu .active .dropdown_item {background:transparent;}
.main_menu .navbar_nav .nav_item .sub-menu {
  top:-2px;
  left:100%;
  padding:0;
  border:none;
  -webkit-animation:MenuFadeIn 0.4s;
  -moz-animation:MenuFadeIn 0.4s;
  -ms-animation:MenuFadeIn 0.4s;
  -o-animation:MenuFadeIn 0.4s;
  animation:MenuFadeIn 0.4s;
}
@-webkit-keyframes MenuFadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
  }@keyframes MenuFadeIn {
    0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.main_menu li a:hover{color: var(--color_000);}
.main_menu li.active .nav_link,
.main_menu li.open a,
.main_menu .active a:hover,
.main_menu .active a:focus{color: #0e4ca1;border-top: 4px solid #e3051c;}
.main_menu .nav_item .dropdown_menu li.active a{color: #333;}
.main_menu .nav_item .dropdown_menu li a:hover,
.main_menu .nav_item .dropdown_menu li a:active{color: #333;}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item::before{height: 0;}

.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item.active, 
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item.active:focus, 
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item.active:hover {color: #fff;background: #da322a;border-bottom: 1px solid #fff;}
.main_menu .nav_link.active {color: var(--color_333);}
.main_menu .nav_link:hover {color: var(--color);border-top: 4px solid #e3051c;}
.main_menu .navbar_nav .nav_item .dropdown_menu a:hover, 
.main_menu .navbar_nav .nav_item .dropdown_menu a .active {color: #333;}


@media (max-width: 991px){

}
@media (max-width:767px) {
  
}




