@charset "utf-8";

/*重置样式*/
@import url("reset.css");
/*重置样式*/

/*animation 动画*/
@import url("animation.css");
/*animation 动画*/

/*animation 动画*/
@import url("animate.3.7.0.css");
/*animation 动画*/

/*font-awesome 字体*/
@import url("font-awesome.4.7.0.css");
/*font-awesome 字体*/

/*swiper*/
@import url("swiper.min.4.0.7.css");
/*swiper*/

/*幻灯片切换动画*/
@import url("flexslider.css");
/*幻灯片切换动画*/

/*owl*/
@import url("owl.carousel.2.3.4.css");
@import url("owl.theme.2.3.4.css");
/*owl*/

/*hover*/
@import url("hover.2.3.2.css");
/*hover*/

/*nav*/
@import url("nav.css");
/*nav*/

/*pc 放大镜*/
@import url("jquery.exzoom.css");
/*pc 放大镜*/

/*点击图片放大*/
@import url("gallery.css");
/*点击图片放大*/

/*public*/

.clearfix {clear: both;}
.main {
  padding: var(--padding_0); 
  margin: 155px auto 0;
  background: var(--bg_fff);
}

.banner {
  position: relative;
  background: var(--bg_fff);
  width: var(--width_100);
  height: var(--height_0); 
  margin: var(--margin_0);
  padding: var(--padding_0);
}
.banner .img {
  display: block;
  width: var(--width_100);
  max-width: var(--width_100);
  text-align: var(--text_center);
  margin: var(--margin_0);
}
.text_img {
  display: block;
  width: auto;
  max-width: var(--width_100);
  text-align: var(--text_center);
  margin: var(--margin_0);
}

.index_title {margin: var(--margin_b30);text-align: var(--text_center);}
.index_title h2 {
  font-size: var(--size_30);
  color:var(--color);
  margin: var(--margin_b10);
}
.index_title span {
  position: relative;
  font-size: var(--size_18);
  color:var(--color_666);
  text-transform: uppercase;
}
.index_title span::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: auto;
  right: auto;
  left: -120px;
  width: 100px;
  height: 1px;
  margin: 0px auto;
  background: var(--color_666);
}
.index_title span::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: 10px;
  right: -115px;
  left: auto;
  width: 100px;
  height: 1px;
  margin: 0px auto;
  background: var(--color_666);
}

.text_left {text-align: var(--text_left);}
.text_center {text-align: var(--text_center);}
.text_right {text-align: var(--text_right);}

.map {height:500px;margin:50px auto 0;border: 1px solid #ccc;}
.map img {width: auto !important; max-width: initial;}
.map b {color: #d44924;font-size: 15px;}
.map .BMap_center {width: 257px !important;}
.map .iw_poi_content {color: #333;font-size: 12px;}

.crumbs_nav {
  width: var(--width_100);
  margin: var(--margin_0);
  padding: var(--padding_0);
  background: var(--color);
}
.crumbs_nav .crumbs_nav_ul {
  width: var(--width_1200px);
  margin: var(--margin_0);
  padding: var(--padding_10);
  text-align: var(--text_right);
}
.crumbs_nav .crumbs_nav_ul li {
  color: var(--color_fff);
  font-size: var(--size_12);
  display: inline-table;
  font-family: "FontAwesome";
}
.crumbs_nav .crumbs_nav_ul li + li:before {color: var(--color_fff);content: "\f105";padding: 0 5px;}
.crumbs_nav .crumbs_nav_ul li a {color: var(--color_fff);font-size: var(--size_12);}

.nav_pagination {margin: 60px auto 0;text-align:var(--text_center);}
.nav_pagination .pagination {margin: var(--margin_0);font-size: 0;}
.nav_pagination .pagination li {display: inline-block;}
.nav_pagination .pagination li a {
  color: var(--color_666);
  font-size: var(--size_16);
  padding: 5px 10px;
  margin: 0 10px 5px 0; 
  border-radius:0;
  background: var(--bg_f5);
  border: 1px solid var(--bg_f5);
  transition: 0.5s;
}
.nav_pagination .pagination .active a {background:var(--color);color: var(--color_fff);border-color:var(--color);}
.nav_pagination .pagination .active a:hover, 
.nav_pagination .pagination li a:hover {background:var(--color);color: var(--color_fff);border-color:var(--color);}

.details_ul {margin: var(--margin_t50);}
.details_ul li {font-size: var(--size_16);color:var(--color_666);margin: 0 auto 10px;}
.details_ul li:last-child {margin: var(--margin_0);}
.details_ul li a {font-size: var(--size_16);color:var(--color_666);}
.details_ul li a:hover {color: var(--color);}

.flex {position: relative;display: inline-flex;justify-content: flex-start;flex-wrap: wrap;}
.flex .nav_text {position: relative;width: 260px;}
.flex .nav_text .pages_title {padding: var(--padding_20);background: var(--color);}
.flex .nav_text .pages_title h2 {color: var(--color_fff);font-size: var(--size_25);margin: var(--margin_b5);}
.flex .nav_text .pages_title span {color: var(--color_fff);font-size: var(--size_18);text-transform: uppercase;}
.flex .nav_text .ul {margin: var(--margin_t10);}
.flex .nav_text .ul li {border-bottom: 1px solid #ddd;}
.flex .nav_text .ul .li:hover, .flex .nav_text .ul li:hover {border-bottom: 1px solid var(--color_fff);}
.flex .nav_text .ul li a {
  position: relative;
  display: block;
  color: var(--color_666);
  font-size: var(--size_14);
  padding: 10px 10px 10px 20px;
  font-family: "FontAwesome";
  background: #f3f3f3;
  transition: 0.5s;
}
.flex .nav_text .ul li:hover a, .flex .nav_text .ul .li a {background: var(--color);color: var(--color_fff);}
.flex .nav_text .ul li a::before {
  content: "\f105";
  position: absolute;
  left: auto;
  right: 10px;
  top: 10px;
  bottom: auto;
  color: var(--color_666);
  transition: 0.5s;
}
.flex .nav_text .ul li:hover a::before, .flex .nav_text .ul .li a::before {color: var(--color_fff);}

.flex .nav_text .bottom_text {
  text-align: var(--text_center);
  background: var(--bg_f5);
  padding: 30px 15px;
  margin: var(--margin_t20);
}
.flex .nav_text .bottom_text span {display: block;color: var(--color);font-size: var(--size_18);}
.flex .nav_text .bottom_text small {display: block;color: var(--color_333);font-size: var(--size_14);}
.flex .nav_text .bottom_text p {display: block;color: var(--color_333);font-size: var(--size_14);}
.flex .text {position: relative;width: 900px;margin: 50px 0 0 30px;}

/*public*/

/*header*/
.header {
  width: var(--width_100);
  margin: var(--margin_0);
  padding: var(--padding_0);
}
.header .header_nav {
  width: var(--width_1200px);
  margin: var(--margin_0);
  padding: 5px 0;
  display: grid;
  grid-template-columns: 300px 900px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main_menu .navbar_nav .active:hover .nav_link {color: var(--color_333);}
.main_menu .navbar_nav .nav_item .nav_link::after {
  position: absolute;
  top: 10px;
  bottom: auto;
  left: 0;
  right: 0;
  text-align: var(--text_center);
}

.main_menu .navbar_nav .nav_item:nth-child(1) .nav_link::after {content: url(../images/nav_icon_1.png);}
.main_menu .navbar_nav .nav_item:nth-child(2) .nav_link::after {content: url(../images/nav_icon_2.png);}
.main_menu .navbar_nav .nav_item:nth-child(3) .nav_link::after {content: url(../images/nav_icon_3.png);}
.main_menu .navbar_nav .nav_item:nth-child(4) .nav_link::after {content: url(../images/nav_icon_4.png);}
.main_menu .navbar_nav .nav_item:nth-child(5) .nav_link::after {content: url(../images/nav_icon_5.png);}
.main_menu .navbar_nav .nav_item:nth-child(6) .nav_link::after {content: url(../images/nav_icon_6.png);}
.main_menu .navbar_nav .nav_item:nth-child(7) .nav_link::after {content: url(../images/nav_icon_7.png);}
.main_menu .navbar_nav .nav_item:nth-child(8) .nav_link::after {content: url(../images/nav_icon_8.png);}

.main_menu .navbar_nav .nav_item:hover:nth-child(1) .nav_link::after {content: url(../images/nav_icon_01.png);}
.main_menu .navbar_nav .nav_item:hover:nth-child(2) .nav_link::after {content: url(../images/nav_icon_02.png);}
.main_menu .navbar_nav .nav_item:hover:nth-child(3) .nav_link::after {content: url(../images/nav_icon_03.png);}
.main_menu .navbar_nav .nav_item:hover:nth-child(4) .nav_link::after {content: url(../images/nav_icon_04.png);}
.main_menu .navbar_nav .nav_item:hover:nth-child(5) .nav_link::after {content: url(../images/nav_icon_05.png);}
.main_menu .navbar_nav .nav_item:hover:nth-child(6) .nav_link::after {content: url(../images/nav_icon_06.png);}
.main_menu .navbar_nav .nav_item:hover:nth-child(7) .nav_link::after {content: url(../images/nav_icon_07.png);}
.main_menu .navbar_nav .nav_item:hover:nth-child(8) .nav_link::after {content: url(../images/nav_icon_08.png);}

.main_menu .navbar_nav .active:nth-child(1) .nav_link::after {content: url(../images/nav_icon_01.png);}
.main_menu .navbar_nav .active:nth-child(2) .nav_link::after {content: url(../images/nav_icon_02.png);}
.main_menu .navbar_nav .active:nth-child(3) .nav_link::after {content: url(../images/nav_icon_03.png);}
.main_menu .navbar_nav .active:nth-child(4) .nav_link::after {content: url(../images/nav_icon_04.png);}
.main_menu .navbar_nav .active:nth-child(5) .nav_link::after {content: url(../images/nav_icon_05.png);}
.main_menu .navbar_nav .active:nth-child(6) .nav_link::after {content: url(../images/nav_icon_06.png);}
.main_menu .navbar_nav .active:nth-child(7) .nav_link::after {content: url(../images/nav_icon_07.png);}
.main_menu .navbar_nav .active:nth-child(8) .nav_link::after {content: url(../images/nav_icon_08.png);}

.main_menu .navbar_nav .active:hover:nth-child(1) .nav_link::after {content: url(../images/nav_icon_1.png);}
.main_menu .navbar_nav .active:hover:nth-child(2) .nav_link::after {content: url(../images/nav_icon_2.png);}
.main_menu .navbar_nav .active:hover:nth-child(3) .nav_link::after {content: url(../images/nav_icon_3.png);}
.main_menu .navbar_nav .active:hover:nth-child(4) .nav_link::after {content: url(../images/nav_icon_4.png);}
.main_menu .navbar_nav .active:hover:nth-child(5) .nav_link::after {content: url(../images/nav_icon_5.png);}
.main_menu .navbar_nav .active:hover:nth-child(6) .nav_link::after {content: url(../images/nav_icon_6.png);}
.main_menu .navbar_nav .active:hover:nth-child(7) .nav_link::after {content: url(../images/nav_icon_7.png);}
.main_menu .navbar_nav .active:hover:nth-child(8) .nav_link::after {content: url(../images/nav_icon_8.png);}

.header .header_text {
  width: var(--width_100);
  margin: var(--margin_0);
  padding: var(--padding_0);
  background: var(--color);
}
.header_text_content {
  width: var(--width_1200px);
  margin: var(--margin_0);
  padding: 20px 0;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.header_text_content p i {margin-right: 10px;}
.header_text_content .left_text p {font-size: var(--size_15);color:var(--color_fff);}
.header_text_content .right_text p {
  font-size: var(--size_15);
  color:var(--color_fff);
  display: inline-block;
}
.header_text_content .right_text p:nth-child(2) {margin: 0 0 0 50px;}
/*header*/

/*slider_brand*/
.slider_brand {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.slider_brand .flexslider{border: 0px solid transparent;}
.slider_brand { margin-top: 0px;}
.slider_brand .flexslider {
  z-index: 2;
  background: 0 0;
  border: none;
  margin: 0;
  border: 0px solid var(--bg_fff);
}
.slider_brand .flexslider .slides>li {background-size: cover;background-position: center center;background-repeat: none;}
.slider_brand .flexslider, .slider_brand .flexslider .slides>li, 
.slider_brand .slider-height {height: auto;}
.slider_brand .flexslider, .slider_brand .probootstrap-pricing, 
.slider_brand .probootstrap-pricing-wrap {position: relative;}
.slider_brand .flexslider .flex-control-paging {position: absolute;bottom: 30px;z-index: 20;}
.slider_brand .flexslider .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0,0,0,.8);
  text-shadow: 1px 1px 0 rgba(255,255,255,.3);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0;
  padding: 30px;
}
.slider_brand .flexslider .flex-direction-nav a:before {
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\f104";
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 30px;
  display: inline-block;
  color: #666;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.slider_brand .flexslider .flex-direction-nav a.flex-next:before {
  content: "\f105"; left: 50%; top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.slider_brand .flexslider .flex-direction-nav .flex-next {right: 0;}
.slider_brand .flexslider .flex-direction-nav .flex-prev {left: 0;}
.slider_brand .flexslider:hover .flex-direction-nav .flex-next {opacity: .7;right: 0;}
.slider_brand .flexslider:hover .flex-direction-nav .flex-prev {opacity: 0.7;left: 0;}
.slider_brand .flex-control-nav li {margin: 0 10px;}
.slider_brand .flex-control-paging li a {width: 20px;height: 10px;border-radius: 0;background:rgba(14, 76, 161, 0.55);}
.slider_brand .flex-control-paging li a.flex-active {background: var(--color);}
/*slider_brand*/

/*index_about*/
.index_about {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background-image: url(../images/index_about_bg.jpg);
  background-attachment: fixed;
}
.index_about .index_about_content {
  width: var(--width_1200px);
  margin: var(--margin_0);
  padding: 50px 0;
} 
.index_about_content .index_title h2, .index_about_content .index_title span {color: var(--color_fff);}
.index_about_content .index_title span::before, .index_about_content .index_title span::after {background: var(--color_fff);}
.index_about_content .text {margin: var(--margin_t30);}
.index_about_content .text p {
  color: var(--color_fff);
  font-size: var(--size_16);
  line-height: 30px;
  margin: var(--margin_0);
}
.index_about_content .text .text_list {
  display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: var(--margin_t50);
}
.index_about_content .text .text_list .text_img {text-align: var(--text_center);cursor:pointer;transition: 0.5s;}
.index_about_content .text .text_list .text_img:hover img {
  -webkit-animation:spinAround 2s linear infinite;
  -moz-animation:spinAround 2s linear infinite;
  animation:spinAround 2s linear infinite;
}
@-webkit-keyframes spinAround {
  from {
    -webkit-transform:rotate(0deg)
  }
  to {
    -webkit-transform:rotate(360deg)
  }
}
@-moz-keyframes spinAround {
  from {
    -moz-transform:rotate(0deg)
  }
  to {
    -moz-transform:rotate(360deg)
  }
}
@keyframes spinAround {
  from {
    transform:rotate(0deg)
  }
  to {
    transform:rotate(360deg)
  }
}
.index_about_content .text .text_list .text_img span {
  display: block;
  color: var(--color_fff);
  font-size: var(--size_16);
  margin: var(--margin_t10);
}
/*index_about*/

/*index_honor*/
.index_honor {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.index_honor .index_honor_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_50);
}
.index_honor_content .honor_list {position: relative;}
.honor_list .figure_img {position: relative;}
.honor_list .figure_img .figure_img_a {display: block;position: relative;overflow: hidden;}
.honor_list .figure_img .figure_img_a img {width: 100%;}

.honor_list .pagination_next_prev {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 0;
  right: 0;
  text-align: var(--text_center);
}
.honor_list .swiper-button-next, .honor_list .swiper-button-prev {
  position: absolute;
  top: 0px;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  z-index: 10;
  opacity: 1;
  cursor: pointer;
  background-size: 45px 45px;
  background-position: center;
  background-repeat: no-repeat;
}
.honor_list:hover .swiper-button-next, .honor_list:hover .swiper-button-prev {opacity: 1;}
.honor_list .swiper-button-next {
  background-image: url(../images/next.png);
  right: -50px;
  left: auto;
  transition: 0.5s;
}
.honor_list .swiper-button-prev {
  background-image: url(../images/prev.png);
  left: -50px;
  right: auto;
  transition: 0.5s;
}
.honor_list .swiper-button-next.swiper-button-disabled, 
.honor_list .swiper-button-prev.swiper-button-disabled {opacity: 0.5;cursor: auto;pointer-events: none;}
.honor_list .swiper-pagination {position: relative;display: none;margin: var(--margin_t20);}
.honor_list .swiper-pagination-bullet {width: 10px;height: 10px;margin: 0 5px;}
.honor_list .swiper-pagination-bullet {background: var(--color);opacity: .5;}
.honor_list .swiper-pagination-bullet-active {background: var(--color);opacity: 1;}
/*index_honor*/

/*index_product*/
.index_product {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.index_product .index_product_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_50);
}
.index_product_content .product_list {
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  margin: var(--margin_t30);
}
.index_product_content .product_list .figure_img {position: relative; text-align: var(--text_center);}
.index_product_content .product_list .figure_img .figcaption_text {background: #fafafa;padding: var(--padding_10);}
.index_product_content .product_list .figure_img .figcaption_text h3 {color: var(--color_666);font-size: var(--size_18);transition: 0.5s;}
.index_product_content .product_list .figure_img:hover .figcaption_text h3 {color: var(--color);}
.index_product_content .link {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  padding: 10px 50px;
  margin: var(--margin_t50);
  font-size: var(--size_16);
  color: var(--color_fff);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: var(--color);
  transform: perspective(1px) translateZ(0);
  cursor: pointer;
}
.index_product_content .link:hover {color: var(--color_333);border: 1px solid var(--color_ccc);}
.index_product_content .link:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--bg_fff);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .5s ease-out;
}
.index_product_content .link:hover:before {
 transform:scaleX(1);
 transition-timing-function:cubic-bezier(.52,1.64,.37,.66)
}
/*index_product*/

/*index_main_business*/
.index_main_business {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.index_main_business .index_main_business_content {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_50);
}
.index_main_business_content .business_list {
  display: grid;
  /*grid-template-columns: 635px 635px 635px;*/
  grid-template-columns: 33.22% 33.22% 33.22%;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: var(--margin_t15);
}

.index_main_business_content .business_list .figure_img {position: relative;text-align:var(--text_center);}
.index_main_business_content .business_list .figure_img .figcaption_text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.index_main_business_content .business_list .figure_img:hover .figcaption_text {top: 70%;background: var(--color);}
.index_main_business_content .business_list .figure_img .figcaption_text .text {width: var(--width_100);margin: var(--margin_0);position: relative;}
.index_main_business_content .business_list .figure_img .figcaption_text .text img {
  position: absolute;
  top: -90px;
  bottom: auto;
  left: 0;
  right: 0;
  margin: var(--margin_0);
}
.index_main_business_content .business_list .figure_img:hover .figcaption_text img {top: auto;bottom: 40px;}
.index_main_business_content .business_list .figure_img .figcaption_text .img_block {display: block;}
.index_main_business_content .business_list .figure_img .figcaption_text .img_none {display: none;}
.index_main_business_content .business_list .figure_img:hover .figcaption_text .img_block {display: none;}
.index_main_business_content .business_list .figure_img:hover .figcaption_text .img_none {display: block;}
.index_main_business_content .business_list .figure_img .figcaption_text .text img:hover {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}
.index_main_business_content .business_list .figure_img .figcaption_text h5 {
  font-size: var(--size_16);
  color: var(--color_fff);
  margin: var(--margin_10);
}
/*index_main_business*/

/*index_case*/
.index_case {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.index_case .index_case_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_50);
}
.index_case_content .case_title {
  margin: var(--margin_b10);
  padding: var(--padding_b10);
  border-bottom: 1px solid #ddd;
}
.index_case_content .case_title h2 {line-height: 30px;float: left;display: block;position: relative;}
.index_case_content .case_title h2::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: -13px;
  right: auto;
  left: 0;
  width: 65px;
  height: 1px;
  margin: 0px auto;
  background: var(--color);
}
.index_case_content .case_title h2 a {color: var(--color);font-size: var(--size_30);font-weight:600;}
.index_case_content .case_title .link {
  float: right;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 5px 15px;
  margin: var(--margin_0);
  font-size: var(--size_16);
  color: var(--color_fff);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #5fa924;
  transform: perspective(1px) translateZ(0);
  cursor: pointer;
}
.index_case_content .case_title .link:hover {color: var(--color_333);border: 1px solid var(--color_ccc);}
.index_case_content .case_title .link:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--bg_fff);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .5s ease-out;
}
.index_case_content .case_title .link:hover:before {
 transform:scaleX(1);
 transition-timing-function:cubic-bezier(.52,1.64,.37,.66)
}
.index_case .case_list {
  display: grid;
  grid-template-columns: 276px 276px 276px 276px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: var(--margin_t15);
}
.index_case .case_list .figure_img {position: relative;}
.index_case .case_list .figure_img .a {
  position: relative;
  display: block;
  overflow: hidden;
}
/*index_case*/

/*index_news*/
.index_news {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.index_news .index_news_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_50);
}
.index_news_content .news_list {
  display: grid;
  grid-template-columns: 720px 450px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  margin: var(--margin_t15);
}
.index_news_content .news_list .left_text {background: var(--bg_f5);height: 360px;}
.index_news_content .news_list .left_text .list_img {position: relative;width: 360px;float: left;}
.index_news_content .news_list .left_text .figcaption_text {
  position: relative;
  width: 330px;
  float: left;    
  padding: 15px 10px 15px 15px;
}
.index_news_content .news_list .left_text .figcaption_text h3 {line-height: 30px;margin: var(--margin_b10);}
.index_news_content .news_list .left_text .figcaption_text h3 a {
  font-size: var(--size_18);
  font-weight: 600;
  color:var(--color);
  transition: 0.5s;
}
.index_news_content .news_list .left_text .figcaption_text h3:hover a {color:var(--color_333);}
.index_news_content .news_list .left_text .figcaption_text span {
  position: relative;
  color: #5fa924;
  font-size: var(--size_14);
  width: var(--width_100);
  display: block;
}
.index_news_content .news_list .left_text .figcaption_text span::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: -10px;
  right: auto;
  left: 0;
  width: 35px;
  height: 1px;
  margin: 0px auto;
  background: var(--color);
  z-index: 1;
}
.index_news_content .news_list .left_text .figcaption_text span::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: -10px;
  right: auto;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 0px auto;
  background: var(--color_ccc);
}
.index_news_content .news_list .left_text .figcaption_text p {
  font-size: var(--size_14);
  color:var(--color_666);
  margin: 30px auto 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--p_text_5);
  text-overflow: ellipsis;
  word-break: break-all;
}
.index_news_content .news_list .left_text .figcaption_text .link {
  display: inline-table;
  position: relative;
  overflow: hidden;
  padding: 5px 15px;
  margin: var(--margin_t10);
  font-size: var(--size_16);
  color: var(--color_fff);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #5fa924;
  transform: perspective(1px) translateZ(0);
  cursor: pointer;
}
.index_news_content .news_list .left_text .figcaption_text .link:hover {color: var(--color_333);border: 1px solid var(--color_ccc);}
.index_news_content .news_list .left_text .figcaption_text .link:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--bg_fff);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .5s ease-out;
}
.index_news_content .news_list .left_text .figcaption_text .link:hover:before {transform:scaleX(1);transition-timing-function:cubic-bezier(.52,1.64,.37,.66)}

.index_news_content .right_text .text {margin: var(--margin_b15);}
.index_news_content .right_text .text .time {
  float: left;
  width: 80px;
  text-align: var(--text_center);
  background: var(--bg_f5);
  padding: var(--padding_10);
  transition: 0.5s;
}
.index_news_content .right_text .text .time span {
  position: relative;
  display: block;
  color: var(--color);
  font-size: var(--size_16);
  font-weight: 500;
  text-align:var(--text_left);
  padding: var(--padding_b5);
}
.index_news_content .right_text .text .time span::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0px;
  right: auto;
  left: 0px;
  width: 15px;
  height: 3px;
  margin: 0px auto;
  background: #5fa924;
  z-index: 1;
}
.index_news_content .right_text .text .time small {
  display: block;
  color: var(--color);
  font-size: var(--size_14);
  font-weight: 500;
  text-align:var(--text_left);
  padding: var(--padding_t5);
}
.index_news_content .right_text .text .desc {float: left;width: 355px;margin-left: 15px;}
.index_news_content .right_text .text .desc h3 {
  position: relative;
  width: var(--width_100);    
  padding: var(--padding_b5);
  margin: var(--margin_b5);
}
.index_news_content .right_text .text .desc h3::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0px;
  right: auto;
  left: 0;
  width: 50px;
  height: 1px;
  margin: 0px auto;
  background: var(--color);
  z-index: 1;
}
.index_news_content .right_text .text .desc h3::after {
  content: "";
  position: absolute;
  top: auto;
  bottom: 0px;
  right: auto;
  left: 0;
  width: 100%;
  height: 1px;
  margin: 0px auto;
  background: var(--color_ccc);
}
.index_news_content .right_text .text .desc h3 a {
  font-size: var(--size_16);
  font-weight: 600;
  color:var(--color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.5s;
}
.index_news_content .right_text .text .desc h3:hover a {color:var(--color_333);}
.index_news_content .right_text .text .desc p {
  line-height: 20px;
  font-size: var(--size_12);
  color:var(--color_666);
  margin: 0px auto;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--p_text_2);
  text-overflow: ellipsis;
  word-break: break-all;
}

.index_news .btn_a {width: var(--width_1200px);margin: var(--margin_t30);}
.index_news .btn_a .link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 10px 0;
  margin: var(--margin_0);
  width: var(--width_100);
  font-size: var(--size_16);
  color: var(--color_333);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0px;
  background:var(--bg_f5);
  transform: perspective(1px) translateZ(0);
  cursor: pointer;
}
.index_news .btn_a .link:hover {color: var(--color_fff);}
.index_news .btn_a .link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--color);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .5s ease-out;
}
.index_news .btn_a .link:hover:before {transform:scaleX(1);transition-timing-function:cubic-bezier(.52,1.64,.37,.66)}
/*index_news*/

/*footer*/
.footer {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--color);
}
.footer .footer_content {
  width: var(--width_1200px);
  padding: 30px 0 20px;
  margin: var(--margin_0);
}
.footer_content .footer_nav_list {
  display: grid;
  grid-template-columns: 150px 200px 150px 150px 150px 150px 150px 100px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: var(--margin_t15);
}
.footer_content .footer_nav_list .text h2 {line-height: 15px;margin: var(--margin_b15);}
.footer_content .footer_nav_list .text h2 a {font-size: var(--size_16);color: var(--color_fff);font-weight: 600;}
.footer_content .footer_nav_list .text ul li a {font-size: var(--size_14);color: var(--color_fff);line-height: 15px;}
.footer_content .text .text_img {margin: var(--margin_0);}
.footer_content .text .figcaption_text h3 {
  font-size: var(--size_14);
  color: var(--color_fff);
  line-height: 15px;
  margin: var(--margin_t10);
}

.footer_content .copyright {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-top: 1px solid var(--bg_fff);
  margin: var(--margin_t20);
  padding: var(--padding_t20);
}
.footer_content .copyright p {
  display: block;
  font-size: var(--size_12);
  color: var(--color_fff);
  line-height: 15px;
}
.footer_content .copyright .copyright_p {text-align: var(--text_left);}
.footer_content .copyright .copyright_p span {margin-right: 20px;}
.footer_content .copyright .copyright_p label a {font-size: var(--size_12);color: var(--color_fff);}
.footer_content .copyright .text_p {text-align: var(--text_right);}
.footer_content .copyright .text_p span {margin: 0 10px;}
/*footer*/

/*about*/
.about {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.about .about_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.about_content .text .p {color: var(--color_666);font-size: var(--size_14);text-indent: 30px;}
/*about*/

/*business*/
.business {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.business .business_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_50);
}
.business_content .text .describe {margin: var(--margin_b30);}
.business_content .text .describe h2 {
  display: inline-table;
  color: var(--color);
  font-size: var(--size_30);
  font-weight: 600;
  margin: var(--margin_b20);
  padding: var(--padding_b10);
  border-bottom: 2px solid var(--color_ccc);
}
.business_content .text .describe p {
  color: var(--color_666);
  font-size: var(--size_14);
  line-height: 20px;
  margin: var(--margin_0);
}
.business_content .business_list {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.business_content .business_list .figure_img {position: relative;background: var(--bg_f5);padding: var(--padding_10);}
.business_content .business_list .figure_img .a {position: relative;display: block;}
.business_content .business_list .figure_img .a .bg {
  position: absolute;
  right: 0;
  left: 0;
  top: auto;
  bottom: 0;
  text-align: var(--text_center);
  padding: 10px 0;
  margin: var(--margin_0);
  background: var(--color);
  transition: 0.5s;
}
.business_content .business_list .figure_img .a .bg h5 {
  font-size: var(--size_16);
  font-weight: 600; 
  color: var(--color_fff);
  margin: var(--margin_0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.business_content .business_list .figure_img .figcaption_text {text-align: var(--text_center);padding: var(--padding_t10);}
.business_content .business_list .figure_img .figcaption_text p {
  font-size: var(--size_12);
  color: var(--color_666);
  line-height: 20px; 
  text-align: var(--text_left);
  margin: var(--margin_0);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--p_text_3);
  text-overflow: ellipsis;
  word-break: break-all;
}
.business_content .business_list .figure_img .figcaption_text .link {
  display: inline-table;
  overflow: hidden;
  position: relative;
  color: var(--color_333);
  font-size: var(--size_16);
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 100px;
  border: 1px solid var(--color_333);
  padding: 5px 40px;
  margin: var(--margin_t10);
  background-color: var(--bg_fff);
  transition: 0.5s;
}
.business_content .business_list .figure_img .figcaption_text .link:hover {color: var(--color_fff);}
.business_content .business_list .figure_img .figcaption_text .link::before {background-color: var(--color);}
/*business*/

/*business_detail*/
.business_detail {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.business_detail .business_detail_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.business_detail_content .text .span {color: var(--color);font-size: var(--size_30);font-weight: 600;}
.business_detail_content .text .p {color: var(--color_666);font-size: var(--size_14);margin: var(--margin_t30);}
/*business_detail*/

/*product*/
.product {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.product .product_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.product_content .product_list {
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.product_content .product_list .figure_img {position: relative;text-align:var(--text_center);}
.product_content .product_list .figure_img .a {position: relative;display: block;border: 2px solid #ddd;transition: 0.5s;}
.product_content .product_list .figure_img:hover .a {border: 2px solid var(--color);}
.product_content .product_list .figure_img:hover .a .text_img {background: rgba(14, 76, 161, 0.5);}
.product_content .product_list .figure_img .a .bg {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0; 
  left: 0; 
  top: auto; 
  bottom: -100%;
  text-align:var(--text_center);
  background:rgba(14, 76, 161, 0.3);
  transition: 0.5s;
}
.product_content .product_list .figure_img:hover .a .bg {top:0;bottom: 0;}
.product_content .product_list .figure_img .a .bg i {color: var(--color);font-size: var(--size_15);margin: var(--margin_0);}
.product_content .product_list .figure_img .figcaption_text {padding: 10px 5px;margin: var(--margin_0);background: #ddd;}
.product_content .product_list .figure_img .figcaption_text h5 {
  font-size: var(--size_14);
  color: var(--color_666);
  margin: var(--margin_0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.5s;
}
.product_content .product_list .figure_img:hover .figcaption_text h5 {color: var(--color);}
.product_content .nav_pagination {margin: var(--margin_t50);}
/*product*/

/*product_detail*/
.product_detail {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.product_detail .product_detail_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.product_detail_content .flex .text .left_img {width: 400px;float: left;}
.product_detail_content .flex .text .right_text {width: 460px;float: left;margin-left: 30px;}
.product_detail_content .flex .text .right_text .h2 small {
  color: var(--color_999);
  font-size: var(--size_16);
  font-weight: 600;
  margin-right: 10px;
}
.product_detail_content .flex .text .right_text .h2 span {color: var(--color);font-weight: 600;font-size: var(--size_25);}
.product_detail_content .flex .text .right_text .h3 {
  padding: 15px 0;
  margin: var(--margin_15);
  border-top: 1px dashed var(--color_ccc);
  border-bottom: 1px dashed var(--color_ccc);
}
.product_detail_content .flex .text .right_text .h3 small {color: var(--color_999);font-size: var(--size_15);margin-right: 10px;}
.product_detail_content .flex .text .right_text .h3 span {color: var(--color_333);font-size: var(--size_15);}
.product_detail_content .flex .text .right_text .p {color: var(--color_999);font-size: var(--size_14);margin: var(--margin_t20);}
.product_detail_content .flex .text .bottom_text {margin: var(--margin_t30);}
.product_detail_content .flex .text .bottom_text .title_text {
  margin: var(--margin_b20);
  border-bottom: 1px solid var(--color_ccc);
}
.product_detail_content .flex .text .bottom_text .title_text .title_h2 {
  color: var(--color_fff);
  font-size: var(--size_20);
  display: inline-grid;
  padding: 10px 20px;
  margin: var(--margin_0);
  background: var(--color);
}
.product_detail_content .flex .text .bottom_text span {
  color: var(--color_666);
  font-size: var(--size_14);
  display: block; 
  margin: var(--margin_10);
}
.product_detail_content .flex .text .bottom_text p {
  color: var(--color_666);
  font-size: var(--size_14);
  text-indent: 30px;
  margin: var(--margin_0);
}
/*product_detail*/

/*case*/
.case {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.case .case_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.case_content .case_list {
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}
.case_content .case_list .figure_img {position: relative;text-align:var(--text_center);}
.case_content .case_list .figure_img .a {position: relative;display: block;}
.case_content .case_list .figure_img .figcaption_text {
  position: absolute;
  top: auto;
  bottom: -15px;
  left: 0;
  right: 0;
  width: 90%;
  padding: 10px 5px;
  margin: var(--margin_0);
  background: rgba(14, 76, 161, 0.5);
}
.case_content .case_list .figure_img .figcaption_text h5 {
  font-size: var(--size_16);
  color: var(--color_fff);
  margin: var(--margin_0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*case*/

/*case_detail*/
.case_detail {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.case_detail .case_detail_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.case_detail .case_detail_content .flex .text .title_h2 {
  font-size: var(--size_30);
  font-weight: 600;
  color: var(--color);
  text-align:var(--text_center);
  padding: var(--padding_b15);
  margin: var(--margin_b20);
  border-bottom: 1px solid var(--color_ccc);
}
.case_detail .case_detail_content .flex .text .text_img {margin: var(--margin_b15);}
.case_detail .case_detail_content .flex .text .text_img:last-child {margin: var(--margin_0);}
/*case_detail*/

/*service*/
.service {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.service .service_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.service_content .text .span {color: var(--color);font-size: var(--size_30);font-weight: 600;}
.service_content .text .p {color: var(--color_666);font-size: var(--size_14);margin: var(--margin_t30);}
/*service*/

/*news*/
.news {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.news .news_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.news_content .news_list {margin: var(--margin_0);font-size: 0;}
.news_content .news_list .figure_img {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: var(--padding_b20);
  margin: var(--margin_b20);
  border-bottom: 1px dashed var(--color_ccc);
}
.news_content .news_list .figure_img:last-child {margin: var(--margin_0);}
.news_content .news_list .figure_img .figure_img_a {display: inline-table;position: relative;width: 240px;}
.news_content .news_list .figure_img .figcaption_text {display: inline-table;width: 630px;margin-left: 30px;}
.news_content .news_list .figure_img .figcaption_text a {display: block;}
.news_content .news_list .figure_img .figcaption_text .time {width: 100px;text-align: var(--text_center);}
.news_content .news_list .figure_img .figcaption_text .time span {
  position: relative;
  display: block;
  color: var(--color_fff);
  font-size: var(--size_16);
  background: var(--color);
  padding: var(--padding_5);
}
.news_content .news_list .figure_img .figcaption_text .time small {
  display: block;
  color: var(--color_333);
  font-size: var(--size_14);
  background: var(--bg_f5);
  padding: var(--padding_5);
  transition: 0.5s;
}
.news_content .news_list .figure_img .figcaption_text h3 {
  color: var(--color);
  font-size: var(--size_16);
  line-height: 20px;
  font-weight: 600;
  margin: var(--margin_0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news_content .news_list .figure_img:hover .figcaption_text h3 {color: var(--color_333);}
.news_content .news_list .figure_img .figcaption_text p {
  color:var(--color_999);
  font-size: var(--size_14);
  line-height: 20px;
  margin: var(--margin_15);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--p_text_4);
  text-overflow: ellipsis;
  word-break: break-all;
}
.news_content .nav_pagination {margin: var(--margin_t50);}
/*news*/

/*news_detail*/
.news_detail {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.news_detail .news_detail_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.news_detail_content .flex .title_text {margin: 0px auto 5px;text-align: var(--text_center);}
.news_detail_content .flex .title_text h2 {
  font-size: var(--size_25);
  color: var(--color_333);
  margin: var(--margin_b10);
  padding: var(--padding_b20);
  border-bottom: 1px dashed var(--color_ccc);
}
.news_detail_content .flex .title_text ul {margin: var(--margin_0);padding: var(--padding_b10);}
.news_detail_content .flex .title_text ul li {color: var(--color_333);font-size: var(--size_12);padding: 0 20px;display: inline-block;}
.news_detail_content .flex .text p {color: var(--color_666);font-size: var(--size_14);text-indent: 0px;}
/*news_detail*/

/*contact*/
.contact {
  width: var(--width_100);
  padding: var(--padding_0);
  margin: var(--margin_0);
  background: var(--bg_fff);
}
.contact_content {
  width: var(--width_1200px);
  padding: var(--padding_0);
  margin: var(--margin_b50);
}
.contact_content .flex .text .describe .h2 {
  color: var(--color);
  font-size: var(--size_30);
  font-weight: 600;
  margin: var(--margin_b10);
}
.contact_content .flex .text .describe .small {color: var(--color_666);font-size: var(--size_14);text-transform:uppercase;}
.contact_content .flex .text .describe .p {
  color: var(--color_666);
  font-size: var(--size_16);
  margin: var(--margin_15);
}
.contact_content .flex .text .describe .p img {vertical-align: middle;}

.contact_content .messages_form {padding: var(--padding_0);margin: var(--margin_t50);}
.contact_content .messages_form .h2 {color: var(--color_333);font-size: var(--size_25);margin: var(--margin_b20);}
.contact_content .messages_form .form {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.contact_content .messages_form .form .input_textarea {width: 305px;}
.contact_content .messages_form .form .textarea {width: 560px;margin-left: 20px;}
.contact_content .messages_form .form_input::-webkit-input-placeholder,
.contact_content .messages_form .form_textarea::-webkit-input-placeholder {color: #ccc;font-size: 16px;text-transform: uppercase;}
.contact_content .messages_form .form_input {
  height: 30px;
  width: 90%;
  display: block;
  margin: 0 0 20px;
  padding: 5px 10px;
  font-size: var(--size_16);
  color: var(--color_666);
  line-height: 20px;
  background-color: var(--bg_fff);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.contact_content .messages_form .form_textarea {
  height: 95px;
  width: 100%;
  font-size: var(--size_16);
  color: var(--color_666);
  line-height: 20px;
  padding: 5px;
  background-color: var(--bg_fff);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.contact_content .messages_form .form_input:focus,
.contact_content .messages_form .form_textarea:focus {
  outline: 0;
  border: 1px solid #333;
  -webkit-box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
  box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
}
.contact_content .messages_form .submit_btn {
  position: relative;
  display: inline-block;
  width: 180px;
  font-size: var(--size_16);
  color: var(--color_fff);
  font-weight: 500;
  text-align: center;
  padding: 15px 10px;
  margin: 20px 0 0 0;
  border-radius: 3px;
  cursor: pointer;
  background: var(--color);
  border: 1px solid transparent;
}
.contact_content .messages_form .submit_btn:before {background: var(--bg_fff);}
.contact_content .messages_form .submit_btn:hover {color:var(--color_666);border: 1px solid var(--color_666);}
.contact_content .messages_form .reset {background: #424242;margin-left: 20px;}
/*contact*/

@media (max-width: 1230px) {
  :root{
  --width_1200px: 1170px;
  }
  .header_text_content {grid-template-columns: 585px 585px;}
  .header .header_nav {grid-template-columns: 300px 880px;}
  .honor_list .swiper-button-next {right: 0;}
  .honor_list .swiper-button-prev {left: 0;}
  .index_product_content .product_list {grid-column-gap: 15px;}
  .index_case .case_list {grid-column-gap: 20px;}
  .index_news_content .news_list {grid-template-columns: 685px 450px;}
  .index_news_content .news_list .left_text .list_img {width: 330px;}
  .index_news_content .news_list .left_text {height: 330px;}
  .index_news_content .news_list .left_text .figcaption_text .link {margin: var(--margin_0);}
  .footer_content .footer_nav_list {grid-template-columns:120px 200px 150px 150px 150px 150px 150px 100px;}
  .footer_content .copyright {grid-template-columns: 585px 585px;}
  .flex .text {width: 880px;}
  .product_content .product_list {grid-column-gap: 20px;grid-row-gap: 20px;}
  .case_content .case_list {grid-column-gap: 20px;grid-row-gap: 35px;}
  .product_detail_content .flex .text .right_text {width: 450px;}
  .contact_content .messages_form .form .textarea {width: 540px;}
  .business_content .business_list {grid-template-columns: 370px 370px 370px;}
  .news_content .news_list .figure_img .figcaption_text {width: 610px;}
}

