/* 02装饰器  
--------------------------------------------------------------------*/


/*头部*/
.Adorner02 .a_title{
	background:url(../images/adorner_title.gif) no-repeat left top;
	height:35px;
	padding-left:10px;
	overflow:hidden;
}
.Adorner02 .a_title_main{
	background:url(../images/adorner_title.gif) no-repeat right top;
	height:35px;
	overflow:hidden;

	padding-right:10px;
}
.Adorner02 .a_title_main h3{
	font-size:13px;
	display:inline;
	float:left;
	color:#fff;
	/*background:url(../images/ico.png) no-repeat left 15px;*/
	/*padding-left:15px;*/
	padding-top:10px;
}
.Adorner02 .a_title_main a:link, .Adorner02 .a_title_main a:visited, .Adorner02 .a_title_main a:hover, .Adorner02 .a_title_main a:active{
	font-size:9px;
	display:inline;
	float:right;
	line-height:35px;
	color:#fff;
}

/*中间内容*/
.Adorner02 .a_main{
	background:url(../images/adorner_main.gif) no-repeat left bottom;
	padding-left:10px;
}
.Adorner02 .a_content{
	background:url(../images/adorner_main.gif) no-repeat right bottom;
	padding-right:10px;
}
/*尾部内容*/
.Adorner02 .a_bottom{
	background:url(../images/adorner_bottom.gif) no-repeat left top;
	height:25px;
	padding-left:10px;
}
.Adorner02 .a_bottom_main{
	background:url(../images/adorner_bottom.gif) no-repeat right top;
	height:25px;
	padding-right:10px;
}










































