/* slideBox样式  
--------------------------------------------------------------------*/
.slideBox {
	overflow: hidden;
	position: relative;
	width:1920px;
	margin-left:-960px;
	left:50%;
}
.slideBox .hd {
	height: 20px;
	overflow: hidden;
	position: absolute;
	bottom: 10px;
	z-index: 1;
	width:100%;
}
.slideBox .hd ul {
	width:1920px;
	text-align:center;
	overflow: hidden;
	zoom: 1;
}
.slideBox .hd ul li {
	display:inline-block;
	margin-right: 2px;
	width: 12px;
	height: 12px;
	line-height: 14px;
	text-align: center;

	border:solid 1px #fff;
	cursor: pointer;
	*line-height: 20px;
	*display:inline;
	*height:0px;
	*padding-left:4px;
	*padding-top:0px;
	*padding-bottom:0px;
	border-radius:50%;
	border-radius:35px;
}
.slideBox .hd ul li.on {
	background: #fff;
	border:solid 1px #fff;
	color: #fff;
}
.slideBox .hd ul li.on {
	background:#FFF;
	
}
.slideBox .bd {
	position: relative;
	height: 100%;
	z-index: 0;
}
.slideBox .bd ul li{
	width: 100%;
	height: 700px;
}
.slideBox .bd img {
	width: 100%;
	height: 700px;
	display: block;
}
/*page slideBox*/
.page_banner {
	overflow: hidden;
}
.page_banner img {
	width:100%;
}
.page_banner .BMap_Marker img {
	width:auto;
	height:auto;
}/*百度地图兼容*/