/* navi_01导航样式  
--------------------------------------------------------------------*/
.navBar {
	position: relative;
	z-index: 1;
	color: #fff;
	
	height:100px;
	float:right;
	
	
}


/*nav*/
.nav {
	width: 660px;
	margin: 0 auto;
	height:100px;
}
.nav h3 {
	font-weight: normal;
	font-size: 16px;
	color:#666666;
}
.nav span{ font-size:12px; color:#999999;}
.nav .m {
	position: relative;
	float: left;
	width: 110px;
	height:100px;
	/*margin: 0 10px;*/
	display: inline;
	text-align: center;
}
.nav .m .txt{ display:block; width:110px; height:100px; text-align:center; }
.nav .m .txt h3{ margin-top:37px;}



/*当前状态*/
.nav .cur{ background:url(../images/nav_hover.png) no-repeat;}
.nav .cur h3{ color:#f08519;}
.nav .cur span{ color:#f08519;}

.nav .m:hover { background:url(../images/nav_hover.png) no-repeat;}
.nav .m:hover h3{ color:#f08519;}
.nav .m:hover span{ color:#f08519;}

.nav .cur h3 a:link, .nav .cur h3 a:visited {
	background:#F00;
}
.nav .on .txt :link, .nav .on .txt:visited {
	background:#F00;
}
.nav .on h3 a i {
}

/*一级*/
.nav .sub {
	display: none; /*默认隐藏*/
	width: 180px;
	position: absolute;
	left: -35px;
	top: 100px;
	float: left;
	line-height: 40px;
	
	overflow:visible;
	_width:500%;
	_border-bottom:none;
	
}
.nav .sub li {
	text-align: center;
}
.nav .sub li a:link, .nav .sub li a:visited {
	color: #666666;
	display: block;
	zoom: 1;
	background-color:rgba(255,255,255,0.85);
	
	border-top:none;
	border-bottom:none;
	_width:100px;
	_float:left;
	_display:inline-block;
}
.nav .sub li a:hover {
	background: #f08519;/*副色*/
	color: #fff;
}


/*二级*/
.nav .m2 {
	position: relative;
	width: 100%;
	display:inline-block;
	text-align: left;
	*float:left;
	*display:block;
}
.nav .sub2 {
	display: none; /*默认隐藏*/
	width: 100px;
	position: absolute;
	z-index: 3;
	left: 100%;
	top: 0px;
	line-height: 30px;
	border-top:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
	_left: 100px;
}

/*三级*/
.nav .m3 {
	position: relative;
	width: 100%;
	display:inline-block;
	text-align: left;
	*float:left;
	*display:block;
}
.nav .sub3 {
	display: none; /*默认隐藏*/
	width: 100px;
	position: absolute;
	z-index: 3;
	left: 100%;
	top: 0px;
	line-height: 30px;
	border-top:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
	_left: 100px;
}

/*自定义下拉*/
.nav #m2 .sub {
	z-index: 1;
	/*background-color: rgba(255,255,255,0.85);*/
	width: 180px;
	left: -30px;
}
.nav .sub dl {
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	padding: 15px 29px;
	line-height: 26px;
	*display:inline;
}
.nav .sub dl a:hover {
	color: #1b5eb1;
}
.nav .sub dl dt a:link, .nav .sub dl dt a:visited  {
	color: #000;
}
.nav .sub dl dd a:link, .nav .sub dl dd a:visited {
	color: #999;
	padding-left: 7px;
	background: url(../images/icon.png) 0 -332px no-repeat;
}


/*---------------搜索框-----------------*/
.navBar .search{ width:250px; height:40px; background:url(../images/search_bg.jpg) no-repeat center; float:right; margin-top:14px;}
.navBar input{ width:200px; height:40px; text-indent:10px; margin-top:5PX; float:left;}
.navBar .search_b{ width:40px; height:40px; float:left;}




