@charset "utf-8";
/* 企泰科技 技术部 2012-10-01 */

/* 分页样式 */
/* pageGuide  
--------------------------------------------------------------------*/
.pageGuide{
	width:100%;
	font-size: 12px;
	padding-top:20px;}
.pageinfo{
	float:left; font-size:12px; color:#666666;}
.paging{
	float:right;
	text-align:right;}
.paging a{
	display:inline-block;
	margin-left:10px;
	background:#eaeaea;
	padding-left:8px;
	padding-right:8px;
	height:24px;
	line-height:24px;
	overflow:hidden;_line-height:17px;
	}
.paging .current:link, .paging .current:visited, .paging .current:active{
	background:#f08519;
	color:#fff;
	/*--border:1px solid #1b5eb1;*/
	}
.paging a:link, .paging a:visited, .paging a:active{
	color:#666;
	}
.paging a:hover{
	background:#f08519;
	color:#fff;
	text-decoration:none;
	
	}










































