@charset "utf-8";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  width: var(--width_100);
  margin: var(--margin_0);
  padding: var(--padding_0);
  background: rgb(255, 255, 255);
  -webkit-animation:1s ease-out backwards;
  -moz-animation:1s ease-out backwards;
  -ms-animation:1s ease-out backwards;
  animation:1s ease-out backwards;
  -webkit-animation-name:fadeinT;
  -moz-animation-name:fadeinT;
  -ms-animation-name:fadeinT;
  animation-name:fadeinT;
}
.top_nav {
  background:var(--bg_fff);
  z-index:999;
  /*box-shadow:0px 3px 6px 3px rgba(0,0,0,0.06);*/
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-name:fadeInDown;
  animation-name:fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity:0;
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
  }@keyframes fadeInDown {
    0% {
    opacity:0;
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
}
.header_nav {
  position: relative;
  width: var(--width_1200px);
  margin: var(--margin_0);
  padding: 15px 0;
}
.header_nav .flex {
  width: var(--width_100);
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header_nav .header_nav_logo {margin:0;}
.header_nav .header_nav_logo .logo_img {display: block;margin: 0;height: auto;}
.header_nav .main_menu {position: relative; margin:0;text-align: var(--text_right);}

.header_nav .main_menu .navbar_nav {margin: 25px auto 0;}
.main_menu .navbar_nav .nav_item {
  display: inline-block;
  position: relative;
  margin: 0px 0px 0px 20px;
}
.main_menu .navbar_nav .nav_item .nav_link {
  background: transparent;
  color: var(--color_333);
  font-size: var(--size_16);
  position:relative;
  padding: 10px;
  font-weight: 500;
  line-height: 20px;
  text-transform:uppercase;
  text-decoration: none;
  border-top: 1px solid transparent;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.main_menu .navbar_nav .active .nav_link,
.main_menu .navbar_nav .nav_item .nav_link:hover {
  color: var(--color_fff);
  background: var(--color);
  background-image: linear-gradient(90deg, #ff6a00 20%, #ff9d00 70%);
}

.main_menu .navbar_nav .nav_item .dropdown_menu {
  position:absolute;
  z-index: 1;
  display: none;
  padding: 0px 0;
  border-radius:0;
  left: auto;
  right: 0;
  top: 0px;
  bottom: auto;
  margin: 33px auto 0;
  width: 100%;
  border:none;
  background: var(--bg_f5);
  text-align: center;
  /*box-shadow:0 6px 12px rgba(0,0,0,.175);*/
  -webkit-animation:fadeInUpMenu 0.4s;
  -moz-animation:fadeInUpMenu 0.4s;
  -ms-animation:fadeInUpMenu 0.4s;
  -o-animation:fadeInUpMenu 0.4s;
  animation:fadeInUpMenu 0.4s;
}
@-webkit-keyframes fadeInUpMenu {
  0% {
    opacity:0;
    -webkit-transform:translateY(10px);
  }
  100% {
    opacity:1;
    -webkit-transform:translateY(0);
  }
  }@keyframes fadeInUpMenu {
    0% {
    opacity:0;
    transform:translateY(10px);
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}
.main_menu .navbar_nav .nav_item:hover .dropdown_menu {display:block;}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item {
  font-size: var(--size_13);
  color: var(--color_333);
  display: block;
  height: auto;
  line-height: 20px;
  font-weight: 500;
  padding: 5px 3px;
  margin: var(--margin_0);
  text-align: var(--text_center);
  background: transparent;
  border-bottom: 1px solid var(--color_ccc);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item:last-child {border-bottom: 1px solid transparent;}
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item:hover,
.main_menu .navbar_nav .nav_item .dropdown_menu .dropdown_item .active {
  color: var(--color_fff);
  background: var(--color);
  background-image: linear-gradient(90deg, #ff6a00 20%, #ff9d00 70%);
  border-bottom: 1px solid var(--color);
  transition:all 0.3s ease-in-out 0s;
}
.main_menu .navbar_nav .nav_item .dropdown_menu .nav_item .dropdown_item:focus,
.main_menu .navbar_nav .nav_item .dropdown_menu .active .dropdown_item {background:transparent;}


@media (max-width: 991px){

}
@media (max-width:767px) {
  
}




