<script src="jquery.js"></script>


<style>
li{list-style-type:none;}
a{color:#CCC;}
.background{padding:0 16px; border-radius:16px;width:166px;
  background-image: -moz-linear-gradient( 90deg, rgb(223,139,0) 0%, rgb(222,171,64) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(223,139,0) 0%, rgb(222,171,64) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(223,139,0) 0%, rgb(222,171,64) 100%);}
</style>




<aside id="menu" style="background:202020; z-index:10">
    <div id="navigation" ><!--style="opacity: 0.5;-khtml-opacity: 0.5;  filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);-moz-opacity: 0.5;  -webkit-opacity: 0.5; 
"--> 
         <div class="profile-picture" style="background-color:#202020;border:1px solid #202020;height:1860px;position:relative;margin-top:-6px;margin-top:-66px;">
           

            <div class="stats-label text-color">
                <span class="font-extra-bold font-uppercase">{$userData['ue_theme']}</span>

                <div class="dropdown" style='padding-bottom:10px;'>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <small class="text-muted">{$userData['ue_account']}</small>
                    </a>
                    
                    
                    
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="analytics.html">Analytics</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                    
                    
                </div>

                <div>现金余额：
                    <h4 class="font-extra-bold m-b-xs">
                        {$userData['ue_money']} CNY
                    </h4>
                    积分余额：
                    <h4 class="font-extra-bold m-b-xs">
                        {$userData['ue_integral']} 
                    </h4>
                    <small class="text-muted">推荐人：{$userData['ue_accname']}</small><br>
					<small class="text-muted">注册经理：{$userData['zcr']}</small><br>
					 
                </div>
            </div>
        </div>

   
           <div class="textBox_Box" style="font-size:16px;font-family:'微软雅黑';width:199px;margin-left:-56px;margin-top:26px;">
                   <ul>
                   <div class="background">
                   		 <a href="/" style="color:black;line-height:36px;width:99px;padding:0 16px;border-radius:6px; text-align:center;width:199px;">我的首页</a><br />
                         </div>
                   
                   </ul>
                   
                   <ul>
                   <div class="background">
                   		 <a href="/Home/Index/reg/" style="color:black;line-height:36px;padding:0 16px; border-radius:6px; text-align:center;width:199px;">注册会员</a><br />
                   </div>
                   </ul>
                   <ul class="an1">
                    <div class="background">
                   		<a style="color:black;line-height:36px;border-radius:6px;padding:0 16px; text-align:center;">管理组织</a>
                        </div>
                        	<li class="a1">
         
        <a href="/Home/Myuser/xzzh/">我的用户群</a><br />
        <a href="/Home/Myuser/">推荐人列表</a><br />
        <a href="/Home/Reghub/censor">待审核列表</a><br />
        					</li>
                   </ul>
                    <ul  class="an2">
                     <div class="background">
                   	<a style="color:black;line-height:36px; padding:0 16px;border-radius:6px; text-align:center;">激活币管理</a>
                        	</div>
                            <li class="a2">
                   			     <a href="/Home/Reghub/censor_ddx">激活币互转</a><br />
        					</li>
                   </ul>
                   <ul  class="an3">
                    <div class="background">
                   		<a style="color:black;line-height:36px;padding:0 16px; border-radius:6px; text-align:center;">账户管理</a>
                        </div>
                   		<li class="a3">
                        	<a href="/Home/Info/">个人资料</a><br />
        <a href="/Home/Info/xgmm/">更改密码</a><br />
                        </li>
                   </ul>
                   <ul>
                   
                   	 <div class="background">
                   		<a href="/Home/Info/cwmx" style="color:black;line-height:36px;padding:0 16px; border-radius:6px; text-align:center;width:199px;">财务管理</a><br />
                   </div>
                   </ul>
                   <ul>
                    <div class="background">
                   
                   		<a href="/Home/Index/news/" style="color:black;line-height:36px;padding:0 16px; border-radius:6px; text-align:center;width:199px;">新闻公告</a><br />
                   </div>
                   </ul>
                   
                   <ul>
                   		 <div class="background">
                   		<a href="/Home/Myuser/lxwm/" style="color:black;line-height:36px;padding:0 16px;width:360px; border-radius:6px; text-align:center;width:199px;">富豪币</a><br />
                   </div>
                   </ul>
                   
                   <ul>
                    <div class="background">
                   		<a href="/Home/Myuser/lxwm/" style="color:black;line-height:36px;padding:0 16px; border-radius:6px; text-align:center;width:199px;">联系我们</a><br />
                   </div>
                   </ul>
                    <ul class="dropdown">
                     <div class="background">
                    <a href="{:U('/Home/Login/logout')}"  style="color:black;line-height:36px;padding:0 16px; border-radius:6px; text-align:center;width:199px;">
                        退出
                    </a>
                    </div>
                </ul>
                   
                    </div>	 
           
           
        </div>
		
   <ul class="nav" id="side-menu">
				<!--<li class="" id="l0">
								<a href="/">
									<i class="icon-home"></i> 
									<span class="title">
										首页											              </span>
									<span class="selected"></span>								</a>							</li>
				<!--<if condition="$userData.sfjl eq '1'" >
				  <li class="" id="l1">
								<a href="/Home/Index/reg/">
									<i class="icon-home"></i> 
									<span class="title">
										注册新会员											                                        									</span>
									<span class="selected"></span>								</a>	  </li>
				  <li class="" id="l2">
								<a href="/Home/Info/pin">
									<i class="icon-home"></i> 
									<span class="title">
										激活码管理											                                        									</span>
									<span class="selected"></span>								</a>	  </li>
									</if>-->
				<!--<li class="" id="l3">
								<a href="/Home/Index/news/">
									<i class="icon-home"></i> 
									<span class="title">
										新闻公告								</span>
									<span class="selected"></span>								</a>	  </li>		-->									
				<!--<li class="" id="m2">
							<a href="javascript:;">
								<i class="icon-cogs"></i> 
								<span class="title">
									组织管理																		</span>
								<span class="selected"></span>
								<span class="fa arrow " style="background-image:url(/cssmmm/nav4.jpg)"></span>
							</a>
							<ul class="nav nav-second-level collapse">
																		<li id="l21">
											<a href="/Home/Myuser/">
												推荐列表																							</a>
										</li>										<li id="l23">
											<a href="/Home/Myuser/xzzh/">
												我的用户群																							</a>
										</li>							</ul>
							<!-- added by skyrim -->
							<!-- purpose: new registration process -->
							<!-- version: 2.0 -->
							
								<!--</li><li class="" id="m3">
									<a href="javascript:;">
										<i class="icon-cogs"></i> 
										<span class="title">推荐注册管理</span>
										<span class="selected"></span>
										<span class="fa arrow " style="background-image:url(/cssmmm/nav4.jpg)"></span>
									</a>
										<ul class="nav nav-second-level collapse">
											<li id="l31">
												<a href="/Home/Myuser/">推荐人列表</a>
											</li>
											
											<li id="l32">
												<a href="/Home/RegHub/censor">待审核列表</a>
											</li>
										</ul>
							<!-- added ends -->
	  <!--</li>						<li class="" id="m3">
							<a href="javascript:;">
								<i class="icon-cogs"></i> 
								<span class="title">
									账号管理																		</span>
								<span class="selected"></span>
								<span class="fa arrow " style="background-image:url(/cssmmm/nav4.jpg)"></span>
							</a>
							<ul class="nav nav-second-level collapse">
																		<li id="l31">
											<a href="/Home/Info/">
												个人资料																							</a>										</li>										
																		<li id="l32">
											<a href="/Home/Info/xgmm/">
												更改密码																							</a>										</li>							
							</ul>
						</li><li class="" id="l41">
								<a href="/Home/Info/cwmx">
									<i class="icon-home"></i> 
									<span class="title">
										财务管理										                                        									</span>
									<span class="selected"></span>
								</a>
                                
                                
                              
							<!-- added by skyrim -->
							<!-- purpose: for different share -->
							<!-- version: 1.0 -->
							<?php 
							//$settings = include( APP_PATH . 'Home/Conf/settings.php' );
							//if( in_array( $_SESSION['uname'], $settings['admin_users'] ) ){
							?>
							<!-- added by skyrim -->
							<!-- purpose: setting moved to admin app -->
							<!-- version: 4.0 -->
							<!--
							</li><li class="" id="l41">
								<a href="/Home/Settings/index">
								<i class="icon-home"></i> 
								<span class="title">分成管理</span>
								<span class="selected"></span>
								</a>
							-->
							<!-- added ends -->
							<?php // } ?>
							<!-- added ends -->
							</li><!--<li class="" id="l42">
								<a href="/Home/Myuser/lxwm/">
									<i class="icon-home"></i> 
									<span class="title">
										联系我们											                                        									</span>
									<span class="selected"></span>
								</a>-->
                                
                                
                              
							<!--</li><li class="" id="l43">
								<a href="{:U('/Home/Login/logout')}">
									<i class="icon-home"></i> 
									<span class="title">
										退出											                                        									</span>
									<span class="selected"></span>
								</a>
                                
                                
                              
							</li>								</ul>-->
                </div>
</aside>