<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<div id="header" style='margin-bottom:0;background-color:#FFC;overflow:hidden;'>
    <div style='background-color:black;'>
    </div>
   <div id="logo" class="light-version" style="border:0 solid red; background:none"><span name="search"></span></div>
    <nav role="navigation" style="display:block;height:2px;overflow:hidden;background-color:#f0f0f0;)">
        <div class="header-link hide-menu" style="position:fixed;top:7px;right:0px; border-radius:8px; z-index:999;"><i><img src="/cssmmm/nav1.jpg"></i></div>
        <div class="small-logo">
			<span class="text-primary">THE BEAR STEARNS COS</span>
        </div>
        <form role="search" class="navbar-form-custom" method="post" action="#">
            <div class="form-group" style="width:800px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
<style>

#nav ul,li{
margin:0px;
padding:0px;
}
#nav li{
text-align:center;
display:inline;
list-style:none;
list-style-position:outside;
text-align:center;
float:left;
}
.list a:link{
text-align:center;
color:#333;
text-decoration:none;
float:left;
width:100px;
}
.list a:visited{
text-align:center;
color:#333;
text-decoration:none;
float:left;
width:100px;
}
.list a:hover{
text-align:center;
color:#666;
float:left;
text-decoration:none;

}
.list a:active{
color:#999;
float:left;
width:100px;
text-decoration:none;
}
#nav{
	width:1000px;
	height:30px;
	border-bottom:0px;
	padding:0px 0px;
	position:absolute;
	z-index:1;
	top: 20px;
}
.list{
line-height:20px;
text-align:left;
padding:4px ;
font-weight:normal;
}
.menu1{
width:110px;
height:auto;
border-right:1px solid #EEE;
background-color:#FFF;
color:#666;
padding:6px 0px 0px 0px;
cursor:hand;
overflow-y:hidden;
-moz-opacity:0.7;
}
.menu2{
width:110px;
height:30px;
background-color:#FFF;
color:#666;
border-right:1px solid #EEE;
padding:6px 0px 0px 0px;
overflow-y:hidden;
cursor:hand;
}
#wrapper{position:;}
</style>
</head>

<body>
	1111
<!--<div id="nav" >
	<ul>
	<li>
	<div class="list menu2">
        <a href="/">我的首页</a><br />
	</div>
	</li>
	<li>
	<div class="list menu2">
        <a href="/Home/Index/reg/">注册会员</a><br />
	</div>
	</li>
	<li>
	<!--<div class="list menu2">
        <a href="/Home/Info/pin">激活码管理</a><br />
	</div>-->
	<!--</li>
	<li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">组织管理
	<div class="list">
        <a href="/Home/Myuser/">推荐列表</a><br />
        <a href="/Home/Myuser/xzzh/">我的用户群</a><br />
	</div>
	</li>	
	<li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">推荐注册管理
	<div class="list">
        <a href="/Home/Myuser/">推荐人列表</a><br />
        <a href="/Home/Reghub/censor">待审核列表</a><br />
	</div>
	</li>	
	<li class="menu2" onMouseOver="this.className='menu1'" onMouseOut="this.className='menu2'">账号管理
	<div class="list">
        <a href="/Home/Info/">个人资料</a><br />
        <a href="/Home/Info/xgmm/">更改密码</a><br />
	</div>
	</li>	
	<li>
	<div class="list menu2" style="border:none">
        <a href="/Home/Info/cwmx">财务管理</a><br />
	</div>
	</li>	
	<li class="" id="l3">
	<div class="list menu2" style="border:none">
        <a href="/Home/Index/news/">新闻公告</a><br />
	</div>
	</li>	
	<li class="" id="l42">
	<div class="list menu2" style="border:none">
        <a href="/Home/Myuser/lxwm/">联系我们</a><br />
	</div>
	</li>
	<li class="" id="l42">
	<!--<div class="list menu2" style="border:none">
        <a href="/Home/Myuser/lxwm/">虚拟商城</a><br />
	</div>-->
	</li>	
	</ul>
</div>
	</td>
   
  </tr>
</table> 

            </div>
        </form>
		
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                        <span class="label label-success"></span>
                    </a>
                    
                    
					<ul class="dropdown-menu hdropdown animated flipInX">
                        <li>
                           <a href="/web/index/lang/en/">
									<img src="/cssmmm/en.png">
									English
						  </a>
                        </li>
                        <li>
                             <a href="/web/index/lang/cn/">
									<img src="/cssmmm/cn.png">
									简体中文
							</a>
                        </li>
                    </ul>
                </li>
               <!-- <li class="dropdown">
                    <a href="{:U('/Home/Login/logout')}">
                        <span style='color:#000;font-size:16px;'><!--<img src="/cssmmm/nav3.jpg">--><!--退出</span>-->
               <!--     </a>
                </li>-->
            </ul>
        </div>
    </nav>
	<!--<marquee  direction="left" loop='-1' scrollamount='5' style='display:block;overflow:hidden;margin-left:180px;text-align:center;'>
		<span style='margin-left:5px;'>总注册人数：{$result['reg_num']|default=0}</span>
		<span style='margin-left:5px;'>当前在线人数：{$result['user_up']|default=0}</span>
		<span style='margin-left:5px;'>提供金额：{$result['apply_money']|default=0}</span>
		<span style='margin-left:5px;'>需求金额：{$result['need_money']|default=0}</span>
		<span style='margin-left:5px;'>成功交易订单数：{$result['trade_num']|default=0}</span>
	</marquee>-->
	<div class="small-logo" style='z-index:999px;width:100%;color:#FFF;text-align:center;'>
			 <span class="text-primary show_a">
			<p style='height:15px;'><a href="/Home/Index/reg/">注册会员</a> | <a href="/Home/Myuser/">组织管理</a> | <a href="/Home/Myuser/">推荐人列表</a> | <a href="/Home/Reghub/censor">待审核列表</a></p>
			<p style='height:15px;'><a href="/Home/Info/">个人资料</a> | <a href="/Home/Info/xgmm/">更改密码</a> | <a href="/Home/Info/cwmx">财务管理</a> |  <a href="/Home/Index/news/">新闻公告</a> | <!--<a href="/Home/Myuser/lxwm/">联系我们</a>--></p>
			<p style='height:15px;'><!--<a href="/Home/Info/pin">激活码管理</a>--> | <a href="/Home/Myuser/">推荐列表</a> | <a href="/Home/Myuser/xzzh/">我的用户群</a></p>
			</span>
        </div>
	<div class="small-logo" style='width:25px;color:#FFF;text-align:center;position:fixed;left:0;top:150px;'>
	<div style='background-color:#3786C7;border:1px solid #000000;color:#FFF;'><a href="/">首页</a></div>
	<div style='background-color:#3786C7;border:1px solid #000000;color:#FFF'><a href="{:U('/Home/Login/logout')}">退出</a></div>
    </div>
</div>