@charset "utf-8";

@media (max-width: 3000px) and (min-width: 1500px) {
	.container {width: 1400px;}
}
@media (max-width: 1500px) and (min-width: 1300px) {
	.container {width: 1200px;}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.container {width: 950px;}
}
@media (max-width: 991px) and (min-width: 768px){
	.container {width: 730px;}
}

@media (min-width: 1200px) {
	.index_text_top_content .ul li:nth-child(3n+0) {margin-right: 0px;}
}
@media (max-width: 1800px){
	.about_content .introduce .right_text {padding: 50px 100px 10px 30px;}
}
@media (max-width: 1500px) {
	.index_text_top_content .h2 {font-size: 40px;}
	.index_text_top_content .ul li {margin: 0 40px 15px 0;}
	.index_text_top_content .ul li:nth-child(1) a,
	.index_text_top_content .ul li:nth-child(2) a,
	.index_text_top_content .ul li:nth-child(3) a,
	.index_text_top_content .ul li:nth-child(4) a,
	.index_text_top_content .ul li:nth-child(5) a {background-size: 370px;width: 370px;}
	.index_text_center_content .figure_img .figcaption_text {padding: 80px 15px 15px;}
	.index_text_bottom {height: 950px;}
	.tab-nav li {margin: 0 30px;}
	.footer_content .footer_nav .footer_nav_ul li {margin: 5px 15px;}
	.top_nav_menu .top_nav_menu_ul li a {padding: 10px 50px;}
	.about_content .introduce .right_text {padding: 30px 50px 10px 10px;}
	.about_content .honor .text .pagination_next_prev {top: auto;bottom: 0;}
	.about_content .honor .text .swiper-pagination {bottom: 0px;}
	.contact_content .figcaption_text {padding: 50px 30px;}
	.contact_content .figcaption_text .left_text .text,
	.contact_content .messages_form {margin: var(--margin_50);}
	.contact_content .figcaption_text .left_text .text .footer_wx {margin: 50px;}
	.recruitment .desc .left_text {background: var(--color_fff);padding: 50px 50px 50px 100px;}
	.recruitment .desc .right_text {background: var(--color);padding: 80px 100px 50px 50px;}
	.news_content .news_list .figure_img .figcaption_text {top:100px;}
	.product_top_menu .product_menu li {width: 180px;margin: 0 5px 10px;height: 135px;}
	.product_menu li a {font-size: var(--size_15);padding: 10px 5px;}
	.service_content .oem {height: 1160px;}
	.service_content .oem .figcaption_text .text .bg_6d8c63 {padding: 80px 30px;width: 500px;}
	.service_content .oem .figcaption_text .text .bg_00000096 {width: 500px;margin: -350px 0 0 0;}
	.service_content .oem .figcaption_text .text .bg_img{width: 500px;}
	.service_content .oem .figcaption_text .right_text {width: 880px;margin: -380px 0 0 0;padding: 50px 30px 10px;}
}

@media (max-width: 1400px){
	.footer_content .footer_nav .footer_nav_ul li {margin: 5px 10px;}
	.index_product_content .swiper-button-next {right: 0px;}
	.index_product_content .swiper-button-prev {left: 0px;}
	.service_content .oem .figcaption_text .right_text {width: 800px;}
}

@media (max-width: 1299px) {
	.index_text_top_content .ul li:nth-child(1) a, 
	.index_text_top_content .ul li:nth-child(2) a, 
	.index_text_top_content .ul li:nth-child(3) a, 
	.index_text_top_content .ul li:nth-child(4) a, 
	.index_text_top_content .ul li:nth-child(5) a {background-size: 360px;width: 360px;}
	.service_content .oem .figcaption_text .right_text {width: 720px;}
}

@media (max-width: 1199px) {
	.index_text_top_content .ul {text-align: var(--text_center);}
	.index_text_top_content .ul li {margin: 0 15px 15px;}
	.index_text_top_content .ul li:nth-child(1) a, 
	.index_text_top_content .ul li:nth-child(2) a, 
	.index_text_top_content .ul li:nth-child(3) a, 
	.index_text_top_content .ul li:nth-child(4) a, 
	.index_text_top_content .ul li:nth-child(5) a {background-size: 440px;width: 440px;}
	.index_text_center_content .nav-tabs li:nth-child(1) a,
	.index_text_center_content .nav-tabs li:nth-child(2) a {background-size: 400px;width: 400px;}
	.index_text_center_content .nav-tabs .active:nth-child(1) a, 
	.index_text_center_content .nav-tabs li:nth-child(1):hover a,
	.index_text_center_content .nav-tabs .active:nth-child(2) a, 
	.index_text_center_content .nav-tabs li:nth-child(2):hover a {background-size: 400px;}
	.index_text_center_content .figure_img .figcaption_text {padding: 50px 15px 15px;}
	.index_text_center_content .figure_img .figcaption_text h3 {font-size: var(--size_20);}
	.index_text_bottom {height: 800px;}
	.index_text_bottom_content .ul li {margin: 0 20px 15px;}
	.index_text_bottom_content .ul li a {width: 433px;height: auto;line-height: initial;padding: var(--padding_5);background-size: 433px;}
	.index_text_bottom_content .figure_img .figcaption_text {padding: 90px 30px 15px;}
	.index_product {margin-top: -230px;}
	.tab-nav li {margin: 0 15px;}
	.footer_content .footer_nav .footer_nav_ul li {margin: 5px 15px;}
	.top_nav_menu .top_nav_menu_ul li a {padding: 10px 30px;}
	.about_content .introduce .right_text {padding: var(--padding_20);}
	.about_content .text_about, .about_content .culture,
	.about_content .honor, .about_content .honor {padding: var(--padding_b20);background: transparent;}
	.about_content .cooperation {padding: 0px 0 0 0;}
	.about_content .text_about .text {background: var(--color);}
	.about_content .culture .bg_p {margin: 0;}
	.contact_content {margin-top: 0;}
	.contact_content .figcaption_text {padding: 20px 10px;}
	.contact_content .figcaption_text .left_text .text,
	.contact_content .messages_form {margin: var(--margin_20);}
	.contact_content .figcaption_text .left_text .text .footer_wx {margin: 20px 10px;}
	.contact_content .messages_form label {width: 20%;}
	.contact_content .messages_form .form_input, .contact_content .messages_form .form_textarea,
	.contact_content .messages_form .form_btn {width: 77%;}
	.contact_content .messages_form .submit_btn {margin: 15px 0 0 0;}
	.produce_content .figure_img:nth-child(odd) .figcaption_text .text {padding: 30px 20px 10px 0px;}
	.produce_content .figure_img:nth-child(even) .figcaption_text .text {padding: 30px 0 10px 20px;}
	.service_content .messages_form {width: 100%;}
	.service_content .messages_form .form_input {width: 76%;}
	.service_content .messages_form .form_textarea {width: 88%;}
	.news_content .news_list .figure_img .figcaption_text {top:80px;padding: 20px;}
	.product_top_menu .product_menu li {margin: 0 15px 10px;}
	.product_detail_content .product_detail_tabs .tab-content {padding: 20px 30px;}
	.service_content .oem {height: 980px;}
	.service_content .oem .figcaption_text .text .bg_6d8c63 {padding: 50px 30px; width: 400px; margin: -200px 0 0 30px;}
	.service_content .oem .figcaption_text .text .bg_00000096 {width: 450px;margin: -400px 0 0 0;padding: 20px;}
	.service_content .oem .figcaption_text .right_text {width: 500px;margin: -460px 0 0 0;}
}

@media (max-width: 991px) {
	.tab-nav {margin: var(--margin_b20);}
	.tab-nav li {margin: 0 15px 100px;}
	.index_text_top {padding: 30px 15px;}
	.index_text_top_content .h2 {margin: var(--margin_30);}
	.index_text_top_content .text .h3 {left: 15px;}
	.index_text_center {padding: 30px 15px;}
	.index_text_center_content .nav-tabs li {margin: 0 auto 15px;}
	.index_text_center_content .nav-tabs li a {height: auto;line-height: initial;padding: var(--padding_5);}
	.index_text_center_content .text {margin: var(--margin_20);}
	.index_text_center_content .figure_img {margin: var(--margin_b30);}
	.index_text_center_content .figure_img .figcaption_text {padding: 30px 15px 15px;}
	.index_text_center_content .link {margin: var(--margin_t0);}
	.index_text_bottom {height: auto;padding: 30px 15px;}
	.index_product {margin-top: 0px;}
	.index_product_content {padding: 30px 0;}
	.index_text_bottom_content .figure_img {margin: 0 -1px;}
	.index_text_bottom_content .link {margin: var(--margin_t20);}
	.index_product_content .tab-group .tab {padding: 0 15px;}
	.index_news_content .news_list .text .text_a {padding: var(--padding_15);}
	.banner_figure .figcaption_text h3 {font-size: 50px;}
	.banner_figure .figcaption_text p {font-size: var(--size_25);margin: var(--margin_t15);}
	.top_nav_menu .top_nav_menu_ul li a {padding: 8px 15px;}
	.about {padding: 0px 20px 15px;}
	.about_content .introduce {padding: var(--padding_b20);}
	.about_content .introduce .left_img {padding: var(--padding_0);}
	.about_content .cooperation .figure_img .figcaption_text h3 {margin: var(--margin_5);}
	.contact_content .figure_img img {display: none;}
	.contact {padding: 30px 15px;}
	.contact_content .figcaption_text {position: relative;background: transparent;padding: 0px;}
	.contact_content .messages_form label {text-align: var(--text_left);margin: 0 auto 15px;}
	.contact_content .messages_form label, .contact_content .messages_form .form_input, 
	.contact_content .messages_form .form_textarea,
	.contact_content .messages_form .form_btn {width: 100%;}
	.contact_content .figcaption_text .left_text .h2,
	.contact_content .figcaption_text .left_text .text .h3,
	.contact_content .figcaption_text .left_text .text .p,
	.contact_content .figcaption_text .left_text .text .footer_wx h5,
	.contact_content .right_messages .h2,
	.contact_content .messages_form label,
	.contact_content .messages_form .form_input::-webkit-input-placeholder,
	.contact_content .messages_form .form_textarea::-webkit-input-placeholder,
	.contact_content .messages_form .form_input,
	.contact_content .messages_form .form_textarea {color: var(--color_333);}
	.contact_content .messages_form .submit_btn {color: var(--color_333);background: transparent;border: 1px solid var(--color_ccc);}
	.contact_content .messages_form .submit_btn:hover {color: var(--color_fff);}
	.contact_content .messages_form .submit_btn::before {background: var(--color);}
	.contact_content .messages_form .form_input, 
	.contact_content .messages_form .form_textarea {border: 1px solid #ccc;background: transparent;}
	.contact_content .messages_form .form_input:focus,
	.contact_content .messages_form .form_textarea:focus {
	  border: 1px solid var(--color);
	  -webkit-box-shadow: inset 0 0px 0px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
	  box-shadow: inset 0 0px 0px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
	}
	.map {margin: 0 15px 30px;}
	.manufacturing_content, .produce_content {margin: var(--margin_b30);}
	.produce_content .desc {margin: var(--margin_b30);}
	.produce_content .figure_img:nth-child(odd) .figcaption_text .text {padding: 10px 20px 10px 0px;}
	.produce_content .figure_img:nth-child(even) .figcaption_text .text {padding: 10px 0 10px 20px;}
	.recruitment .desc .left_text, .recruitment .desc .right_text {padding: 30px 20px;}
	.recruitment .desc {margin: var(--margin_20);}
	.recruitment_content {margin: var(--margin_b30);}
	.service {padding: 0 15px;}
	.service_content .oem {padding: 20px 0 0 0;margin:var(--margin_0);}
	.service_content .obm {padding: 20px 0 0 0;margin:var(--margin_0);}
	.service_content .h2_title span {font-size: var(--size_25);}
	.service_content .messages {padding: 20px 0 30px 0;margin:var(--margin_0);}
	.service_content .messages_form .form_input,
	.service_content .messages_form .form_textarea {width: 100%;}
	.service_content .messages_form label {width: 100%;text-align: var(--text_left);margin: 0 0 10px 0;}
	.service_content .messages_form .submit_btn {margin: 20px 0 0 0;}
	.service_content .obm .figcaption_text .text_bg .pc_img {display:none;}
	.service_content .obm .figcaption_text .text_bg .m_img {display:block;}
	.news_content .news_list .figure_img .figcaption_text {top:50px;padding: 15px;}
	.news_content .news_list .figure_img:hover .figcaption_text {padding: 15px;}
	.product .nav_pagination {margin: var(--margin_t0);}
	.product_detail_content {margin: 0px auto 20px;}
	.product_detail_content .left_img {padding: var(--padding_0);}
	.product_detail_content .right_text {padding: var(--padding_t20);}
	.product_detail_content .product_detail_tabs {margin: var(--margin_t30);}
	.product_detail_content .product_detail_tabs .nav-tabs li a {padding: 10px 50px;}
	.service_content .oem {height: auto;}
	.service_content .oem .figcaption_text .text .oem_img_1 {display: none;}
	.service_content .oem .figcaption_text .text .bg_6d8c63 {padding: 30px;width: 50%;margin: 0 auto;float: left;}
	.service_content .oem .figcaption_text .text .bg_00000096 {width: 50%;height: 333px;margin: 0 auto;padding: 20px;float: left;}
	.service_content .oem .figcaption_text .text .bg_img {width: 100%;margin: 0 auto;float: left;}
	.service_content .oem .figcaption_text .text .bg_img .oem_img_2 {width: 100%;}
	.service_content .oem .figcaption_text .right_text {width: 100%;margin: 0 auto;padding: 30px;}
}

@media (max-width: 767px) {	
	.header .header_nav {padding: var(--padding_0);}
	.main .index_title_h2 {font-size: 30px;}
	.slider_img_list .swiper-button-next {right: 10px;}
	.slider_img_list .swiper-button-prev{left: 10px;}
	.slider_more {bottom:0;}
	.index_text_top_content .h2 {font-size: 30px;margin: var(--margin_20);}
	.index_text_top_content .ul li {margin:0 15px 15px;background: var(--color);}
	.index_text_top_content .ul li:nth-child(1) a, 
	.index_text_top_content .ul li:nth-child(2) a, 
	.index_text_top_content .ul li:nth-child(3) a, 
	.index_text_top_content .ul li:nth-child(4) a, 
	.index_text_top_content .ul li:nth-child(5) a {background: none;width: auto;padding: var(--padding_10);}
	.index_text_top_content .ul li a {height: auto;line-height: inherit;}
	.index_text_top_content .text {margin: var(--margin_t10);padding: 50px 0 20px;}
	.index_text_top_content .text .h3 {left: 0;width: 100%;background: var(--color);}
	.index_text_top_content .text .figure_img .figcaption_text {padding: 35px 0px 10px;}
	.index_text_center_content .nav-tabs li {margin: 0 15px 15px;}
	.index_text_center_content .nav-tabs li:nth-child(1) a, 
	.index_text_center_content .nav-tabs li:nth-child(2) a,
	.index_text_center_content .nav-tabs .active:nth-child(1) a, 
	.index_text_center_content .nav-tabs li:nth-child(1):hover a,
	.index_text_center_content .nav-tabs .active:nth-child(2) a, 
	.index_text_center_content .nav-tabs li:nth-child(2):hover a {font-size: var(--size_15);background: var(--color);padding: var(--padding_10);width: auto;}
	.index_text_bottom_content .ul li a {background: var(--color);width: auto;}
	.index_text_bottom_content .figure_img .figcaption_text {padding: 50px 25px 15px;}
	.index_product_content, .index_news_content {padding: var(--padding_tb20);}
	.index_contact_content .index_contact_icon {margin: var(--margin_b30);}
	.index_contact_content .index_contact_icon:last-child {margin: var(--margin_0);}
	.footer_content .footer_wx_1, .footer_content .footer_wx_2 {margin: var(--margin_b30);}
	.banner_figure .figcaption_text h3 {font-size: var(--size_25);}
	.banner_figure .figcaption_text p {font-size: var(--size_15);margin: var(--margin_t10);}
	.top_nav_menu {margin: var(--margin_10);}
	.top_nav_menu .top_nav_menu_ul li {margin: 0 5px 15px;}
	.top_nav_menu .top_nav_menu_ul li a {padding: 5px;}
	.about_content .h2_title {margin: var(--margin_b15);}
	.about_content .h2_title img {vertical-align: bottom;}
	.about_content .h2_title span {font-size: 25px;}
	.manufacturing_content, .produce_content {margin: var(--margin_b20);}
	.produce_content .figure_img {margin: var(--margin_b10);}
	.produce_content .figure_img:nth-child(odd),
	.produce_content .figure_img:nth-child(even) .figcaption_text .text {padding: 10px 0;}
	.recruitment .desc {margin: var(--margin_b20);}
	.recruitment .desc .left_text, .recruitment .desc .right_text {padding: 20px 15px;}
	.news_detail_content .title_text ul li {padding: 0 10px;}
	.news_content, .news_detail_content {margin: var(--margin_b30);}
	.news_content .nav_pagination {margin: var(--margin_t0);}
	.product_top_menu .product_menu li {width: 40%;}
	.product_detail_content .product_detail_tabs .tab-content {padding: 20px 10px;}
	.service_content .oem .figcaption_text .text .bg_6d8c63,
	.service_content .oem .figcaption_text .text .bg_00000096 {width: 100%;}
	.service_content .oem .figcaption_text .text .bg_img .text {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    padding: 10px;
	}
}

@media (max-width: 600px) {
	.header .ul_zh_en {margin: 20px 80px 0 0;}
	.index_product_content .swiper-button-next,
	.index_product_content .swiper-button-prev {display: none;}
	.news_content .news_list .col-xs-6 {width: 100%;}
}

@media (max-width: 500px) {
	.header .logo_a {width: 160px;margin: 0;}
	.index_text_top_content .text .figure_img {width: 100%;padding: var(--padding_0);}
	.index_text_center_content .figure_img {width: 100%;margin: var(--margin_b15);padding: var(--padding_0);}
	.index_text_center_content .figure_img .figcaption_text {left: 0;right: 0;}
	.index_text_center_content .nav-tabs li {margin:var(--margin_b15);}
	.index_text_bottom_content .figure_img {width: 100%;margin: var(--margin_b30);padding: var(--padding_0);}
	.product_content .product_list .figure_img {width: 100%;padding: var(--padding_0);}
	.product_top_menu .product_menu li {width: 50%;margin: 0 auto 10px;}
}

@media (max-width: 400px) {
	.header .logo_a {width: 120px;}
	.header .ul_zh_en { margin: 10px 60px 0 0;}
	.header .ul_zh_en li a {font-size: var(--size_13);}
	.header .menu_btn_a img {width: 60%;}
	.index_text_top_content .h2 {font-size: 20px;}
	.news_content .news_list .figure_img .figcaption_text {top: 30px;}
	.product_menu li a {padding: 5px 0;}
}

