@charset "utf-8";

@media (max-width: 3000px) and (min-width: 1500px) {
	.container {width: 1280px;}
}
@media (max-width: 1500px) and (min-width: 1300px) {
	.container {width: 1200px;}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.container {width: 950px;}
}
@media (max-width: 991px) and (min-width: 768px){
	.container {width: 730px;}
}

@media (max-width: 1500px) {
	.index_footer .index_footer_content .list_menu {grid-column-gap: 300px;}
}

@media (max-width: 1300px) {
	.index_footer .index_footer_content .list_menu {grid-column-gap: 285px;}
}

@media (max-width: 1199px) {
	.index_footer .index_footer_content .list_menu {grid-column-gap: 175px;}
}

@media (max-width: 991px) {
	/*.main .fp-section.fp-table, .main .fp-slide.fp-table, .main .fp-tableCell {height: auto !important;}*/
	.index_footer .index_footer_content .list_menu {grid-column-gap: 65px;}
	.index_footer_content .copyright_text {text-align: var(--text_center);padding: 20px 0;}
	.index_footer_content .copyright_text .span, 
	.index_footer_content .copyright_text .copyright_h2 {margin:var(--margin_0);display: block;}
	.index_footer_content .index_footer_logo .text {float: initial;margin: var(--margin_0);text-align: var(--text_center);}
}

@media (max-width: 767px) {
	.index_footer .index_footer_content {padding: 30px 15px;}
	.index_footer .index_footer_content .list_menu {grid-column-gap: 0;grid-template-columns: 50% 35%;}
	.index_footer_content .menu_text:nth-child(3) .text, .index_footer_content .phone_text .text {float: left;}
}

@media (max-width: 600px) {

}

@media (max-width: 500px) {

}

@media (max-width: 400px) {

}

