@charset "utf-8";

/*重置样式*/
@import url("reset.css");
/*重置样式*/

/*font-awesome 字体*/
@import url("font-awesome.4.7.0.css");
/*font-awesome 字体*/

/*animate 动画*/
@import url("animate.3.7.0.css");
/*animate 动画*/

/*animation 动画*/
@import url("animation.css");
/*animation 动画*/

/*bootstrap*/
@import url("bootstrap.3.3.7.css");
/*@import url("bootstrap-touch-slider.css");*/
/*@import url("bootstrap-select.css");*/
/*bootstrap*/

/*swiper*/
@import url("swiper.min.4.0.7.css");
/*swiper*/

/*owl*/
/*@import url("owl.carousel.2.3.4.css");
@import url("owl.theme.2.3.4.css");*/
/*owl*/

/*hover*/
/*@import url("hover.2.3.2.css");*/
/*hover*/

/*nav*/
/*@import url("nav.css");*/
/*nav*/

/*点击图片放大*/
/*@import url("gallery.css");*/
/*点击图片放大*/


/*public*/
.clearfix {clear: both;}
.main {
  padding: var(--padding_0); 
  margin: var(--margin_0);
  background: var(--bg_fff);
  /*display: none;*/
}

.map {height:500px;margin: 0 auto 100px;}
.map img {width: auto !important; max-width: initial;}
.map b {color: #d44924;font-size: 15px;}
.map .BMap_center {width: 253px !important;}
.map .iw_poi_content {color: var(--color_333);font-size: var(--size_12);}

.nav_pagination {margin: var(--margin_t50);text-align: var(--text_center);}
.nav_pagination .pagination {margin: var(--margin_0);font-size: 0;}
.nav_pagination .pagination li {display: inline-block;}
.nav_pagination .pagination li a {
  color: var(--color_fff);
  font-size: var(--size_15);
  padding: 3px 10px;
  margin: 0 10px 5px 0; 
  border-radius: 5px;
  border: 1px solid var(--color_ccc);
  background: var(--color_ccc);
  transition: 0.5s;
}
.nav_pagination .pagination .active a,.nav_pagination .pagination .active a:hover,
.nav_pagination .pagination li a:hover{color: var(--color_fff);background: var(--color);}

.top_nav_menu {margin:var(--margin_20);background: transparent;}
.top_nav_menu .top_nav_menu_text {margin:var(--margin_0);}
.top_nav_menu .top_nav_menu_ul {margin:var(--margin_t15);text-align: var(--text_left);}
.top_nav_menu .top_nav_menu_ul li {display: inline-block;margin: 0 15px 30px;}
.top_nav_menu .top_nav_menu_ul li a {
  position: relative;
  color: var(--color_666);
  font-size: var(--size_15);
  padding: 10px 80px;
  border-radius: 3px;
  border: 1px solid var(--color_ccc);
  background: transparent;
  transition: 0.5s;
  transform:perspective(1px) translateZ(0);
}
.top_nav_menu .top_nav_menu_ul li:hover a {color: var(--color_fff);}
.top_nav_menu .top_nav_menu_ul .active a {color: var(--color_fff);background: var(--color);}
.top_nav_menu .top_nav_menu_ul .active:hover a {color: var(--color_fff);background: transparent;}
.top_nav_menu .top_nav_menu_ul .active a::before,
.top_nav_menu .top_nav_menu_ul li a:before {
  content:"";
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-1;
  background: var(--color);
  transform:scaleX(0);
  transform-origin:0 50%;
  transition:transform .5s ease-out
}
.top_nav_menu .top_nav_menu_ul .active a::before {background: rgba(113, 147, 102, 0.8);}
.top_nav_menu .top_nav_menu_ul .active:hover a::before,
.top_nav_menu .top_nav_menu_ul li a:hover::before {
  transform:scaleX(1);
  transition-timing-function:cubic-bezier(.52,1.64,.37,.66)
}

.banner_figure {position: relative;}
.banner_figure img {width: 100%;}
.banner_figure .figcaption_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: var(--text_center);
  background: rgba(0, 0, 0, 0.49); 
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.banner_figure .figcaption_text h3 {
  font-size: 72px;
  color: var(--color_fff);
  margin: var(--margin_0);
}
.banner_figure .figcaption_text p {
  font-size: var(--size_24);
  color: var(--color_fff);
  text-transform: uppercase;
  margin: var(--margin_t20);
}

/*public*/

/*header*/
.header {
  background: transparent;
  position: fixed;
  top: 0;
  bottom: auto;
  right: 0;
  left: 0;
  z-index: 9;
  padding: 10px 15px;
  -webkit-animation:1s ease-out backwards;
  -moz-animation:1s ease-out backwards;
  -ms-animation:1s ease-out backwards;
  animation:1s ease-out backwards;
  -webkit-animation-name:fadeinT;
  -moz-animation-name:fadeinT;
  -ms-animation-name:fadeinT;
  animation-name:fadeinT;
}
.top_nav {
  padding: 10px 15px;
  z-index:9;
  background: rgba(0, 0, 0, 0.44);
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-name:fadeInDown;
  animation-name:fadeInDown;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity:0;
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
  }@keyframes fadeInDown {
    0% {
    opacity:0;
    -webkit-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
  }
  100% {
    opacity:1;
    -webkit-transform:none;
    transform:none;
  }
}

/*header*/

/*slider*/
.slider_img_list {position: relative;}
.slider_img_list .slide_bg {width: 100%;height: auto;}
.slider_img_list .swiper-button-next, .slider_img_list .swiper-button-prev {
  position: absolute;
  top: 0px;
  width: 25px;
  height: 45px;
  margin: 0 auto;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  background-size: 25px 45px;
  background-position: center;
  background-repeat: no-repeat;
}
.slider_img_list:hover .swiper-button-next, .slider_img_list:hover .swiper-button-prev {opacity: 1;}
.slider_img_list .pagination_next_prev {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 0;
  right: 0;
  text-align: var(--text_center);
}
.slider_img_list .swiper-button-next {
  /*background-image: url(../images/next.png);*/
  right: 50px;
  left: auto;
  transition: 0.5s;
}
/*.slider_img_list .swiper-button-next:hover {background-image: url(../images/next_01.png);}*/
.slider_img_list .swiper-button-prev {
  /*background-image: url(../images/prev.png);*/
  left: 50px;
  right: auto;
  transition: 0.5s;
}
/*.slider_img_list .swiper-button-prev:hover {background-image: url(../images/prev_01.png);}*/
.slider_img_list .swiper-button-next.swiper-button-disabled, 
.slider_img_list .swiper-button-prev.swiper-button-disabled {
  opacity: 0.4;
  cursor: auto;
  pointer-events: none;
}
.slider_img_list .swiper-pagination {position: relative;display: none;margin: var(--margin_t20);}
.slider_img_list .swiper-pagination-bullet {width: 10px;height: 10px;margin: 0 5px;}
.slider_img_list .swiper-pagination-bullet {background: var(--color);opacity: .5;}
.slider_img_list .swiper-pagination-bullet-active {background: var(--color);opacity: 1;}
/*slider*/

/*index_product*/
.index_product {background: #f3f3f3;}
.index_product_content {overflow: hidden;padding: var(--padding_tb50);}

/*index_product*/

/*index_manufacture*/
.index_manufacture {background: #d8dad5;}
.index_manufacture_content {overflow: hidden;padding: var(--padding_tb50);}

/*index_manufacture*/

/*index_about*/
.index_about {
  background: url(../images/index_about_bg.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
.index_about_content {overflow: hidden;padding: var(--padding_tb50);}

/*index_about*/

/*index_news_cases*/
.index_news_cases {background: var(--bg_fff);}
.index_news_cases_content {overflow: hidden;padding: var(--padding_tb50);}
.index_news_content .news_list {margin: var(--margin_0);}

/*index_news_cases*/

/*index_footer*/
.index_footer {
  background: url(../images/index_footer_bg.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  padding: var(--padding_0);
}
.index_footer .fp-tableCell {
  /*width: 100%;
  height: 100%;
  display: flex;
  align-items: center;*/
  background: rgba(0, 0, 0, 0.5);
}
.index_footer .index_footer_content {overflow: hidden;padding: var(--padding_tb50);}
.index_footer .index_footer_content .list_menu {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: auto;
  justify-content: center;
  grid-column-gap: 340px;
  grid-row-gap: 30px;
}
.index_footer_content .menu_text:nth-child(3) .text {float: right;}
/*.index_footer_content .menu_text:nth-child(3n+0) {margin: 0;}*/
.index_footer_content .menu_text h2 {line-height: 20px;margin: var(--margin_b15);transition: 0.5s;}
.index_footer_content .menu_text h2 a {color: var(--color_fff);font-size: var(--size_20);}
.index_footer_content .menu_text h2:hover a {color: var(--color);}
.index_footer_content .menu_text ul {margin: var(--margin_0);}
.index_footer_content .menu_text ul li {margin: var(--margin_b5);}
.index_footer_content .menu_text ul li a {color: var(--color_fff);font-size: var(--size_14);transition: 0.5s;}
.index_footer_content .menu_text ul li:hover a {color: var(--color);}
.index_footer_content .phone_text .text {float: right;}
.index_footer_content .phone_text h2 {
  color: var(--color_fff);
  font-size: var(--size_20);
  line-height: 20px;
  margin: var(--margin_b15);
}
.index_footer_content .phone_text p {
  color: var(--color_fff);
  font-size: var(--size_14);
  margin: var(--margin_b5);
}
.index_footer_content .copyright_text {font-size: 0;padding: 20px 0 0 0;}
.index_footer_content .copyright_text .p {
  color: var(--color_fff);
  font-size: var(--size_14);
  display: inline-block;
}
.index_footer_content .copyright_text .span {
  color: var(--color_fff);
  font-size: var(--size_14);
  display: inline-block;
  margin: 0 0 0 50px;
}
.index_footer_content .copyright_text .span {display: inline-block;}
.index_footer_content .copyright_text .copyright_h2 {display: inline-block;line-height: 20px;margin: 0 0 0 50px;}
.index_footer_content .copyright_text .copyright_h2 a {color: var(--color_fff);font-size: var(--size_14);}
.index_footer_content .index_footer_logo {padding: var(--padding_0);}
.index_footer_content .index_footer_logo .text {float: right;font-size: 0;}
.index_footer_content .index_footer_logo .text img {display: inline-block;margin-left: 20px;}
/*index_footer*/

/*product*/
.product {background: var(--background_fff);}
.product_content {overflow: hidden;padding: var(--padding_tb50);}

/*product*/

/*product_detail*/
.product_detail {background: var(--background_fff);}
.product_detail_content {overflow: hidden;padding: var(--padding_tb50);}

/*product_detail*/

/*manufacture*/
.manufacture {background: var(--color_fff);}
.manufacture .manufacture_content {overflow: hidden;padding: var(--padding_tb50);}

/*manufacture*/

/*service*/
.service {background: var(--background_fff);}
.service_content {overflow: hidden;padding: var(--padding_tb50);}

/*service*/

/*about*/
.about {background: var(--color_fff);}
.about .about_content {overflow: hidden;padding: var(--padding_tb50);}

/*about*/

/*activity*/
.activity {background: var(--color_fff);}
.activity .activity_content {overflow: hidden;padding: var(--padding_tb50);}
/*activity*/

/*news*/
.news {background: var(--background_fff);}
.news_content {overflow: hidden;padding: var(--padding_tb50);}

/*news*/

/*news_detail*/
.news_detail {background: var(--background_fff);}
.news_detail_content {overflow: hidden;padding: var(--padding_tb50);}

/*news_detail*/

/*contact*/
.contact {padding: 30px 15px 80px; background: var(--background_fff);}
.contact_content {
  overflow: hidden;
  position: relative;
  padding: var(--padding_0);
  margin-top: -100px;
}
.contact_content .figure_img img {width: 100%;}
.contact_content .figcaption_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  padding: 50px 80px;
  /*background: rgba(0, 0, 0, 0.54);*/
}
.contact_content .figcaption_text .left_text {padding: var(--padding_0);}
.contact_content .figcaption_text .left_text .h2 {
  font-size: var(--size_24);
  color:var(--color_fff);
  margin: var(--margin_0);
}
.contact_content .figcaption_text .left_text .text {margin: 100px auto 0;}
.contact_content .figcaption_text .left_text .text .h3 {
  font-size: var(--size_20);
  color: var(--color_fff);
  margin:var(--margin_b10);
}
.contact_content .figcaption_text .left_text .text .p {
  font-size: var(--size_16);
  color: var(--color_fff);
  margin:var(--margin_b10);
}
.contact_content .figcaption_text .left_text .text .footer_wx {display: inline-block;margin: 80px 50px 0 0;}
.contact_content .figcaption_text .left_text .text .footer_wx h5 {
  color: var(--color_fff);
  font-size: var(--size_14);
  text-align: var(--text_center);
  margin: var(--margin_t10);
}

.contact_content .figcaption_text .right_messages {padding: var(--padding_0);}
.contact_content .right_messages .h2 {
  font-size: var(--size_24);
  color:var(--color_fff);
  margin: var(--margin_0);
}
.contact_content .messages_form {margin: 100px auto 0;}
.contact_content .messages_form label {
  width: 15%;
  float: left;
  font-size: var(--size_16);
  color: var(--color_fff);
  font-weight: 500;
  text-align:var(--text_right);
  margin: 15px 10px 0 0;
}
.contact_content .messages_form .form_input::-webkit-input-placeholder,
.contact_content .messages_form .form_textarea::-webkit-input-placeholder {color: var(--color_999);font-size: var(--size_16);text-transform: uppercase;}
.contact_content .messages_form .form_input {
  float: left;
  height: 40px;
  width: 83%;
  margin:var(--margin_b15);
  padding: var(--padding_20);
  font-size: var(--size_16);
  color: var(--color_fff);
  line-height: 20px;
  background-color: #c6c7c8;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.contact_content .messages_form .form_textarea {
  height: 150px;
  width: 83%;
  float: right;
  font-size: var(--size_16);
  color: var(--color_fff);
  line-height: 20px;
  padding: var(--padding_20);
  background-color: #c6c7c8;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.contact_content .messages_form .form_input:focus,
.contact_content .messages_form .form_textarea:focus {
  outline: 0;
  border: 1px solid var(--color_fff);
  background-color: transparent;
  transition: 0.5s;
  -webkit-box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
  box-shadow: inset 0 1px 1px rgba(51, 51, 51, 0.49), 0 0 2px rgba(51, 51, 51, 0.49);
}
.contact_content .messages_form .form_btn {width: 83%;float: right;}
.contact_content .messages_form .submit_btn {
  display: block;
  width: 150px;
  font-size: var(--size_16);
  color: var(--color_fff);
  text-align: var(--text_center);
  padding: var(--padding_10);
  margin: 50px 0 0 0;
  background: var(--color);
  border: 1px solid var(--color);
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
.contact_content .messages_form .submit_btn::before {background: var(--color_fff);}
.contact_content .messages_form .submit_btn:hover {color: var(--color);border: 1px solid var(--color);}
/*contact*/ 

